[2021-09-07 10:36] susanodd commented on #283
Here is sign Dog-C. The Gender is Female 5, Male 1. This now corresponds to the number of signers 6 shown in the Detail View.
The regions displayed are now determined using the regions of the GlossFrequency objects and the Corpus (from the Speaker metadata.)

![dog-c-corpus-ngt-2762](https://user-images.githubusercontent.com/24272544/132330516-eb02b640-e3bf-4b82-aecd-47385a761f6a.png)

[2021-09-07 10:45] susanodd commented on #283
For completeness, here is ROOD (378) showing the Female count is 9 and the Male count is 10, the total corresponds to the 19 shown in the Detail View CNGT frequency fields.

![rood-ngt-corpus-378](https://user-images.githubusercontent.com/24272544/132331960-55e7d213-09eb-47f5-904a-53faca719efe.png)

[2021-09-09 08:19] ocrasborn commented on #602
It seems all cron jobs have stopped since the server update, @Woseseltops

[2021-09-09 08:20] ocrasborn opened #769 "[updated] Cron job for frequency counts not yet working well"
I get no daily log mails anymore; see also @susanodd 's comment in #602

[2021-09-09 08:22] ocrasborn commented on #768
@Woseseltops , is this because we're still running a temporary installation following the server update of a few weeks ago? Did you run all the tests for that installation? See also #769 , same question for that issue

[2021-09-16 08:21] vanlummelhuizen commented on #769
@ocrasborn Was it your crontab we used for these jobs? The crontab was gone, as was mine, due to the server upgrade. I asked the admin to recover them. I will send you an email about how to put it back.

[2021-09-16 14:36] Woseseltops commented on #767
Yes, discovered it by accident

[2021-09-16 14:36] #767 closed

[2021-09-16 14:40] Woseseltops opened #770 "Make the old .science.ru.nl address link to the cls.ru.nl"

[2021-09-16 14:51] Woseseltops commented on #768
Returned from paternity leave today, and copied the files over. Lost an hour before I figured out the permissions need to be different, but it's working now!

Yes, but it is not temporary as far as I'm concerned. I've wanted to move to Lightning anyway, as we have more freedom there (server admin wise)... a problem like the one we had on Applejack (being forced to upgrade while Signbank was not re

[2021-09-17 14:05] rosestamp commented on #768
Hi, just to let you know that I still cannot upload videos despite the comment being closed. I don't receive the same error message but I click upload video and then no video appears. The site just shows 'no file chosen' as if I didn't do anything.

[2021-09-17 15:44] susanodd commented on #768
I just tested this on the live server. It worked for me.
In Edit mode,
Directly above the blue "Upload Video"  button, there is grey "Browse" you need to use to open a window to select a file.

Can you try reloading the page to make sure it gets the newest code?

[2021-09-17 15:47] susanodd commented on #768
It's Bladeren in the screenshot below, right above the blue Upload Video.

![bladeren_button](https://user-images.githubusercontent.com/24272544/133816878-c17d912c-b3f1-427f-8dd4-efed602b6c94.png)

[2021-09-17 16:46] rosestamp commented on #768
Hi,
I tried again and it still didn't work. I have uploaded videos in the past with no problem. I pressed the Choose file button and I searched for a file. I selected it and it appears named next to the Choose file button and then I press upload and the page kind of refreshes and there is a blank video which doesn't play. It isn't clear if it is there or not. See attache
<img width="1772" alt="Scr

[2021-09-20 11:19] susanodd commented on #768
It works for me. It sounds like maybe the permissions on the directory on the server where the uploaded files end up only allows signbank system developer group to write to the directory, not others.
@vanlummelhuizen @Woseseltops ?

[2021-09-21 12:13] DoorSpruijt opened #771 "Citation form images not generated from video"
I have uploaded a video for a sign, but the only way to add a citation form image is to make one manually (outside of Signbank) and upload it. There is no automatically generated image in the entry, and the "Create" button returns me to the view mode without creating a still.
As a result, in the entries list, the video does not show, whereas entries with a manually added still do show the still an

[2021-09-22 09:42] susanodd commented on #771
I posted a solution to this in #734.
It hasn't been put in the code yet.
The CNGT_scripts are managed by @vanlummelhuizen .

[2021-09-22 19:06] rosestamp commented on #768
it seems like the issue was the size of the files I had. With smaller compressed video files, I am able to upload videos again. Thanks!

[2021-09-22 19:06] #768 closed

[2021-09-23 11:23] susanodd commented on #354
The Gloss Frequency View functionality that supports displaying the graphs has been upgraded!
(Also relevant for #756 and #283 as some bugs have been fixed and the code works for new to be created corpora.)

New code (my local server) uses chartjs v. 3.5.1.
Old code (online Signbank) uses chartjs v. 2.9.3.
This required some major rewriting to the javascript.
It's all working now!
The upgrade was

[2021-09-24 08:11] #766 closed

[2021-09-27 09:55] susanodd commented on #764
Related to this, I've made improvements to Gloss Relations View.

[2021-09-28 11:40] susanodd commented on #756
Here are some screenshots of the /datasets/frequency/<dataset_id> page (on my local server)
It can only be accessed by logged in users. The following screenshots are for a logged in user.

If there are no corpus documents, then there are instructions for creating one.

![datasets_frequency_no_files](https://user-images.githubusercontent.com/24272544/135079154-a4feeae1-8b5a-4eeb-8403-3559216904b1.p

[2021-09-28 11:48] susanodd commented on #756
@ocrasborn the functionality is all implemented. Plus, the Frequency View uses data from the Dataset's Corpus. (The corpus must exist to show the frequency data.)

One thing that needs to be ironed out is the testing.
I added testing for a bogus tstMH corpus, with a hacked EAF file and fake glosses.
I did this on my local computer to test corpus creation, so that all the stuff generated is tempora

[2021-09-28 12:15] susanodd commented on #756
With the EAF files, the Gloss IDs are inside of the EAF file. That entails that the glosses are "found" in the dataset being processed.
This caused problems for testing, because the "fake EAF file" was for CNGT, and it contained Gloss IDs for NGT. But I wanted to use this EAF file for tstMH, and it generated errors because those Gloss IDs inside of the EAF file belong to NGT, not tstMH.

So I modi

[2021-09-28 12:18] susanodd commented on #756
@vanlummelhuizen are you available for brainstorming?
As we have it, a gloss only belongs to one dataset.
Does this need to be modified in order to support sharing of EAF files between different corpora?

[2021-09-30 10:16] susanodd commented on #769
@vanlummelhuizen @Woseseltops there will need to be cron jobs for the EAF files for all datasets.
At the moment, the CNGT is done by these urls (or maybe not):

https://github.com/Signbank/Global-signbank/blob/94dbe93ee7552b7d9cd19416ee29b86d5d18dd61/signbank/dictionary/urls.py#L88-L89

To my surprise, those functions are no longer in the code.

In any case, i have a similar functionality for a da

[2021-09-30 14:16] Woseseltops commented on #354
Situation right now (assumptions)
* The main way we identify speakers objects in Signbank is the default Django way: with private keys. That is, speaker.pk .
* The speaker.identifier field is filled with the identifier as mentioned in the EAF file.
* Multiple EAF files could use the same identifiers, which can make things messy: if in EAF file A a speaker has identifier 1, and in EAF B a speaker h

[2021-10-01 08:51] Woseseltops commented on #354
I had a look at some EAF files, and noticed that there are about 2400 for CNGT alone, and I assume all of these 2400 share their speaker identifiers. Maybe we the EAF identifier should be filename minus numbers minus extension?

Ah, I see... so it's not so much a problem for the underlying logic, but just for display purposes... Building on my proposal above, maybe we can now display both the eaf_

[2021-10-01 08:56] Woseseltops commented on #354
Or, as a more elegant alternative to my suggestion above, EAF files are connected to a Corpus object, right? Can't we link Speaker objects to Corpus objects, and for display purposes use the corpus, followed by a slash, followed by the speaker identifier ?

[2021-10-01 09:36] Woseseltops commented on #756
For completeness, we're having the architecture discussion about the relation between EAF files, corpora, datasets and speakers in #354.

I think so yes, but unfortunately all cron jobs are gone, see #769 .

https://en.wikipedia.org/wiki/Test-driven_development :)

The situation you describe seems like a good start... I would say this functionality is cool but not crucial, so test coverage does no

[2021-10-01 09:53] susanodd commented on #354
Yes, that is correct.
Documents are linked to the Corpus object basically. That's what it's for.
It was weird to realise that Speakers are not linked to anything, but the GlossFrequency objects are linked to Speakers.
At the moment, nothing is done with the Corpus field `speakers_are_cross_referenced`

You need to also read @ocrasborn 's comments about EAF files being used in multiple datasets. (#

[2021-10-01 09:58] susanodd commented on #354
I started wondering about the Speakers when I started testing reading in a Speaker file multiple times.
At the moment, this does nothing.
But if somebody would modify the Age or Handedness inside the meta file, then the new data will replace the old data.
I implemented reading it in again as an update. (This is only on my local machine now.)
But then I started wondering about the Speakers also bec

[2021-10-01 10:02] susanodd commented on #354
We could internally postfix the speaker identifier (field) with _metafilename.
Sloppy but we could then see how far we get.

[2021-10-01 10:05] susanodd commented on #756
Yes, there seems to be a cron job.
I found the function to update the counts in tools.py.
https://github.com/Signbank/Global-signbank/blob/94dbe93ee7552b7d9cd19416ee29b86d5d18dd61/signbank/tools.py#L1972

[2021-10-01 12:45] susanodd commented on #756
I revised the Speaker identifiers to have `_`<_dataset.acronym_>
This is more or less straightforward.
I modified the tests to use testing to check the code during revision.
If a new metadata file is read, or a corpus is updated, then the Speaker identifiers are so revised.

So far these are the tests:

- the count of the speakers imported from the metadata file is the same as the length of the me

[2021-10-01 12:50] susanodd commented on #756
Perhaps an additional button on the DatasetFrequency / Corpus Overview page that allows to Update Speakers (so merely reprocesses the metadata rather than also the eaf files.)
That way it would be easier to allow additional information about speakers or modify region specificity.

[2021-10-07 11:37] DoorSpruijt opened #776 "User registration is broken"
An intern trying to register encountered this error, and I was able to replicate it myself.

![PrtScrnError](https://user-images.githubusercontent.com/91131283/136376137-2cbdb0bb-adfc-4935-b110-97cd6f10c86a.png)

[2021-10-14 13:54] Woseseltops opened #777 "Fix permissions for writable/import_videos for the Signbank installation on Lightning"
So that new files are readable by Apache automatically.

[2021-10-14 14:10] ocrasborn commented on #776
This issue is identical to #755 , the error message may help @Woseseltops fixing this

[2021-10-19 08:26] ocrasborn opened #778 "Django interface broken"
I can get in the admin, but something in the way of linking the right stylesheets to it is broken: it looks like html v1 now ;-)

[2021-10-19 08:54] ocrasborn commented on #764
@susanodd , yes, let's add this for Global SB as well.

[2021-11-03 15:23] susanodd commented on #756
This is what the interface looks like now for new corpora. Shown are a few different datasets on my local server.
I am using the real (local) database now rather than the test database.

Here is NGT. I processed all 2281 files on my server. It took quite a long time.
So to remedy this (when not done as nighttime scripts) I have added refresh buttons for each document row.
Also, a panel to show whi

[2021-11-03 15:30] susanodd commented on #756
Here is tstMH. This has only a few documents. I used the same speakers metafile as that of NGT, so it actually doesn't find very many glosses because it's NGT glosses.
The panel that shows which speakers (of the frequency data) appear in which documents shows that there isn't much data.
Refreshing does nothing unless you scroll around in the logs (not visible to the user yet) to see what glosses i

[2021-11-03 15:33] susanodd commented on #756
And here are two datasets for which there is no corpus. Kata Kolok has some (bogus) metadata and one eaf file.
And Norwegian Sign Language has no files yet. It only gets helpful information.

![corpus_overview_katakolok](https://user-images.githubusercontent.com/24272544/140091874-e48073b6-27cf-43a0-aba9-30fe382012bd.png)

![corpus_overview_NTS](https://user-images.githubusercontent.com/24272544/1

[2021-11-05 12:41] Woseseltops commented on #770
Done

[2021-11-05 12:41] #770 closed

[2021-11-05 12:42] Woseseltops commented on #776
Forgot the Postfix installation, so it crashed when trying to send an email. After installing it works!

[2021-11-05 12:42] #776 closed

[2021-11-05 12:42] Woseseltops commented on #755
This time email software Postfix needed to be installed!

[2021-11-05 12:42] #755 closed

[2021-11-05 12:46] Woseseltops commented on #641
Also good to add here: check if postfix is installed, check if ImageMagick is installed.

[2021-11-05 13:00] Woseseltops commented on #778
I like the nostalgia @ocrasborn :). But if you really insist, I'll do the small server config thingy that is actually needed to get this right.

[2021-11-09 13:43] ocrasborn commented on #778
Hahaha, @Woseseltops -- I appreciate your flexibility in coming along with modern GUI times :-)

[2021-11-10 14:26] susanodd commented on #756
To reflect that an eaf file may not yet be annotated, some additional columns have been added to the corpus overview. Namely, Number of Glosses, and a Comment column.

![corpus_ngt_overview_colms](https://user-images.githubusercontent.com/24272544/141127330-8da15cfd-68d7-41e1-a224-f906045e8b46.png)

There is also a column Updated to show whether the eaf file on disk is newer than the document that

[2021-11-18 08:55] ocrasborn opened #780 "Make menu item 'Select datasets' available to anonymous users"
Now that more dataset managers are making data available to the public, it becomes desirable to have anonymous users also select a specific dataset. Please make that menu item available to them.

[2021-11-18 09:03] ocrasborn opened #781 "Display available and selected datasets in the header for anonymous users"
See #780 . For the same reason, we need to display available (public) and selected datasets for anonymous users in the header, like we do for logged-in users. Now, anonymous users see a red header with just the logos and name, but not the datasets.
* To not confuse these users, let's only display the datasets that are actually available to them.
* Note: these are not so much datasets that logged-i

[2021-11-26 11:50] ocrasborn commented on #718
It works, *almost*! Just typing in signbank.science.ru.nl redirects (quickly!) to the cls url, but when I try to test what happens if I type in signbank.science.ru.nl/anypath, it redirects to signbank.science.ru.nlanypath. This situation will only arise when people have included direct links to, say, their dataset info page somewhere on the web, so not too often, but let's correct this all the sam

[2021-11-26 11:56] ocrasborn commented on #734
Happy!

[2021-11-26 11:58] ocrasborn commented on #604
Seems to be OK now

[2021-11-26 11:58] #604 closed

[2021-11-26 12:16] susanodd commented on #756
I made the rows with Refresh buttons be Ajax calls to speed things up.
The last column is used for feedback. (In the screenshot, document CNGT0004 has been refreshed.)

![corpus-ngt-overview-ajax-buttons](https://user-images.githubusercontent.com/24272544/143578447-5d6cdd18-5f42-4199-9328-41964aa96fc0.png)

![corpus-ngt-overview-ajax-buttons-feedback](https://user-images.githubusercontent.com/2427

[2021-11-26 14:49] susanodd commented on #756
The latest revisions using Ajax calls have been pushed to branch corpus_functionality.

[2021-12-02 09:28] Woseseltops commented on #718
This is managed by C&CZ these days, I'll email them.

[2021-12-02 10:47] Woseseltops commented on #718
Fixed!

[2021-12-02 10:47] #718 closed

[2021-12-06 10:48] susanodd commented on #756
@Woseseltops can you check whether the new server has the EAF files ported?
Related to this issue, the urls for the corpora are on the live server, but there are currently no EAF files for NGT.
However this cannot be true because there is frequency data for NGT. The files should be in writable/eafs/DATASET/
and the meta data files in writable/metadata_eafs/   (directory where the eafs are uploaded

[2021-12-06 10:50] susanodd commented on #756
Once upon a time, when the GlossFrequency model infrastructure was created, it was populated with the eaf files for NGT. So the current frequency data in signbank is from those eaf files that were once loaded.

[2021-12-13 11:17] susanodd commented on #781
I've implemented this using a session variable, since anonymous users do not have an account. For users with an account, the selected datasets is stored in the database and retrieved when the user logs in again.

[2021-12-13 13:51] susanodd commented on #781
Regarding the display of datasets  for which there are public glosses, would this also be for logged in users?

[2021-12-14 12:50] susanodd commented on #780
![anonymous_user_select_dataset](https://user-images.githubusercontent.com/24272544/146001524-f87dc678-4791-4445-95fe-6d40592f0084.png)

[2021-12-14 12:56] susanodd commented on #781
Here is what this currently looks like for test user_dataset. This user only has access to two datasets.

![available_datasets_test_user_dataset](https://user-images.githubusercontent.com/24272544/146002397-f7d78f79-751d-4864-b599-4c1978ed03e5.png)

![select_datasets_test_user_dataset](https://user-images.githubusercontent.com/24272544/146002418-340beaf3-3418-424a-bf9c-bb05d2a727eb.png)

[2021-12-14 13:38] susanodd commented on #780
@ocrasborn can you check on EmblemsNL. I followed the instructions above and made datasets which are public available to select for anonymous users. In addition, datasets which contain public glosses are available to select and shown in the header. (#781).
However, some datasets, e.g. EmplemsNL is accessible by others, but has no public glosses.
What should an anonymous user be allowed to do?

[2021-12-14 13:41] susanodd commented on #780
(This is all on my local server, not online.)

[2021-12-14 13:43] susanodd commented on #781
See #780 for screenshots of the menu bar with (public) datasets for anonymous users.

[2021-12-14 13:44] susanodd commented on #781
![anonymous_menu_EmblemsNL](https://user-images.githubusercontent.com/24272544/146010066-becabdd8-830b-442d-ab00-3805f366205a.png)

[2021-12-14 21:07] ocrasborn commented on #780
Ah, good point, @susanodd. Only datasets with public glosses should be selectable by anonymous users, not those datasets that are available to other researchers. Should have made that clearer before.
(In fact, we strive towards harmony here (datasets available to other researchers should have public glosses), but copyright reasons may prevent full public access to glosses.)

[2021-12-14 21:10] ocrasborn commented on #781
No, logged in users should always see all datasets.

[2021-12-17 12:45] susanodd commented on #780
I've finally got this working for just the datasets with public glosses. (#781).
One thing that I'm not sure about is the situation where the user chooses "None" in the select view.
At the moment, this defaults to "all". This is visible in the header. Although the list shows nothing selected.
Once upon a time, this was desired because otherwise the "no datasets selected" becomes a problem elsewher

[2021-12-17 12:48] susanodd commented on #780
This shows test **user_dataset**, who only has permission for two datasets. Now all datasets are shown in the header.
But the user can only select from those that can be accessed. Here "None" has been selected. The header defaults to highlight those this user has access to (rather than "none"). The code has had this behaviour for several years.

![user_dataset_nothing_selected_header](https://user

[2021-12-17 12:52] susanodd commented on #780
Here is the new anonymous user header (for all pages), showing those datasets with public glosses, followed by the select list. The default is NGT. (As defined in the Settings file.) In this example, the anonymous user has selected "None". Here, the header shows nothing highlighted.

![anonymous_user_default_header](https://user-images.githubusercontent.com/24272544/146547152-a5e4ee25-7b32-466b-a2

[2021-12-17 12:58] susanodd commented on #756
@Woseseltops can you check whether the EAF files have been ported to the new server?

writable/eafs/DATASET/
and the meta data files in
writable/metadata_eafs/

[2021-12-22 11:11] ocrasborn opened #784 "Problems with Signbank Lexicon Service in ELAN"
This is an older problem that was already on @vanlummelhuizen's plate. I was not able to log in in Signbank from ELAN, for an EAF file for which a connection to the Signbank lexicon service was specified. I asked Han Sloetjes, lead ELAN developer, to test the current state, and he returned the following report:
-----------------
Inloggen bij Signbank lukt en ik heb inmiddels wat naar de ELAN exten

[2021-12-23 14:32] Woseseltops commented on #784
Hi @ocrasborn , I would be surprised if that Github URL is correct... perhaps some copy/paste error?

The term 'Lexicon service' is not used in the code, so not 100% sure what functionality you are referring to, but my best is the package functionality. This is available via https://signbank.cls.ru.nl/dictionary/package/ (but it requires an authenticated user) .

[2022-01-06 14:24] Woseseltops commented on #765
I'm thinking about requesting a new machine to install the latest version of Signbank for the ASL people, and then migrating all data. Perhaps it makes more sense to get the email working from that newer machine?

[2022-01-13 13:13] susanodd commented on #781
@Woseseltops I can't figure out how to put the Select Datasets in the Menu for Anonymous Users.
I gave group Guest permission to view this page, but that did not suceed in putting it into the header menu.

[2022-01-14 10:01] susanodd commented on #781
Okay, this is fixed now! i had to remove all the allowed groups, since everybody can view it now in the menu.

[2022-01-17 12:03] susanodd opened #785 "Add link to Corpus Overview page"
The dataset frequency functionality (#756) is currently not linked to anything.
The url  for the functionality includes the dataset's id.
Add a link to the Corpus Overview from the Dataset Detail View.

[2022-01-17 13:37] susanodd commented on #785
![dataset_detail_link_corpus_overview](https://user-images.githubusercontent.com/24272544/149778727-06473999-d258-4ffd-8c37-4db3a859106a.png)

[2022-01-17 13:38] susanodd commented on #785
I also fixed a formatting issue with the paragraph description fields. Now they're wrapped.

[2022-01-18 09:26] ocrasborn commented on #769
@Woseseltops, Daily logs are coming in fine, but two report errors right now: write_ecv_files_for_all_datasets and configure_corpus_documents lead to errors.

For the first:
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
Fatal Python error: Py_Initialize: Unable to get the loc

[2022-01-20 12:45] susanodd commented on #762
I'm working on this issue now.
In order to implement multiple select, as discussed above, a new model SemanticField is needed.
Another field that is multiple select is Dialect.

At the moment, the semField of Gloss is a field choice category.
This choice list can be seen in Admin. It has the FieldChoice fields: machine_value, and the hard coded language fields for Dutch, English, and Chinese.
Reca

[2022-01-20 14:42] susanodd commented on #728
These files contain hardcoded "science.ru" references:
https://github.com/Signbank/Global-signbank/blob/e145fc9b10c46e137447c9827957aad48274ad94/signbank/registration/templates/registration/dataset_access_granted_email.txt#L3-L6

AND

https://github.com/Signbank/Global-signbank/blob/e145fc9b10c46e137447c9827957aad48274ad94/signbank/dictionary/migration_readme.txt#L10

[2022-01-20 14:50] susanodd commented on #762
Any objection to a menu item "Show Semantic Fields" under say the Analysis menu?

The Handshapes are available via a Handshape Search page, which starts out as listing all the handshapes.
The HandshapeDetailView is actually where the Handshape objects are first created from the Handshape FieldChoice objects.
So if we originally have a Semantic Field List View, then they can be displayed. Then if y

[2022-01-21 11:02] Woseseltops commented on #769
Ah, I never had a good look at the cronjobs, but they were still referring to the old installation, not the Lightning container one. I have now moved `write_ecv_files_for_all_datasets` into the container, let me know if this works!

As for `configure_corpus_documents`, as part of of recent refactor this is now in `frequency.py`, and seems to need a corpus acronym as an argument. I guess the cronjo

[2022-01-21 12:17] susanodd commented on #769
Yes, this is what I was talking about yesterday.

There should already be eaf files and the metadata file stored for NGT.here:

https://github.com/Signbank/Global-signbank/blob/e145fc9b10c46e137447c9827957aad48274ad94/signbank/settings/server_specific/default.py#L19-L20

[2022-01-21 12:18] susanodd commented on #769
On my local server they are shown here:

![corpus-overview-ngt](https://user-images.githubusercontent.com/24272544/150525870-0e26f590-877f-4bfa-ad2e-3bd052ed24f3.png)

[2022-01-21 12:19] susanodd commented on #769
This is the same location where files are uploaded to on the Dataset Manager page. That's where it's looking.

[2022-01-21 12:23] susanodd commented on #769
I'm not sure about the argument. We only ever had the cron job for NGT.

[2022-01-21 12:26] susanodd commented on #769
Can you first put the eaf files from the old server there to see what already exists?
I don't really know if managers were already putting files for other datasets yet?
But there is already frequency data for NGT so the files ought to be there.

[2022-01-21 12:28] susanodd commented on #769
![dataset-manager-ngt](https://user-images.githubusercontent.com/24272544/150527131-65b5f1d3-e44c-4e9c-a5ab-fe834339d1a2.png)

[2022-01-21 12:29] susanodd commented on #769
I'm not a manager on the live server.

[2022-01-21 15:34] susanodd commented on #762
Okay, I created two model classes, SemanticField and SemanticFieldTranslation.

There's a SemanticFieldDetailView that takes the machine_value of the original semField FieldChoice in the url.
The data stored in FieldChoice is used to create a new SemanticField object. This is done behind the scenes.

This is what the interface.looks like so far. At the moment, there are the translations for Dutch

[2022-01-24 12:34] susanodd commented on #762
Okay, I've added a list view with links to the detail views.

![semanticfields_list](https://user-images.githubusercontent.com/24272544/150783708-3c30b5d3-e6f9-4c69-9814-b0d67d27716f.png)

![semanticfield-detail-clothing](https://user-images.githubusercontent.com/24272544/150783729-bd398144-0ea6-435f-b3a1-021a2bef4f11.png)

[2022-01-24 12:52] susanodd commented on #762
Oh, I should clarify what the above has to do with the "multiselect" of this issue.
The above screenshots show the added classes needed to implement multiple select, as described above.
I've made a new field in Gloss, 'semFieldShadow'. This will exist in parallel to the current 'semField' field.
The new shadow field supports multiple select.
The things which can be multiple selected are shown in t

[2022-01-26 14:24] susanodd commented on #762
I've implemented the Admin for the two new classes.

[2022-01-27 13:04] susanodd commented on #762
I pushed a working version of the code.

I added Admin functionality. It's now possible to create Semantic Fields in the Admin, along with translations.

I left the origin Field Choice semField as is. There is a new gloss field that is multiselect. The original field is hidden in the Gloss Detail View and only the new multiselect version is shown.

I left the choice lists in the Search panels to k

[2022-01-27 13:14] Woseseltops commented on #769
Okay @susanodd , sorry it took me so long to understand you, but the EAF files are finally usable on the new server.

For completeness, the files actually already were on the new server, the settings file just wasn't pointing to them. I now moved the files to where the settings were pointing (cleaner than the other way around :) ) .

[2022-01-27 13:16] Woseseltops commented on #769
But now there are also EAF files for BalHS and BaliHS, so we need to take that into account. What do you think would be the best solution @susanodd ?

[2022-01-28 11:19] susanodd commented on #769
The folder should match the dataset acronym.
https://signbank.cls.ru.nl/datasets/BaliHS
So it should be BaliHS

TO DO:
There will need to be some code in the Dataset Update View for when a user modifies the acronym.
This is probably already done elsewhere because the acronym is also used as a folder for images and videos.
Nope, it would seem this is not done. One can freely modify the dataset acro

[2022-01-28 11:48] susanodd commented on #764
Okay, on the live server something got messed up with the display of minimal pairs in the Related Signs View. The contrasting field values are not displayed anymore.
This could have something to do with the space of time between this branch first being created and the numerous updates via other branches in the between time.

[2022-01-28 12:14] susanodd commented on #764
@Woseseltops  is there any reason why on MY SERVER the minimal pairs show up correctly, but on the live server they do not? (Compare the screenshots below)

https://signbank.cls.ru.nl/dictionary/gloss_relations/349

(screenshot)

![relations_view_349_live_server](https://user-images.githubusercontent.com/24272544/151545143-740cb44a-7c35-43a3-b59c-8d96c691e43b.png)

This is the same page on my serv

[2022-01-28 12:21] susanodd commented on #764
@Woseseltops
I'm on branch relations_between_signs for this issue.
I merged it with the most recent master.
It's only one commit ahead of the master, (code for adding the new relation).

I'm not able to fix the issue of the minimal pairs (screenshot) on the live server because it doesn't show up on my server!
Is there some file missing on the live server?

[2022-01-28 13:14] susanodd commented on #764
@Woseseltops , it's fixed now! Thanks!!

[2022-01-28 13:17] susanodd commented on #764
I added the code for displaying the new Handshape Paradigm relation to the Related Signs View.

Here's a silly example.

![relationsview_paradigm](https://user-images.githubusercontent.com/24272544/151553380-a74b2d76-04e2-4adf-9829-0cce597a3a8f.png)

[2022-01-28 13:20] susanodd commented on #764
@Woseseltops does this look alright? It's implemented now.

[2022-01-28 13:48] susanodd commented on #762
This is more or less ready to go. (See screenshots above.)

The main improvement that could be done, would be to allow editing of the Semantic Field objects inside of the detail view.
Namely, to allow adding translations. This can be done in Admin, of course.

The idea is to put the Semantic Field List underneath Analysis.
It could also be extended to show glosses with the particular semantic fiel

[2022-02-02 08:36] ocrasborn commented on #623
Hi @Woseseltops , I'm still adding users that have received write permission for a dataset manually to the group Editors to make it work for them. How can we solve and close this issue?

[2022-02-10 10:12] susanodd commented on #623
Do you want them to be in Group Editor too?

[2022-02-10 10:21] susanodd commented on #769
@Woseseltops, there ought to be a meta data file for NGT at the following location:

writable/metadata_eafs/NGT_metadata.csv

Can you check if this is still residing someplace else on the new server?
The Corpus Overview for NGT (accessible via the Dataset Detail page) still shows this file as missing.

[2022-02-10 12:36] susanodd commented on #762
I modified the get_queryset functionality of GlossList and MorphemeList to access the new multiselect semantic field.

[2022-02-11 09:13] Woseseltops opened #788 "'Multiple objects found' error when trying to log in with email address"
Reported by ASL Signbank users
[MultipleObjectsReturned at _accounts_login_.pdf](https://github.com/Signbank/Global-signbank/files/8047332/MultipleObjectsReturned.at._accounts_login_.pdf)

[2022-02-11 09:32] Woseseltops opened #789 "Remove the SECRET_KEY from this repository"
https://docs.djangoproject.com/en/dev/ref/settings/#secret-key

Found by Steven Loria

[2022-02-11 09:51] ocrasborn commented on #788
@Woseseltops I added the ASL label so I can filter myself for things that they reported (although they might be relevant for Global as well)

[2022-02-16 11:22] susanodd commented on #788
For Global, I'm unable to replicate this error on my local server. (With send_mail changed to print statements, etc.)

I double checked that it's not raised by using an email as a login. That's actually not possible because @ is a special character.

[2022-02-16 11:31] susanodd commented on #788
It looks like ASL might have older code for registration/forms.py.
Global is from 8 months ago, whereas the ASL branch is from 3 years ago.

[2022-02-16 11:45] susanodd commented on #788
Okay, I found the place where the error arises. It's some Django supplied code for authentication.

It's looking at the email address.
However, we are not allowing to create accounts with the username being an email address, because @ocrasborn was using his own email for many accounts.

[2022-02-16 11:50] susanodd commented on #788
I made a simple change to the authentication so that the username is looked up.
Now an error message is shown if one has entered e.g., an email (i.e., not a username).

![fouteusername](https://user-images.githubusercontent.com/24272544/154258835-fe89dd2d-1ddc-4baf-89e0-fb9563c9a46c.png)

[2022-02-17 11:16] Woseseltops commented on #628
The Norwegian users (of the Global Signbank) report that tabbing no longer works, can this be fixed?

[2022-02-18 09:19] susanodd commented on #628
I hadn't realised it was the Tab key. It's implemented using the Return key. So when a phonology field is in focus, hitting Return advances to the next phonology field.

[2022-02-21 11:05] ocrasborn commented on #628
Thanks @susanodd , not a bug then, but a feature that needs more attention in the manual :-)

[2022-02-24 13:15] Woseseltops commented on #788
Wow good find @susanodd ! So the error probably was not referring to the individual account entered, but to the fact that there were multiple accounts with the same email address in general.

Fix still needs to be confirmed once live.

[2022-02-24 13:17] Woseseltops commented on #628
I'm guessing this can be closed then :)

[2022-02-24 13:17] #628 closed

[2022-02-24 13:44] susanodd commented on #762
I'm implementing some tests for the new multi-select semantic field.

[2022-02-24 14:47] susanodd opened #793 "Allow submap functionality for organising EAF files"
Enhance the Dataset functionality to allow for uploading folders of EAF files rather than just files.

The intention is to assist organisation of the many EAF files.

This applies to the upload on the Dataset Manager page and indirectly to the Corpus Overview page where documents are shown.

At the moment, the Corpus Overview shows the names of folders for NGT rather than the EAF files contained i

[2022-03-02 10:11] susanodd commented on #789
There's even this exception in one of the django/conf files:

`raise ImproperlyConfigured("The SECRET_KEY setting must not be empty.")`

[2022-03-02 10:23] susanodd commented on #793
Okay, I've started with just parsing the folder where the (in this case) EAF files live.

@Woseseltops @ocrasborn what to do about duplicates? I.e., if the same file exists in multiple folders?

I can't actually recall if we ever had folders in the new Document Speaker GlossFrequency model.
The Document identifier is the filename minus the eaf extension. We haven't used the file location anywhere.

[2022-03-02 12:03] susanodd commented on #785
@ocrasborn can you look and see if this is okay?
It's possible to see the corpus overview now, via the Dataset Detail page.
This probably needs to become a separate pulldown for corpora specific things.
At the moment, the NGT has "subfolders" of files. (Those were on the old server. Although I can't recall if there was another evolution where they were all just flat. I have them flat on my compute

[2022-03-04 13:24] susanodd commented on #764
@Woseseltops this has been in the pull requests for a while now. Any chance of merging it?

[2022-03-04 14:13] susanodd commented on #793
This is nearly finished.

[2022-03-04 14:20] susanodd commented on #769
I'm nearly finished with the subfolders addition. (#793 )
In doing so, I've processing all the CNGT subfolders. It's quite time consuming.
(On the Corpus Overview page there are buttons for processing individual documents to ease this.)
There are quite a lot of CNGT files with no annotations. I can't yet tell whether this is slowing it down.
It may because there is some overhead in preparing a fil

[2022-03-04 15:30] susanodd commented on #769
I've made a new url `update_corpora` for updating all corpora as a cron job.

[2022-03-07 11:39] susanodd commented on #793
Okay, I tested the functionality for updating corpus counts with eaf files being in subfolders.
This all works.

[2022-03-07 12:13] susanodd commented on #793
@Woseseltops it turns out that the folders that we copied to the NGT location older files are.

In my tests, I had previously been using the eaf files received as a zip from @ocrasborn.
When I proceeded to "test" the foldered eaf files, the code removes GlossFrequency objects which are no longer present in an eaf file. So this actually happened because some of the glosses were in a subsequent eaf

[2022-03-08 13:01] susanodd commented on #793
I've added the upload functionality to the Dataset Manager view.

I added a toggle so the user can select either to import a folder or files.

![dataset_manager_eaf_folder](https://user-images.githubusercontent.com/24272544/157241692-ce57f8c9-dac7-458d-aae0-3e14ff194d18.png)

This works as expected. Once uploaded, the folder name is displayed preceding the filename.

At present we do not provide f

[2022-03-08 13:51] susanodd commented on #793
A question is this: do we "avoid" uploading files again that are already uploaded but in a different (sub)folder ?

I've made a check to make sure the files are indeed eaf files (python magic type 'text/xml').
(This is already checked at a later phase during computation of frequencies from gloss annotations in the CNGT scripts. But might as well not upload them if detected.)
(This should also catc

[2022-03-08 14:44] susanodd commented on #793
Okay, suppose a user uploads an eaf file that already exists in the corpus, e.g., in a different (sub)folder for the dataset.

There shouldn't be two copies of a document for a corpus.

The filename minus the eaf-extension is the document identifier. It is linked to the corpus in the model.

Upon upload, it's possible to check whether there is already a document for this new file for this corpus.

[2022-03-08 16:09] ocrasborn opened #795 "The cron job that creates ecv files is reporting an error"
Not sure since when. Here's the latest log:

Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
Fatal Python error: Py_Initialize: Unable to get the locale encoding
ImportError: No module named 'encodings'

Current thread 0x0000151884ab9180 (most recent call first):
Aborted

[2022-03-10 11:29] susanodd commented on #793
I've added an info message if the user imports an eaf file another time to a different location.
The import still proceeds, the file appears twice in the dataset's eaf subfolders.
Only non-eaf files are not uploaded.

On the Corpus Overview page, I've added a list of paths for documents.
Here you can see document (identifiers) that appear in multiple locations.

Next up, to allow users to remove e

[2022-03-11 12:27] Woseseltops commented on #795
This error suggests an incorrect Python version. I had a look at your crontab, @ocrasborn , and it turns out that when I moved the cronjobs from Applejack to the Lightning container (https://github.com/Signbank/Global-signbank/issues/769#issuecomment-1018403650) , I did not turn off the old jobs . If everything's okay, the error should go away now, without affecting any functionality.

[2022-03-11 14:16] susanodd commented on #793
Choice and deletion is implemented for duplicate files in the Corpus Overview.

[2022-03-11 15:14] susanodd commented on #793
@Woseseltops can you check the permissions on the EAF folder for NGT ?
There is a permissions error on the live server when trying to upload a new file.
I just got an identical error on my local machine while experimenting with the new "remove" functionality.
The CNGT files (which were copied from the original cngt_eafs location, also on my local machine to mimic the behaviour with folders), they

[2022-03-14 10:49] susanodd commented on #793
I've added some color to the list of uploaded eaf files in the corpus overview.

If there are duplicates, these are highlighted in red.
The user needs to remove duplicates before being offered the refresh all documents button for the new eaf files.

If the file has already been processed as a document, it is highlighted in blue.

This is to assist in selecting unwanted documents for removal.

![co

[2022-03-14 11:26] susanodd commented on #793
An confirm dialogue is shown when the user presses the Remove button.

![corpus_remove_modal_message](https://user-images.githubusercontent.com/24272544/158162808-99b5c98b-147b-462c-9345-d8f4f0e89db8.png)

[2022-03-14 11:49] #795 closed

[2022-03-14 12:30] susanodd commented on #793
This has been pushed to branch `folders_eafs`.

[2022-03-14 12:48] susanodd commented on #759
This issue has been adhered to in recent updates to the model in #793.
The `Dataset` method `uploaded_eafs` file system specific functionality has been moved to `frequency.py`

The trimmed down method remains in the model as this is more convenient to call in a template, having the dataset object on hand.

[2022-03-15 12:19] susanodd commented on #761
I'm working on this issue now.

[2022-03-15 13:13] susanodd commented on #761
I've modified the file input field of the three upload csv templates to only accept various csv encodings
(as recognised by html input).
This makes it only show csv files in the file browser selection window.
(So e.g., it's no longer possible to choose a pdf file. Once the changes are live, of course.)

There is already a selector for choosing the delimiter.

I need to create sneaky test files tha

[2022-03-15 14:59] susanodd commented on #761
Okay, I managed to create some bogus files.

Here is what the feedback to the user looks like. The first is a non-`UTF-8` encoding (I created a file with Arabic letters and saved it in a different format in LibreOffice.
The other feedback is for a `.pdf` file that was renamed to end with `.csv` instead. (The code actually can determine this is really a pdf file. Although telling the user this prob

[2022-03-16 13:36] susanodd commented on #785
The NGT files are showing up correctly now on the NGT corpus overview page.
This is the single layer version. After fixing the permissions on the folder, the correct files could be uploaded.
The NGT folders will be accounted for in #793 .

[2022-03-16 13:38] susanodd commented on #785
![corpus-overview-ngt-live-server](https://user-images.githubusercontent.com/24272544/158602574-bbd087e4-5ce9-44ff-8e49-4a6b74ebbb23.png)

[2022-03-16 14:07] susanodd commented on #762
There is a pull request on the `semantic_fields` branch #794.

I'll implement the other request for multiselect Derivation History, although the issue says ASL only.

[2022-03-16 14:49] susanodd opened #798 "Remove obsolete frequency fields from settings"
With the introduction of the GlossFrequency model, the dynamic calculation of frequencies, and the dynamic calculation of regions from the data, the initial hard coded regional frequency fields are no longer needed. These can be removed from the settings.

For example, of the following, only the first two fields are used now.

[code]

[2022-03-17 12:50] susanodd commented on #761
It works to use the Python module `chardet` to determine the encoding of a non-utf-8 encoded text file.
This makes the import even more user friendly!
Although in doing so the Python code of the template has become less user friendly given all the exception handling...
(@Woseseltops I'll fix this.)

[2022-03-18 14:25] susanodd commented on #761
Inferring the encoding when not utf-8 is more tricky that at first assumed.
It only works part of the time.
I have an example file from @ocrasborn that is either Turkish, French, or Arabic. It looks like the language is French, but it's encoded as being Turkish. But this causes the built-in decoders to malfunction.
This seems best if the user encodes it as UTF-8 themself.

[2022-03-23 11:56] susanodd commented on #761
Oops, I put the wrong issue in my push. That should have been #793

[2022-03-25 09:05] Woseseltops commented on #764
Sorry this one took me so long to review!

[2022-03-25 14:05] susanodd commented on #762
@Woseseltops I'm making a lot of progress on the derivation history. It's analogous to the Semantic Fields implementation.
Although since they're currently not used in Global, I've made a url `configure_derivationhistory` to fill the field choices with the  derivHist choices from the original migration creation, in order to not leave them empty. These can then be edited in Admin.

[2022-03-29 07:02] ocrasborn opened #799 "Video import: separate the log messages per dataset"
When batch importing videos from writable/import_videos (or something of the like), the system looks in all subfolders for all datasets and does its thing. The log message that the user then gets (admin users, for now) combines log info for all datasets. Please separate the log per dataset with a clear header, keeping the different categories of log for each dataset.

The present situation can be

[2022-03-29 14:05] susanodd commented on #762
Here's what it looks like for derivation histories. This is implemented analogously to semantic fields.
(Edit views for Gloss and Morpheme, Search Multiselect, and Derivation History List View and Detail View.)
If there are no derivation history field choices yet, these are created based on the original Global values of the initial migration.
The Admin can then modify these as needed.

I've added

[2022-03-30 11:57] susanodd commented on #762
Derivation History is now multiselect.
@Woseseltops I'm going to push this to the same branch since you haven't started reviewing it yet.

[2022-03-30 12:06] susanodd commented on #762
This has been pushed to the same branch as semantic fields, now awaiting review and merging.

[2022-03-30 12:56] susanodd commented on #799
@ocrasborn do you know if the folders per dataset remain? Or is this cleared up afterwards? Do you typically upload an entire folder with the name of the dataset at the top level? Or do you upload files to a dataset folder? (How do the files get into the folder writable/import_videos ?) The url command in question assumes there are already files and folders at this location.

In order to rewrite t

[2022-03-31 11:22] susanodd commented on #799
The code is a bit weird. This is what it looks up for the Gloss:

https://github.com/Signbank/Global-signbank/blob/1d9c7b6c9bd58ebd16c1d9bbbc61cf89509b032b/signbank/dictionary/views.py#L544-L555

The error message shown to the user mentions gloss ID. But the code is looking up on annotationidglosstranslation.

[2022-03-31 11:41] susanodd commented on #799
@ocrasborn I had a look at the folder on lightning. Indeed, there are folders for datasets underneath import_videos.
The subfolders underneath the dataset acronym (or name) are e.g.: nld, eng
So this is a subfolder named by a language code, as observed in the code:

https://github.com/Signbank/Global-signbank/blob/1d9c7b6c9bd58ebd16c1d9bbbc61cf89509b032b/signbank/dictionary/views.py#L538

So far I

[2022-03-31 14:51] susanodd commented on #799
Here's what the feedback looks like so far. I set up some test files on my local server using a few of the remainder file names on lightning in order to show glosses that are not found.
@ocrasborn would this be better with a page header and/or possible interaction to remove or rename files?
When the url is invoked, it basically parses the entire folder, that's why it shows info from other folders

[2022-04-01 12:47] susanodd commented on #799
As per @Woseseltops feedback in #762 and  #794, this code needs to become a template.

[2022-04-03 21:28] ocrasborn commented on #799
Hi @susanodd , very good like this! A page header would be friendly (and a link to get back to the home page or previous page), but let's not develop any further functionality: other issues have more priority.

[2022-04-13 11:51] ocrasborn opened #800 "Cannot change values for Weak Drop/Weak Prop"
Once a value is selected in the pull-down menu for Weak Drop or Weak Prop (Panel Phonology), this cannot be undone: an error pops up. (Setting the initial value works fine, it's saved correctly after leaving the edit mode.)

[2022-04-13 11:53] ocrasborn opened #801 "Searching for translation equivalents on the search page doesn't work anymore"
Searching for any string in the Translation Equivalent fields per language, in the search form, incorrectly returns all signs in the selected data sets. Searching for a translation equivalent in the menu bar search field works fine, though.

[2022-04-18 20:16] ocrasborn commented on #696
Hi @Woseseltops : of the two open points above (11 Mar 2021), the Safari issue is solved now, could you still take care of this:
**I don't yet see anything in the admin under pages, text boxes for Hebrew and Arabic that is.

[2022-04-18 20:22] ocrasborn commented on #764
@Woseseltops , did you reopen this to implement it on Global SB following ASL SB? Because I don't see the option yet in Global. Or for another reason?

[2022-04-21 10:25] Woseseltops opened #803 "Improve developer experience with CNGT_scripts"
The external CNGT_scripts dependency is inconvenient during installation, and confusing to new people trying to install Signbank. I believe the advantages of having some code in another location do not justify these downsides.

[2022-04-21 13:04] susanodd commented on #799
I've made the feedback table into a template with the usual Signbank header.
Some feedback appears in the last column, Status, as shown above.
Additional feedback appears in a bullet list underneath the table, e.g., if a folder for a bogus dataset acronym or bogus language abbreviation has been encountered.
Some other errors are also tallied by the (original) code, such as failure to delete the or

[2022-04-21 13:18] vanlummelhuizen commented on #803
The problem is not that CNGT_scripts is external. You can easily pip install from git repos. The problem is that that repo is not properly set up (as Python package). You can blame me for that.

I guess we have two choices:

1. Forget about CNGT_scripts and copy exactly what we need to the Signbank repo.
2. Properly set up CNGT_scripts as a Python package and pip install in Signbank.

We could als

[2022-04-21 13:26] susanodd commented on #799
![import_videos_template](https://user-images.githubusercontent.com/24272544/164467925-6c8e0993-42c0-42ba-af23-a2b5d6a5a82f.png)

[2022-04-21 14:18] Woseseltops commented on #803
Changed the title to reflect your viewpoint as well @vanlummelhuizen :) . It also made me think of a third approach, which probably is easiest to realize, which is to simply add the Github repo to the requirements.txt file: https://stackoverflow.com/questions/16584552/how-to-state-in-requirements-txt-a-direct-github-source

[2022-04-22 11:01] susanodd commented on #764
I have the newest version of master branch (Global SB) on my local server. It's working fine there.
Perhaps it's not on the live server yet?

[2022-04-22 11:10] susanodd commented on #800
Good find! Indeed, it gives an error if you want to set it back to Neutral.
What's weird is it gives a constraint violation of NOT NULL.
However, in the model, this is allowed to be NULL, so it's very strange it gives this error.

[2022-04-22 11:13] susanodd commented on #800
In the error log, it's giving this error from model GlossRevision (which is where the history of changes is stored).

[2022-04-22 11:28] susanodd commented on #800
Fixed! Here it's visible in the Revision History.

![setting_weakdrop_to_Neutral](https://user-images.githubusercontent.com/24272544/164705958-a310a7b9-9509-4840-87ef-c13cc61693e3.png)

[2022-04-22 11:34] susanodd commented on #800
@ocrasborn does the Revision History need to show the "pretty" values in the Old value column?
I'm not sure what else is done with Revision History.
I don't think we allow undo's using the values stored there or use history items for anything. (?)

[2022-04-22 11:43] susanodd commented on #800
I pushed the fix as shown above.

[2022-04-22 11:55] susanodd commented on #801
This has probably been broken for a while. I kind of didn't remember there was such a functionality. But yes, it's right there in the header! There didn't used to be many glosses for which this information had been filled in.

[2022-04-22 12:19] susanodd commented on #801
I found it. There is a discrepancy in the identifier used in the form.
One place uses "keyword_" and the other uses "keywords_".

[2022-04-22 12:42] susanodd commented on #801
We kind of ignored a forms setting that defines the "keywords_" prefix and basically hard-coded it as "keyword_" in lots of templates where this search field occurs.
I chose to make it be "keyword_" as the constant in forms, since this is how it's hard coded elsewhere.
Less coding to fix it this way.

[2022-04-22 13:02] susanodd commented on #801
This has been repaired and is on branch translation_equivalents.

[2022-04-22 13:04] susanodd commented on #799
This has been pushed to branch video_import and is awaiting review.

[2022-04-22 13:11] susanodd commented on #762
@Woseseltops merged this into the master branch yesterday.
Once this is live, some additional pages shall be added to the menu under Settings for viewing the new multiple choice fields and their translations for each choice.
Additionally, an Admin (superuser) command will be shown for initializing the Derivation History choices if not yet used by the particular Signbank installation.

[2022-04-22 13:14] susanodd commented on #760
Okay, this one is next.

[2022-04-25 07:14] vanlummelhuizen commented on #803
@Woseseltops Looks exactly what we need!

[2022-04-25 12:38] susanodd commented on #760
Here's what this looks like.

![revision_history_tags](https://user-images.githubusercontent.com/24272544/165090127-01de9e86-5ea9-4313-b1a4-d57f85a1c93e.png)

Because the table for the Gloss Revision History includes columns for field, old value, and new value, I've made the list of tags become the value.

[2022-04-25 12:43] susanodd commented on #760
The revision history items have existed for a while. So far there isn't any conversion of already existing field into user friendly names. For the labels code I made use of Django translation as `_('Tags')`
If needed this could also be done for other fields, or it could be done in the template.
Issue #800 reveals a similar quirk in the display of the gloss revision history.

[2022-04-25 12:56] susanodd commented on #760
I see in #115 that it looks like the intention was that the display is the "original human value".

So what about field names? These as well?

(I ask because at the moment, the stored data in the history uses the field names. This can be made user friendly during generation of the template for the interface, including translation.)

[2022-04-26 11:27] susanodd commented on #760
Okay, I've added dynamic translation of the field names in the Gloss Revision History. The actual field names are stored in the history.

![gloss_history_fieldname_translation_en](https://user-images.githubusercontent.com/24272544/165289941-1f3502d0-087a-4251-9cfd-b7f03d03ce9e.png)

![gloss_history_fieldname_translation_nl](https://user-images.githubusercontent.com/24272544/165289973-f739d0cf-9bae

[2022-04-26 11:49] susanodd commented on #760
Regarding Tags, the set of tags is shown, before and after.
Tags is not a field, it's a relation.

At the moment, other types of modification to a gloss (i.e., relations rather than fields) are not stored in the history.
These could also be saved, although the GlossRevision has fields for `old_value` and `new_value`, which doesn't lend itself to relations. That's why it's done as shown above.

The

[2022-04-26 13:52] susanodd commented on #760
Here is the user friendlier looking gloss history for weak drop and weak prop and booleans. (Related to issue #800)

![gloss_history_weak_drop_prop_friendly](https://user-images.githubusercontent.com/24272544/165315317-c724f1b5-f589-4148-8288-812b3826a41f.png)

[2022-04-28 11:45] susanodd commented on #760
This has been pushed to branch `weakdrop_neutral` because they both concern GlossHistory objects and the display of the Revision History template.

[2022-04-28 11:48] Woseseltops commented on #760
Hey @susanodd , looks good! Would it be a lot of work to make tags look like like they do in the detail view? Because if not, that would be cool :) .

About your question, I like your suggestion

[2022-04-28 12:42] susanodd commented on #760
Here's what it looks like now.

![tags_gloss_history](https://user-images.githubusercontent.com/24272544/165754387-9b1fb5ec-15bd-4df8-999f-463e4a03abab.png)

[2022-04-28 13:37] susanodd commented on #760
Here's what it looks like with the actual field name in parentheses. When the field is Tags, the operation is shown. The translations annotating the Tags (Labels) are shown as used in the interface (caps or non-caps, the translations only exist in this form, since that's how it's been defined elsewhere.)

![revision-history-labels-field](https://user-images.githubusercontent.com/24272544/165764108

[2022-04-28 13:44] susanodd commented on #760
The values (other than Tags) for the old value and new value are as they appear in the GlossRevision objects. They were translated to human values upon storage. That's why those above are in Dutch in both screenshots.
They reveal the original interface language the user who made the change was using at the time.
I'm not sure about translating these. (Is this needed?)
If we'd change the GlossRevisi

[2022-04-29 11:06] Woseseltops commented on #803
Added it, untested yet

[2022-04-29 11:40] Woseseltops commented on #798
I indeed think these fields can be removed, they don't seem to be used in the code anywhere. Weird that these were in the default settings by the way (as opposed to the installation specific one).

Two questions for @susanodd :
* I think that, by extension, the gloss fields these settings refer to can also be removed, right? Would cause a migration file of course.
* In the Global SB specific setti

[2022-05-03 08:53] susanodd commented on #799
I'm updating the table now as suggested by @Woseseltops in the review of the pull request.

One thing that is not clear to me, where do the media files to be imported come from? Are they uploaded by hand to the folder?
There are url commands to import media, but no commands to upload the files. (@ocrasborn ?)
Once the new code is on the live server, there can be a menu item to import media (for da

[2022-05-03 09:37] susanodd commented on #799
![import_videos_table_simple](https://user-images.githubusercontent.com/24272544/166432491-1c75e78e-7618-4d06-bc7c-ca216ce72b84.png)

[2022-05-03 09:44] susanodd commented on #799
I've made the code to detect dataset or language abbreviations that do not exist.
The language abbreviations are printed as errors.
Here, there is a folder called "bogus_language" underneath folder NGT.
I'm not sure who should delete this?
Assuming people are uploading files themselves, I thought it would be useful to show if an abbreviation does not match a language.

So far there is no functiona

[2022-05-03 10:05] susanodd commented on #798
The only Gloss frequency fields that are still used are the two that overlap with ASL:
https://github.com/Signbank/Global-signbank/blob/e590a23c03a796a2094acc047fd66c39be2027bf/signbank/dictionary/models.py#L709-L710
(These are computed dynamically when the corpus is updated.)

The hard coded `**settings**` for **regions** in Global SB can be removed.
These Gloss frequency fields are tied to regio

[2022-05-03 10:08] susanodd commented on #798
I tested the dynamic generation of regions on the tstMH dataset with a bogus meta data file with totally different locations than for CNGT.
One caveat is that if desired locations for a dataset don't have any speakers, then the locations aren't shown in the frequency table. We don't have any Location objects.

[2022-05-03 10:21] susanodd commented on #798
Once there are corpora for datasets other than NGT, then all the frequency info should just show up in the Gloss Frequency template.

[2022-05-03 10:38] susanodd commented on #764
This is on the live server now, @ocrasborn.

[2022-05-03 11:05] susanodd commented on #799
Here is the version pushed to branch `video_import`
I decided on a colon separator.

![import_media_separate_tables_colon](https://user-images.githubusercontent.com/24272544/166442390-ee431fab-ceea-498a-9530-fc8a8a5c3198.png)

[2022-05-04 09:38] susanodd commented on #748
This is working on Global.

[2022-05-04 09:39] #748 closed

[2022-05-04 09:40] susanodd commented on #785
This is on Global.

[2022-05-04 09:40] #785 closed

[2022-05-04 09:44] susanodd commented on #739
This is on Global.

[2022-05-04 09:44] #739 closed

[2022-05-04 09:45] susanodd commented on #602
This issue is subsumed by #769.

[2022-05-04 09:46] susanodd commented on #602
GlossFrequency objects and corpora are on Global.

[2022-05-04 09:46] #602 closed

[2022-05-04 09:49] susanodd commented on #493
Phonology fields that are empty are hidden on Global.
However Semantics fields that are empty are not hidden.

[2022-05-04 10:14] susanodd opened #807 "Hide empty semantics fields in gloss and morpheme detail view"
Empty Phonology fields have been hidden in other issues. (#493, #262)
Since there are more Semantics fields now, these can be hidden when empty.

[2022-05-04 10:17] susanodd commented on #493
A new issue has been created for hiding empty semantics fields. (#807).

[2022-05-04 10:17] #493 closed

[2022-05-04 10:28] susanodd commented on #807
This has been pushed to branch `hide_empty`.

[2022-05-06 11:43] susanodd commented on #492
The morpheme lookahead in the Search by Morphology was broken. I just fixed this.

[2022-05-06 12:02] susanodd commented on #492
This has been pushed to branch `search_by_morphology`.

[2022-05-06 12:13] susanodd commented on #741
This is live on Global. (Already for quite some time.)

[2022-05-06 12:52] susanodd commented on #741
I revised all the English page titles in Admin.

[2022-05-06 13:57] susanodd commented on #761
This issue has been resolved as described in the bullets above.

Some test csv files with unknown character encoding (supplied by @ocrasborn) could not be guessed correctly by the available Python modules. However, the LibreOffice spreadsheet software was able to correctly determine this and decode into UTF-8.

As the CSV Import is done now, an error message is shown to the user if the CSV has an

[2022-05-06 14:00] susanodd commented on #727
@ocrasborn could you see if this issue is okay to be closed?

[2022-05-06 14:01] susanodd commented on #726
@ocrasborn could you see if this issue is already to close?

[2022-05-06 14:06] susanodd commented on #639
I can work on this if the field list is available.

[2022-05-09 08:05] susanodd commented on #746
Yes, indeed there is a W3 page.
https://www.w3.org/WAI/tips/designing/#tocheading

[2022-05-09 08:43] susanodd commented on #746
I've changed nearly all of the labels in the forms to caps.
There are some long phrases where it may be nicer to change it to a shorter phrase, such as these from `GlossSearchForm`:

- Search for gloss of related signs
- Search for gloss of foreign signs
- Search for gloss with this as morpheme

[2022-05-09 09:03] susanodd commented on #746
One thing about the translations, when working on #748, one of the labels wouldn't translate if caps were used, so I left it in lowercase.

https://github.com/Signbank/Global-signbank/blob/e590a23c03a796a2094acc047fd66c39be2027bf/signbank/dictionary/templates/dictionary/glosstags.html#L22

It would seem that the translations are also dependent on capitalisation?

[2022-05-09 09:44] susanodd commented on #746
Some of the capitalisations will require a migration to change the label in the model.

[2022-05-09 10:17] susanodd commented on #746
Here is a strange quirk.
Observe the heading text `"Search by Language and Basic Properties"` in the Gloss List View template code (master branch):

https://github.com/Signbank/Global-signbank/blob/e590a23c03a796a2094acc047fd66c39be2027bf/signbank/dictionary/templates/dictionary/admin_gloss_list.html#L471

This should be translated to whatever language is set. But this is not being done on Global.

[2022-05-09 11:59] susanodd commented on #741
This issue has been subsumed by #746.

[2022-05-09 12:13] susanodd commented on #762
Here's the semantic field multiselect shown on glosses in tstMH, with a search on '`Cooking`' (on Global).

![search_semantic_field_cooking](https://user-images.githubusercontent.com/24272544/167407319-90fd9457-198d-427f-ba33-396e24d5238d.png)

![gloss_tstmh_snijden_cooking_fruit](https://user-images.githubusercontent.com/24272544/167407359-06098ebb-e181-4258-bcf9-2edbc6697712.png)

![gloss_tstmh_

[2022-05-09 12:19] susanodd commented on #746
The majority of changes have been made.
Those that remain are

- verbose names in models.py (requires migration), and
- some lengthy labels in search forms (as shown above).

Aside from those, this has been pushed to branch `title_caps`.

[2022-05-11 14:58] ocrasborn commented on #623
yes, indeed @susanodd

[2022-05-12 11:50] susanodd commented on #623
This has been fixed and pushed to branch `group_editor_change_dataset`.

[2022-05-13 10:27] susanodd commented on #728
This is working on Global. Perhaps it can be closed?

[2022-05-13 10:33] susanodd commented on #703
I'm looking to see what issues still need attending to.
This one hasn't been posted to for a while.
Related to this issue, there are some translation files that are apparently missing on lightning.
See the screenshots in #746. (Yes, it's about capitalisation, but while checking things I noticed some things were translated on my local server, but not on Global. Translations that used to show up.)
h

[2022-05-13 10:39] susanodd commented on #648
![extend_expiry_user_profile](https://user-images.githubusercontent.com/24272544/168266848-0cf30910-6495-4a0d-b4ef-53c53e414cd7.png)

[2022-05-13 10:47] susanodd commented on #703
There are quite a few of these non-trans texts in the Feedback section.

[2022-05-13 11:40] susanodd commented on #648
Okay, this is what it looks like now, the form is a post form now so the parameters don't show in case of an extension.
This is before and after.
The button shows up if the users account is within 60 days of expiration, clicking the button extends it by 6 months.

![extend_expiry_button](https://user-images.githubusercontent.com/24272544/168275787-b8697c2d-0969-44a3-8d6c-f3489db677a5.png)

![user_

[2022-05-13 12:10] susanodd commented on #648
This has been pushed to branch `extend_expiry`.

[2022-05-13 12:21] susanodd commented on #242
This issue is subsumed by #762. It can be closed.

[2022-05-13 12:32] susanodd commented on #703
@Woseseltops how extensive should the translations be, for example something like "Error" ?
Occasionally, there are some very long paragraphs.

[2022-05-18 11:06] susanodd commented on #703
The Feedback text has been enclosed in trans directives.
This has been pushed to branch `title_caps`.
Additionally test for the existence of a previously uploaded video Feedback has been added.
This checks that the file also exists in the location:
 https://github.com/Signbank/Global-signbank/blob/cbfe53d2b452a88068a7649e6e436f70ed906228/signbank/settings/server_specific/default.py#L11

[2022-05-18 11:23] susanodd commented on #799
What is the relation of this issue to #717 ?

[2022-05-18 11:37] susanodd commented on #717
I'll see about adding that last overwritten line to the new code.

[2022-05-18 12:24] susanodd commented on #717
Okay, that successfully determines that a video has been overwritten.
Do we want this in the table? (See #799)

[2022-05-18 12:26] susanodd commented on #717
@Woseseltops what's the status of the live server compared to the master? The import_videos are on the master branch.

[2022-05-19 14:14] susanodd commented on #761
@ocrasborn identified an error with the delimiter not being recognised in the Header of Apple (Numbers) files.
This has been repaired for Import CSV Update.
The file wasn't exactly a Numbers file, but on MacOS, the OS recognised the file as being a Numbers file for some reason.

[2022-05-20 10:25] susanodd commented on #703
I read through the wiki section on translation.
I have resolved most of the fuzzy text in the NL po file.
The four remaining are all "patterns" for plurals.

[2022-05-20 10:52] Woseseltops commented on #703
Can you give me an example of where you are in doubt, @susanodd ?

[2022-05-20 10:55] susanodd commented on #703
https://github.com/Signbank/Global-signbank/blob/cbfe53d2b452a88068a7649e6e436f70ed906228/signbank/dictionary/templates/dictionary/import_media.html#L57

[2022-05-20 10:56] Woseseltops commented on #803
For completeness, in the latest deploy I noticed this gave an error, still need to investigate

[2022-05-20 10:57] susanodd commented on #703
https://github.com/Signbank/Global-signbank/blob/cbfe53d2b452a88068a7649e6e436f70ed906228/signbank/dictionary/views.py#L582-L583

[2022-05-20 10:59] Woseseltops commented on #703
I would go for yes, make that translatable as well... Any arguments for why not do it? Just to be clear: it's not to up to us to actually provide the translation ;) .

[2022-05-20 10:59] susanodd commented on #703
I left some things untranslated because they ended up "code" instead of string.
Others I modified the code to translate message texts using _( ) and using messages.
But this strategy didn't match well with accumulated lists of "feedback".

[2022-05-20 11:00] susanodd commented on #703
The _( ) things can't be embedded in a list.
I probably need to create a template or resolve it in a different way.

[2022-05-20 11:23] Woseseltops commented on #648
Already reviewed the code @susanodd , but shouldn't we wait until @ocrasborn agrees before we push this to master?

[2022-05-20 11:26] Woseseltops commented on #807
Up to you, @susanodd , but I personally would not have made a pull request for this, as these are not the kind of changes that are hard to reverse, bug prone, or might slow others down in the future (which is what we try to prevent with code reviews). :)

[2022-05-20 11:31] susanodd commented on #648
Probably. Although this issue was opened in April 2020.
I kind of think it's less cumbersome like this, since otherwise there will be more email being sent.
(See #623 about putting them in Group Editor.)

[2022-05-20 11:33] susanodd commented on #807
Oh, you mean just put on master?

[2022-05-20 11:37] susanodd commented on #648
@ocrasborn what is your view on this? See screenshots above showing the button.

[2022-05-20 12:21] susanodd commented on #703
I'm busy working on this "other way to resolve". It's so annoying!

[2022-05-20 13:22] susanodd commented on #769
@Woseseltops does this seem to be working now?

I'm working on #703 right now and I've come across two "stub" functions for corpus frequencies.
(They basically only call other functions.)
These include many untranslated texts.

https://github.com/Signbank/Global-signbank/blob/5a6317b04d92838886cd15ebbcf699e816147b73/signbank/dictionary/views.py#L2581

https://github.com/Signbank/Global-signbank/bl

[2022-05-20 13:40] susanodd commented on #703
I made a new template for `configure_handshapes` in order to resolve its translations!!

That leaves two functions for configuring that pass untranslated html as a response.
See confusion in #736
https://github.com/Signbank/Global-signbank/issues/769#issuecomment-1132896117

[2022-05-23 08:09] susanodd commented on #769
I determined that these two functions are not being used anymore.
Issue #703 is deleting these functions rather than creating translations in templates, since the code isn't being used.

[2022-05-23 08:14] susanodd commented on #703
I've deleted some functions and their corresponding urls that are not being used anymore, rather than create templates for unused code in order to get translations.

https://github.com/Signbank/Global-signbank/blob/5a6317b04d92838886cd15ebbcf699e816147b73/signbank/dictionary/urls.py#L84
https://github.com/Signbank/Global-signbank/blob/5a6317b04d92838886cd15ebbcf699e816147b73/signbank/dictionary/ur

[2022-05-23 10:24] susanodd commented on #703
I'm making significant improvements to the code in order to add translation to all of the error checking.
As part of the translation, many of the guards have been improved to include elegant rendering to the warning.html template, with the translated error message, rather than just clumsy Http404.
(Inspired by the code review of @Woseseltops for expiry datum.)

[2022-05-23 14:19] vanlummelhuizen commented on #784
@ocrasborn Is this still an issue? As @Woseseltops pointed out, you should not use github.com in your url. Instead, use https://signbank.cls.ru.nl.

The term 'lexicon service' is the term I use in the Elan extension code because this extension is not limited to Signbank.

[2022-05-25 11:46] susanodd commented on #703
The last one above I pushed to master since it's only the .po file for Dutch.

[2022-05-25 12:04] susanodd commented on #648
This issue is waiting for approval from @ocrasborn for the new "automated" extend expiry button, which avoids deferring to the Admin.

[2022-05-25 12:44] susanodd commented on #703
One thing that hasn't been resolved is the `bootstrap3_title` texts in the templates. (The browser window headers.)

[2022-05-30 08:43] susanodd commented on #648
@ocrasborn approved this when I asked him in real life.

[2022-05-30 09:24] susanodd commented on #703
The web page titles are now translatable. This has been pushed to branch `title_caps`.

[2022-05-30 09:34] susanodd commented on #703
In modifying the bootstrap title headings to be translated, one page remains, unused_videos.html
The python behind this template has some bugs in it and I'm fixing this.

[2022-05-31 09:41] susanodd commented on #769
@ocrasborn sent me the error log so I could see what the problem is.
I'm revising the code so it works properly with the cron job invocation as its written.

[2022-05-31 09:55] susanodd commented on #761
I'm not sure whether this is live yet. It's merged into the master branch.
@ocrasborn can you try your csv update file again that was causing problems?

[2022-05-31 10:19] susanodd commented on #703
I forgot to include this screenshot above. This is for get_unused_videos. I revised it to be a table, and it includes translations for the text now.

![get_unused_videos_display](https://user-images.githubusercontent.com/24272544/171151594-ed490d68-c41c-456c-bc74-5a9928fca07a.png)

[2022-05-31 10:48] susanodd commented on #769
The function called by the cron job for frequency counts has been repaired.

[2022-05-31 11:08] susanodd commented on #769
I ran the tests and fixed a bug in the CRUD tests with keywords. Now the tests only generate the long existing failure with the settings files.
https://github.com/Signbank/Global-signbank/blob/e9fc1ded695003f5113484c85efcf1bfb01d3407/signbank/dictionary/tests.py#L2401

[2022-05-31 11:12] susanodd commented on #769
I pushed this onto the master branch.
The code has been checked with the develop.py call of the function on my local server with the entire NGT folder, with subfolders of eaf files.

[2022-05-31 13:04] susanodd commented on #724
Okay, I sucessfully deployed the newest master branch.
I revised the tests, but only got rid of 2 of the failures.
There remain 3 failures.
One is the Settings test. (This also fails on my local server.)
One is the Documents, as shown above, because the create_test_db has not been applied.
The other is something to do with field choice lists. (There is a failure because one list has a length of ze

[2022-05-31 13:06] susanodd commented on #724
One thing that is not working are the translations.
I successfully compiled them for NL. But they are not showing up on the Global website.
Does it need to be restarted?
I followed the instructions in the wiki and also touched the ini file.
This is slightly annoying because they work on my local server.

[2022-06-01 09:36] susanodd commented on #769
This no longer generates an error.

[2022-06-01 09:38] susanodd commented on #703
I followed the instructions in the wiki to makemessages for NL.
Yykes! There are 246 fuzzy translations!!!

[2022-06-01 09:42] susanodd commented on #703
Baah. This is too hilarious. Look at what Django automatically does:

`#: signbank/dictionary/templates/dictionary/admin_lemma_list.html:111`
`#, fuzzy`
`#| msgid "Search morpheme"`
`msgid "Search Lemma"`
`msgstr "Zoek morfeem"`

[2022-06-01 11:13] vanlummelhuizen commented on #769
@susanodd So this issue can be closed?

[2022-06-01 11:21] vanlummelhuizen commented on #724
`trans` seem the correct one for Django 1.11: https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#trans-template-tag

For Django 1.11 it seems the default is a list: https://docs.djangoproject.com/en/1.11/ref/settings/#locale-paths

[2022-06-01 13:12] ocrasborn opened #816 "Add tab 'List view' in detail view to go back to the search results"
Or alternatively, create a button to go back to the search result list -- if any was generated to get to this sign, of course. (Now users have to use their browser buttons to go back if they don't want to recompose the search, but just going back page by page often means they are first sent back to the edit view of the sign, which confuses them: am I undoing what I just edited?! A separate functio

[2022-06-01 14:40] susanodd commented on #703
I repaired all the fuzzy translations and otherwise prepared the newly generated 'po' file for NL.
It compiles okay and provides (NL) translation strings for all the newly translated texts in this issue / branch.

[2022-06-01 15:08] susanodd commented on #724
Does the test database need to be generated separately from the deploy script?

[2022-06-02 05:09] susanodd commented on #769
Yes, this can be closed. :)

[2022-06-02 05:21] susanodd commented on #801
This is live now.

[2022-06-02 05:21] #801 closed

[2022-06-02 05:22] #769 closed

[2022-06-02 05:24] susanodd commented on #761
This is live now.

[2022-06-02 05:24] #761 closed

[2022-06-02 05:25] susanodd commented on #807
This is live now.

[2022-06-02 05:25] #807 closed

[2022-06-02 05:26] susanodd commented on #648
This is live now.

[2022-06-02 05:26] #648 closed

[2022-06-02 05:27] susanodd commented on #803
It still gives an error.

[2022-06-02 05:29] susanodd commented on #741
The capitalisation has been included in #703.

[2022-06-02 05:29] #741 closed

[2022-06-02 05:31] susanodd commented on #492
This has been awaiting in a pull request for quite a while.

[2022-06-02 05:32] susanodd commented on #800
This has been awaiting in a pull request for quite a while.

[2022-06-02 09:13] susanodd commented on #724
Success! The translations weren't visible because I hadn't restarted Global.

[2022-06-02 09:55] susanodd commented on #803
This is the text in the deploy log about the scripts:

`ERROR: File "setup.py" not found for legacy project CNGT-scripts from git+https://github.com/vanlummelhuizen/CNGT-scripts@master#egg=CNGT-scripts (from -r /var/www/repo/requirements.txt (line 17)).`

That seems to be the only thing.

[2022-06-02 09:56] susanodd commented on #724
There's a new test database now.

[2022-06-02 10:28] susanodd commented on #724
Awesome! I just deployed all the newest translations!

Now the only thing is the tests. Some tests fail because they no longer match the feedback strings on the site because the of revised messages for translations.

[2022-06-02 11:11] susanodd commented on #800
This is live now!

[2022-06-02 11:13] susanodd commented on #492
This is live now.

[2022-06-02 11:14] #492 closed

[2022-06-02 11:15] susanodd commented on #623
This is live now.

[2022-06-02 11:19] susanodd commented on #752
This is live.
The Hyperlink download button for CSV is before the two columns for EAF.
Perhaps the headers are not clear because the Metadata header has CSV in it?

[2022-06-02 11:20] susanodd commented on #780
This is live now.

[2022-06-02 11:21] #780 closed

[2022-06-02 11:21] susanodd commented on #781
This is live now.

[2022-06-02 11:21] #781 closed

[2022-06-02 11:23] susanodd commented on #793
This is also supported in the cron job.

[2022-06-02 11:25] susanodd commented on #760
This is live now.

[2022-06-02 11:34] susanodd commented on #703
These are live now!!

[2022-06-02 11:37] susanodd commented on #746
This is live now.

[2022-06-02 11:40] susanodd commented on #756
The cron job now works on the uploaded eaf files.
This supports the submaps too.

[2022-06-02 11:43] susanodd commented on #756
Hmm. On the corpus overview page for tstMH clicking on the button to refresh a document seems to go to a wrong address as viewed in the Network debug panel of the browser.

[2022-06-02 13:38] susanodd commented on #724
Okay, we're down to one test failure and one error arising during a test.
--- Failure in `test_Settings`:
https://github.com/Signbank/Global-signbank/blob/fab1b69bcc1a9a618599b3c6f331a1e2516ee2c2/signbank/dictionary/tests.py#L2460

`AssertionError: Lists differ: ['MODELTRANSLATION_LANGUAGES', 'SWITCH_TO_MYSQL'] != []`

--- And one error during `test_DatasetListView_ECV_export_permission_change_dat

[2022-06-03 08:21] #800 closed

[2022-06-03 08:22] #760 closed

[2022-06-03 08:23] #793 closed

[2022-06-03 08:26] susanodd commented on #799
This is live now. It will be aborbed by issue #717 to add additional feedback.

[2022-06-03 08:26] #799 closed

[2022-06-03 08:30] susanodd commented on #788
This works correctly on the live server.

[2022-06-03 08:30] #788 closed

[2022-06-03 08:33] susanodd commented on #728
I checked it again and it's still working okay.

[2022-06-03 08:33] #728 closed

[2022-06-03 08:34] susanodd commented on #623
This is live.

[2022-06-03 08:34] #623 closed

[2022-06-03 08:37] susanodd commented on #726
This is live.

[2022-06-03 08:37] #726 closed

[2022-06-03 08:38] susanodd commented on #727
This is live.

[2022-06-03 08:38] #727 closed

[2022-06-03 08:51] susanodd commented on #242
This issue is live.

As described in #762, making the semantic field be multi-select entailed making a new class to support this.
As part of this, semantic fields are now visible in a pull-down menu under Settings.
`https://signbank.cls.ru.nl/dictionary/semanticfields/`
Here you see the (original) translations (obtained from Field Choice) but stored as to be associated with their semantic field ob

[2022-06-03 08:54] susanodd commented on #762
This is live.

[2022-06-03 13:54] susanodd commented on #717
The overwritten information has been added to the table next to Success if the video was successfully copied.

![feedback-import-videos-overwritten](https://user-images.githubusercontent.com/24272544/171868004-4468d9c8-152a-40d8-bccc-87b0e5e377b3.png)

[2022-06-03 14:05] susanodd commented on #717
This is live.

[2022-06-04 06:50] susanodd commented on #394
Is this still a bug?

[2022-06-04 06:59] susanodd commented on #724
The test error related to the failed attempt to rename a video path (see previous comment directly above this one), I suspect it's related to this:

https://github.com/Signbank/Global-signbank/commit/791cf981bb1d43461bdbeac8a35707ed6d5267e4

https://github.com/Signbank/Global-signbank/blob/791cf981bb1d43461bdbeac8a35707ed6d5267e4/signbank/video/models.py#L380

https://github.com/Signbank/Global-si

[2022-06-04 07:02] susanodd commented on #724
On the master branch, that is set to True:

https://github.com/Signbank/Global-signbank/blob/d20d2adcda09095b7e21a72d8b03477058d94674/signbank/video/models.py#L380

https://github.com/Signbank/Global-signbank/blob/d20d2adcda09095b7e21a72d8b03477058d94674/signbank/video/models.py#L460

[2022-06-04 07:06] susanodd commented on #724
On my local server I hardly have any videos stored, so testing doesn't generate that error. But it used to, hence there was once a pull request for that setting, which was never merged because it couldn't be shown why it was needed.

[2022-06-07 07:38] ocrasborn opened #818 "Videos not displayed"
Most if not all videos for NGT are not displayed -- perhaps also other datasets? I see on the server that most have been moved to temp_NGT, which must be the cause. (Why?!)

[2022-06-07 08:01] susanodd commented on #818
Oh, this has to do with a failed test probably.

[2022-06-07 08:15] susanodd commented on #818
I moved them back to NGT.

[2022-06-07 08:32] susanodd commented on #818
I moved the image folders back too.

[2022-06-07 08:50] susanodd commented on #818
I'm not entirely sure how to best solve this problem.
The safest solution to prevent it from happening is to turn this off
https://github.com/Signbank/Global-signbank/blob/d20d2adcda09095b7e21a72d8b03477058d94674/signbank/video/models.py#L494

[2022-06-07 10:09] ocrasborn commented on #818
Not sure whether this is related or not, but recently uploaded videos disappeared after a day or two, an assistant noticed. When we uploaded a test video to replicate this, I did notice it had different file permissions. Check out PUBER-A-2799.MP4, for instance, uploaded on June 1 through the interface.

[2022-06-07 11:07] susanodd commented on #818
Yes, I see it has totally different permissions!

`-rw-r--r-- 1 ubuntu signbank-writable 1877285 Jun  1 13:01 PUBER-A-2799.MP4`

[2022-06-07 13:05] susanodd commented on #724
Now the only test error is for `test_Settings`

[2022-06-08 09:29] susanodd opened #819 "Publication Status Booleans of Detail View not showing correctly in Revision History"

[2022-06-08 11:56] susanodd commented on #819
The (historical) Boolean values stored in GlossRevision are human-readable translated values.

[2022-06-08 12:51] susanodd commented on #819
A bug was encountered with a variable not being set in the Boolean publication fields. This caused an empty string to be saved as an old value.

[2022-06-08 14:42] susanodd commented on #724
I modified the Admin to allow removal of field choices with duplicate machine values.

That was one of the errors being generated in the tests:

`Duplicate machine value for  Location :  [('Location', '2', 'Neutral space > head'), ('Location', '2', 'Bottom')]`

[2022-06-08 14:55] susanodd commented on #724
Now there's only the one machine_value 2 for Location and delete isn't offered because it's in use.

![field_choice_location_no_duplicate](https://user-images.githubusercontent.com/24272544/172648723-5deb6c9d-e66a-4696-a685-5129c56dcf3e.png)

[2022-06-08 14:56] susanodd commented on #724
I generated a new test database so the test that was generating the message about the duplicate runs fine now.

[2022-06-08 14:57] #819 closed

[2022-06-08 16:18] ocrasborn opened #820 "The password reset link doesn't seem to send out emails anymore"
...reported a tech-savvy user

[2022-06-09 08:27] susanodd commented on #818
@ocrasborn were the videos that originally went missing also in NGT?
That video for PUBER-A hasn't got a still image from the video.

[2022-06-09 08:43] susanodd commented on #818
I used the dictionary/get_unused_videos to see if there is anything else for PUBER-A.
There are only two .bak files.

There numerous .bak files.

Perhaps a similar command for images would be of use.

I tried to see if the missing files are visible as being unused. I selected all the datasets, but there don't seem to be any weird locations.
Perhaps the command should also look for "non-dataset" fo

[2022-06-09 11:40] susanodd commented on #818
The folder writable/tmp is used to store the "extract middle frame" temp files.
It appears it leaves behind a folder with the name of the gloss.
Here you can see remnants of what has been uploaded in the form of a folder name like this:
writable/tmp/PUBER-A-2799.MP4-frames
This is empty, of course.

[2022-06-09 11:44] susanodd commented on #818
The folder writable/othermedia has some files uploaded on Jun 1:

`-rw-r--r-- 1 ubuntu signbank-writable   345930 Jun  1 09:01 OVERMORGEN_MM.mp4`
`-rw-r--r-- 1 ubuntu signbank-writable 32268931 Jun  1 09:01 OVERMORGEN_ZM.mov`
`-rw-r--r-- 1 ubuntu signbank-writable   275555 Jun  1 09:15 PAN_MM_2.mp4`
`-rw-r--r-- 1 ubuntu signbank-writable 28913036 Jun  1 09:15 PAN_ZM_2.mov`
`-rw-r--r-- 1 ubuntu sig

[2022-06-09 11:46] susanodd commented on #818
The first two are here under other media:
https://signbank.cls.ru.nl/dictionary/gloss/1116/

[2022-06-09 11:48] susanodd commented on #818
writable/othermedia maintains folders with the gloss id which contain its media files.
These folders were changed on Jun 1:
`drwxr-sr-x 2 ubuntu signbank-writable  4 Jun  1 09:01 1116`
`drwxr-sr-x 2 ubuntu signbank-writable  4 Jun  1 09:15 1189`
`drwxr-sr-x 2 ubuntu signbank-writable  4 Jun  1 09:34 1340`
`drwxr-sr-x 2 ubuntu signbank-writable  4 Jun  1 09:55 1483`
`drwxr-sr-x 2 ubuntu signbank-wr

[2022-06-09 11:50] susanodd commented on #818
@ocrasborn can you check if these are the missing videos?
If so, they were uploaded to Other Media for the respective glosses.

[2022-06-12 12:17] ocrasborn opened #821 "Cannot set a name for a new 'sign language'"
When creating a new dataset, I have the option of adding a sign language (the one that I need for the new dataset). The create-sign language page I then go to does not enable me to specify the Name of the language. There are now three languages without a name (one being a duplicate of one of the other two). In the admin, I cannot edit Sign Languages at all, so there I cannot correct it either. To

[2022-06-12 12:41] #242 closed

[2022-06-12 12:43] #746 closed

[2022-06-12 12:45] ocrasborn commented on #752
Thanks @susanodd ; I think the headers are fine like this, explaining users what is what will be something we take up in the manual.

[2022-06-12 13:05] #752 closed

[2022-06-12 13:12] ocrasborn commented on #821
Ah, this may be a bigger issue: I can also not change the text fields in the admin for page Release Notes! I'm upping the urgency to blocking! :-)

[2022-06-12 13:14] #764 closed

[2022-06-12 13:15] #777 closed

[2022-06-13 07:31] susanodd commented on #394
I fixed a test that was causing an error regarding moving files. #724

As I recall this issue is related to changing the annotation so that its first two characters become different than the subfolder in which it was stored.

[2022-06-14 10:03] vanlummelhuizen commented on #820
I just did a complete round trip to test whether anything is broken. All went as expected. So at the moment there is no problem. Closing this issue now.

[2022-06-14 10:03] #820 closed

[2022-06-14 11:51] #498 closed

[2022-06-14 11:56] ocrasborn commented on #612
@Woseseltops , that would be great! :-)

[2022-06-14 12:10] ocrasborn commented on #765
We seem to have this problem for Global SB, too, now, @Woseseltops

[2022-06-14 12:35] ocrasborn commented on #820
ooph! good to see that @vanlummelhuizen :-)

[2022-06-15 07:17] vanlummelhuizen commented on #821
@susanodd Are you working on this yet? I found that removing `'name'` from https://github.com/Signbank/Global-signbank/blob/4cff04a9b315414d2c4f5c98affecc6bed4f9df4/signbank/dictionary/admin.py#L622 solves the issue of the SignLanguage name.

[2022-06-15 08:11] susanodd commented on #821
I've been working on #816 still. That's taking longer.

[2022-06-15 08:51] vanlummelhuizen commented on #821
@ocrasborn I have added the name field for SignLanguage in the admin.

[2022-06-15 08:53] susanodd commented on #816
I noticed while working on this that the code keeping track of all the search parameters is extremely lengthy.
I've made a data structure to save the ones that are filled in while going through the parsing.
I'll try to improve this code. It looks like we just kept adding additional if-constructs as new things were added.
Perhaps this will combine with #34 .

[2022-06-15 11:17] vanlummelhuizen commented on #803
@Woseseltops As I also emailed you, I have turned the CNGT-scripts repo into a Python package: https://github.com/vanlummelhuizen/CNGT-scripts/tree/packaging. It could be installed in a Signbank instance with `pip install git+https://github.com/vanlummelhuizen/CNGT-scripts@packaging#egg=CNGT_scripts` (and change it in `requirements.txt`). Any restrictions on when to do this?

[2022-06-15 11:36] vanlummelhuizen commented on #743
@Woseseltops @susanodd Downloading a minimal-pairs csv for NGT does not result in an error or timeout anymore. Can we close this issue?

[2022-06-15 11:44] vanlummelhuizen commented on #717
@ocrasborn Satisfied?

[2022-06-15 12:07] vanlummelhuizen commented on #621
@ocrasborn I cannot find any email with a zip in my email. What do we do with this issue?

[2022-06-15 12:28] vanlummelhuizen commented on #724
@Woseseltops About the deploy script, we should also include `collectstatic` I guess. Agreed?

[2022-06-15 14:04] vanlummelhuizen commented on #724
Perhaps take a look at https://docs.djangoproject.com/en/1.11/howto/deployment/checklist/

[2022-06-15 15:32] susanodd commented on #803
Great, @vanlummelhuizen !

[2022-06-16 07:35] #743 closed

[2022-06-16 12:01] ocrasborn commented on #821
Thanks @vanlummelhuizen, I was able to edit that field again :-)

[2022-06-16 12:01] #821 closed

[2022-06-16 12:07] ocrasborn commented on #621
Coming up shortly in your inbox @vanlummelhuizen !

[2022-06-16 12:13] ocrasborn commented on #717
yes, great, that's really helpful for me @susanodd @vanlummelhuizen @Woseseltops !

[2022-06-16 12:13] #717 closed

[2022-06-17 10:35] susanodd commented on #816
I've added the current query parameters to the top of the "query results list view".
The results shown below the parameters are those of the search_results horizontal bar.
The results are just links to the other glosses. Other information could be shown in the list.
Next is to add a link to go to the query page.
At the moment, I've made several helper functions, several for pretty printing the que

[2022-06-20 08:46] vanlummelhuizen opened #822 "Setup automated backups on Lightning"

[2022-06-20 11:21] vanlummelhuizen commented on #803
Just put this thing live. Seems to work. Closing this now.

[2022-06-20 11:21] #803 closed

[2022-06-20 12:08] vanlummelhuizen commented on #789
Fixed. `signbank/settings/server_specific/server_specific.py` is now a copied and altered version of the Global Signbank settings file.

[2022-06-20 12:08] #789 closed, assigned to nobody

[2022-06-20 12:25] vanlummelhuizen commented on #822
@Woseseltops

Proposal:
1. `scp`  the database from the Signbank container to Applejack, let's say around 3 am.
2. At around 4 am run a script on Applejack to prune the backups to our liking.

Both can be done as a cronjob. The only issue I can think of is what account to use for both.

[2022-06-21 12:00] susanodd commented on #816
It's working now!

Here is the List View showing the parameters and results and a button Run Query.
The button goes back to the Gloss Search page with those parameters filled in.

![query-k-1_curved-chin-nose](https://user-images.githubusercontent.com/24272544/174793890-aea5e2d1-e884-48e0-bff8-ada962fea030.png)

![run_query_search_parameters](https://user-images.githubusercontent.com/24272544/1747

[2022-06-21 12:23] susanodd commented on #816
Oh, the Values of the query parameter Fields are merely shown blue if they are multiple select fields.
It looked a bit weird in a list because they are independent.
At the moment, the query parameters are done with a session variable.
A new url parameter "query" has been added when going back to the Gloss Search List View.
This is needed in order to make it unambiguous as to whether this is a prev

[2022-06-21 13:13] susanodd commented on #816
I think this is quite exciting to use!

![query_m_1_neutralspace_repeat](https://user-images.githubusercontent.com/24272544/174807569-bfc86e5c-ffb3-4e46-901c-93f76a84bcd5.png)

[2022-06-22 16:11] susanodd commented on #816
I pushed this to branch list_view but forgot the hash tag in the commit comment.

[2022-06-23 06:49] vanlummelhuizen commented on #822
@ocrasborn That were emails from the old instance. They were useless because nothing changed since the move to Lightning. Do you still want to receive email logs?

[2022-06-23 07:01] ocrasborn commented on #822
yes, please @vanlummelhuizen

[2022-06-23 14:17] susanodd commented on #816
I've accounted for all of the GlossSearchForm query parameters in the query_parameters dictionary that is passed around as a session variable. This is used to pass information to the List View shown above, and to re-query using the same parameters.

[2022-06-24 08:36] susanodd commented on #816
![search-gloss-morpheme-tag](https://user-images.githubusercontent.com/24272544/175497330-e1fb83b7-d9f4-47b3-a35d-6557a5cdfed0.png)

![query-view-tag-gloss-with-morpheme](https://user-images.githubusercontent.com/24272544/175497362-d78ee490-d57e-469e-a842-b546f20a05a6.png)

[2022-06-24 08:48] susanodd commented on #816
In the GlossSearchForm, multiselected Tags are **AND**-ed (this is also the case on Global Live).
Here's what it looks like in the new Query View, first the search, followed by the Query View of the result gloss, followed by the Search form with the same fields filled in. (NOTE: These are on my local server where I've added tags for testing things.)

![search-radboud-sign-check-phonology](https://

[2022-06-24 08:50] susanodd commented on #816
![two-tags-query](https://user-images.githubusercontent.com/24272544/175499891-888f58ad-64f2-4955-9052-b6b6763d688b.png)

[2022-06-24 11:22] Woseseltops commented on #822
Looks an okay to me @vanlummelhuizen . I like the pruning solution `cometbackup` we use on Applejack, which has a config file like this:

[code]

[2022-06-24 11:28] Woseseltops commented on #724
Hey @vanlummelhuizen , I think this is a case of 'baat het niet dan schaadt het niet', but from the documentation you provided it is not clear to me what actual use case you have in mind?

[2022-06-24 15:52] ocrasborn commented on #816
Hi @susanodd , I love the clear overview of query parameters, very helpful for the user! With 'list view', I was thinking of the display like the user initially sees in the list of search results, so the multi-column view showing some of the phonology as well. Could you duplicate that display here for the present display of what's under 'glosses matching query'? See screen shot below:

<img width=

[2022-06-27 14:09] vanlummelhuizen commented on #724
@Woseseltops Are we talking about the `collectstatic` thing or the  deployment-checklist?

If about `collectstatic`, when deploying things with assets like images, css or javascript they should be in the static root, unless you have DEBUG set to... oh wait...

If about deployment set up, in general I find it refreshing to visit the Django docs once in a while. In this particular case it mentions s

[2022-06-28 08:13] vanlummelhuizen commented on #822
I though to be clever and tried to make the writable folder accessible from Lightning. Unfortunately, a symbolic link in the shared folder to the writable folder or copying the writable folder to the shared folder and symlinking to there both did not work.

[2022-06-28 09:27] susanodd commented on #816
![buttermilk_list_view_matching_query](https://user-images.githubusercontent.com/24272544/176144518-be7a8cc8-b217-43c8-a42a-264526ef6683.png)

[2022-06-28 10:54] susanodd commented on #696
I implemented the Semantic Fields in such a way that translations can be added in the Admin.
I just checked and they may be added on the page for the specific semantic field. The English name is the "name" of the field.
The other languages are all translations.
I have yet to actually display the translations in the templates depending on the interface.
At the moment, they are only visible under Se

[2022-06-28 10:58] susanodd commented on #696
The page titles are all in the .po files.

[2022-06-28 11:23] susanodd commented on #696
There are numerous texts that appear in "trans" blocks within the templates. These also appear for translation in the .po file.

I see what you mean, if you look at` /about/acknowledgements/` versus `/feedback/overview`

The feedback pages all have the translations that appear in the templates in the .po file.
In Admin, it shows the url to the template in the window.
Whereas the acknowledgements p

[2022-06-28 11:50] susanodd commented on #696
Shall I generate new .po files for the other languages?

In looking up what the difference was in the Admin pages versus the templates, I noticed I had forgot the trans blocks in the bootstrap titles for the Feedback pages. #703.

[2022-06-29 08:09] susanodd commented on #696
The page content that shows up in the Admin is actually (hard-coded) fields in the Page model.

https://github.com/Signbank/Global-signbank/blob/5c654c984fe1ba12b116e2be0c18faea47b5110c/signbank/pages/models.py#L9-L18

Do we want all the languages hard-coded in Pages?

[2022-06-29 08:20] vanlummelhuizen commented on #822
I changed this to `scp`-ing the database directly from `writable/database` in the container to the new folder in the backup folder.

[2022-06-29 08:50] ocrasborn opened #825 "Revise 'Add new sign' page"
[nog uitwerken, Onno]

[2022-06-30 07:01] vanlummelhuizen commented on #822
- [x] Do the same for all other things that needs to be backed up
- [x] Put pruning in place

Seems to work as expected.

[2022-06-30 07:01] #822 closed

[2022-06-30 10:05] susanodd opened #826 "Unused Code"
In this issue we point out possible unused code.

[2022-06-30 10:07] susanodd commented on #826
https://github.com/Signbank/Global-signbank/blob/5c654c984fe1ba12b116e2be0c18faea47b5110c/signbank/dictionary/adminviews.py#L951-L963

https://github.com/Signbank/Global-signbank/blob/5c654c984fe1ba12b116e2be0c18faea47b5110c/signbank/dictionary/adminviews.py#L2296-L2308

[2022-06-30 10:11] susanodd commented on #826
https://github.com/Signbank/Global-signbank/blob/5c654c984fe1ba12b116e2be0c18faea47b5110c/signbank/registration/models.py#L239-L306

[2022-06-30 10:13] susanodd commented on #826
https://github.com/Signbank/Global-signbank/blob/5c654c984fe1ba12b116e2be0c18faea47b5110c/signbank/dictionary/views.py#L72-L113

[2022-06-30 14:55] susanodd commented on #696
I went ahead and added to two languages to the Pages model. It's just (language specific) fields for the title and content.
I modified the context processor so if either of these are empty, it serves up the English.
Because pages are separate from the dictionary, this migration is under the pages folder. The scope of these changes is thus limited.

[2022-06-30 14:55] susanodd commented on #696
![admin-pages-other-languages](https://user-images.githubusercontent.com/24272544/176709457-5c539e7a-8a4c-4387-8629-3d1b72285edd.png)

[2022-07-01 09:59] Woseseltops commented on #822
For completeness, I just discovered this https://cls.ru.nl/tsg-wiki/doku.php?id=backups, written by me in 2019

[2022-07-01 11:13] susanodd commented on #661
Related to #658.
@vanlummelhuizen I've started merging your branch `fieldchoice_field_translations_658_661` by hand.
First I created a duplicate of your branch called `fieldchoice_field_translations`.
On this branch, I've "inserted" the newer migrations (on master) in sequence to appear "before" your migrations.
Basically renumbering, renaming, and changing the dependencies, in order to have your

[2022-07-01 14:44] susanodd commented on #661
This is a bit difficult to apply the migrations to the current database. It would seem that the numerous migrations were during development, so the most recent (branch) `models.py` file is actually missing some of the fields referred to in the earlier migrations.
I'm working on putting the migrations together in a different way. It looks like the "computations" for filling the new fields might nee

[2022-07-01 15:06] Woseseltops commented on #816
I'm reviewing the work on this issue, and my first step is to understand things on a functional level. My first thought is that this solution might solve the direct problem, but might also create some confusion itself, because:

* I would say a tab in the detail view is for information about the gloss itself, while information on the query used to find a gloss  is something on a 'higher level'. Th

[2022-07-01 15:24] susanodd commented on #661
Okay, I've read through all the migrations and looked at the branch's fields and those of master.
Considering all the "mapping from old fields to new fields" it seems like the most efficient way to acheive this when starting with the models on master is to first add the additional fields (as is done in some of the migrations) and then implement a migration function to transfer all the data from th

[2022-07-01 15:27] susanodd commented on #661
So we'll have fields in the models (FieldChoice, Handshape, etc. all the models that use FieldChoice).
So just lots of temp fields added.
The evolve the data from the original fields to the temp fields.
Then write over the original fields with the temp fields.
(This sounds worse than it is. It's fields where a machine_value is currently stored, this becomes a FieldChoice object reference instead.)

[2022-07-01 16:28] susanodd commented on #816
Yes I understand what you're pointing out. It was I guess how I understand what the issue was to do.

If anything, it's really fun to use this feature. It makes it a lot easier to see what you actually filled in for the query itself.
The search for on the gloss list view is very lengthy.

I know that many of the results chosen can end up having nothing to so with the specific gloss.
I starting con

[2022-07-01 16:36] susanodd commented on #816
If you start using this query display, then go back to the search page via Run Query, you see the parameters displayed there again too, so you can modify it by adding more things. Basically refine your query.
Although then you can end up modifying it so that your gloss isn't included any more among the results.
(I can't determine to what extent that would happen as I'm not a signer.)

Is it possib

[2022-07-01 17:01] susanodd commented on #816
It could become a kind of "centric" query.
So if you didn't already do any query, you could give "default" "starter parameters" with fields of this gloss filled in.
(So basically, running the query would find this gloss or glosses with identical phonetics.)
And if from the query starting in the gloss search form, and clicking on a gloss in the results, then if you had queried "created before" and/

[2022-07-01 17:02] susanodd commented on #816
Context-sensistive display of query results.

[2022-07-02 05:13] susanodd opened #828 "Bump Django"

[2022-07-02 05:33] susanodd commented on #658
@vanlummelhuizen is it possible to achieve the transformation from the FC setup as it is on master to your new setup in several phases?

- Add extra classes and fields to support the new setup, but name the classes and fields differently so as to live next to the original.
- Populate the extra classes and fields from the original.
- Rename and swap out the old ones with the new fields.

That's bas

[2022-07-02 05:43] susanodd commented on #658
Does any of the newer Djangos support schema evolution? Your migrations include the mapping functions. But the fields they map over don't exist in a way to apply them now.
I guess this could be done in SQL? Although the new setup also needs objects to be created.
I couldn't figure out how to make use of the schema editor:
https://github.com/Signbank/Global-signbank/blob/1fe11412785c1cfe9316c7724cb

[2022-07-02 05:48] susanodd commented on #658
I made new classes in other issues derived from FC, namely Handshape, SemanticField, and DerivatioHistory.
Those were populated behind the scenes on first encountering that they were empty.
But I left the FC inclusion as it was and made additional code to keep the choices of both formats consistent.

[2022-07-04 00:23] DSRU commented on #784
@ocrasborn @vanlummelhuizen can I check if there is anything we need to do on the newly established https://signbank.nzsl.nz/ end to enable a lexicon connection? When I try to add the above URL as a Signbank lexicon service, I can't click 'next'. Any changes to the url cause an error. ECV is working.

[2022-07-04 11:20] susanodd commented on #658
@vanlummelhuizen :
The new `models.py` file has been modified (`fieldchoice_field_translations` branch) to include both the original fields (`master` branch) and the new fields (`fieldchoice_field_translations_658_661` branch).
This is intended to facilitate migration.
I'll revise the migrations (`fieldchoice_field_translations` branch) to populate the new fields (`fieldchoice_field_translations_6

[2022-07-04 13:59] susanodd commented on #658
On the `fieldchoice_field_translations` branch, I added the `"field choice foreign key`" fields to the models as described above.
In order to generate a new migration, it was necessary to modify the `admin.py` file to correspond that that of master.
(I commented out the "`fieldchoice_field_translations`" lines and used the "`master`" lines.)
Also I needed to modify some things in `forms.py`. Likew

[2022-07-06 10:25] susanodd commented on #816
I've made some revisions in the results display. This is intended to make the results more specific to this gloss.

The Dataset column is hidden if there is only one. The languages and non-empty fields of the focus gloss (this gloss) are shown as buttons to toggle the visibility of the columns.

![query-view-toggle-fields](https://user-images.githubusercontent.com/24272544/177529188-e61c5f54-c33a-

[2022-07-07 08:44] susanodd opened #830 "Search By Panels (consistency, refinement, settings)"
Clean up code.

Some of the Search By Panels in Gloss Search (Gloss List View) make use of Settings in the template (via the `context` dictionary), and others are hard-coded (such as those under **Search by Relation** and **Search by Publication Status and Notes**).

Some of the fields processed by `get_queryset` in the `GlossListView` are present in `GlossSearchForm` but are not actually present

[2022-07-07 12:04] susanodd commented on #816
inching along

![query-view-related-to-foreign-sign-chest-upwards](https://user-images.githubusercontent.com/24272544/177768898-54df30a7-eb1f-4ee6-9e14-3e454100ee82.png)

[2022-07-08 07:46] susanodd commented on #358
I'm working on the Gloss Search in #830.

[2022-07-08 07:48] susanodd commented on #358
I'm working on get_queryset in #816.

[2022-07-08 07:55] susanodd commented on #99
By chance I came across this yesterday in #816. The 'hasvideo' is being processed in get_queryset, but nowhere on the Gloss Search Form Query are you able to enter this.

[2022-07-08 08:25] susanodd commented on #93
See (2) in Issue description.
@Woseseltops what about the link url field wrt to the database?

[2022-07-08 14:10] susanodd commented on #816
In the meantime (please see the screenshots below, then I'll answer you afterwards), I've implemented a refinement to the previous.
(I'll revise it again with your comments.)
I made it so that if the user currently got to the gloss without search parameters (i.e., just press Search without having selected anything in the form, so it shows all the glosses....), it shows the "non-empty" fields of th

[2022-07-08 14:13] susanodd commented on #816
![accidentally-identical-phonology](https://user-images.githubusercontent.com/24272544/178009345-d8453a36-f5f0-4862-9cc6-92f561732038.png)

[2022-07-08 14:16] susanodd commented on #816
@Woseseltops I like your mockup!

Okay, we'll wait until @ocrasborn is back.
Probably the new feature needs to appear someplace else where you can refine your query.
I've been dreaming about this issue while trying to sleep the past days.
It's all the spaghetti I guess.

[2022-07-08 14:34] susanodd commented on #816
Oh, and here's the same Query View once again, after the parameters are set.
The idea is that you can toggle all the various parameters to inspect the results. That's when I started noticing that the Search form didn't match up with what the get_queryset was looking up since some things aren't in the search form.

![query-view-accidentally](https://user-images.githubusercontent.com/24272544/178013

[2022-07-08 14:36] susanodd commented on #816
I'm working on making it more parametric so less excessive and less repetitive and less redundant code, etc. :)

[2022-07-14 14:24] vanlummelhuizen commented on #658
Hi @susanodd Sorry for the late reply. Another project needed my full attention the last few weeks.

I am reading you comments and looking into your commits. My first impression is that you reintroduce some things I tried to get rid of or reintroduced a intermediate step I already did, e.g. having the original fields and foreign-key fields side by side to copy over values (compare my https://githu

[2022-07-14 17:39] susanodd commented on #658
Yes, I re-added the previous fields from your perspective. I made it so I could generate a migration from "current signbank" to your new model. But in order to do that I had to make your fields live along side the other fields, so both formats are existing at the same time. It needs to be that way in order to evolve the rest of the code. So populate "your new fields" as you did before, but don't r

[2022-07-15 08:34] susanodd commented on #658
I wan't able to apply the migrations anymore. Later migrations of yours removed fields and renamed them.
I was wondering if we'd need Django 4.0 in order to use them as they are complicated if applied in succession.
I also had to revise the Admin pages, because things are automatically generated if not specified. I commented out some of your lines there because it didn't like the name_ "language".

[2022-07-15 08:38] susanodd commented on #658
I want to code a specific function to populate your FC fields. But put it in the code, not the migration. (Analogous to how Handshape, SemanticField, DerivationHistory have been done to populate.)
Then just invoke it once. Then gradually start figuring out how to "merge" and let your code be applied instead for the new FCs.

[2022-07-20 12:27] vanlummelhuizen commented on #658
@susanodd

Invoking a function once to populate a (new) model seems to me something where a migration is perfect for. I have done so in

- https://github.com/Signbank/Global-signbank/blob/fieldchoice_field_translations_658_661/signbank/dictionary/migrations/0039_auto_20200910_1020.py
- https://github.com/Signbank/Global-signbank/blob/fieldchoice_field_translations_658_661/signbank/dictionary/migra

[2022-07-20 14:00] susanodd commented on #658
@vanlummelhuizen , yes, that's wise to do it together with @Woseseltops .

I shall study the update file next.

[2022-07-21 08:25] vanlummelhuizen commented on #658
Testing is always a good idea.

The old fieldchoice representation should be gone after the whole procedure. So other than testing whether copying data from the old to the new representation, there are no tests that involve both representation because in the end, there will be only one.

![](https://memegenerator.net/img/instances/43150814.jpg)

See

- https://github.com/Signbank/Global-signbank/b

[2022-07-21 12:40] susanodd commented on #816
Here I've implemented the idea from @Woseseltops.

![gloss_detail_query_modal_no_qp](https://user-images.githubusercontent.com/24272544/180215418-f8e51c23-c08a-4ad4-8f79-64b723184350.png)

![gloss_detail_query_modal_qp_after_run_default](https://user-images.githubusercontent.com/24272544/180215447-380a8c90-06ce-44ac-818d-7b3251c8921f.png)

[2022-07-21 14:30] susanodd commented on #816
The Query-button-popup and the Query View can be set to show in settings.

[2022-07-28 08:25] Woseseltops commented on #816
Awesome. Perhaps a little more space right of the query button?

[2022-07-29 11:16] Woseseltops commented on #828
Versions we have to go through step by step:
* Django 2.0
* Django 2.1
* Django 2.2
* Django 3.0
* Django 3.1
* Django 3.2
* Upgrade Python to 3.10 (I think this could be done in one go?)
* Django 4.0

I've been looking at the 'backwards incompatible changes' for each release, and there doesn't seem to be that much. Perhaps my biggest worry is that we are using database thingies for which support

[2022-08-01 13:35] susanodd commented on #99
I've added a search on `Has Other Media` in the panel `Search by Publication Status and Notes`.
I put the fields of this panel in a setting `SEARCH_BY_PUBLICATION_FIELDS` in order to make the Gloss Search template more concise. At the moment, this has the side effect of showing them all vertically rather than in two columns. The columns were hard-coded.

![gloss-search-publication-status-notes](ht

[2022-08-01 13:40] susanodd commented on #98
I've implemented #99 which allows searching for glosses with Other Media.

[2022-08-01 15:45] susanodd commented on #99
I added a couple lines of CSS to get the publication fields to be two-column. I rearranged the order of the fields in the settings in order to make them pleasing to look at instead of illogical due to row pairings. (use your own imagination. the sentence sounds weird since I tried to make it sound like it makes sense rather than arbitrary.) Created After is before Created Before since that's the t

[2022-08-03 11:17] susanodd commented on #828
Bootstrap may cause problems too. There are a few "crossed out" (deprecated) things in some of the templates (visible in PyCharm with crossed through elements.)

[2022-08-03 11:24] susanodd commented on #830
Some of this has become part of #816. That issue is making the query form consistent with the fields queried upon in `get_queryset`.

[2022-08-04 11:09] susanodd commented on #816
I've added an easter egg to the stealth query view.
There are buttons for all of the displayed fields and these toggle the columns of the table.
Here is a query on Dutch Lemma "zetten-leggen" with the results shown.
Because these are lemmas, there is a lot of duplication in the columns. The hidden columns have line-through buttons.

![query-view-toggling-table-elements](https://user-images.githubu

[2022-08-05 11:12] susanodd commented on #816
Okay, I successfully transplanted the Query View to be under the Analysis menu rather than a tab for Gloss (as it is in the above screenshots.)

I revised the template to include toggle buttons for the search parameter fields as well as show columns for them in the results table. This (made up) example shows the three multi-select fields as query parameters.

![query-view-under-analysis](https://u

[2022-08-05 11:19] susanodd commented on #816
To avoid excessive fields in the results, the table includes the Gloss_LIST_DISPLAY_FIELDS as for the normal Gloss Search List View. Plus it adds extra toggle buttons. On the normal list view, the toggles for languages only appear if there are more than two languages, because the table gets very wide. Here in this new view, you can toggle the different languages also per category (annotation, lemm

[2022-08-05 13:16] susanodd commented on #816
Here's another example, showing a query on sequential morphology.

![query-view-sequential-morphology](https://user-images.githubusercontent.com/24272544/183085299-2d8a60bc-d78b-4384-8652-40154d10ebc0.png)

[2022-08-08 09:42] susanodd commented on #816
Here are examples showing Simultaneous and Sequential Morphology in the Query View. (Test glosses.)

![query-view-simultaneous-morphology](https://user-images.githubusercontent.com/24272544/183388727-6e831b3e-5b67-4647-a3bf-371c88cac892.png)

![query-view-sim-seq-morph](https://user-images.githubusercontent.com/24272544/183388801-e75d301a-1079-4103-bc8c-6e4cdd907455.png)

[2022-08-08 09:49] susanodd commented on #816
Compared to the initial version of this view, this one is under Analysis instead of with the Gloss.
I left the tab at the top in expectation of having additional information to view regarding queries, such as the list of queries for the user.
Perhaps another tab for refining the query. That needs to be worked out.
In the examples above, it's still the results of the original query. If additional f

[2022-08-08 11:13] susanodd commented on #816
Here's a query on Morpheme Type. (The query is on Sign or Morpheme.)

![query-view-morpheme-type](https://user-images.githubusercontent.com/24272544/183405366-e3613fcb-99e5-4488-ad64-d9bb37e7e344.png)

[2022-08-10 09:36] susanodd commented on #816
Here's a search on gloss of related sign. I encountered a few bugs related to "idgloss" still being used in some older code. I revised it so it also allows regular expressions now. It now filters on annotationidglosstranslation__text__iregex.

![query-view-gloss-of-related-sign](https://user-images.githubusercontent.com/24272544/183868190-7e6b2b00-4e73-4a5c-90c8-6e77b2b55ef3.png)

[2022-08-10 10:53] susanodd commented on #99
I revised Type of Relation to show the actual relation that was being searched on in the results.

I searched on Type of Relation Antonym and this is what it looks like:

![query-view-type-of-relation-antonym](https://user-images.githubusercontent.com/24272544/183882053-d83b6b9d-48f8-48e5-b388-4fca20016988.png)

As you can see, it looks like some duplicates. But this is actually true if you go to

[2022-08-10 11:01] susanodd commented on #816
I revised Type of Relation to show the actual relation that was being searched on in the results.

I searched on Type of Relation Antonym and this is what it looks like:

![query-view-type-of-relation-antonym](https://user-images.githubusercontent.com/24272544/183882053-d83b6b9d-48f8-48e5-b388-4fca20016988.png)

As you can see, it looks like some duplicates. But this is actually true if you go to

[2022-08-10 11:14] susanodd commented on #816
Here's an example searching on two Relation fields. These are not tied together in the Gloss Search. As you can see homonyms are returned as well as other relations (of the same gloss) where the target gloss starts with GE.

![query-view-relation-gloss-of-related](https://user-images.githubusercontent.com/24272544/183886827-4bca18ff-ba22-4d0d-82f4-bfe728d06146.png)

![query-view-more-results-homon

[2022-08-10 12:15] susanodd commented on #816
I've added Other Media to the Query View. I purposefully searched on ^open to restrict the results since most media is absent locally. Next this needs to be a preview. Or perhaps a different view tab.

![query-view-other-media](https://user-images.githubusercontent.com/24272544/183897888-dd172863-b8ff-41e1-a18b-8e003589272d.png)

[2022-08-10 12:16] susanodd commented on #99
See https://github.com/Signbank/Global-signbank/issues/816#issuecomment-1210590160

[2022-08-12 14:20] susanodd commented on #98
Here is what this looks like so far.
Related to #818, here is the gloss Paraplu, showing the videos stored as other media.

![gloss-videos-view-paraplu](https://user-images.githubusercontent.com/24272544/184372539-94bdb641-1050-45c9-b721-4033c8f32a13.png)

I copied the two other media files shown for this gloss to my local server.
On the first go, one of the files is in Quicktime format and did no

[2022-08-15 07:41] vanlummelhuizen commented on #828
@Woseseltops When do you plan to do this? Perhaps first merge the FieldChoice/translation stuff? (see #658)

[2022-08-15 13:07] susanodd commented on #98
I revised the upload other media code so that upon encountering a quicktime file, it uses ffmpeg to convert it to mp4, as is done for uploading gloss videos.

Additionally, if this fails, or if the user attempts to upload an existing file again, a message is given that the filename already is in use. Currently it's already possible to delete other media via Gloss Edit.
But the OtherMedia is merely

[2022-08-15 14:02] susanodd commented on #658
I'm looking at update.py now. In method update_gloss, perhaps swapping the code of the "short" else with the "long" if clause and making it be normal code rather than an else, might stump automation?

[2022-08-15 14:24] susanodd commented on #658
I wasn't able to get the schema_editor parameter to work inside the migrations files.

[2022-08-16 11:39] susanodd commented on #658
I'm working on the population function. Because at the moment, there are both kinds of field choices simultaneously, I'm gradually applying the various parts of your functions to see what happens in the database.
By magic, the field "name_en" appeared in the field choice table. This got filled in as a side effect when I copied the english_name to name. The other fields also automatically appeared:

[2022-08-16 11:55] susanodd commented on #658
Oh, it's totally awesome!!!
I applied the `move_fieldchoice_for_class` `Definition` (aka `NoteType`) and by magic there's now a foreign key to the field choice object. Very cool!

[2022-08-16 11:58] susanodd commented on #658
Okay, Handshapes are a bit confusing, there are two population functions.

[2022-08-16 15:12] susanodd commented on #658
I'm populating the _fk fields of Gloss now.
This is going on several hours and it's still not complete.
I suspect it would be risky to run this within a migration.

[2022-08-17 10:52] susanodd commented on #658
I had to let the (migration) population that copies Gloss field choice fields to FieldChoiceForeignKey fields, run overnight.
Perhaps the database constraints are also causing time consumption.

[2022-08-17 10:59] susanodd commented on #658
One question regarding machine value 0. In the old field choices, these weren't actually stored. It was just empty.
But in the migration, empty field choice is a (typed) field choice object for the specific category. Thus previous "empty" fields are being mapped to "empty" field choice objects. At first this was causing lots of errors because there weren't any actual "field choices" for machine va

[2022-08-17 14:55] susanodd commented on #658
@vanlummelhuizen regarding the strange errors copying handshapes, it was affecting a handfull of glosses.
This was also affecting the GlossDetailView on the same glosses. The same error trying to load the page.
It was related to the file path of the image and or video. I modified the code in get_image_path of model Gloss.
(I made it match the master branch.)
That fixed it for Gloss Detail View but

[2022-08-18 08:59] wesselstoop-ohpen opened #831 "Move admin to something else than /admin"
The Radboud Security Operations Center asks us to move the admin to another location than just `/admin`:

Dit soort standaard URL’s zijn de eerste die gezocht zullen worden door hackers voor nader onderzoek en exploits.

While not hard to realize, it could be yet another source of confusion/frustration for new Signbank devs.

[2022-08-18 09:01] Woseseltops opened #832 "Move admin to something else than /admin"
The Radboud Security Operations Center asks us to move the admin to another location than just `/admin`:

Dit soort standaard URL’s zijn de eerste die gezocht zullen worden door hackers voor nader onderzoek en exploits.

While not hard to realize, it could be yet another source of confusion/frustration for new Signbank devs... other opinions wanted.

[2022-08-18 09:58] vanlummelhuizen commented on #832
Perhaps one common replacement for `/admin` for all TSG projects?

Other option: shield `/admin` for ip-addresses outside the RU network.

[2022-08-18 11:41] vanlummelhuizen commented on #832
We should be aware that hardcoding a alternative for `/admin` will still be public in the repo. Perhaps make it an instance specific setting.

Some interesting stuff: https://opensource.com/article/18/1/10-tips-making-django-admin-more-secure

[2022-08-18 13:42] vanlummelhuizen commented on #658
Get common ancestor for branches *master* and *fieldchoice_field_translations_658_661*:
`git merge-base master fieldchoice_field_translations_658_661`

Get all IDs for the commits on branch *fieldchoice_field_translations_658_661* from the common ancestor:
`git rev-list $(git merge-base master fieldchoice_field_translations_658_661)..HEAD`

Get all commits on branch *fieldchoice_field_translations

[2022-08-18 13:45] vanlummelhuizen commented on #658
#### All commits on branch _fieldchoice_field_translations_658_661_ from the common ancestor with *master*:

1. https://github.com/Signbank/Global-signbank/commit/0166c090b46b8e17a4b93063b764ea56b9894748
2. https://github.com/Signbank/Global-signbank/commit/870592fc273e6e3e07dc5ca7ce5c24484f716078
3. https://github.com/Signbank/Global-signbank/commit/fbef34b44a68f84b55dedd5789bcadf03723f1ce
4. htt

[2022-08-18 14:29] vanlummelhuizen commented on #658
All commits for *fieldchoice_field_translations_658_661*:

https://github.com/Signbank/Global-signbank/compare/master...fieldchoice_field_translations_658_661

[2022-08-19 07:36] Woseseltops commented on #832
I like this option! This way, the default will still be /admin so we won't confuse new devs trying to install Signbank elsewhere, but for our own installation we can make it something else.

Having said that, that of course only postpones the problem, because our settings file is also in this repo. Thinking about this, I realize I've seen a problem like this multiple times at my other employer, an

[2022-08-19 09:33] susanodd commented on #658
Ouch! I've just started. I used cherry-pick on the first commit.

[2022-08-19 11:16] susanodd commented on #658
I've resolved all the conflicts of the first commit. Now to apply the migrations.

[2022-08-19 12:08] susanodd commented on #658
Successfully migrated the database!
I put the four new migrations following the "newest" on master.
The numbering is no longer in succession, but it seems doing a migrate doesn't mind.
Although it is confusing.
I'm going to leave the numbers as they are now (illogical) because of [ blah blah ]
[ the last time I tried to change the file names it got all messed up since internally they reference the

[2022-08-19 12:33] susanodd commented on #658
It's working !!!!
Only a few changes in file `translate_choice_list.py` were needed.
This is related to the use of `adjective + '_name'` constructions, which fail when from the (default) settings "english" is used.
I added exceptions to catch these and just use `'name'`. (Alternatively the setting would need to be empty, which might be problematic elsewhere.)
I also modified the javascript of `han

[2022-08-19 12:34] susanodd commented on #658
Now to run the tests.....

[2022-08-19 13:12] susanodd commented on #658
Okay, one test repaired.
The problem below needs fixing.
There is some ugliness with "clever" mappings between languages settings and field names.
https://github.com/Signbank/Global-signbank/blob/085dddff2229b8a7e56e75ee11407627b24dbdc3/signbank/dictionary/tests.py#L2992-L3001

[2022-08-19 13:16] susanodd commented on #658
@Woseseltops  any preference in how to organise pull requests?
I'm finishing the first merged commit now.
I'll push it to this branch after I fix the remaining test. (It's the code above.)
Then @vanlummelhuizen can check off on it on Monday.
But then yesterday, we decided to have small pull requests.
So I'm wondering how to proceded with the next (cherry-pick) merge to this branch.
We should keep

[2022-08-19 13:57] susanodd commented on #658
All the tests succeed now. With the exception of Settings, of course.

[2022-08-22 07:39] susanodd commented on #658
One part of code I wasn't sure about. In the new code (this branch), there is this:

https://github.com/Signbank/Global-signbank/blob/a28b17ffb31640e18886d0ebb545c35af20d56d3/signbank/dictionary/adminviews.py#L4128-L4140

But this no longer appears in the master branch. So merging added it.
I need to look this up. The menu bar scroll bar was redesigned to be able to show different types. Also in t

[2022-08-22 08:01] vanlummelhuizen commented on #832
For Mediate I use a script that reads variables form a `.env` file: https://github.com/Mediate18/Mediate/blob/master/mediate/decouple.py. The settings.py file contains things like

https://github.com/Mediate18/Mediate/blob/53b3b5a4fc41e736761c08b26ef53d0718d6e1a3/mediate/settings.py#L24-L30

Other options:

* https://django-environ.readthedocs.io/en/latest/
* https://pypi.org/project/python-decoup

[2022-08-22 09:22] vanlummelhuizen commented on #658
@susanodd You took https://github.com/Signbank/Global-signbank/commit/0166c090b46b8e17a4b93063b764ea56b9894748#diff-a65260196a02939908b0acbf9518f5f40270ff308ef3d73afc3edc84e17dcd27, changed it to solve a few things, and merge it in commit https://github.com/Signbank/Global-signbank/commit/a28b17ffb31640e18886d0ebb545c35af20d56d3. Correct? If so, you made quite a few changes. Did you check whether

[2022-08-22 15:26] susanodd commented on #658
I modified code that was in newer code that exists in master "after" your original branch.

[2022-08-22 15:27] susanodd commented on #658
I had to modify things to get it to run. And then to get the tests to run. I only modified things related to changing the name fields.

[2022-08-22 15:29] susanodd commented on #658
For example, I searched on "english_name" to find things that needed to be changed in other code.
The point was to run the tests after each merge.

[2022-08-22 15:36] susanodd commented on #658
Could you be more specific if that is what you think? I browsed the code again just now and it looks all related to changing the english_name to name. I don't see excessive changes.

[2022-08-22 15:37] susanodd commented on #658
The specific code examples above with _name had to be changed. It wouldn't run other wise.

[2022-08-22 15:52] susanodd commented on #658
@vanlummelhuizen I assumed that the code of each commit "works". Is this not true?

Do multiple (cherry picked) commits need to be applied before "running" ?

On my own branches, I only push working code. Thus, I was assuming that this is how your branch works.

But from your comment above, I suspect you wanted me to apply multiple cherry-picked commits to the new branch before running the code?

[2022-08-22 15:53] susanodd commented on #658
I spent a long time on it, so I would prefer to just proceed with the next cherry pick.
If you can suggest how many cherry picks to do before running that will help.

[2022-08-23 08:25] vanlummelhuizen commented on #658
@susanodd

I assume you mean that you only *commit* working code. Correct? Unfortunately, trying to solve all the problems with FieldChoices and ModelTranslation would make one very, very large commit, probably as large as all 48 commits combined. So, I followed the alternative: make small(er) commits and make sure it works in the end.

Returning to my question: https://github.com/Signbank/Global-

[2022-08-23 08:54] susanodd commented on #658
Okay, great!
I only push and commit all at once. Otherwise the files are only on my computer, not saved in git. That's why it occasionally takes weeks before I can commit something. I'm getting faster though.

I'm working on #816 and #824 now so the code can hopefully be merged this week. (No migrations.)

On the cherry pick I spent a lot of time to get it running because I had to apply the migrat

[2022-08-23 11:05] susanodd commented on #658
Some of the extra changes applies to new code, such as SemanticField and DerivationHistory which didn't exist in your branch.

Plus the changes to the two javascript files (to get it to run).

The large "insertion" of the code with "child" in it (shown above) was done by the automatic merging. That code is no longer on master, but the merge "reinserted" it as new code. (So it looks like an inserti

[2022-08-23 11:10] susanodd commented on #658
I looked at the two comparison commits you link to above. I don't see any problems. The main differences are commented on in the previous paragraph.
Sure the main "coding" thing I did was the javascript, and the changes to (hard-coded) '_name' things that caused it to not run.
I was concerned about the handshapes because I did not know what that code with "children" in it was doing.
(It does not e

[2022-08-23 12:13] susanodd commented on #658
I found the removal of the children code. It was on October 13, 2020. Related to the scroll bar.

https://github.com/Signbank/Global-signbank/commit/cf21cf34ff82b4393d95b8613054db944c8a83c2

[2022-08-23 12:23] susanodd commented on #658
That subtracts 19 additions from the 1st cherry-pick merge commit.

[2022-08-23 12:33] susanodd commented on #658
There were originally three pieces of code in adminviews that did the same, so two were tallied under "deletions" (wrt to your branch). (So perhaps 38 of the deletions.)
(I confess I don't actually know how it's computing the values wrt what.)

[2022-08-24 08:59] vanlummelhuizen commented on #658
@susanodd Your comment clear some things up for me. Good! I also found a nice way to how two commits in different branches compare: `git range-diff 0166c090~..0166c090 a28b17ff~..a28b17ff`.

One of the things I saw, and you also mentioned that, is that you changed some code in `media/js/handshape_edit.js`: https://github.com/Signbank/Global-signbank/commit/a28b17ffb31640e18886d0ebb545c35af20d56d3?

[2022-08-25 13:13] Woseseltops opened #833 "Create tool to clean up video and other_media files"
Create a subcommand to `develop.py` called 'remove_unused' (or something like that) with an argument that can be either `video` or `other_media` (and it would be cool if it helped the user if the command is not one of those two). This command will:
* Go over all video files, or all files in the other_media folder
* Try to find a matching Django instance in the database
* If there aren't any, add i

[2022-08-25 13:15] susanodd commented on #658
4th cherry pick complete: "Make gloss update use the fieldchoice foreignkey setup"
5th cherry pick complete: "Add FK FieldChoice for fieldchoice type 'NoteType'"

[2022-08-25 13:42] susanodd commented on #658
@vanlummelhuizen : There's one commit in the TO DO list that looks a bit dodgy. It's repeating some of the changes. Although it modifies some templates. (I'm up to this one.)

https://github.com/Signbank/Global-signbank/commit/0566b30b4bfbefe607365236a5c49ec5a9d92b09

[2022-08-25 13:43] susanodd commented on #658
How intelligent do we think git is?

[2022-08-25 13:47] susanodd commented on #658
I've determined that the first four migrations of the first cherry pick must be "rolled back" (i.e., start again from the master database and try to apply the migrations again. The migrations have been edited and rearranged in the cherry-pick merge commits above.

[2022-08-25 14:16] susanodd commented on #658
This one is kind of wrong, it was wanting to do changes that have already been applied yet again, requiring exactly the same conflict resolution that was already done.
https://github.com/Signbank/Global-signbank/commit/0566b30b4bfbefe607365236a5c49ec5a9d92b09
I aborted the cherry-pick because I couldn't decipher anything new it was doing.

[2022-08-25 14:20] susanodd commented on #658
@vanlummelhuizen can you take a lot at
https://github.com/Signbank/Global-signbank/commit/0566b30b4bfbefe607365236a5c49ec5a9d92b09
to see "what" it is actually doing? It won't cherry pick directly because it's a merge.
So the actually commits it contains need to be cherry picked. But those are already in this branch.
Is it possible it contains differences that are not in the form of a commit?

[2022-08-25 15:31] ocrasborn commented on #98
I like it, @susanodd !

[2022-08-25 15:52] susanodd commented on #658
I'm applying the migrations now. I needed to again change `english_name` to `name` in model FieldChoice.
Somehow the other cherry-pick merges "undid" this from models!
I also had to add `field_color` again.
I'm going to work on getting it to run now. It made me nervous trying to apply the one that failed. It's like a bad case of deja vu because you see it's producing exactly the same conflicts tha

[2022-08-25 15:53] susanodd commented on #816
@ocrasborn also look at this one. @Woseseltops merged it earlier, so I'll put it live tomorrow.

[2022-08-26 08:06] Woseseltops opened #834 "Remove or upgrade jquery.datatables"
In a vulnerability scan for the ASL Signbank, they found that we are using an out of date version of jQuery DataTables: see the file https://github.com/Signbank/Global-signbank/blob/master/media/js/jquery.dataTables.min.js and the DataTables website: https://datatables.net/extensions/scroller/examples/styling/jqueryui.html . It seems like this plugin helps creating a sortable list of search result

[2022-08-26 08:07] Woseseltops commented on #834
@susanodd , I assigned this one to @Jetske , but if you have additional info about this, let us know

[2022-08-26 08:08] susanodd commented on #834
I suspect it's not used. We use ajax to generate each row of the table.

[2022-08-26 08:11] susanodd commented on #834
Some of the javascript that's local on our server is self-modified for ajax and colors. This is the jquery.editable files. DO NOT DELETE.

It looks like the dataTables is really old (2016). It could be used in the feedback section?

[2022-08-26 08:14] susanodd commented on #834
There's no use of dataTables under -R signbank.
But under the entire archive, it's found in baselayout.html

[2022-08-26 08:17] susanodd commented on #658
The migrations were successful!!!
Because it was in the virtual environment, I have no way to see how much time it actually took. (??)

[2022-08-26 08:32] susanodd commented on #658
These fk fields were not filled in:

- absOriFing_fk_id
- domFlex_fk_id
- domSF_fk_id
- final_secondary_loc_fk_id
- iconType_fk_id
- initial_secondary_loc_fk_id
- movMan_fk_id

[2022-08-26 08:34] susanodd commented on #658
There's a `django_migrations` table in the database. One of the columns is `applied`.

[2022-08-26 08:38] susanodd commented on #658
I pushed the couple changes I needed to apply in order to migrate the database.

[2022-08-26 12:41] susanodd commented on #658
I pushed the couple changes I needed to apply in order to migrate the database.

I did another cherry-pick that fixed some things, but it still needed a bit more.
It's running now, but with bugs.

[2022-08-26 12:53] susanodd commented on #833
https://github.com/Signbank/Global-signbank/blob/9dd10ca2523aae0e261557cc36bb0da1e1725540/signbank/settings/server_specific/default.py#L9-L10

https://github.com/Signbank/Global-signbank/blob/9dd10ca2523aae0e261557cc36bb0da1e1725540/signbank/settings/server_specific/default.py#L13

They're under writable:
https://github.com/Signbank/Global-signbank/blob/9dd10ca2523aae0e261557cc36bb0da1e1725540/sig

[2022-08-26 13:01] susanodd commented on #833
If you look at the various urls, you can see some commands that relate to videos, images, and other media. The database keeps track of these files and they may or may not be in the file system. Previously, video filenames were being suffixed with ".bak" or with a number instead of overwriting them. There are many of these dangling files. When they get deleted by the user, they are deleted in the d

[2022-08-26 13:10] susanodd commented on #658
And another one down.

[2022-08-26 13:16] susanodd commented on #658
I'm up to the point where the migration wants to delete the original fields and overwrite them with the new ones.
I would prefer to rename the original fields rather than delete them.
@Woseseltops ?
It's this commit / migration:
https://github.com/Signbank/Global-signbank/commit/e94f8a0639fd7f6dc9aed2a4c3c096891391f5e8

[2022-08-26 13:23] susanodd commented on #658
The migrations up to now need to be applied to master before fields are removed, otherwise django will choke and the migrations can no longer be applied because the fields they refer to will have been removed. (i've already tried doing that on a different branch trying to work forwards and it didn't work.)

So the strategy needs to be to apply the migrations done up to now to the master before pro

[2022-08-26 13:26] susanodd commented on #658
@Woseseltops can you take a look at the migration in that commit just referenced?
If I rename the old fields rather than deleting, then I should be able to proceed.
But we probably would need to already consider migration. Because the migrations actually refer to fields and values of the fields. They would somehow need to be applied to the database "loose" from actually running signbank.

[2022-08-26 15:10] Woseseltops commented on #833
Just remembered, in `dictionary/views.py` there is also a view `get_unused_videos` that does something similar. It makes more sense as a subcommand, though, so feel free to take inspiration from the view, and delete it when you're done :) .

As @susanodd showed, you can specify this in your settings file. In the production server, the paths are `/var/www/writable/glossvideo` and `/var/www/writable

[2022-08-26 15:17] Woseseltops opened #835 "Revise column toggles"
@susanodd added column toggles on at least two locations , like so

![image](https://user-images.githubusercontent.com/1909317/186936880-729afb43-c853-448c-9845-2d8f2e1d661f.png)

Now they're live, I've spent some more time playing around with them, and figured that they could be more space efficient. Suggestions:
* If a column is empty, disable the column by default
* Behind each column header, a

[2022-08-29 08:11] susanodd commented on #835
I like the suggestions!

One quirk is about empty columns.
For the queried upon fields, they will never be empty.
For the four columns that correspond to those in the normal Gloss Search (Handedness, Weak Hand, Strong Hand, Location,
those are shown separately so it matches the normal search.
That's a great idea to just show an X on the header. !! (But to get it back?)
These may or may not be empt

[2022-08-29 08:44] susanodd commented on #835
Here is a simple toggle panel of the buttons.

![query-view-hidden-buttons](https://user-images.githubusercontent.com/24272544/187161413-d9216a7d-bfce-435a-a346-62462b597aad.png)

![query-view-revealed-buttons](https://user-images.githubusercontent.com/24272544/187161443-ee7ea6a7-d083-4b08-b4d3-05cf8a5f5a6e.png)

[2022-08-29 09:15] susanodd commented on #835
I pushed the simple solution to branch list_view.

![query-view-with-buttons-icon](https://user-images.githubusercontent.com/24272544/187167655-638458f6-c92d-417f-94c9-b410fb111cc8.png)

[2022-08-29 10:06] susanodd commented on #658
@vanlummelhuizen I would like to revise the code at this point in the cherry-pick merging to "rename" the original field instead of removing it (as is done in the next in line, not-yet-applied cherry-pick.)
It needs to be merge-able with the master before additional migrations are applied.
It's kind of at a chicken or egg stadium now, as getting it to run depends on more cherry-picks. But the cher

[2022-08-29 10:44] vanlummelhuizen commented on #98
@susanodd @ocrasborn do you think that those dangling media files is of any concern to the users? If it is just because the system did not delete a file when a media item was deleted from the database, I think we should just clean up dangling media files so that what is in the database is also on disk and vice versa. Perhaps make a backup first, of course.

[2022-08-29 10:59] Jetske commented on #833
self.stdout.write(os.listdir(mediapath), ending='')
FileNotFoundError: [Errno 2] No such file or directory: '/var/www/writable/othermedia/'

Okay I see, so the files in othermedia are on the production server but not on my server. Then what would be the best way to test the command, adding an othermedia folder with some dummy files?

[2022-08-29 11:06] susanodd opened #838 "Minimal Pairs display broken"
For some strange reason the minimal pairs display is not showing the value anymore.

[2022-08-29 11:08] #838 closed

[2022-08-29 11:33] susanodd commented on #98
Yes, that has become overridden by a new issue: #833

[2022-08-29 11:36] susanodd commented on #833
Yes, you need this folder on your test server.

[2022-08-29 11:46] susanodd commented on #658
I'm working on minimal pairs now. As far as I can tell, these were not modified on the FC branch. I compared code on the master with code on the 658_651 branch and it looks like it wasn't specifically changed yet. Except the code doesn't display properly anymore because the table `translated_choice_lists_table` has been updated to the FK field choices. So the MPs are not obtaining the correct data

[2022-08-29 11:55] vanlummelhuizen commented on #833
@Jetske I think you need to take care of two things:

1. As Wessel mentioned, specify the `other_media` folder in your settings file to refer to an existing directory, not necessarily `/var/www/writable/othermedia/`. (The settings should be in the file `signbank/settings/server_specific/server_specific.py` in your project folder.)
2. Add some media: for each gloss you want give some (unused) media

[2022-08-29 11:57] vanlummelhuizen commented on #98
@susanodd Good! Can this issue be closed then?

[2022-08-29 12:06] susanodd commented on #658
Q @vanlummelhuizen : the data structure `translated_choice_lists_table` is ultimately meant to disappear, correct?

[2022-08-29 12:19] vanlummelhuizen commented on #658
Yes

[2022-08-29 12:26] susanodd commented on #658
Ah yes, it's already been removed. But it was still present in some of the templates. (Gloss Detail View). I had to add it back to the context in order to get it running.
I've got the minimal pairs fixed. There was still a function for this table being used. But I realised in revising the code that it was dong unnecessary work in the ajax call. So I'll just remove it.

[2022-08-29 12:29] susanodd commented on #658
Q: @vanlummelhuizen what would be an "error" field choice?

In the current MP code, if a lookup of the choice fails it displays ERROR_NN.
(As is the case if a field choice has been deleted. That was once possible before we made it not be possible.)

Does this need to be accounted for?
In the mappings, when the field choices are copied, it's printed if it can't be found.
Although nothing is done wi

[2022-08-29 12:38] susanodd commented on #658
They're working now!!

Although don't know how to get them be translated.

[2022-08-29 12:50] susanodd commented on #658
It was the Minimal Pairs in Gloss Detail View, that's where the table was still being used.
I've removed it now, although the generate_... function is still in `models.py`.

[2022-08-29 14:44] Jetske commented on #833
Great, thanks!

I think I have something working, but now I only look for instances of the files in the GlossVideo model. Is that the only relevant place or should it also be searching elsewhere in the database?

[2022-08-29 18:58] vanlummelhuizen commented on #833
There is also https://github.com/Signbank/Global-signbank/blob/a379255be5f6e7f312b1e23d3c531cfe704a7b54/signbank/dictionary/models.py#L2119-L2166

[2022-08-30 07:56] susanodd commented on #98
This has been merged into the master, but it's not live yet.

[2022-08-30 08:12] susanodd commented on #658
What if I rename the original "machine value" FC fields to be field_mv, analogously to how you named the "foreign key" fields as field_fk.
I'll add a setting for _fk fields so that it's easy to identify in the code, with just membership.
All the settings kind of pile up with all the FIELDS['...'] references. These should not be changed because eventually they will remain the same. But adding a hel

[2022-08-30 10:06] vanlummelhuizen commented on #658
If I remember correctly, I made it so that, for the `field_choice_category`, it doesn't matter whether some piece of code is dealing with the old machine_value 'foreign key' (MVFK) or the new FieldChoiceForeignKey (FCFK).

[2022-08-30 10:11] susanodd commented on #658
Oh, okay!

[2022-08-30 10:12] susanodd commented on #658
I just removed the last remaining uses of the (`generated_`)`translated_choice_lists_table`
(The file tools.py also was using this.)

[2022-08-30 10:32] susanodd commented on #658
@vanlummelhuizen do you think I'll get into problems if I just skip (delay) this commit? https://github.com/Signbank/Global-signbank/commit/e94f8a0639fd7f6dc9aed2a4c3c096891391f5e8

I know the ones following that one assume the _fk fields are renamed to the original.
But since I know that, I should just be able to make them apply to the _fk fields.
The next migration (two commits later) adds the r

[2022-08-30 10:35] susanodd commented on #658
Ahha. I see the next one does the change I just made to gloss_detail.

[2022-08-30 11:07] susanodd commented on #658
I'm working on the next cherry pick (skipped the one that removed fields).

This is really elegant!
https://github.com/Signbank/Global-signbank/blob/6df36b70a9ea2f90b72ec78d044aeb71ece6ee03/signbank/dictionary/update.py#L105-L106

[2022-08-30 11:31] susanodd commented on #658
The automated merging totally makes a mess of the update file. It's put code in completely the wrong place!!

[2022-08-31 15:14] susanodd commented on #658
I got it running again after the last cherry pick.
I needed to make the Gloss Search field choices use the foreign keys model. Plus added the choices from the Semantic Field and Derivation History models.
https://github.com/Signbank/Global-signbank/blob/bd4036f0c1a108df8f2fee1722bf32eb814b632a/signbank/dictionary/adminviews.py#L299-L321

[2022-09-01 13:11] susanodd commented on #658
Check it out! This is using the cool new field choice model!

![query-view-fc-branch](https://user-images.githubusercontent.com/24272544/187921903-c3ebd2d7-8e03-4373-8199-e9335806cf25.png)

[2022-09-07 10:56] susanodd commented on #658
I just pushed the fixes to Minimal Pairs and Homonyms to use the new FC model.
I forgot to put the issue number in the commit message:

https://github.com/Signbank/Global-signbank/commit/8cdc07536f6aba678034d2ec401f965d26e5cb05

[2022-09-07 13:53] susanodd commented on #658
The branch is still running fine.

[2022-09-08 07:56] ocrasborn opened #839 "ECVs are not accessible"
Issue with permissions?
See e.g. https://signbank.cls.ru.nl/static/ecv/ngt.ecv/

[2022-09-08 10:03] susanodd commented on #839
Probably. The deploy.sh script tends to make things become group root.

[2022-09-08 10:06] susanodd commented on #839
Try again. It's group was signbank whereas the others are signbank-writable.

[2022-09-08 13:36] susanodd opened #842 "test_Settings test fails"
During deployment, the test_Settings test fails.

https://github.com/Signbank/Global-signbank/blob/a379255be5f6e7f312b1e23d3c531cfe704a7b54/signbank/dictionary/tests.py#L2409

https://github.com/Signbank/Global-signbank/blob/a379255be5f6e7f312b1e23d3c531cfe704a7b54/signbank/dictionary/tests.py#L2457

This is the error:
`AssertionError: Lists differ: ['MODELTRANSLATION_LANGUAGES', 'SWITCH_TO_MYSQL'

[2022-09-08 13:43] Woseseltops opened #843 "Rename X_SENDFILE setting and put in default.py"
X_SEND_FILE is a plugin for Apache that we use on the production server (it's about making sure images and videos can only be accessed when you are logged in). It's not needed when running Signbank locally with `develop.py runserver`, so we need a setting to turn it off.

Turns out, we already half-implemented this:

https://github.com/Signbank/Global-signbank/blob/9dd10ca2523aae0e261557cc36bb0da1

[2022-09-08 13:49] Woseseltops commented on #828
@Jetske , perhaps you can already investigate what happens if you upgrade Django to 2.0 on your instance? You can always downgrade again ;).

Also, if you know how to fix, you can also do these fixes already, but please avoid making lots of changes all over the code base, as @susanodd is currently doing a large refactor with changes all over the code base, and they might bite each other.

[2022-09-09 09:16] Jetske commented on #828
I tried upgrading to 2.0 and then went back to 1.11. Basically all ForeignKey fields need an on_delete() option so I added that (the default on_delete=models.CASCADE) in most models.py files which also seems to be fine for 1.11.

Changed in:
dictionary models.py
feedback models.py
pages models.py
attachments models.py
video models.py
registration models.py

Then some small changes in urls were nee

[2022-09-09 14:21] Jetske commented on #828
Upgrades (also changed in requirements.txt):
django-summernote to 0.8.20
django-modeltranslation to 0.18.4
django-reversion to 4.0.2
django-tagging to 0.5.0
django-guardian to 2.4.0
django-debug-toolbar to 3.2.4

And many more files had to be modified. All changes are committed, not pushed, to the branch bump_django_828. I don't have the latest version of Signbank in my lightning container so it's

[2022-09-09 14:45] susanodd commented on #658
The most recent commit includes changes to get CSV export working.
While working on this, I discovered that if one has done "`show_all`" that mysteriously the number of result glosses changes and not all glosses are exported. (The live server also has this problem.)
While fixing this, I decided to use the most recent version of the default sort order of the "`order_queryset_by_sort_order`" functio

[2022-09-14 07:41] susanodd commented on #658
I'm up to the commit that adds ModelTranslation to the Admin.
I suspect this requires an additional migration for the two new languages, in order to create the name_ fields.

[2022-09-14 15:01] susanodd commented on #658
I revised the query parameter code in a similar way to get rid of _dutch and _chinese.

Only 10 left to go!
Plus the ones for Feedback. And the migrations that actually remove things. Those have been skipped.

[2022-09-15 07:56] #843 closed

[2022-09-15 08:13] susanodd commented on #98
This is live.

[2022-09-15 09:37] #834 closed

[2022-09-15 10:20] vanlummelhuizen commented on #98
Thanks @susanodd Closing now.

[2022-09-15 10:20] #98 closed

[2022-09-15 11:19] susanodd commented on #658
Local database feedback model successfully migrate using the new migration.

[2022-09-15 11:39] susanodd commented on #658
I'm up to the commits that change Field Choice Handshapes to Handshape Foreign Keys. (Only 7 cherries left!)

[2022-09-16 08:00] vanlummelhuizen commented on #839
@ocrasborn Also, remove the last slash from your url so it become https://signbank.cls.ru.nl/static/ecv/ngt.ecv.

[2022-09-16 08:57] Woseseltops commented on #832
@Jetske , a separate config repo has been created in the mean time, but now the question is how this repo should work together with this one... could you make a proposal here? Do we need git submodules? Some sort of setup with symlinks? Something else?

[2022-09-16 12:05] vanlummelhuizen commented on #832
@Woseseltops Do you mean by *separate config repo* this one: https://github.com/Signbank/Global-signbank-RU-instance? If so, I thought we would use this repo only for the issues where we would discuss all things concerning the RU instance.

Perhaps we could think of something like *instance flavors* (or types, classes, categories etc.), so that we have a _RU flavor_ and an _ASL flavor_, and at the

[2022-09-16 13:09] Woseseltops commented on #828
Reminder: do something with on_delete, something with cascase :P

[2022-09-16 15:09] susanodd commented on #658
I'm working on getting the tests to use the new `_fk` fields.
So far, one test class has been re-coded, that for `tests.HandshapeTests`.
The tests indeed spot errors in the code!!

[2022-09-19 08:59] Jetske commented on #832
What I've done now is, like you say, made it a server specific setting that is loaded into the admin url (in urls.py). The default value is still 'admin'. For the specific instance I first tried to read the url as string from a file outside of the repo (atm in writable/adminurl.txt). I don't know if that's allowed to do in the Django settings, but it works. Then I changed it to be an environment v

[2022-09-19 10:50] susanodd commented on #658
The `tests.testFrequencyAnalysis` now succeed. Some further revision was needed in the coding of `generate_frequency_dict` in the `Dataset` model in order to accommodate the new FC model. Additionally an `html=True` parameter was needed in the test that spots information in the template/Frequency Analysis page.
The effort we've invested in developing tests is totally worth it! (#724).

[2022-09-19 12:34] vanlummelhuizen commented on #832
Now that I reread my previous comment, especially

, I remember in Signbank we have of course the `.gitignore`d file `signbank/settings/server_specific/server_specific.py` that contains instance specific settings. For Global Signbank this is for the most part a copy of `signbank/settings/server_specific/global_sb_new_aj.py` with a few changes and additions.

@Jetske Is your solution easily transfe

[2022-09-20 12:14] susanodd commented on #658
I pushed the changes I made to the tests so that they use the new FC model.
This involved a lot of repairs to test code that was using hard coded machine values, since the fields need to refer to FC objects.
Additionally, the tests detected numerous errors in many other places. These have been repaired.

[Note: The admin.py file was modified last week together with @vanlummelhuizen in an attempt t

[2022-09-21 13:02] vanlummelhuizen opened #845 "Concatenate paths in settings with os.path.join instead of +"
In the settings the paths (e.g. ROOT, WRITABLE, etc.) are now concatenated using `+`. When a trailing slash is forgotten, the concatenation results in a non existent path. To avoid these issues, we can use `os.path.join` (https://www.geeksforgeeks.org/python-os-path-join-method/).

[2022-09-21 13:03] vanlummelhuizen commented on #845
Perhaps something for you, @Jetske (@Woseseltops ?)

[2022-09-21 15:24] susanodd commented on #658
I'm rewriting the FieldChoice Admin.

[2022-09-22 13:09] wesselstoop-ohpen commented on #828
During upgrading, the wildcard mechanism for the page object broke. First step: how this wild card mechanism work at all? Where is the code that manages this?

[2022-09-23 08:23] Woseseltops commented on #845
Just for completeness, I often choose `+` instead of `join` because I feel it's easier to read, but I do agree it's more error prone, so this issue has my seal of approval

[2022-09-23 09:16] susanodd commented on #845
There were some weird things going on with path names and the first two characters of the gloss being used for the folder name.
Sometimes there were non-Ascii and non-Latin characters and even symbols in the folder names.
At that time, there is some code that iterates through the directory listing in order to avoid making paths and using checks for existence, because the check for existence would

[2022-09-23 09:25] Woseseltops commented on #832
Yes!

You might have missed this comment then, which I apparently incorrectly assumed you agreed with:

As we haven't reached consensus, let me try to convince you guys:
* The main problem we have is that we want to keep some settings out of this repository for security reasons.
* Something using `.gitignore` will obviously work, but creates the new problem that our settings are no longer under ve

[2022-09-23 09:30] susanodd commented on #658
Guess what I discovered? There is an Admin method available:
      `get_translation_field_excludes`
I was playing around trying to find out how to "not show" other languages when only English is being used, so I used the PyCharm completion starting with "get_" and this popped up!

[2022-09-28 08:44] susanodd commented on #658
@vanlummelhuizen I've moved around some of the get_form and get_exclude  methods. I moved the FieldChoiceForm to the forms.py file. That one also has a get_form and get_exclude, as does the FieldChoiceAdmin class.
I wanted to find out what things are being called. The get_form of FieldChoiceForm doesn't get called.
But the get_form of FieldChoiceAdmin does.
But the __init__ and clean methods calle

[2022-09-28 10:14] susanodd commented on #658
Can we do anything to avoid using VersionAdmin?

[2022-09-28 11:24] susanodd commented on #658
@vanlummelhuizen what would be an appropriate initial value for language fields that are hidden?
Assuming that a new field choice is being created for a category and that English only is set.
This needs to be filled in because some of the FC fields are non-blank. This includes dutch_name, which has not been removed.

[2022-09-28 11:56] susanodd commented on #658
I found the place in the code where the languages are being copied to other languages.
But it's kind of invisible, happening behind the scenes, not in the written code.

[2022-09-28 12:09] susanodd commented on #658
Ha!!! Iterating over `obj.__dict__`
[code]
save_model executes this:

        ****` obj.name = obj.name_en`

Another loop over the `obj.__dict__`
[code]

[2022-09-28 12:11] susanodd commented on #658
Copying the `name_en` field to `name` has the side effect to copy it to `name_nl` also. But it doesn't copy it to `name_zh_hans`.

[2022-09-28 14:23] vanlummelhuizen commented on #658
@susan **_I found the reason why DjangoModelTranslation is showing the wrong values_**:

(https://github.com/Signbank/Global-signbank/issues/658#issuecomment-684584015)

When `build_choice_list` returns an empty list, everything is fine. So, we should try and get rid of `build_choice_list`.

[2022-09-29 08:16] susanodd commented on #658
Hurrah, let's figure out how to remove it.

[2022-09-29 11:04] susanodd commented on #658
I pushed the changes to Admin. I left the print statements in save_model. The actual obj.save() is commented out.

I uncommented it out to run FieldChoice tests. The tests succeed!

The changes are primarily to the Field Choice Form varieties. The different settings for `SHOW_FIELD_CHOICE_COLORS` and `SHOW_ENGLISH_ONLY` also work. (I.e., the fields are hidden from the user, and the hidden fields a

[2022-09-29 13:24] susanodd commented on #658
The translations are working now!

[2022-09-29 13:32] susanodd commented on #658
The testSettings now check the new field choice fields.

[2022-09-29 14:10] vanlummelhuizen commented on #839
@ocrasborn I will close this now, because I believe there is no problem.

[2022-09-29 14:10] #839 closed

[2022-09-30 10:11] susanodd commented on #658
@Woseseltops , Effing PyCharm. It's impossible to "select" a language in the "language pull-down" of the iterface in PyCharm emulator in the browser. It only lets me choose NL or Chinese. Now the language is stuck on NL and it's translating the model translations to NL. That might be the problem. The interface language is overriding what the Admin FieldChoiceForm is doing.

I succeeded in updating

[2022-09-30 10:14] susanodd opened #847 "Allow users to set their Interface Language inside of their Profile"
Problems with the PyCharm emulator make it impossible to "select" language icons in the pull-down.

Although it's possible to do this via the virtual environment interface, this is extremely annoying. My computer is switching between NL and Chinese. I can't "select" the EN from the list.
To solve this on my own PyCharm emulator, I removed Chinese from the list (temporarily) in order to have only t

[2022-09-30 10:24] susanodd commented on #658
Well, changing the interface language didn't help.
The "name" field is now in NL. And updating it again (for real) doesn't change the "name" field, as that is the field that doesn't show up in the FieldChoiceForm. And assigning to it explicitly is just ignored by Django.

[2022-09-30 10:35] susanodd commented on #658
This is the code where the problem is observable:
https://github.com/Signbank/Global-signbank/blob/eb1ca809ade7ead1e75da68d33af1ef7cf5582e9/signbank/dictionary/admin.py#L877-L891

This is the log on invocation of that code, first it shows the objects fields, then it iterates again and shows what will be saved, after copying the "name" field to any blank fields.
Now, instead of "name" being blank i

[2022-09-30 10:41] susanodd commented on #658
No way. After writing the comment just shown, I refreshed my Sqllite browser on my local database.
Now the "name" column of the field shown above (it was Dutch in the database after the log above shows in being Dutch),
now on refresh, it magically changed to English on running the query again!

[2022-10-03 08:45] susanodd commented on #658
This has been worrying me all weekend. When multiple users are concurrently using Signbank with different languages, this looks very wrong that Django is modifying the stored "name" field to a different language (see above).

Does the Admin need this before saving?

`signbank/tools.py:    with override(LANGUAGE_CODE):`

[2022-10-03 09:17] susanodd commented on #658
From https://django-modeltranslation.readthedocs.io/en/latest/usage.html

_Rules for Translated Field Access_

Changed in version 0.5.

So now when it comes to setting and getting the value of the original and the translation fields the following rules apply:

Rule 1

    Reading the value from the original field returns the value translated to the current language.

Rule 2

    Assigning a value

[2022-10-03 09:18] susanodd commented on #658
It's Rule 3 that is causing the problem in Admin.

[2022-10-03 09:36] susanodd commented on #658
The `'with override('en')`' inside of `save_model` in `FieldChoiceAdmin` seems to have fixed it.

We need to devise a test to confirm this before it can be deployed.

[2022-10-03 12:47] susanodd commented on #658
I'm working on a test now with the purpose of checking that the name fields aren't copied to the wrong languages.

[2022-10-03 15:44] susanodd commented on #658
There's now a test that confirms that updating the NL language field of a field choice does not alter the other fields.

[2022-10-04 08:40] vanlummelhuizen commented on #658
@susanodd Good busy! ;)

Are you close to removing the old fieldchoice references in favor of the one using ForeignKeys?

Could you make this dynamic? Similar to

https://github.com/Signbank/Global-signbank/blob/e273e8f7735f7b7321b7038ca1821af49bf898d4/signbank/tools.py#L117

[2022-10-04 11:59] susanodd commented on #658
I'm not going to remove the old references until after the master database has been migrated.
Otherwise the data will be removed.

[2022-10-04 12:04] susanodd commented on #658
I'm struggling again with the "english only" setting.
After the previous commit, I set this to true in my settings and ran the tests again.
It works inside the tests, which explicitly use the FieldChoiceForm.
But inside Admin, I have no idea why it either calls this form or doesn't call this form.
At the moment, it's not calling this form at all. It calls something else, but I can't figure out why

[2022-10-04 15:03] susanodd commented on #658
Okay, I've got the English only working again.
However, in this case, the test updates the name_en field. (Whereas in the "English only" false case, the name_nl field is updated.)
For the English-only case, this has a side effect on the "name" field (it ends up being the same as the name_en field which was updated, in spite of not directly updating the name field.)
Whereas for the other case where

[2022-10-04 15:06] susanodd commented on #658
I have code now that either uses the name_en field, or adds the name field to the form.
(I suspect this later case doesn't arise.)

[2022-10-04 15:13] susanodd commented on #658
It would only be relevant to override with LANGUAGE_CODE if the "Signbank instance" did not use English in the name field.
Otherwise it needs to be 'en'.
I'm concerned about using the LANGUAGE_CODE, although I see it's in the default settings.
But we have been overriding this in the templates and as a parameter in methods.

[2022-10-04 15:44] susanodd commented on #658
A few minor weird bugs fixed, but it's working now!

[2022-10-04 15:48] susanodd commented on #658
I changed the override in the Admin to the LANGUAGE_CODE of default as suggested.

[2022-10-05 07:37] vanlummelhuizen commented on #658
I think the whole mechanics of ENGLISH_ONLY could be removed after all this. If a Signbank instance needs 'english only' it just should have only English in the list of languages. Do you agree?

Also, the implementation of Page (title, contents) also has languages hardcoded. So after FieldChoice and Handshape, we/you should work on that probably.

[2022-10-05 08:41] susanodd commented on #658
For the tests, we probably need to also use either "one" or "multiple languages" in use.
The two test cases are whether (at the moment, English only scenario) the "single language" name_ field is updated (and it gets copied by Django to the name field) or an other language (in this case name_nl, which is not the LANGUAGE_CODE aka 'en') and on update, it does not get copied to the name field (the t

[2022-10-05 12:18] susanodd commented on #658
The newest version has been pushed. The tests work, the FieldChoiceAdmin works.

[2022-10-05 12:29] susanodd commented on #658
If you browse the recent changes to the FieldChoiceForm clean method, you will notice that it now uses "data" instead of "cleaned data". For some reason "cleaned data" was not showing up in the tests. The clean method does validation checks on the data. It does not return anything.
There is something weird with the sequence of called methods due to the use of VersionAdmin. The tests don't actually

[2022-10-05 14:42] susanodd commented on #658
I'm working on handshapes now. The hard-coded filter query fields were in the HandshapeListView code. (This is on master, it has been repaired to use the _fk fields, but keep the _fk hidden.)
https://github.com/Signbank/Global-signbank/blob/b3bde51f1f9eaa9c0f7f56bcbbcfb7ed11f093e0/signbank/dictionary/adminviews.py#L4652-L4657
Code that constructed choice_lists has been removed, since it's no longe

[2022-10-06 08:37] susanodd commented on #658
I checked to see the difference between using the _fk field name in the HandshapeSearchForm template part of admin_handshape_list.html
Indeed this does show the choice list in the form's field, but it's the "__str__" value of the field choices inside the list.
........

I just tested setting the NL language fields of the Quantity FC. They were all actually in English.
Indeed the translation works

[2022-10-06 09:27] susanodd commented on #658
I realise that the goal is to remove the original old FC columns from the database.
However, I prefer to not remove them and just make them obsolete and unused, like other columns have become.
I'm making it so Signbank uses the new FC model everywhere, and the tests have helped identify code that was still using the old model. And after making build_choice_list in fact just return empty lists has

[2022-10-06 10:22] susanodd commented on #658
I removed a bunch of unused code from the HandshapeListView.

[2022-10-06 10:48] susanodd commented on #658
As far as I can tell in running the system in the past weeks, everything is working fine and using the new FC model.

I spotted a bug on the live server involving handshapes (when searching on Handshape name). This bug isn't present on this branch. I revised it to use iregex.
But in looking it up I noticed the admin_handshape_list.html still includes hard-coded language fields.
It's back to the ch

[2022-10-06 11:09] susanodd commented on #658
Baah. I found it in the `fieldchoice_field_translations_658_661` cherry-pick branch:

https://github.com/Signbank/Global-signbank/blob/6df36b70a9ea2f90b72ec78d044aeb71ece6ee03/signbank/dictionary/templates/dictionary/admin_handshape_list.html#L384-L391

[2022-10-06 11:25] susanodd commented on #658
What exactly is being translated? "Name" or "Handshape name" ?
The first column is (translated) "Handshape". Its column is an image.
The second column is the name.
Are the translations of "Name" and "Handshape name" different?
(Actually, this needs to be "Handshape Name" for English to be consistent with the capitalisation rules.)
Aesthetically, it would look better just as "Name". But would that

[2022-10-06 11:28] susanodd commented on #658
Okay, I resolved it. It needs to be {% trans "Handshape Name" %}.
This gets translated properly to Dutch: "Handvorm-naam". Whereas the non-cap name didn't get translated.

[2022-10-06 11:37] susanodd commented on #658
Now need to inspect the Feedback section.

[2022-10-06 12:25] susanodd commented on #658
https://github.com/Signbank/Global-signbank/blob/348902a6a6c27c710742c425c0aa45fbaa5e4b7f/signbank/feedback/models.py#L76-L80

https://github.com/Signbank/Global-signbank/blob/348902a6a6c27c710742c425c0aa45fbaa5e4b7f/signbank/feedback/views.py#L147-L163

[2022-10-06 12:27] vanlummelhuizen commented on #658
Well, it is not `build_choice_list` itself that makes ModelTranslation not work, it is the moment it is first called namely in the model definition which is before ModelTranslation is initialized. More specific, it is called in the `choices=` argument of some of the old fields that refer to FieldChoices. So, that is why removing those old fields solve the problem without having to remove or rewrit

[2022-10-06 12:31] susanodd commented on #658
What to do about the Feedback section?

[2022-10-06 12:35] susanodd commented on #658
One thing that seems messed up are the GlossRevisions. I tried looking at them in the Admin and it hangs trying to view specific ones.

[2022-10-06 13:14] vanlummelhuizen commented on #658
What do you mean exactly?

[2022-10-06 14:34] susanodd commented on #658
The new FC model isn't actually used. Only really old entries make use of the fields.
We could choose to delete all the unused (Auslan) code and the field choices aren't present anymore.

[2022-10-07 11:12] susanodd commented on #658
I revised the GlossRevision Admin. Although not specifically related to Field Choices, although it involves updating gloss fields as stored in the gloss revisions.
I made it so users can filter on user or dataset, and made it a list display rather than just the `__str__` display.

I'll see if I can do something with Feedback Admin. The only place the new FC fields are visible is when viewing somet

[2022-10-10 10:13] susanodd commented on #658
The feedback code should actually be a different issue. This is unfortunate that it's addresses here in the merging of this branch.

I modified Missing Sign Feedback to hide the unused fields in the Admin. (the fields you can not enter data into in the interface)

But there is also a Sign Feedback section for which there is no navigatabel (does this word exist? I can't get it to spell check) form

[2022-10-10 11:40] vanlummelhuizen commented on #658
@susanodd I think quite a few of the problems in the Feedback session you point out are out of  scope of FieldChoice+ModelTranslation refactoring. Perhaps we should rethink and revise the whole Feedback section in a separate refactoring process where we also consult @ocrasborn. What do you think?

[2022-10-11 14:11] susanodd commented on #658
I just pushed all the recent changes to Gloss Revision Admin and Feedback Admin.
This is primarily making sure things are read-only. For Gloss Revision it makes no sense to be able to edit anything.
New functionality has been added for filtering on a dataset or on a user. Without this there is far too much data slowing down the system.
For Feedback, the fields that currently can not be entered in

[2022-10-11 14:13] susanodd commented on #658
I'm caught up now. The system runs!

Overall there are incidental hard-coded uses of '_fk' which I ought to program around to make them invisible.
Most places have some helper functions to obscure this. But prior to making those, I had already hard-coded some of them.

[2022-10-11 14:46] susanodd commented on #658
I just did a search on " '_fk' " to find hard-coded uses.
There are a few in models.py. This is an exception because the helper function defined in tools.py could not be called because tools.py imports models.py
Of the templates, they are all in admin_handshape_list.html

[2022-10-11 15:01] susanodd commented on #658
One place the model translations of field choice name are not working is in handshape list view.
https://github.com/Signbank/Global-signbank/blob/e81fabaa6fcdd0aa03371192f555e5094132b32c/signbank/dictionary/templates/dictionary/admin_handshape_list.html#L514-L523
Of these columns, only the handshape.name is translated. The nested fields are not.
(Only the hsNumSel_fk field actually has translation

[2022-10-11 16:19] susanodd commented on #658
@vanlummelhuizen  how to I "derefence" a field choice foreign key?

I'm trying to obtain the "field choice object" of the foreign key. Do I need to do a lookup?
I tried putting all the values of the handshape field in a dictionary, so that the name can be retrieved from the field choice object.
But that doesn't work in the template. Still won't translate. Here below, this is the idea. The first li

[2022-10-12 05:38] susanodd commented on #658
I guess the rows in the handshape list table could be made ajax calls, as for the gloss list table. The translations work in the gloss rows. Maybe Django can't translate after multiple dereferences?

[2022-10-12 05:44] susanodd commented on #658
I'm kind of wishing I could put my test server on lightning instead of using the PyCharm `runserver`. Then you guys could also test out things for debugging it. Most of the time now is on debugging and code improvement. It's basically running, but needs more trying it out before merging. The above code is recoding to get rid of hard-coded '_fk' fields. I know they will eventually disappear, but th

[2022-10-12 08:06] susanodd commented on #658
Hmmm. The gloss list table isn't doing the model translations on field choices either.

[2022-10-12 08:16] susanodd commented on #658
@vanlummelhuizen can you start running it on your laptop too, so we can figure out why the model translations aren't working?
This is annoying.

[2022-10-12 08:28] susanodd commented on #658
@vanlummelhuizen @Woseseltops my PyCharm is now complaining:

`Cannot run program "xdg-open": error=2, Bestand of map bestaat niet`

That has never happened before. Just before that, I tried using get_language() in the HandshapeListView get_context_data.
Then that error.

[2022-10-12 08:46] susanodd commented on #658
Can this be doing something?

`choicelist_queryset_to_translated_dict`

[2022-10-12 09:41] susanodd commented on #658
I'm suspecting we need to pass the interface language code around.

Now even though NL is set, and the database has Dutch values in name_nl, it is now refusing to show the NL in the name_nl fields of Admin.
This is totally messed up.

[2022-10-12 10:12] susanodd commented on #658
What about these lambda functions applied to the name field of field choices?

https://github.com/Signbank/Global-signbank/blob/e81fabaa6fcdd0aa03371192f555e5094132b32c/signbank/dictionary/translate_choice_list.py#L39-L45

[2022-10-12 10:14] susanodd commented on #658
All the functions in translate_choice_list.py were originally doing translation using a language code parameter. But none of them do translation anymore. But they do retrieve and sort on the name field.

[2022-10-12 11:59] susanodd commented on #658
Still no luck. Worse, it looks like although the fields have the correct language in the name_ fields (querying the database shows that name_nl indeed has Dutch in it).
That on running a FieldChoice.objects.filter(field='NoteType') and then looping over this to print __dict__ for each object, the name_nl fields do not have Dutch in them.
Django (or PyCharm) does something between "getting from the

[2022-10-12 12:03] susanodd commented on #658
I tried adding the language_code back to the `choicelist_queryset_to_translated_dict` but it basically ignores the language in spite of it being set. It retrieves English for the field `name_nl`, in spite of Dutch being in the database. So it's not actually getting the specified field.

[2022-10-12 12:32] susanodd commented on #658
On an extreme whim, I did this in model FieldChoice:

`    def __str__(self):`
`        print('__str__: ', get_language() ,self.__dict__)`
`        name = self.field + ': ' + self.name + ' (' + str(self.machine_value) + ')'`
`        return name`

Indeed, the `get_language` is 'nl', but the `__dict__` has all the fields in English.

[2022-10-13 15:55] susanodd commented on #658
The translations are working again.
The newest version has been committed.

[Alert: There is a glitch in the Query Parameters for the Default scenario, which makes use of the models.py code `phonology_matrix_homonymns`. But this code uses the id of field choices, whereas the querying is done on the machine value.
So this discrepancy causes the "default query parameters" (only visible if you view a

[2022-10-14 10:12] vanlummelhuizen commented on #658
@susanodd Great that the translation is working again!
Have you seen this that the Field names are also shown on GlossDetailView:
![Screenshot 2022-10-14 at 12-08-12 Gebaar voor wesseltest6](https://user-images.githubusercontent.com/16682631/195822240-72895002-21f8-41e3-b61d-85bff40a2350.png)

[2022-10-14 10:33] susanodd commented on #658
Yes, while playing around with it, I was attempting different strategies to obtain the translations.
That one slipped. That's how I noticed some code was referencing the id whereas others the machine values.

[2022-10-14 10:36] vanlummelhuizen commented on #658
Perhaps something like this:
[code]

[2022-10-14 10:38] susanodd commented on #658
That looks elegant!

[2022-10-14 11:59] vanlummelhuizen commented on #658
...

The following may even be better, because it should also work if the old FieldChoice refs are deleted and replace by the FK fields:
[code]

[2022-10-14 12:05] vanlummelhuizen commented on #658
Hmm, I now see that something similar is done just below. I will try to find out why that doesn't work.

[2022-10-14 12:07] vanlummelhuizen commented on #658
Ok, the following was all it took:

[code]

[2022-10-14 12:08] susanodd commented on #658
The code that follows (the code above) is a bit obscure. It's actually making choice lists that are used in the gloss_edit.js code.

[2022-10-17 11:24] susanodd commented on #658
I rearranged some of the GlossDetailView code where the "choice lists" are computed. I moved the code relevant to the display of the human value outside of the loop that computes the choice lists for the javascript.

[2022-10-17 13:21] susanodd commented on #658
The Morphemes are working now.
But I've uncovered a bug with adding new Notes to glosses and morphemes. The update function still uses the old field choices.

[2022-10-18 10:37] susanodd commented on #658
I'm revising the forms now.

[2022-10-18 10:44] susanodd commented on #658
Question: On Global, on some of the forms in Gloss Detail View, for sequential morphology, and Notes, the choices '-' and 'N/A' are shown.
But say for Sequential Morphology (the choices are for the component), it doesn't make sense to set '-' or 'N/A'. Global allows this, although this is supposed to be a required field.

I had to null out the original choice lists and they're being computed in an

[2022-10-18 10:54] susanodd commented on #658
This form isn't actually used in the MorphemeDetailView

https://github.com/Signbank/Global-signbank/blob/b3bde51f1f9eaa9c0f7f56bcbbcfb7ed11f093e0/signbank/dictionary/adminviews.py#L6289

It's for defining components in sequential morphology, so it probably doesn't make sense here.

[2022-10-18 11:26] susanodd commented on #658
I've removed the unused Form class.
The new choice lists include the '-' and 'N/A' to match Global.

[2022-10-18 13:47] susanodd commented on #658
The remaining "build choice list" (the code of that) have been repaired to do this at run-time in order to retrieve the model translations correctly.
Minimal Pairs searching now uses the new field choice model. And all the places that used Notes, and Morphology-related field choices also use the new model.
It's working!

What remains are queries over handshapes in the handshape search form.

[2022-10-19 12:59] vanlummelhuizen commented on #658
Setting language for CSV export:

[code]

[2022-10-19 13:00] vanlummelhuizen commented on #658
@susanodd

[code]

[2022-10-19 13:58] susanodd commented on #658
Revised CSV Export / Import Update pushed.

[2022-10-19 14:46] susanodd commented on #658
Committed the next cherry pick. Applied the migrations successfully!

[2022-10-19 14:53] susanodd commented on #658
The next migrations are tricky.
`signbank/dictionary/migrations/0048_auto_20210602_1016.py`
`signbank/feedback/migrations/0007_auto_20210602_1017.py`

They copy handshape values to the new fields. (But which ones as there has been no renaming yet.)

[2022-10-20 09:04] susanodd commented on #658
@vanlummelhuizen if fields are removed from the model, then the migrations with python functions won't be able to copy values anymore on master. The FieldChoice.objects.all() won't find the fields anymore in the model. It only works now because it was applied at the time in the model.py file's history that the fields existed.

https://github.com/Signbank/Global-signbank/blob/e70198f7dd7ad4c166701a

[2022-10-20 10:44] susanodd commented on #658
In the queries on Handshapes,
`            elif isinstance(gloss_field, models.ForeignKey) and gloss_field.related_model == Handshape:`
`                choice_list = Handshape.objects.all()`
This now includes "empty" handshapes, '-' and 'N/A'.
These used to not be included among handshapes.
The distinction between "not set" (None) and choice '-' is blurred.

[2022-10-20 13:43] vanlummelhuizen commented on #658
@susanodd For commit 078ba1b6d5f94baa0c9c3d888ed6e677333c0ac6 to work, I had to do

[code]

[2022-10-20 14:08] vanlummelhuizen commented on #658
@susanodd You probably need to take care of Handshape field in https://github.com/Signbank/Global-signbank/blob/078ba1b6d5f94baa0c9c3d888ed6e677333c0ac6/signbank/query_parameters.py#L422-L424

[2022-10-20 14:09] susanodd commented on #658
Yes, it was crashing on the first list.
I had previously unindented some code and reindented it.

[2022-10-20 14:10] susanodd commented on #658
Oh oops. I just realised I need to copy the color field from field choice.

[2022-10-20 14:21] susanodd commented on #658
The code just above looks like this now:

            _if key[:-2] in ['domhndsh', 'subhndsh', 'final_domhndsh', 'final_subhndsh']:
                choices_for_category = Handshape.objects.filter(machine_value__in=query_parameters[key])
            else:
                field = map_field_name_to_fk_field_name(key[:-2])
                field_category = Gloss._meta.get_field(field).field_choice_cate

[2022-10-20 14:50] susanodd commented on #658
I'm running the tests now.
Repaired gloss update thanks to the tests.

[2022-10-20 15:41] ocrasborn opened #848 "Change text on login page for registration"
The registration option now says "Register for free to provide feedback on the Signbank." That's long outdated, users have better reasons now to get an account: to get access to datasets. Therefore, please change to "Register in order to get access to datasets"

[2022-10-20 15:48] ocrasborn opened #849 "Change registration and dataset access procedure"
When new users register, they can apply for access to a dataset. Similarly, when users already have an account, they can apply for access to more datasets. When they do, a notification email is sent to... the dataset manager... or an admin? (not sure, because i'm both). I then have to go to Datasets > Manage Datasets to give the user access. Please remove this manual intermediate step, immediately

[2022-10-20 15:53] ocrasborn opened #850 "Send dataset manager a notification when a new user has been given access"
This is a follow-up to #849 : instead of sending an email to notify the admin (or dataset manager?) that a user is asking for permissions to see the dataset, send a notification that a new user has been given access.
Again, this pertains both to new users just signing up and to existing users getting access to additional datasets.
The subject of the new mail should read "A new user has been given

[2022-10-21 09:43] susanodd commented on #658
Totally amazing! The test `test_frequency_sorting` now also looks at dutch and chinese!!

[2022-10-21 09:44] susanodd commented on #658
It's not actually testing the actual sorting, it's testing that fields with no glosses having the choice are indeed empty in the display.
But now it's doing it for all interface languages.

[2022-10-21 09:54] susanodd commented on #658
The translations are totally awesome!!

[2022-10-21 10:52] susanodd commented on #658
More revisions to acquire the actual frequencies for the newly typed fields.

In order to maintain parametric coding in the "choice lists" on the other types of lists (eg Handshape), I'm using the (model name) 'Handshape' in the code where previously field_choice_category was used.
In spite of some code going away for field choices, some other code is needed to identify the different types.
This a

[2022-10-21 10:58] susanodd commented on #658
Probably some of the code that "obtains lists of things to show in the interface" can be reworked into functions to reduce repetitiveness.
The functions in translate_choice_list.py receive a query list. Those work on lists of anything. But there are queries all over the place that (dynamically in the appropriate language) obtain the query objects to give as parameters to those functions. The thing

[2022-10-21 11:31] susanodd commented on #658
Hmpf. I made the migrations as described above.
Now the Admin is totally messed up. :)

[2022-10-21 13:53] susanodd commented on #658
The Admin is working again. The tests are working again.
Some additional code is needed for the semantic fields and derivation histories since those still use the field choice model in a few places.

[2022-10-21 13:55] susanodd commented on #658
The Handshape Admin only allows to change the name (translation) fields and the color.
Once upon a time, we decided users should update handshapes in the HandshapeDetailView.

[2022-10-21 13:57] susanodd commented on #658
@vanlummelhuizen is the end game that the field choice categories for Handshape, SemField, and derivHist get removed?
(They are redundant now. The search fields still use them though.)

[2022-10-23 05:35] susanodd commented on #762
For Global, SemanticField and DerivationHistory have model translations for the interface languages (#658)

[2022-10-23 05:39] susanodd commented on #658
Many other issues have also been addressed in this issue due to the revisions needed to adapt to the changes to the model class. Model translations have also been added for the interface languages. These also permeate to all the code.

[2022-10-24 09:21] susanodd commented on #658
Q about settings. Currently Multiple Select Fields are computed dynamically by looking at the types of fields to determine if there are choices. To my surprise there isn't a setting. This is done at many places in the code. The multiple select fields all used to be field choices, and the test was whether the field has the attribute field_choice_category. This made the code footprint smaller since

[2022-10-24 10:37] susanodd commented on #658
@vanlummelhuizen it would be convenient to have a data structure that maps field names to "choice category" for the purpose of multiselect fields.
I noticed there are actually multiple implementations of code that matches the field choices to the color. I'm currently making this become one style.

Since the field_choice_category (eventually) is an attribute of FieldChoiceForiegnKey (and no longer

[2022-10-24 10:39] susanodd commented on #658
The colors need to be paired with the machine value for the purpose of being paired to the lists that end up being processed by select2.

[2022-10-24 10:42] susanodd commented on #658
There are many variations of the same kind of code, some looking at the category instead. But here it's not using field_choice_category.

[2022-10-25 08:24] susanodd commented on #658
There's some gnarly code in the FieldChoiceView where users can choose colors.
The Handshape part needs to be rewritten. The loop needs to be structured differently in order to show the frequency of the Handshape choices of the two different fields.

[2022-10-25 10:02] susanodd commented on #658
I've got the frequency view colors working again with the handshapes, semantic fields, and derivation histories.

One glitch is the "sorting" of the pull-down lists ends up "different".
Here's a screenshot of handshape choices (using Handshapes, not field choices).
This is a bit weird.

![sorting-frequencyfieldcolorview](https://user-images.githubusercontent.com/24272544/197744602-0d64c74c-e553-45

[2022-10-25 10:50] susanodd commented on #658
I pushed the newest code. The weird mysterious sorting shown above is included.
They are both sorting on the "contents" shown. One uses a lambda key sort, and so does the other.
`sorted( ..... ,key = lambda x: x[1])`

[2022-10-25 10:51] susanodd commented on #658
There are a number of new migrations.

[2022-10-25 11:01] susanodd commented on #658
https://github.com/Signbank/Global-signbank/blob/b8b893406cb141974765a231ad4cfe68f4138f7e/signbank/dictionary/adminviews.py#L5699-L5705

versus

https://github.com/Signbank/Global-signbank/blob/b8b893406cb141974765a231ad4cfe68f4138f7e/signbank/dictionary/adminviews.py#L5724

[2022-10-25 11:15] susanodd commented on #658
More modifications necessary: the code that checks the consistency between FieldChoice Handshape and the Handshape model.
The code updates one of the other model to add missing handshapes or handshape choices to the models.
This needs to be removed. A similar thing is done for semantic fields and derivation histories.