[2020-11-05 08:20] Woseseltops commented on #658
The Catalan users have mentioned this again; should get higher priority.

[2020-11-05 11:31] vanlummelhuizen commented on #658
Understood. So far I tried to use django-modeltranslation to do this. I also tried to copy the old field values (english_name, dutch_name and chinese_name) to the  new fields from django-modeltranslation. Unfortunately, django-modeltranslation does accept that somehow.

[2020-11-05 12:42] ocrasborn commented on #658
Not all too relevant perhaps, but we'll also be translating the Global SB interface to Hebrew and Arabic in the coming half year.

[2020-11-06 09:07] Woseseltops commented on #694
If I understand it correctly, there are two separate problems:

1 The email functionality when requesting access for a new dataset does not work
------------------------------------------------------------------------------------------
When I tried to test this, I did not even reach the email stage:

<img src="https://user-images.githubusercontent.com/1909317/98346811-ce73d880-2016-11eb-8434-13450

[2020-11-06 09:32] Woseseltops commented on #694
Okay, created a fix for problem 1. After that, I receive the email.

@vanlummelhuizen , I followed our agreement and created a new branch for it. Could you review and merge? Also, I'm unsure if a new branch + review request is needed for every small fix, like this one... perhaps limit it to larger chunks of new functionality?

[2020-11-06 09:34] ocrasborn commented on #694
@Woseseltops , re: 2:ah, today (?!) I do see lists of users appearing! Well, that problem seems to have gone up in air then. Good!

[2020-11-06 09:47] Woseseltops commented on #694
Not 100% if it's good ;). If problems go away without us understanding why, they might also come back without us understanding why :P

[2020-11-06 09:50] ocrasborn commented on #694
Sharp as ever :-)

[2020-11-06 10:40] susanodd commented on #658
Will there be new interface languages as well?

For default sorting for gloss lists the language used is now English because the empty columns were causing problems.
There had to be something in the columns. (The Farsi dataset also had problems sorting.)
(That was in #691)

Is it essential to have multiple languages for e.g. Handshapes, say?
(At the moment only Dutch is filled in.)

Is it possible

[2020-11-06 10:51] ocrasborn commented on #658
Hi @susanodd , yes, that's what I meant: we will be adding Arabic and Hebrew to the interface languages. Especially for deaf assistants, being able to work in their first spoken language (already a foreign language to them) is important. Aside from that, for the new Israeli SL dataset, Arabic and Hebrew will be dataset languages (for the glosses and translation equivalents). Having the interface t

[2020-11-06 10:56] ocrasborn commented on #694
Hm, this may well be unrelated, but even after making myself co-owner of dataset with acronym IS_Whynot, I cannot set any access options there on the page. Can do so (and did) in the admin. For any of the other datasets, when I click any of the grant/revoke buttons, the entry fields pop up. But not for IS_Whynot. Why?

[2020-11-06 11:47] susanodd commented on #658
I was wondering if instead of putting the different languages in the field choice / handshape model (which is what this issue is about), if it would work to make a user friendly translation table editor. And then just only leave English in the model.

Q: Is this what @vanlummelhuizen is doing? (Only leaving English in the model?)

Like let the managers edit some translation tables to get all the t

[2020-11-06 11:53] susanodd commented on #658
In the code, some places where stuff is constructed for display (in the context for views), the django translation is used via the _(...) syntax, e.g., on the verbose field names, so django does the translation.
(I only realised this recently because it was translating stuff depending on the interface language and I needed to override that for minimal pairs.)

[2020-11-06 12:53] ocrasborn commented on #694
Another observation, possibly related? (If not do move it to a new issue) A new user that I set to 'active' in the admin yesterday, could not see her profile page today. See screen shot of error.
![Error 6-11 profielpagina](https://user-images.githubusercontent.com/10242207/98368347-7d281100-2037-11eb-8378-af633cab95eb.png)

[2020-11-06 14:54] Woseseltops commented on #673
Turns out there are multiple Python MySQL packages for different Python versions, that have different names when using pip vs import; Django seems to support them all (I think). An attempt to take away my own confusion:

| pip install | import | note |
| -----------| --------| ------|
| MySQL-python | MySQLdb | Python 2 only |
| mysqlclient | MySQLdb | fork of the previous |
| PyMySQL | pymysql |

[2020-11-10 10:57] vanlummelhuizen commented on #694
@Woseseltops Your fix could be called a hotfix and I don't think a separate branch and review is necessary for those. My point of suggesting branches and reviewing was that when you e.g. want to make a hotfix you don't want to go through and review many changes on master between the current commit on the live server and HEAD before making that hotfix.

[2020-11-10 11:59] vanlummelhuizen commented on #694
@Woseseltops I merged your branch with master and put it live. Do you want to delete the branch?

[2020-11-12 13:14] susanodd commented on #693
here are some screenshots of a field choice color management page.
I added a preview pull-down list.
Excuses for the color choices shown!

The color picker comes from Django, because the input type is color and the field is type color.
There's a separate scroll bar in each panel of the category, the right panel where you can set the color,,
and the left preview panel in the list.

![field-choice-c

[2020-11-12 15:07] vanlummelhuizen commented on #658
A bit of an update on the whole process of reworking the FieldChoice setup for the use of Foreign Key and using Django-modeltranslation to translate the FieldChoice name. More explanation on this in https://github.com/Signbank/Global-signbank/issues/658#issuecomment-684584015 and comments below.

I think there is success!

1. Gloss and Handshape fields that refer to FieldChoice are now using Forei

[2020-11-12 15:57] ocrasborn commented on #693
This looks great @susanodd ! Is the colour picker I see in the screen shot the standard Linux one, and would on my mac the standard Mac colour picker be used?

[2020-11-12 15:59] ocrasborn commented on #693
Oh, one request for when you're almost ready with this: to make it only available to admin users (like me :-)). A menu time for it would be nice though, although I'm not sure where it would best fir really, we don't have a 'Settings' menu (yet!).

[2020-11-13 09:47] Woseseltops commented on #693
Nice work @susanodd . Now you're making mockups, maybe also one for how it will look for the end users? I guess this dropdown, now all red, will get different colors, right?

![image](https://user-images.githubusercontent.com/1909317/99058511-9b44c280-259d-11eb-93cf-7dbdcb237706.png)

[2020-11-13 10:15] Woseseltops opened #695 "Dataset manager view: manage buttons do not work for dataset "International Sign (Whynot 2016)""
All of the grey 'manage' buttons in this screenshot were clicked, but nothing happens for the 'International Sign' one:

![image](https://user-images.githubusercontent.com/1909317/99061167-6d617d00-25a1-11eb-94e8-084960de059e.png)

Instead, I get an error in the console:

`Uncaught Error: Syntax error, unrecognized expression: #dataset_InternationalSign(Whynot2016)_manage_change` .

I'm guessing t

[2020-11-13 10:21] Woseseltops commented on #694
I can reproduce this, seems a separate thing: #695

What user is this, @ocrasborn ?

Thanks. Maybe only delete when the accompanying issues are closed? @ocrasborn , can you verify problem 1 is also fixed, and if so close the issue?

[2020-11-13 10:46] ocrasborn commented on #695
@Woseseltops : yes, parentheses may be removed here in the name

[2020-11-13 10:48] susanodd commented on #695
It looks like that dataset_ .... _manage_change
should be the acronymn, not the dataset name.

[2020-11-13 10:52] susanodd commented on #695
In the template for manage datasets, those used in identifiers may ought to be acronym instead of name.
There's code for removing spaces, but not parentheses.
Probably jquery can't deal with special characters.

`href="#dataset_{{dataset.name|cut:' '}}_manage_change"`

[2020-11-13 10:58] ocrasborn commented on #695
(Background: we started out with just short names, and later decided that we'd better separate names from acronyms. For the initial datasets, the names were short.)

[2020-11-13 11:05] susanodd commented on #693
Yes, it should be the browsers own color picker.

I'll see about making a mock-up for the Gloss detail view. I say mock-up, but it's actually working. But only that one management page actually does anything.

And I'll do a Settings menu if it's a superuser, to restrict access.

[2020-11-13 12:58] Woseseltops commented on #673
Today, tried to install PyMySQL instead of MySQL, using its option 'install_as_MySQLdb'. Like with the other package, it works when you try it separately (in the Django shell), but when I run the actual application, I get:

`AttributeError: module 'pymysql' has no attribute 'install_as_MySQLdb'`

As similar kind of error, like it didn't load the module correctly or something. I'm now going to test

[2020-11-13 14:14] Woseseltops commented on #673
Ha! It's emperor related! If I run the uwsgi-process by hand, I get a new error `Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock` ! Progress!

[2020-11-23 11:34] ocrasborn opened #696 "Create another two interface translations (Hebrew & Arabic)"
This is of course not 'blocking' in the sense of us not being able to work anymore, but @Woseseltops or @vanlummelhuizen , it'd be good if you could do this before continuing with other things. I'm not quite sure what is required, but we'll need to have another interface element to allow for selecting the new language, the admin needs to display new fields for page translation e.g., and a .po file

[2020-11-23 12:22] susanodd commented on #696
The pull-down language setting (with the flags), that's hard coded. And a few other places that explicitly look at the interface language.

[2020-11-23 12:34] susanodd commented on #696
Some of the places where that interface language code is used is in determining e.g., what field choice language to show.
And similarly for handshapes.
(I searched in the code on "zh-hans" to see where it's explicitly tested for.)

[2020-11-25 09:51] vanlummelhuizen opened #697 "FieldChoice with field 'Handshape' and machine_value 2 has many duplicates"
@ocrasborn @Woseseltops @susanodd Do know why?

[2020-11-25 10:01] ocrasborn commented on #697
Don't know how it came about, but remember that it was there, yes. I thought we had already polished it away. Is there perhaps an older issue about it, @vanlummelhuizen ? If it was re-introduced, we should dive into it. If not, then we should check the data, make them consistent, and remove one of the values.

[2020-11-25 11:47] ocrasborn opened #698 "Enable the 'handshape' functionalities for ASL"
Not sure what all is involved. From the user side, in Global SB we have the Signs > Search Handshape item, which leads to the page with the handshape table. Also, in the gloss detail view, the values for Handshape Strong and Handshape Weak are hyperlinked to the entry in the handshape table, so to the handshape detail view. Anything else?
They will be creating their own list of handshapes in the e

[2020-11-26 08:33] ocrasborn opened #699 "Create CSV export function for all media links and gloss-number links"
For some purposes, it'd be really helpful to have a list of what the gloss number in the database, the annotation ID gloss, and the media links are. It's fine to keep the URLs as they are. We could add these as extra columns to the CSV export of search results, but perhaps we don't want all users (but only dataset managers) to have access to this. Proposal:
* Create an extra column ("All links") w

[2020-11-26 09:25] vanlummelhuizen opened #700 "Replace FieldChoices with category 'Handshape' with Handshape objects"
Handshape objects are now linked to 'Handshape' FieldChoices using the machine_value (which is used as the primary key in Handshape).

Do this after #658 and #661.

[2020-11-26 10:55] Woseseltops opened #701 "Clicking the 'activate' link after registering for an account does not actually activate the account"
Pinpointed the problem to this line of code:

https://github.com/Signbank/Global-signbank/blob/master/signbank/registration/views.py#L52

[2020-11-26 12:10] Woseseltops commented on #696
The current flag icons are from an icon set that is no longer available, and thus can no longer be extended. Proposed new icons (UK one already being used by the Catalans):

![image](https://user-images.githubusercontent.com/1909317/100349379-a27dbe80-2fe8-11eb-9af5-425bff670e75.png)

[2020-11-26 12:18] Woseseltops commented on #696
Created a branch for this, added a .po: https://github.com/Signbank/Global-signbank/blob/506156d37dfc3b6f5b8cb40d3d2ce78913fe78cf/conf/locale/he/LC_MESSAGES/django.po

[2020-11-26 12:24] Woseseltops commented on #696
To do:
* Adding the new interface language to the settings
* Integrating it in the menu dropdown (@susanodd already located where)

If I'm not mistaken, model-translation should handle the rest of it from here automagically (like an extra field to translate pages, etc). The only place where it does not work is field choices : https://github.com/Signbank/Global-signbank/issues/658

[2020-11-26 12:28] susanodd commented on #700
This was originally done so that queries could work on sets containing objects of type Handshape as well as FieldChoice, hence the overlapping field names.

[2020-11-26 12:40] ocrasborn commented on #696
Hi @Woseseltops , thanks for taking this up! Could you adapt the permissions so that I can access the .po file?

[2020-11-26 12:48] ocrasborn commented on #694
@Woseseltops , I'd love to test it, but am hampered by the fact that my test account (testonno) gives the error above upon logging in: "DoesNotExist at...", just like the account for the new user (forgot which that was, sorry)

[2020-11-26 12:51] ocrasborn commented on #696
Sorry @Woseseltops , my bad! typo in the rsync command. All good.

[2020-11-26 12:59] vanlummelhuizen commented on #700
@susanodd Can you point me to code that does that?

[2020-11-26 14:35] susanodd commented on #700
https://github.com/Signbank/Global-signbank/blob/ef6d3cb7e44f253b901e85edd80ec73f0cd9fca5/signbank/dictionary/models.py#L1906-L1924

[2020-11-26 14:43] susanodd commented on #700
https://github.com/Signbank/Global-signbank/blob/ef6d3cb7e44f253b901e85edd80ec73f0cd9fca5/signbank/dictionary/adminviews.py#L5311-L5329

[2020-11-26 14:48] susanodd commented on #700
There's some of initialization code for setting up Handshapes as well. Originally they were only in FieldChoice until they became objects with additional fields. When first using Handshapes, if there aren't any Handshape objects, they are created. There should also be code for maintaining the two representations.

[2020-11-26 15:21] #683 closed

[2020-11-27 09:35] Woseseltops opened #702 "Page title and content interface languages are still hardcoded"
I have always assumed that these were linked to the modeltranslation package, but upon closer inspection it appears they are not! @vanlummelhuizen and @susanodd , can you verify?

[2020-11-27 09:36] Woseseltops commented on #702
Similar to #658 (although I hope the solution will be less drastic), crucial for #696

[2020-11-27 09:38] Woseseltops commented on #696
By chance, I discover today (a day later), that this is not true:

See #702 .

[2020-11-27 10:04] Woseseltops opened #703 "Not all text is translatable"
Quote from Jaime Burriel:

[2020-11-27 10:32] ocrasborn commented on #696
@Woseseltops : see my change to the title of the issue: I wasn't sure first, but we'd like to add not only Hebrew but also Arabic. I've asked the Israeli team which flag they'd like to use for that (or, if too difficult, suggested we might switch from flags to a text menu).

[2020-11-27 10:34] vanlummelhuizen commented on #702
@Woseseltops I can confirm. A little more detail: title and content are fields of the `Page` model and they have translations in fields `title_dutch`, `title_chinese` and `content_dutch` and `content_chinese` in the same model. So, Page is a excellent candidate to move to *Django-modeltranslation*. Since I am already doing this for `FieldChoice` and the like, I can do this for `Page` as well. Perh

[2020-11-27 10:41] Woseseltops commented on #702
Sounds very good!

[2020-11-27 10:45] ocrasborn commented on #694
OK, the error in my previous message (DoesNotExist at...) goes away if I reload the page (or go back in the browser, I forgot). I then apply for access to dataset EmblemsNL, and as the owner of that dataset, I get a nice email asking me to provide access. So that means that this issue can be closed.

[2020-11-27 10:45] #694 closed

[2020-11-27 10:46] vanlummelhuizen commented on #702
I just realized that for #658 and #661 I have quite some migrations. Do something similar for `Page` in a separate branch, would result in clashing migrations. I am going to think about this some more...

[2020-11-27 11:02] vanlummelhuizen commented on #703
That should be easy to change because all occurrences of that text are in templates (see https://github.com/Signbank/Global-signbank/search?q=%22patterns+as+follows%22&type=code). Just make it a {% trans ... %} thing.

While you are (or I am) at it, perhaps also try to bring it down to one occurrence since they seem exact copies of each other.

[2020-11-27 11:12] Woseseltops commented on #696
https://www.quora.com/Which-flag-represents-the-Arabic-language . I looked up it up and Duolingo goes for option 1. I think this is also a serious option, although the source is a bit unclear: https://commons.wikimedia.org/wiki/File:Flag_of_the_Arabic_language.svg

[2020-11-27 11:17] Woseseltops commented on #703
I think this nicely fits my 'add new interface language' branch for #696 !

[2020-11-27 11:26] susanodd commented on #702
Yes, my branch with colors has diverged quite a bit. I stopped pushing it because I keep revising the code.

[2020-11-27 11:29] susanodd commented on #700
There may also be some raw queries using fields. I'm not sure any more.
(That may have been intermittent when doing minimal pairs, if any handshape attributes can be included.)

[2020-11-27 13:45] ocrasborn opened #704 "Problem batch importing images"
I don't thing this is particularly new, we just don't do it normally: try to batch import images like we batch import videos. We now have a number of paper dictionaries that we want to digitise as SB datasets with images but not videos. Currently, I'm working on IS_WFD1975. Here's what I did:
* Upload images to writable/import_images/IS_WFD1975/eng/. (Here I noticed there were no subdirectories fo

[2020-11-27 14:20] Woseseltops commented on #703
Orders executed.  They were not 100% identical, solved with a parameter.

[2020-11-27 14:58] ocrasborn commented on #696
@Woseseltops , the Israeli team would really like to avoid any flags, for political reasons, and I can understand them. We had already made a choice for the flags representing English (well, and Dutch!) which was political in a sense, of course. But let's use this occasion to steer away from the flags (sorry for the effort you put into it finding a new icon set!), and move to a menu with language

[2020-11-27 15:09] susanodd commented on #704
The owner / group might need to be www-data ?

[2020-11-27 18:55] vanlummelhuizen commented on #703
Thank you. Dismissed ;)

[2020-11-30 14:13] susanodd commented on #693
Here is what it's looking like so far, showing the colors in the Gloss Detail View.
First the Managing page to show the set colors for Location, then the Gloss Detail View showing Location with those colors set.

All the red in the Edit mode of Gloss Detail View maybe needs to be less red? It's a bit red.

I'm still working on getting the fields to update with the colorful interface. The Manage pa

[2020-11-30 15:45] ocrasborn commented on #693
Great @susanodd !!
Now I see this, I realise I hadn't made this explicit, but it'd be fine to just show the colours in the pull-down menu in the detail view, and that once a coloured value is selected and confirmed (by clicking OK), the colour need not display.

[2020-12-03 09:11] vanlummelhuizen commented on #702
As I see it I could do either of two things:

1. Do this as an extension of the work in #658 and #661. It will take a while before it will be done.
2. I will do it in a separate branch (from master). This means I don't have to wait for #658 and #661 to be finished. Downsides: merging migration from parallel branches could be difficult (although I think is will be ok since they are dealing with dif

[2020-12-04 12:58] Woseseltops commented on #696
Too bad but I understand @ocrasborn ! Made a start with switching to text this morning.

To do:
* Remove the animations... they don't really add anything and it looks messy with overlapping text
* Things look weird when choosing the longer name 'Nederlands'.
* The language picker still needs to be cleaned up... I think it mentions 'flags' here and there in the code still.
* The input for the langu

[2020-12-04 14:11] ocrasborn commented on #696
@Woseseltops : yes, the longer language names will be ugly in the interface. How about two-letter ISO codes? EN-CN-NL-HE-AR? (not sure about Arabic)

[2020-12-04 15:32] Woseseltops commented on #701
Okay, this is added, but the ASL functionality this was needed for strangely still does not work.

After many hours of bug hunting I have concluded that there is a difference between the global and ASL Signbank in that newly registered ASL users get access to the main dataset automatically directly after registering (even before activating the account), while for the Global Signbank you have no pe

[2020-12-04 15:39] ocrasborn commented on #701
Hi @Woseseltops , much of it sounds like it should be: since the ASL SB only has one dataset, neither new users nor the system managers should be bothered with anything like permissions for the one and only dataset. We decided to keep the datasets in there, as they might well find purposes for datasets later, like having students work on their own secluded environment with a subset of the data or

[2020-12-05 13:50] ocrasborn commented on #704
Not sure what's changed, but everything correctly imports now. The group of the files is wwwsignbank, not wwwdata. However, I do still get this error page at the end of the process:

DoesNotExist at /dictionary/import_images/
Dataset matching query does not exist.

[2020-12-05 16:04] ocrasborn commented on #702
@vanlummelhuizen , option 1 is fine with me, if OK for @Woseseltops

[2020-12-06 13:02] #677 closed

[2020-12-06 13:04] ocrasborn opened #705 "Add hyperlinks for related glosses on Lemma Edit page"
A follow-up to #677 : please add hyperlinks on the glosses (in all languages) that appear in the list of linked glosses below the lemma on the lemma edit page. See screen shot for illustration; so in this case, on ERVARING and EXPERIENCE.
<img width="828" alt="Screenshot 2020-12-06 at 14 01 08" src="https://user-images.githubusercontent.com/10242207/101280866-e6807880-37cb-11eb-9ecc-019e5dd54c3a.p

[2020-12-06 13:41] ocrasborn opened #706 "Cannot add items under Related Signs"
When I try to add a homonym (under Related Signs), I can select the Type of relation, but typing in the gloss field does not deliver any suggestions. Filling in an existing gloss and saving leads to an error.
(This is a symptom we've recently had elsewhere, but I can't find the issue, sorry. Feel free to merge these / please refer to it if you can find it.)

[2020-12-06 13:52] ocrasborn opened #707 "Lemma exists says change lemma form, but search lemma says not"
I try to change Lemma Gloss VERWARD-C to VERWARD-B. 'Dutch Lemma ID Gloss not unique' is what I get. But when I search for lemma 'VERWARD', I only see VERWARD-A and VERWARD-C. (Not a unique case, but forgot the other one I ran into earlier today.)

[2020-12-07 08:09] vanlummelhuizen commented on #701
@Woseseltops No idea at this point. `git log -L` could reveal who did what.

[2020-12-08 13:57] susanodd commented on #707
I just searched (with NGT selected) on 'verward'.
I get two glosses, VERWARD-A and VERWARD-B.
But for the Lemma columns, VERWARD-A has a missing English (Lemma) translation.

![verward-zoek](https://user-images.githubusercontent.com/24272544/101492797-7ad21300-3965-11eb-9df3-9fde6e3eeb4c.png)

Could it be that some data was missing before you tried editing the lemma?
This was once causing problems

[2020-12-09 14:51] vanlummelhuizen commented on #707
@ocrasborn There is a Lemma without any Glosses with translation VERWARD-B, ID: 6716. If you go to the list of lemma's, page 35, you'll able to delete it. I suspect this will solve your problem.

Perhaps it would be a good idea to make the list of lemma's searchable.

[2020-12-10 09:30] vanlummelhuizen commented on #706
@ocrasborn Can you tell what the gloss is you tried to do this for? I just tried it for wesseltest3trala (id 3117) and I could add wesseltest6 as a homonym without any problem.

[2020-12-10 09:36] vanlummelhuizen commented on #704
@ocrasborn Those error messages without context are too general to find where they happen in the code. When you run into the same problem, please add more context. I am going to close this issue for now.

[2020-12-10 09:36] #704 closed

[2020-12-10 10:16] ocrasborn commented on #706
@vanlummelhuizen Hm, for any gloss I tried just now (in two datasets), all is fine... I'll close this for now, and remember to include more details for the next bug report :-)

[2020-12-10 10:16] #706 closed

[2020-12-10 10:42] ocrasborn opened #708 "Make the list of lemmas searchable"
See #707 . Judging from the problem there, not being able to see a Lemma ID Gloss that is not actually 'in use', that is being linked to an Annotation ID Gloss, it'd be best to add a search functionality to the admin. Downside: that would not help non-admin users. Only me, essentially. So, could we make unlinked Lemma ID Glosses appear in the regular lemma search on the sign search page, and then

[2020-12-10 10:42] ocrasborn commented on #707
Ah! Good find, @vanlummelhuizen , indeed I didn't find it as I wasn't going to click through the pages of the looooong lemma list somewhere. ;-) I've added you're idea as an issue, indeed exactly what we'd need. #708

[2020-12-10 10:42] #707 closed

[2020-12-10 11:00] vanlummelhuizen commented on #695
Solved it by using `slugify` template tag instead of `cut:" "`.

[2020-12-10 11:00] #695 closed

[2020-12-10 11:02] Woseseltops commented on #701
Hey @ocrasborn , this was the original functionality:

2a If the user requested a dataset, the dataset owner will get an email, and can go to the manage dataset page.
2b If not, s/he will show up in the list of users without dataset (both as a view and as a recurring email), where s/he can be given access to the default dataset.

Let me know if you think that 2b should be changed into: 's/he shoul

[2020-12-10 13:32] ocrasborn commented on #701
@Woseseltops : let's not change that, no, for Global Signbank. But for ASL Signbank, I do think that is what we want. That is, after the new user's account has been confirmed by the system admin (Julie) -- right? Otherwise anyone who registers can automatically access the ASL dataset, which I don't think is what they wanted, or is it?

[2020-12-11 09:26] Woseseltops commented on #701
Yes, and in the quote above it is proposed to do this 'confirmation' in the form of giving it access to the main dataset. So there are three things about an account that determine permissions:

* Active vs inactive. Inactive is used for accounts that didn't confirm their email or have been disabled (former colleagues).
* Groups: determines what kind of actions you are allowed to perform.
* Individ

[2020-12-11 11:11] Woseseltops commented on #701
Another morning of bug hunting, and I'm still stuck on the problem. Why do fresh ASL account get access to the main dataset automatically? I've pinpointed the problem to this chunk, where the actual Django user object is created.

https://github.com/Signbank/Global-signbank/blob/master/signbank/registration/models.py#L93

If you stop the code right there, and request the datasets for this new user

[2020-12-11 14:03] Woseseltops commented on #701
FINALLY!

![image](https://media.tenor.com/images/ad29c5da8391f140af1e52a074aeece7/tenor.gif)

A few hours, and two accidental discoveries later, it works:
* I managed to pinpoint the problem even further, to the line where the user was given the 'guest' group
* Discovered a StackOverflow answer talking about group permissions for Django guardian.

Turns out, in the ASL database, the guest group h

[2020-12-18 11:34] Woseseltops opened #709 "Clear up the permission system"
The current permission system within Signbank has 3 layers:

1. Active vs inactive. Inactive is used for accounts that didn't confirm their email or have been disabled (former colleagues).
2. Groups: determines what kind of actions you are allowed to perform.
3. Individual dataset permissions: determines which part of the data you are allowed to see.

However, there is more going on under the hood

[2020-12-19 11:29] ocrasborn commented on #682
Hi @susanodd , both suggestions are worth following up on, please go ahead and implement (quoting you to be sure we're on the same page):
* Maybe for anonymous users there can be a Request Access button on the Dataset Detail page?
Then they also need to create an account.
* Or maybe just a message telling them they need to create an account if the user viewing the details is anonymous.

[2020-12-19 11:31] ocrasborn commented on #648
Thanks @susanodd ! Can you follow up and implant the 'apply for extension' as well? Do you have a suggestion for what that should do? Send an email to the admin, with a hyperlink there to go to that user's page in the admin?

[2020-12-19 11:33] #678 closed

[2020-12-19 11:40] ocrasborn opened #710 "New users get error upon logging in"
Or well, I've gotten the complaint only from people who registered recently, like rose_stamp and . Here's her error message. Never got this myself I think. Might it be related to work on #709 ?
Reloading the page (or loading the base url again?) makes the error go away, and users can enter like expected.
(This is not blocking like 'we cannot do anything now', but it'd be good to look at this first

[2020-12-19 11:42] ocrasborn opened #711 "People get an error in trying to create an account"
See also #710 . No need to deal with this before Christmas, but it'd be good to take it up first in the new year.
<img width="803" alt="Screen Shot 2020-12-13 at 4 44 05 PM" src="https://user-images.githubusercontent.com/10242207/102688546-b2f41400-41f7-11eb-91d4-af3a32a78008.png">

[2020-12-24 12:39] Woseseltops commented on #711
Looks like I forgot to restart the server after I removed some debugging stuff, sorry!

[2020-12-24 12:39] #711 closed

[2020-12-24 13:05] Woseseltops commented on #710
This was the observation that led me to the answer! Turned out not to be related to the ASL account issues I've been working on during the last two weeks, and actually not to logging in at al: the problem was the way the profile page was set up. It assumed the Signbank-specific 'profile' had the same ID as the generic Django 'user', which was incorrect. I now made the lookup the way it was intende

[2021-01-07 11:32] vanlummelhuizen opened #712 "Are some fields of MissingSignFeedback not used?"
In the model MissingSignFeedback there are some fields that are never in a form (or at least I couldn't find them):

https://github.com/Signbank/Global-signbank/blob/435071fbdd35c8bd2e6a897bacc867ea1358c063/signbank/feedback/models.py#L233-L252

Are they still used (other that display) and if yes, where?

[2021-01-08 12:54] Woseseltops commented on #696
Done:
* Remove the animations... they don't really add anything and it looks messy with overlapping text
* Language code instead of language names

[2021-01-11 13:43] #710 closed

[2021-01-11 13:45] ocrasborn opened #714 "Handle escape character without escaped character in searches"
If a user uses \ in one of the regular expression search fields at the end of a string (as a typo, typically, because it's close to the enter key on many keyboard layouts), Django presents a nasty looking error. It would be nicer to simply ignore the backslash (and thus not bother the user with a friendly error message either).

[2021-01-13 13:03] susanodd commented on #712
Those look like maybe legacy fields?

[2021-01-13 13:05] susanodd commented on #709
The view_dataset was intended to keep people from creating new signs or altering signs in a dataset.
People originally have view_dataset permission only. They were meant to request change permission.

[2021-01-13 13:09] ocrasborn commented on #712
Well, the fields largely (perhaps not all) are still in use, but we don't use them for this form, where people can suggest new signs to be added. In fact, this function we don't use at all at the moment, as it's more relevant to uses of Signbank as a dictionary. As that is still something we do want to pick up in the not too far future, I'd suggest to leave this issue low-priority but open for a w

[2021-01-13 13:10] susanodd commented on #708
I want to implement this, but I'm still working on #693 and still need to merge it.

[2021-01-13 13:19] susanodd commented on #693
This is nearly done.
I'm keeping it separate from the other pages, so it is a page for superusers to set colors in a Settings menu,
and a preview page for Gloss Detail View.

I've got a bit stuck getting this to work together with the "key navigation" Gloss Detail View code.
(The vertical navigation within the individual menus isn't working anymore.)

And I'm still trying to get the pull-down menu

[2021-01-13 13:21] vanlummelhuizen commented on #712
OK.

[2021-01-13 13:23] susanodd commented on #693
![gloss-detail-view-colors-woordsoort](https://user-images.githubusercontent.com/24272544/104457904-ec2b6400-55aa-11eb-93e8-f88d0e0abe4e.png)

[2021-01-13 13:33] susanodd commented on #693
Oh, I should explain.
I got the update part working.
Previously (in the previous screenshot), only the display of colors in the Gloss Detail View was working.
Now updating the fields also works.

[2021-01-13 13:38] ocrasborn commented on #709
@Woseseltops , isn't the 'view_dataset' permission what allows Dataset Managers to give people read access to their dataset at the following page? https://signbank.cls.ru.nl/datasets/manager

[2021-01-15 15:56] Woseseltops opened #715 "Make ALL text translatable"
The Catalan users discovered that there still are quite a lot of string that are not translatable at all.

* Most search box labels on the search page, and a few table headers
* Available dataset page
* Add new sign page
* All of the recently added sign page
* All of the CSV import page

![image](https://user-images.githubusercontent.com/1909317/104748493-19664680-5752-11eb-8442-b328776c0ca6.png)

[2021-01-18 11:43] susanodd commented on #715
Quite a few of those are my fault.

[2021-01-21 12:45] Woseseltops commented on #715
Don't worry about it. I promised Jaime I will fix this tomorrow. You can also work on it if you like, but please make sure all of your progress is somehow available for me tomorrow before lunch so I can pick up from there and make it available for the Catalans.

[2021-01-21 13:45] susanodd commented on #715
Okay, I'm not that fast.

[2021-01-22 13:11] Woseseltops commented on #715
Turns out my assumption that we simply forgot to make these texts translatable was wrong! The Catalans still had a number of `#fuzzy` strings in their .po file.

[2021-01-22 13:11] #715 closed

[2021-01-25 13:41] ocrasborn opened #716 "List compounds in which the selected sign appears under Relations to other signs"

[2021-01-26 14:15] ocrasborn opened #717 "Incomplete log page for dictionary/import_videos/"
When I import videos, I get a correct list of videos that were not imported (they're still there, for NGT/nld/ you can try), but I get nothing for 'imported' or 'overwritten'. The latter I can imagine is simply because I didn't have anything to overwrite, but the many videos that are correctly linked each time never show up under the header 'Imported'. It'd be good to have that though.

[2021-01-26 14:46] ocrasborn opened #718 ""The given Lemma Idgloss ID is unknown.""
For dataset NGT, I try to add the annotation gloss #X-B and link it to existing lemma gloss #X. But when I try that, I get the message "The given Lemma Idgloss ID is unknown.", even though I am positive it is there, and when I edit it from the linked Annotation ID Gloss #X-A, the Id of it (3293) is the one I find back in the Admin with Lemma.
Moreover, see screen shot below: I'm confronted with an

[2021-01-26 14:48] ocrasborn opened #719 "Errors in loading search results in recent days"
Several users have indicated, and I have now experienced it myself, that often search results don't all load. In my case, I should have one hit (searching for annotation gloss #X in NGT), but the hit doesn't display. In other reported cases, of the four reported hits, only three load. Reloading the page solved the issue for me, which leads me to think that it may be related to the 'closed database

[2021-01-27 12:40] vanlummelhuizen commented on #718
I think all of this is caused by the fact that you visit https://signbank.CLS.ru.nl while the lookup of the Lemma ID Gloss is done using https://signbank.SCIENCE.ru.nl. Quick workaround: visit the latter.

I will now try to also fix this permanently.

[2021-01-27 13:41] vanlummelhuizen commented on #718
@ocrasborn I think I fixed it already.

First a bit more info: in the field Lemma ID Gloss you can search for an existing lemma. The options are given in a list below the field if there are any. You can choose a lemma from that list.

The problem was that the list of options was made dynamically as you type. But because of the difference between the url you visited and the url used for the lookup

[2021-01-27 14:23] vanlummelhuizen commented on #719
I can confirm that the problem is caused by the "Cannot operate on a closed database" problem. After the page is loaded, some additional data is retrieved. A request is done for each individual Gloss and some of them fail due to the "Cannot operate on a closed database" problem.

The "Cannot operate on a closed database" problem should be tackled when @Woseseltops has finished #673 .

[2021-01-27 15:56] ocrasborn commented on #718
Ah great @vanlummelhuizen !
Did you check by any chance whether there were more hard-coded instances of signbank.SCIENCE.ru.nl that could be similarly fixed?

[2021-01-27 15:59] #478 closed

[2021-01-28 08:58] vanlummelhuizen commented on #718
I just did. There are a few places that have the 'science' url hard coded. They are all related to the reload_signbank functionality, which won't affect normal users.

However, there is also a URL setting with value 'https://signbank.science.ru.nl/'. This setting is used quite a number of times. I cannot say at this point how this affects normal users. If it does, we either could decide for either

[2021-01-28 10:38] ocrasborn opened #720 "Sorting is broken for the handshape search results"
In the list view of Handshapes, I can click the sort arrows at the top of the columns, something appears to happen, but sorting is not correctly executed.
https://signbank.science.ru.nl/handshapes/show_all/

[2021-01-28 11:17] ocrasborn commented on #718
@Woseseltops , what do you think about this? Me, I would prefer consistently using CLS for the users; it would seem to be easier to also use that under the hood, but perhaps there are other considerations.

[2021-01-28 12:15] susanodd commented on #693
This branch is caught up with the master branch now, @vanlummelhuizen, @Woseseltops

[2021-01-28 12:18] susanodd commented on #693
There are two pages in the Settings menu (not on the live server)
The intention is that superusers can set field choice colors and preview them.
The "update colors" is done here (crazy colors on my machine):

![settings-manage-field-choice-colors](https://user-images.githubusercontent.com/24272544/106137599-3431b580-616b-11eb-9c5f-cc78ae9d2a38.png)

[2021-01-28 12:23] susanodd commented on #693
Previewing is done via a new minimal search page, where the results link to a gloss preview template with colors in the pulldowns. Otherwise it was not possible to keep the colors separate from the rest of Signbank. I implemented it this way to avoid side effects to other code. Also the gloss preview template lets you do updates, like normal.
The colors search page is in the settings menu as show:

[2021-01-28 13:05] susanodd commented on #720
It works okay on the search_handshape page.

So it's the show_all page (where no search form is shown). You're right, it looks like it thinks it's doing something, but isn't.

[2021-01-28 13:17] susanodd commented on #718
Regarding the screenshot above, that's my coding. The error message is in the "messages" feature.
(That was to avoid crashing. Because the Dataset is retrieved from the Lemma, sometimes odd mismatches were arising.)

Once upon a time, the Lemma Update page was supposed to have a link back to the Gloss that you were editing.
Either that, **or** the Lemma List page where you can also "update" the le

[2021-01-28 13:28] susanodd commented on #718
In one evolution of the Lemma Update code, it was looking at the HTTP that had been used in order to determine where it had been called from.
(Context sensitive. Perhaps something like that could be saved in Settings? To keep track of the last couple of things a user has been doing. Was that an Issue? Gloss edits are saved in Gloss History.)

[2021-01-28 13:31] susanodd commented on #719
I had the "Cannot operate...." earlier today. It was because I had the page open for a long time and was only comparing the Gloss template to that on my local server, but not updating the online page. It ended up giving an error when I reloaded, so I had to login again.
Maybe locks on Edit pages expire?

[2021-01-28 13:33] susanodd commented on #719
Oh, I just realised. Because I keep pages open and just leave them, maybe I'm causing problems?
I don't seem to ever get automatically logged out. Eventually Firefox crashes.

[2021-01-28 13:50] susanodd commented on #720
Oh dear! There's some hardcoded languages in the template!

[2021-01-28 13:54] susanodd commented on #661
In Issue #720 there are some hardcode language fields in the template.
These are in the code that displays the "triangles" for sorting the columns.

Have you revised the Handshape List page or the view ?

As I recall, when Handshapes were first introduced, they were only used in NGT.
I also seem to recall only using the dutch_name because others were empty.
(Sorting was on the Dutch field in the b

[2021-01-28 13:57] susanodd commented on #661
Should I assign this to myself, for Handshapes? This is linked to Issue #720 .

[2021-01-28 14:03] vanlummelhuizen commented on #661
@susanodd I am still working on this on branch [fieldchoice_field_translations_658_661](https://github.com/Signbank/Global-signbank/tree/fieldchoice_field_translations_658_661). Since it is not on master, I would think my work did not cause this problem. But please correct me if I am wrong. :)

[2021-01-28 14:18] ocrasborn commented on #719
@susanodd , I do that all the time too, leave page open without logging out, can't imagine that's an issue

[2021-01-28 14:18] vanlummelhuizen commented on #719
@susanodd I am not immediately dismissing the idea that leaving a Signbank page open for a while causes these problems, but I think it is not the case. It would mean something continues to run on the server for the whole time the page is open and  I cannot think of anything  doing that.

[2021-01-28 14:20] ocrasborn commented on #693
Looking great, @susanodd ! I'll be (when it's live) so happy with this!

[2021-01-28 14:20] vanlummelhuizen commented on #720
I am still working on removing hard coded language references. See alse https://github.com/Signbank/Global-signbank/issues/661#issuecomment-769074729

[2021-01-29 11:48] susanodd commented on #661
@vanlummelhuizen, I was wondering if I can work on #720 in such a way it does not impact this issue?

Perhaps I can make a method to retrieve that required translation, just to get rid of the hard-coding in the template.

[2021-01-29 13:13] susanodd commented on #720
I'm a bit confused actually.
On my local server, I don't have the "Show all handshapes" page. Only the "Zoek handvorm".

[2021-01-29 13:16] ocrasborn commented on #720
Sorry @susanodd , you're right: there's only the search page. But since opening it from the menu shows all handshapes, I always think of it as such.

[2021-01-29 13:26] susanodd commented on #720
Okay, I fixed this, now the show_all page can be sorted too.

[2021-01-29 13:32] susanodd commented on #718
Okay.
@ocrasborn had mentioned that the page was not helpful: "out of the loop of creating a new annotation gloss"
Is it working now?

[2021-01-30 11:51] ocrasborn opened #721 "Display compound parts in correct order at top of Detail View"
* This is an oddity we hadn't noticed before: if we first enter Compound Part 2, and later add Compound Part 1, they are not displayed in the correct order to the right of the Annotation ID Gloss in the Detail View. In the Morphology panel, however they are correctly sorted.
* Please adjust this so that Compound Part 1 always comes before Compound Part 2, Part 2 before Part 3, etc.
* (In practice,

[2021-02-01 12:30] susanodd commented on #708
I'm working on this, it's nearly done.

[2021-02-01 12:32] susanodd commented on #708
I'm not sure what to do about sorting.
For the Gloss List, sorting presented some problems due to blank fields.

[2021-02-01 12:33] susanodd commented on #708
![lemmalist-query](https://user-images.githubusercontent.com/24272544/106459419-1e393300-6492-11eb-9cae-7bb84ec097e0.png)

[2021-02-01 14:05] susanodd commented on #708
![lemma-query-English-test](https://user-images.githubusercontent.com/24272544/106468986-eedcf300-649e-11eb-9d29-064cf433a544.png)

[2021-02-01 14:13] susanodd commented on #708
I thought I was going crazy. The second example has NGT and CSL_Shanghai selected.
Now when I search for test in English, the Protest glosses don't show up for NGT because it's not filled in for English.

The querying is working. But I'm not sure if "empty" needs to somehow be a search term to add functionality.
We don't have the notion of "published" for Lemmas, so the test lemmas also show up wi

[2021-02-01 14:18] susanodd commented on #708
To compare, on the live server, here is a search on Lemma English test with datasets NGT and CSL_Shanghai.
The test glosses are not shown. And you see Chinese in the Annotations.

![gloss-search-lemma-test-english](https://user-images.githubusercontent.com/24272544/106470229-8abb2e80-64a0-11eb-8f64-3bb2af1eeb26.png)

[2021-02-01 15:21] ocrasborn commented on #708
Yes, I understand @susanodd . We should really make all translations obligatory also for Lemma Glosses, just like Annotation Glosses. Perhaps you can create a separate issue for that?

[2021-02-02 13:27] susanodd commented on #708
Searching has been put on github.
The Export CSV has revised to the results.

[2021-02-02 13:29] susanodd opened #722 "Make translations for Lemma Glosses obligatory"

[2021-02-02 15:49] susanodd commented on #719
I just got the "closed database" again.
In my only window I had a gloss in NGT showing with only NGT selected.

Then I opened a new tab window to check out the error in #721.
So I selected (in that new window) only the Dataset IS_WFD1975, so I could view the gloss Jam.
But it gave a "closed database" error.
So I shut the tab that was using NGT. Then reloaded the new page and it worked fine, no err

[2021-02-02 16:09] susanodd commented on #721
I'm not able to repeat this error on my local server.

I tried to find a similar gloss by searching on glosses with Component 2.

Then I tried adding components to a test gloss. When doing that I got an error with the datasets.
I had all the datasets selected and it wasn't working to "typeahead" to choose any Gloss.
(Because there aren't very many glosses in tstMH. Probably some tip is needed if i

[2021-02-04 09:36] vanlummelhuizen commented on #722
See also https://github.com/Signbank/Global-signbank/issues/708#issuecomment-770934925

[2021-02-04 09:42] vanlummelhuizen commented on #719
@susanodd Are you able to replicate that situation and end up with the same results every time? In other words does this happen exactly the same way every time? If so, we may be able to find a problem there. If not, we are still dealing with a irregular problem.

[2021-02-04 11:22] susanodd commented on #719
Not exactly. But a different error (on the live server just now, with two tabs open).

![sign-jam-is_wfd1975](https://user-images.githubusercontent.com/24272544/106885990-abbf9180-66e3-11eb-9863-6adb88b7be41.png)

![search-test-NGT](https://user-images.githubusercontent.com/24272544/106886005-af531880-66e3-11eb-8dcd-05c1b66993a0.png)

[2021-02-04 11:25] susanodd commented on #719
When I first opened the search tab, it was still the same selected dataset. Then I changed the dataset in that tab and searched and went to PROTEST-A and got the error that it wasn't in my selected datasets, with a link to continue, which brought me back to the search page (shown). Then reloading the Jam sign (in a completely different selected dataset) did not give an error.

[2021-02-04 11:52] susanodd commented on #721
Okay, I seem to have fixed this while trying to debug it.
It is working okay now. At first, I thought it wasn't broken.

I had added some extra variables in the template to force it to evaluate the query before the loop.
Plus an order by 'role'.

It's solved. To check this,
in the "color preview" template, that still showed them unsorted, as you describe.
I will revise that the same way.

[2021-02-04 12:03] susanodd commented on #721
BEFORE FIX:

![wesseltest10-preview-PRE](https://user-images.githubusercontent.com/24272544/106890272-5e462300-66e9-11eb-921b-c91c23aeb993.png)

[2021-02-04 12:04] susanodd commented on #721
AFTER FIX:

![wesseltest10-preview-POST](https://user-images.githubusercontent.com/24272544/106890324-70c05c80-66e9-11eb-8faf-3a10415f93c5.png)

[2021-02-04 12:10] susanodd commented on #719
Okay, and in the mean time (after working on something else), the Sorting results on reload now turns up empty, and the selected dataset is now IS_WFD1975.

[2021-02-04 12:20] susanodd commented on #719
However, after resetting the dataset to NGT in the second tab, again, and repeating the previous, I can show the PROTEST-A gloss okay.
And on going beck to the JAM sign again, on reload, it shows an error, with a link backwards, which brings me to a previous query of jam. (With the previous dataset selected again in the header.)

As I'm deliberately trying to get errors, it looks like the two tabs

[2021-02-04 12:25] susanodd commented on #716
Okay, I'm going to start on this now.

[2021-02-04 13:54] susanodd commented on #716
In the Relations View, what columns would you like for the compounds?

[2021-02-05 11:22] Woseseltops commented on #696
Today I cleaned up the language picker and rewired everything so it now gets its info from the settings directly; changes to the settings are visible in the language picker directly.

The idea of @ocrasborn to use language codes turned out to have 2 downsides: language code are not always short (ZH-hans), and languages codes are not necessarily understandable for users of that language. I therefor

[2021-02-05 12:14] susanodd commented on #716
Here's what it looks like. First a gloss with sequential morphology. Then the relation view of one of those compounds.

![gloss-sequential-morphology](https://user-images.githubusercontent.com/24272544/107032408-0b856d80-67b4-11eb-9aa6-6fe4782fc9dc.png)

![relations-view-compounds](https://user-images.githubusercontent.com/24272544/107032432-150ed580-67b4-11eb-9789-24ed8a3fa004.png)

[2021-02-05 12:19] susanodd commented on #721
@vanlummelhuizen, could you pull theoddbranch to the master?

[2021-02-05 12:37] susanodd commented on #698
I originally set up the handshapes. Some of the code makes use of the fact that only NGT / Dutch was used.

That sounds like a good idea to let them start with our table and remove or modify for their own handshapes.

At the very start some handshape objects were created lazily when people used one of the handshape field choices.
That was because it was possible to create handshapes by adding new

[2021-02-05 12:52] susanodd commented on #714
I can work on this.

It seems it's only on the menu bar search fields, is that correct?

[2021-02-05 12:59] susanodd commented on #696
This looks really nice|

The migration on my branch is awaiting a pull to master.

[2021-02-05 13:23] susanodd commented on #716
@ocrasborn, I'm not exactly sure what to call the compounds. In the wesseltest10 gloss (which I edited it myself making it be in Lemma WEBCAM), it looks like the Relations view is calling it WEBCAM all over the place, instead of wesseltest10.

(That has something to do with idgloss which is a property of model Gloss. Django uses that to print out glosses if you haven't specifically coded how to pr

[2021-02-05 13:26] susanodd commented on #716
@ocrasborn, do you (also) need it the other direction? In this example, the Relations view of wesseltest10 shows no Compounds.

[2021-02-05 13:42] susanodd commented on #696
@Woseseltops, what's the best way to "fix" currently hard-coded language code references?

In #716 I have modified the Relations View.

As an aside, the template has numerous hard-coded language usages.
request.LANGUAGE_CODE == 'nl'
request.LANGUAGE_CODE == 'zh-hans'

These then get fed into translation functions in the templatetags (https://github.com/Signbank/Global-signbank/blob/bfe09051b1006ca

[2021-02-05 14:14] Woseseltops commented on #696
Hey @susanodd I propose to discuss this in @vanlummelhuizen s issue #658 which is about removing these hardcoded language references. This issue is really about new interface languages and the language picker.

[2021-02-05 15:50] susanodd commented on #714
Okay, I've got it fixed.

I first tried to use some mappings to make such a string safe. But that didn't work because it's not a control character or an escape character. If you type in "\ " it doesn't crash.

I revised the code as you suggest to remove (ignore) an ending "\" in the search term.

[2021-02-05 15:51] susanodd commented on #696
Okay. The hard coding won't crash it. It will just drop through to English.

[2021-02-05 15:53] susanodd commented on #696
I guess what my question was, is the LANGUAGE_CODE still the same?

[2021-02-05 19:01] ocrasborn commented on #716
Hi @susanodd , in response to your two questions:
* Better use the Annotation ID Gloss than the Lemma ID gloss, if that's what you're asking.
* We don't need it in the other direction (this is already under the Morphology panel, that suffices).
In the mockup/screenshot above, I think spelling out the compound part is superfluous, better leave that out to keep it clean. Users can see at a glance in

[2021-02-10 11:42] susanodd commented on #693
Shows sorting on local server:

![sorting-preview-field-colors](https://user-images.githubusercontent.com/24272544/107505735-6d234e80-6b9d-11eb-8756-7dfe010721a5.png)

[2021-02-10 12:06] susanodd commented on #716
Point 2 has been pushed to github.

[2021-02-10 14:52] susanodd commented on #716
Point 1 has been pushed to github.

[2021-02-11 08:29] vanlummelhuizen commented on #693
@ocrasborn I think @susanodd and I added the menu items at the same time. Please check them out.

[2021-02-11 08:38] susanodd commented on #693
Yes, I noticed that too!

[2021-02-11 09:57] vanlummelhuizen commented on #693
@susanodd I fixed the ordering in the dropdown menus. See https://github.com/Signbank/Global-signbank/commit/868dba8aa2815f4c75f27ed966d388a4c957a30c (on master, let's call it a hotfix).  You transfered OrderedDict data into a normal dict. Why is worked on our local servers, I don't know. Perhaps a Python version thing.

[2021-02-11 12:20] susanodd commented on #693
Great! Thanks!

[2021-02-11 12:29] vanlummelhuizen commented on #693
@susanodd I found out that it has to do with the fact that on the live server, Python 3.5 is used while I think you use at leas 3.6. Apparently, in 3.6 the *insertion* order is retained in a normal dict. See e.g. https://stackoverflow.com/questions/39980323/are-dictionaries-ordered-in-python-3-6

[2021-02-11 14:09] ocrasborn commented on #693
Hi both (@susanodd , @vanlummelhuizen ), here's my first findings:
* Browser issues on Mac (not disturbing, I'm happy to adapt, we don't set or change the colours too often): On chrome, I just get an empty page with grey dividing lines, but the row content doesn't appear; in Safari, which I normally use, I don't see the box to click to pop up the colour picker, but when I click in the area where i

[2021-02-11 15:46] Woseseltops opened #724 "Create a script to automate deployments"
1. Store the hash from the current commit in a temp file
2. Pull from master branch
3. Backup database
4. pip install -r requirements
5. Fix all permissions
6. Database migrations
7. Run all unit tests

In later phases, we could add:
* A rollback script, that checkouts the commit from the temp file and grabs the database you backed up.
* Automated rollback if the tests fail.
* A cronjob that runs

[2021-02-11 17:21] susanodd commented on #693
@ocrasborn, I just tried it on my Safari browser (See below).

The colors you set are visible in the dictionary/gloss_preview/NNN page.
To get to such a preview page (with colors in the Gloss Detail Preview) you use the Search page under Settings, which has links to Preview pages. The search page is an abbreviated search, for convenience.

It was designed this way to keep the Manage Colors and Glo

[2021-02-11 17:24] susanodd commented on #693
I will work on adding colors to the query formulation part.

[2021-02-11 17:29] susanodd commented on #693
The Gloss Detail View shown above is at /dictionary/gloss_preview/4483

The Search page under Settings is to make it easier to get to preview pages and keep them separate.
Updating glosses on this Edit pages works as normal.
I did it this way so the addition of colors can be experimented with.

[2021-02-12 10:41] ocrasborn commented on #693
Three comments/questions:
1. @susanodd wrote: "I will work on adding colors to the query formulation part." Oh, I see, so that has yet to be implemented.
2.  @susanodd wrote: "The Gloss Detail View shown above is at /dictionary/gloss_preview/4483". Ah, I see. That's good, that I can experiment with how it looks, but then when do I pass on the finished settings to the rest of the system, so that al

[2021-02-12 10:43] ocrasborn commented on #693
Oh, and here's what happened with the test sign in the link above, after I first managed to replicate the above disappearance of the menu, and then turned off the edit mode:
![Uploading Screenshot 2021-02-12 at 11.42.13.png…]()

[2021-02-12 11:58] susanodd commented on #693
Yykes! Point 3, the navigation has only been to use "return" to go to the next field. I haven't added any other navigation characters. (That would apply to both the normal Gloss Detail View and the Preview. Both have only been set up to use "return" to "not do anything to the current field".) (I just checked. I see this is not working on the WD WP fields on the live server.)

I'll look into the ho

[2021-02-12 12:11] susanodd commented on #693
Okay, I repeated the red text error. It's as you wrote. Edit the gloss, edit the Weak hand, click "S", the editing stops, but there is that awful red text.
That's my fault. I didn't remember you could use "S" to stop editing. But @Woseseltops added that long ago.

[2021-02-12 12:25] susanodd commented on #693
I see that the key presses as described in the template (code) are:
"p" : phonology
"m": morphology
"s": semantics

Are these the intended uses of the key press abbreviations, or are users using keys to navigate within lists?

When I typed "s" the editing stopped. But that doesn't match the above.
The abbreviations above predate the "navigation to the next field".

[2021-02-12 13:41] ocrasborn commented on #693
OK, let's create separate issues for what has yet to be implemented, as the configuration (aside from the above menu issue) is working well. I'll set up the issues, but do add info as you see fit, @susanodd

[2021-02-12 13:44] ocrasborn opened #725 "Hide Settings menu for anonymous users"
The new Settings menu (#693) should only be accessible to Admin users. It is, but Anonymous users (people who are not logged in) still see it. I haven't tested it yet, but I assume non-admin users cannot access it anyway, right?

[2021-02-12 13:45] ocrasborn opened #726 "Use field value colours in pull-down menus the Edit mode"
Values are specified under the Settings menu by Admins, see #693 , but they do not yet appear when people are editing a sign.

[2021-02-12 13:47] ocrasborn opened #727 "Use field value colours in pull-down menus in the search form"
So please make it cf. https://signbank.cls.ru.nl/settings/glosslist_colors/ (created for #693 ), but ensure that the enhanced keyboard navigation (#140 ) is kept intact.

[2021-02-12 13:50] ocrasborn commented on #693
Hm, well, as I remember it, whenever a menu was opened (or perhaps even already when it was selected), it was possible to type a character and the selection would move to the first item in the list starting with that character. Wasn't that one aspect of #140 ?

[2021-02-15 08:17] vanlummelhuizen commented on #725
Just tested it and anonymous users cannot access any of the settings pages.

[2021-02-15 08:39] ocrasborn commented on #725
I saw that too, @vanlummelhuizen , the request was to hide the menu altogether from their view. Not clear enough in my formulation perhaps. And in fact, please hide it from all non-admin users, while you're at it - or anyone else of course 😊

[2021-02-15 11:00] vanlummelhuizen commented on #725
If you open a page in admin, there are advanced options where you can select one or more "Group required". The page will then only be shown to users in those groups. The only things is that there is no "admin" group. So either choose one of the existing group which cover the users you want, or add a new group for "admin" users.

[2021-02-16 11:48] susanodd commented on #693
The lookahead's work that way. When you start typing a gloss or lemma, it shows the matches for you to select from. That's implemented as ajax calls to the database.

I can't recall whether the normal choice menu's worked like this. This could be a browser feature.
I suppose it could be implemented for field choices in a similar way.
But a characteristic of the gloss/lemma type-aheads is that noth

[2021-02-16 11:52] susanodd commented on #693
Okay, I tried the normal Gloss Detail View and it works to type a first letter.

TO DO for the Gloss Detail Preview.

[2021-02-16 11:58] susanodd commented on #725
I coded it so that you have to be in Superuser to Manage Colors.
But there isn't a group as @vanlummelhuizen pointed out.

[2021-02-16 16:43] ocrasborn commented on #725
No worries, @susanodd & @vanlummelhuizen : I restricted the display of the menu item to the group Publisher (which in practice now is only used for admins). Thanks @vanlummelhuizen for reminding me how this works.

[2021-02-16 16:43] #725 closed

[2021-02-16 16:46] ocrasborn commented on #693
@susanodd , I'd be happy dropping the keyboard navigation for jumping from panel (phonology) to panel (semantics; for instance), as well as dropping the S for disabling Edit mode.

[2021-02-17 13:06] susanodd commented on #693
I've got it working now so that a key press scrolls the pull-down to that letter, if found.

[2021-02-18 13:50] susanodd commented on #693
I've got the scroll also working inside the pull-downs so it scrolls to the selected element when you open the list.

[2021-02-24 11:31] susanodd commented on #727
I've got this working!!!

![gloss-list-colors-select2-pulldown](https://user-images.githubusercontent.com/24272544/108994451-1a1cc180-769c-11eb-9834-4c6fd9ba2807.png)

[2021-02-24 11:33] susanodd commented on #727
Once selected, they're just normal as before.

[2021-02-24 12:30] susanodd commented on #726
So far the colors only appear on the Settings Color Management page and the Settings Gloss List Search (#727) (and its results pages).

When colours are set for field choices, they are (already) stored in the FieldChoice objects.
But they are currently only displayed in the Settings pages, and the Gloss Detail Preview pages, which are the same as the normal Gloss Detail pages, but with colours.

F

[2021-02-24 13:53] ocrasborn commented on #727
Well done @susanodd ! Now you mention it, I realise we hadn't discussed this yet, but it was my intention that indeed the colours should only be visible when the menu is open, not after a value has been selected and edit mode is off.

[2021-02-25 10:45] ocrasborn opened #728 "Lookup of users in Manage Dataset fails"
I can no longer use the dataset management page, as the lookup of user names seems to be broken. When I type in the correct user name to revoke permissions and click the Revoke button, I get the error: "Username must be non-empty. Please make a selection using the drop-down list."

[2021-02-25 12:25] susanodd commented on #728
Did you scroll in the dropdown to select the user, rather than type the name?

[2021-02-25 12:53] ocrasborn commented on #728
That's the issue, @susanodd , the dropdown no longer appears.

[2021-02-26 09:16] susanodd commented on #728
This is very weird!

[2021-02-26 09:30] susanodd commented on #728
This might have to do with file permissions on dataset_edit.js
The usertypeahead function that's in that file isn't being loaded.

There was an issue with file permissions a while back (#663).
@vanlummelhuizen @Woseseltops ?

[2021-02-26 10:15] susanodd commented on #722
Okay, this was just changing required False to True for the form fields.

Issue #708 hasn't been put on the live server yet. It's on theoddbranch.

Here's the search and the Update. The required field is shown red when you try to do Update with it empty.
(The message to fill it in doesn't get captured by the screenshot)

![lemma-search-test](https://user-images.githubusercontent.com/24272544/10928

[2021-02-26 10:22] susanodd commented on #722
If you don't want to fill it in, you can go back to the list.

However, at the moment this goes back to the entire lemma list rather than the search results.
I'll revise this because it is unexpected.

@ocrasborn would you like the lemma search results in a scroll bar on the update page?

This to show up if you get to this page via the lemma search, not via a gloss detail edit.

[2021-02-26 11:09] susanodd commented on #717
From the import_media code, it looks like this should be working correctly for images?

https://github.com/Signbank/Global-signbank/blob/affb3fa53a43b3adc8f0c1a53052423d2defe3a1/signbank/dictionary/views.py#L571-L580

But not for videos as you point out.

(I can't actually run this to confirm. But reading the code that last line looks to be what's missing from the else case.)

[2021-02-26 11:44] susanodd commented on #722
Okay (to self), I'm making a scroll bar on the Lemma Update page if the previous thing to get to the page was a Lemma Search.
That makes the most sense.

[2021-02-26 11:50] susanodd commented on #708
I'm adding a scroll bar for Lemma results on the Update Lemma page, to be shown when the user has done a search on lemmas.

[2021-02-26 13:31] ocrasborn opened #729 "Field value colour implementation blocks creating new field choice values in admin"
Now there's a field 'field color' for field values, I cannot add or change field choice values in the admin anymore: whatever I add, I get an error upon saving: "Enter a valid color". The values that are already there (like c4ffc4) are also considered invalid. A new field choice value I add has ffffff filled in by default, but that too will generate the error.

[2021-03-01 08:57] ocrasborn opened #730 ""PermissionError" making system unusable"
It appears on almost anything we do. Sometimes reloading generates the 'closed database' issue, but reloading the page upon that one gets me back to the permission error.

[2021-03-01 09:00] vanlummelhuizen commented on #730
@ocrasborn I saw something like this in the Admin. I am looking into to problem right now.

[2021-03-01 11:13] vanlummelhuizen commented on #730
@ocrasborn Most of Signbank is working again. The problem was related to Summernote, a Wysiwyg editor. For now I disable it on the live server. I think this only affects the content field when editing a Page in the admin. Now you will see the text including the HTML markup instead of a formatted text.

@Woseseltops Any idea why this happened? I think the core of the problem is
[code]
as if Summern

[2021-03-01 12:29] susanodd commented on #729
The problem is in the admin, the Django automated form is showing the Field color field of a FieldChoice object as input type text instead of color.

[2021-03-01 13:28] susanodd commented on #708
![lemma-search-wrijven](https://user-images.githubusercontent.com/24272544/109503259-54ba9b80-7a9a-11eb-831b-543e975d6a62.png)

![lemma-update-handen-wrijven-b](https://user-images.githubusercontent.com/24272544/109503277-5ab07c80-7a9a-11eb-99c2-1da5323a27b9.png)

[2021-03-01 15:35] susanodd commented on #729
I got the colour picker in the admin.

![admin-field-color-picker](https://user-images.githubusercontent.com/24272544/109519862-eda5e280-7aab-11eb-8250-fef4cbc53e29.png)

[2021-03-02 09:48] vanlummelhuizen commented on #729
On the live server, there is indeed no color picker. @susanodd any idea why this is the case?

Apparently, the hexadecimal notation of the RGB color. e.g. ffffff for white, needs to be prepended by a number sign (#), so for white #ffffff. You can use this a work around.

[2021-03-02 10:01] susanodd commented on #729
I fixed this. I had to make a special form element for it.
I'll upload it shortly.
In the display, the colors need the # before the hex code.
But in the database, this is not used.

On inspection in the browser (in the other issues involving colors the past months), sometimes the browser uses the rgb(..) format, other times the # format with only 3 hex's. (Maybe 32 bit versus 64 bit?)
I siuspect s

[2021-03-02 10:11] vanlummelhuizen commented on #729
@susanodd In the meantime I found out why there is no color picker on the live server: the Javascripts for the color field could not be loaded. I am now looking into why.

So your fix may not be necessary. What does it entail?

[2021-03-02 10:15] susanodd commented on #729
Oh, see what happens.

In the browser source, the "input" field for field_color has type "text".
That must be "color".
I did that, but then it still wasn't giving a color picker.

Here is what I added (in a new FieldChoiceAdmin class, in order to create a form) in admin.py:

`self.fields['field_color'].widget = forms.TextInput(attrs={'type': 'color'})`

[2021-03-02 10:18] susanodd commented on #729
Yeah, it's a bit longer. But that is what has to change in the template.

But the actual obj.save also needs to remove the # from the color.
That is also done in update.py in the update code for field choices.
(Don't ask why!)

I'm working on this still. I tried to set the default color of the color picker, but ended up messing the update again.

[2021-03-02 10:21] vanlummelhuizen commented on #729
@susanodd I just made the Javascripts loadable. This results in a text field containing `#FFFFFF` with a background of the same color (white inittially) and when you click on it, a color picker is shown. No problem when saving.

[2021-03-02 10:34] susanodd commented on #729
Okay! Did you check that it still displays on subsequent loads? And inside the Settings Management page?

[2021-03-02 10:52] vanlummelhuizen commented on #729
If you set a color in the admin it displays correctly if you re-edit the FieldChoice. However, on the page Manage Field Choice Colors the color #FF60A8 (sort of pink) is displayed as black #000000.

[2021-03-02 11:03] susanodd commented on #729
That's the # causing the problem. (I wrote about it above.)
There is a quirk in the way colors work. The # character can't be inside the database, only the actual "hex" part.
Because the browser also shows them as rgb(0,0,0) sometimes, there can't be a # character in the value representation.

This is what I had (analogous to what is done in update.py):

[code]
I wasn't finished before you got the

[2021-03-02 11:10] susanodd commented on #729
The things stored in the database are colors, not string representations of colors.
(Although technically everything in the database is strings.)
The color picker is used to ensure the type of the "thing" constructed is a color, rather than just a code.

[2021-03-02 11:32] vanlummelhuizen commented on #729
When changing the color in the admin, it is retained after saving and going to edit FieldChoice again. The new color is not correctly displayed on the page Manage Field Choice Colors.

The other way around, changing the color on the page Manage Field Choice Colors, the color is also correctly displayed on de FieldChoice edit page in admin.

[2021-03-02 11:33] susanodd commented on #705
This has been pushed to github.

[2021-03-02 11:35] susanodd commented on #729
It's the # character. The admin is storing that. If you display what the admin is doing, you can see it's there.

[2021-03-02 11:44] susanodd commented on #729
Do you want me to work on this?
I kept the colors separate and didn't do anything with the admin. I thought it was user friendly to have the Management page.

On my local server, the admin doesn't work to update field choices. (It's broken as is this issue.)
The admin on my local server is missing a lot of markup things.

[2021-03-02 12:03] vanlummelhuizen commented on #729
The problem now is that there is also a workaround in place for the Summernote problem, see #730. I think for now, FieldChoices can be created without any problem and setting the color should be done on the page Manage Field Choice Colors. Your fix can be deployed when we merge your work into master.

[2021-03-02 12:20] susanodd commented on #729
Okay. I started inspecting what the admin is actually doing on my local server.
For some reason the original code is calling its get_form method three times on loading a field choice (admin edit) page.
That seems a bit strange. It's subclassed on VersionAdmin.

[2021-03-03 11:11] vanlummelhuizen commented on #728
This problem occurs when you use signbank.cls.ru.nl. If you use signbank.science.ru.nl it works. I will try to  fix this now.

[2021-03-03 11:20] vanlummelhuizen commented on #728
I decided that signbank.CLS.ru.nl is THE global signbank url and not signbank.SCIENCE.ru.nl (which still works for most things). So now the problem of this issue will occur on signbank.SCIENCE.ru.nl and not signbank.CLS.ru.nl. See also #718.

[2021-03-03 12:35] susanodd commented on #729
@vanlummelhuizen, on my local signbank admin, I noticed the same things of javascript not being found, as you pointed out.

It looks like perhaps the INSTALLED_APPS should have 'django_admin' instead of 'django.contrib.admin' ?

(That's in the description of django-admin 2.0.1 on pypi.org. That's what's installed in my virtual environment.)

[2021-03-03 15:47] susanodd commented on #729
I've got it working!
Although the solution perhaps isn't so elegant
But it works in the admin and the admin doesn't mess up the management page, and vice versa.

[2021-03-04 10:25] ocrasborn commented on #716
@vanlummelhuizen @Woseseltops , can this already be made live? @susanodd , were you done with the whole issue?

[2021-03-04 11:28] susanodd commented on #716
Yes, this issue has been done for a while.

[2021-03-04 11:29] susanodd commented on #721
This issue is complete.

[2021-03-04 11:31] susanodd commented on #720
This issue is complete on github theoddbranch. It's waiting to be put live.

[2021-03-04 13:12] susanodd commented on #729
I've got it working!
Although the solution perhaps isn't so elegant
But it works in the admin and the admin doesn't mess up the management page, and vice versa.

[2021-03-04 13:22] susanodd commented on #729
I'm working on the Add New FieldChoice now.

![admin-add-field-choice](https://user-images.githubusercontent.com/24272544/109969900-bbd38c80-7cf4-11eb-87b3-255f66c48d85.png)

It looks like there are no database constraints except for on machine_value, (which is generated automatically).

(On my local server), I was about to create a new SemField choice called Sport.
Only to discover that there alr

[2021-03-04 15:25] vanlummelhuizen commented on #716
@ocrasborn I am discussing part of the way @susanodd implemented field choice colors. When this we are done, and all other things Susan built are also ok, I will put it live.

In a gereral sense, we are trying to find a workflow that will allow us to work on things separately but also make the code maintainable. Git can help us with that, but we are still finding out how we best apply it's feature

[2021-03-04 15:30] ocrasborn commented on #729
Yes, that would be helpful, @susanodd , checking for already existing values to prevent double entries.
BTW, I was able to add a field choice yesterday, the default colour was now appearing as #ffffff, and all went well. So I was under the impression that this issue was already finished; not so?

[2021-03-04 15:33] ocrasborn commented on #716
Thanks for the update @vanlummelhuizen

[2021-03-05 10:28] susanodd commented on #727
Here is the new solution that does not modify the select2 javascript.
It looks a bit cheesy.

![select2-span-height30px](https://user-images.githubusercontent.com/24272544/110102953-a66a6b00-7da5-11eb-8286-c0bddba0049a.png)

[2021-03-05 10:34] susanodd commented on #727
This new solution is on github.
Kindly put theoddbranch live @vanlummelhuizen .

[2021-03-05 10:35] susanodd commented on #716
Issue #727 has been put on github. Kindly put theoddbranch live @vanlummelhuizen .

[2021-03-05 10:58] susanodd commented on #729
I would recommend still using the Management page to update colours.
There is a glitch with the admin as far as I can tell.
For some reason it calls its code "get_form" (to set up the input form for a field choice), it calls this multiple times.
So there is sometimes an "appearing and disappearing" of the "#", which is used when colours are to be displayed.

The Admin uses VersionAdmin, which make

[2021-03-05 11:49] susanodd commented on #729
The code now uses the setting SHOW_FIELD_CHOICE_COLORS.

[2021-03-05 13:40] susanodd commented on #729
This has been pushed to github.

- Colors work in the admin the same way as in the rest of the site.
- The color field is hidden if the setting is turned off.
- The field category is now either filled in already, or a list of field categories is shown.
(Field categories can not be created by the user, only choices within a category.)
- There is a check that the particular field choice for the cate

[2021-03-05 13:54] Woseseltops commented on #730
Okay @vanlummelhuizen I discovered that the problem goes away if you don't use emperor, just uwsgi. For now, we are back to running it on your account in a screen session again. I'm thinking this is some kind of emperor bug that accidentally uses the wrong environment? Will ask C&CZ to restart.

Also, another weird thing I had to do is rename the summernote static folder to django_summernote.

[2021-03-05 15:24] Woseseltops commented on #728
Quick question @vanlummelhuizen , wouldn't it be more logical to just make the url relative here: https://github.com/Signbank/Global-signbank/blob/87a408187d87d068f073b074900ee18d4e42c89c/media/js/dataset_edit.js#L195 , that is just make the call to '/dictionary/ajax/user/' instead of 'https://signbank.cls.ru.nl//dictionary/ajax/user/'

[2021-03-08 07:53] vanlummelhuizen commented on #728
@Woseseltops I think relative urls are better where possible. This was the first and simplest solution I thought of. I think the  URL and PREFIX_URL could and should have a more elegant solution. See also #505.

[2021-03-08 15:56] susanodd commented on #699
@ocrasborn, do you definitely want the entire url of the image/video? Including the https and the domain name?

Is it correct that you wish to be able to use the file locations in the generated CSV as hyperlinks?

(The part before the "glossvideo/..." needs to be "constructed". The "protected_media" part isn't a physical folder. The files are located in the writable folder of the server.)

[2021-03-09 09:15] susanodd commented on #699
@vanlummelhuizen @Woseseltops @ocrasborn
This issue needs hyperlinks.
To construct them, I would like to use the setting URL
In the example given by @ocrasborn, for ASL, the URL setting gives the correct domain.
https://github.com/Signbank/Global-signbank/blob/affb3fa53a43b3adc8f0c1a53052423d2defe3a1/signbank/settings/server_specific/asl_yale.py#L8
But for Global, the same setting shows science:
h

[2021-03-09 11:36] susanodd commented on #699
@vanlummelhuizen you have done a lot with filenames with special characters.

I found there's a method for this in the Gloss model.

[2021-03-09 12:12] susanodd commented on #699
Here's what it looks like. It generates the columns described above in the output CSV. Here shown with a test video having been added to the #A gloss to test that the correct hyperlink has been made. On Global, this will use the URL setting, as shown above.

![dataset-hyperlinks-csv](https://user-images.githubusercontent.com/24272544/110467863-cf596b80-80d7-11eb-9eb8-045bebb7484f.png)

![csv-hyper

[2021-03-09 12:15] susanodd commented on #699
This has been pushed to github on theoddbranch.

[2021-03-10 10:16] susanodd commented on #492
I'm looking at this issue now.

On the normal Search page, you can do either Sign or else Sign or Morpheme.

When searching on Morpheme Type (Hands: Handedness) via the Search Morpheme page, this returns five morphemes.

But the same query (Morpheme Type: Hands: Handedness) on the normal Search (using Sign or Morpheme) does not return any results.

[2021-03-10 11:09] susanodd commented on #729
Tests on Admin FieldChoice all work.

[2021-03-10 12:55] susanodd commented on #689
Now that the morphemes have appeared again...

@ocrasborn, can you try doing the following:

- https://signbank.cls.ru.nl/morphemes/search/

- Try Search by Morphology, Has Morpheme Type, Hands: Handedness

That gives results for NGT now, because there are morphemes again. Hurrah!

But doing the same in the normal Search, with "sign or morpheme" does not.

- https://signbank.cls.ru.nl/signs/search

[2021-03-10 14:00] susanodd commented on #492
Here is the revised signs/search on morpheme type, sign or morpheme (#689):

![search-sign-or-morpheme-type-handedness](https://user-images.githubusercontent.com/24272544/110640462-22532180-81b1-11eb-928b-b6050e91dc18.png)

![search-sign-or-morpheme-type-results](https://user-images.githubusercontent.com/24272544/110640484-27b06c00-81b1-11eb-934f-4141ebeb86a0.png)

[2021-03-11 09:42] susanodd commented on #440
I finished #699 which generates hyperlinks for glossvideo and glossimage.
It turns out there is are methods in the Gloss model which take care of the special characters.

Maybe OtherMedia should be included in the CSV or another CSV in order to check what is being generated?
It's not exactly what this issue is, but perhaps easier for a human to check?

[2021-03-11 10:45] ocrasborn commented on #696
er... @Woseseltops , am I supposed to see anything yet in the interface? Or did you assign me to answer any open questions? (I still see the three flags in the interface, also after reloading, and in the admin I only see three language fields in a Page, for instance, not five.)

[2021-03-11 11:39] Woseseltops commented on #696
Sorry @ocrasborn I didn't expect you to be this quick :) . I wasn't finished putting it online yet, it is now!

[2021-03-11 13:49] susanodd commented on #492
This has been pushed to theoddbranch.

[2021-03-11 14:08] susanodd commented on #665
Scroll bar for lemmas. Lemma search results (#708) shown in scroll bar in Lemma Update View (#722).

[2021-03-11 14:16] ocrasborn commented on #696
Oh haha! I'll be more patient next time. Anyway:
1. Everything looks OK (in the user interface) for Mac/Firefox and Mac/Chrome, but on Mac/Safari I get question marks for missing images.
2. I don't yet see anything in the admin under pages, text boxes for Hebrew and Arabic that is.

[2021-03-11 14:44] susanodd commented on #660
@vanlummelhuizen,

It does not look like the Admin is causing machine value duplicates for a field.

The machine value is not writeable in the Admin form. It is generated.
The code automatically creates a new machine value larger than the others in use for that field category
The first machine value created if there are currently no choices, is 2.

The duplicates could be legacy code, or perhaps b

[2021-03-11 14:52] susanodd commented on #660
Yykes!!! It is possible to change the field category of a FieldChoice!

On my local server, I just changed a Semantic Field (category SemField) called Tennis into a choice for Handedness.

So this would be a way to inadvertently end up with duplicate machine values.

[2021-03-12 12:15] susanodd commented on #660
This has been fixed. A field choice that has already been created in a particular category can not be changed to a different category. Instead it will need to be deleted and another created in the other category.

[2021-03-12 12:20] susanodd commented on #728
Is this issue solved?
It works on my local server.

[2021-03-12 12:27] susanodd commented on #697
There's a huge amount of them now!!!

![handshapes-machine-value-2](https://user-images.githubusercontent.com/24272544/110940129-b00c4980-8336-11eb-8a46-4a7c888859da.png)

[2021-03-12 12:30] susanodd commented on #697
I'm wondering if something is messed up in Admin.
I noticed on the other issue (field_color in admin) that Django calls the get_form multiple times when working on field choices.
I don't understand enough about how the Django automated part of Admin works to know why it is doing this.
It's also using VersionAdmin and putting things in a history.

[2021-03-12 12:31] susanodd commented on #697
I'll try deleting all the extra ones on my server and see if they appear again.

[2021-03-12 12:48] susanodd commented on #697
I've deleted them all, except one. That leaves the original fieldchoice duplicate machine values. In Handshapes, this is already resolved as there is only one with machine value2.

![handshapes-field-choices-2](https://user-images.githubusercontent.com/24272544/110942032-80ab0c00-8339-11eb-87c3-e282e1ffa958.png)

![handshapes-machine-value](https://user-images.githubusercontent.com/24272544/110942

[2021-03-12 12:53] susanodd commented on #697
@ocrasborn @vanlummelhuizen, shall I do this on global? There are 50 duplicates of A > T

[2021-03-12 13:57] ocrasborn commented on #728
It works @susanodd if users remember to go to signbank.cls.ru.nl, but since we've been at science.ru.nl for so long, this will keep us scratching our heads for a while I expect. If there's a technical solution to get around this, that'd be good, but I would not qualify it as 'high priority'.

[2021-03-12 14:18] susanodd commented on #661
@vanlummelhuizen I would like to repair the admin_handshape_list template as it contains numerous hard coded language references. (I.e., this issue.)
I understand you are revising the extra name fields in the Handshape model. (i.e., dutch_name, chinese_name will disappear and be subsumed by translations, and english_name will just be name).
Is it possible to somehow create an "additional" Handshap

[2021-03-15 10:33] vanlummelhuizen commented on #728
Best solution I can think of right now is redirecting signbank.science.ru.nl to signbank.cls.ru.nl. I think this can be done in the Apache configuration. @Woseseltops, do you agree?

[2021-03-15 10:43] vanlummelhuizen commented on #661
@susanodd on branch [fieldchoice_field_translations_658_661](https://github.com/Signbank/Global-signbank/tree/fieldchoice_field_translations_658_661) I already changed the english_name to name. Is this so urgent it cannot wait a few more weeks?

[2021-03-15 13:28] susanodd commented on #440
@Woseseltops, @vanlummelhuizen, @ocrasborn Could it be that it's not possible to delete OtherMedia files?

Yes, it's possible to delete OtherMedia objects in Gloss Detail Edit, but there is no code that actually deletes the files.

[2021-03-15 13:35] susanodd commented on #440
Regarding this issue, I discovered a mismatch with the "source" filename that you try to upload and the "destination" filename it wants to create.
It looks like the issue is correct, that "something" is being done, but the file wasn't actually uploaded if there were special characters.
The path wasn't being constructed correctly, but an OtherMedia object (containing the new filename) was being cre

[2021-03-15 13:38] susanodd commented on #440
So the issue description is that the file is empty, not that it downloads empty; It uploads empty.

[2021-03-15 13:54] susanodd commented on #661
No, it's not urgent.

[2021-03-16 11:16] susanodd commented on #696
@Woseseltops how does this issue relate to the file system on right-to-left languages?

Django is putting the extension part of the filename at the start sometimes. Here is what the file properties look like in Ubuntu.

![right-to-left-filename](https://user-images.githubusercontent.com/24272544/111300447-616df080-8651-11eb-8437-c7105f3fed0d.png)

[2021-03-16 12:22] susanodd commented on #440
This is kind of related to the interface languages.

When the user uploads "other media" the file that is uploaded retains its filename and is put in a gloss number folder in othermedia.

This is related to this issue because the source filename can have special characters in it and it gets copied.
But it can also be a right to left language filename.

I checked this out for glossvideo and glossim

[2021-03-17 08:24] vanlummelhuizen opened #732 "HandshapeListView is used via 3 separate urls"
The HandshapeListView is reachable via

* /dictionary/handshapes/
* /signs/search_handshape/
* /handshapes/show_all/

Questions for @susanodd and @ocrasborn:
1. How do they differ technically?
2. How do they differ for the user? Can the user easily see the difference?
3. Do we need all three? Can we just use one?

[2021-03-17 09:43] susanodd commented on #732
From memory,
At the start it was not possible to search handshapes. When this functionality was added it was analogous to signs.
There are also multiple urls for signs.
That there are two menu items for handshapes in the menu bar was @ocrasborn.

It's possible to search for handshapes and also to search for signs that use a handshape.
There is also a results bar of handshapes shown in Handshape De

[2021-03-17 11:11] susanodd commented on #732
- /handshapes/show_all/

Visible for anonymous users also. Show all handshapes does not have a search panel. The results go to handshape detail views where editing is not possible.

- /signs/search_handshape/

Signs search handshapes is in the menu bar, but if you choose that, you are prompted to log in if you are not.

[2021-03-17 11:16] susanodd commented on #732
- /dictionary/handshapes/

That one does not look like it can be navigated to via the menus.
It looks identical to the /signs/search_handshape/ url

[2021-03-17 11:44] susanodd commented on #732
Okay, it seems they do the same thing, except the top one is used within templates.

I suspect the different urls arose to keep new code from interfering with existing code. (aka @susanodd does this)

It's also related to whether the user is allowed to edit handshapes or not.

Handshapes existed before datasets. At the beginning handshapes were only in NGT. (They still are.)
We're going to need ad

[2021-03-17 11:47] susanodd commented on #732
Just a guess, I think the /dictionary/handshapes/ url is the intended one. From Handshape Detail View, it links back to that one.

[2021-03-17 12:03] susanodd commented on #732
This url:

- /signs/search_handshape/

only appears in signbank/urls.py
and in the e-mail text sent to new users.

[2021-03-17 12:05] susanodd commented on #732
This url:

- /handshapes/show_all/

only appears in signbank/urls.py
and as a link in handshape_detail.html when the user is anonymous.

[2021-03-18 10:31] susanodd commented on #440
I kind of fixed this.
I found out what was causing the problem during upload, the original filename of the file on the user's computer was being put into the new OtherMedia object. So if there were weird characters in that, they were being copied, along with the original extension.

I worked step by step through the uploading. The Django upload knows the real type of the file it is uploading, even

[2021-03-18 10:57] susanodd commented on #440
I'm looking at the OtherMedia objects in the database to see what mysterious paths exist.
Here is a gloss with numerous other media objects, most of which have no type showing:
https://signbank.cls.ru.nl/dictionary/gloss/3117/
It looks like it's a test gloss.
Do we want all of these file extensions to be recognised and receive a file type in the list?

![other-media-filetypes](https://user-images.

[2021-03-18 11:01] susanodd commented on #440
Here is the same gloss on my local server showing the repairs:

![other-media-types-theoddbranch](https://user-images.githubusercontent.com/24272544/111615977-a2950a80-87e1-11eb-8ee4-50b61e7e487b.png)

[2021-03-18 11:02] Woseseltops commented on #492
Hey @susanodd are you introducing a new setting MORPHEME_DISPLAY_FIELDS here? If so, it should be added to `settings/server_specific/default.py` . Other than that nothing to complain ;)

[2021-03-18 11:08] Woseseltops commented on #660
The code I reviewed so far is mostly bug fixes and making warning texts translatable, right?

[2021-03-18 11:12] susanodd commented on #440
Please note, I do not have these files on my local computer! Those filenames are obtained from the file names stored in the paths in the OtherMedia objects. The None file types are where the extension is unknown. One of those has an extension ".do".

[2021-03-18 11:14] Woseseltops commented on #699
Reviewed the code. I like it.

[2021-03-18 11:28] Woseseltops commented on #699
Okay, I do have a minor code style thing that caught my eye, about this:

            gloss_image_path = gloss.get_image_url()
            gloss_video_path = gloss.get_video_url()
            if gloss_image_path:
                gloss_image_path = gloss_image_path.encode('utf-8')
                gloss_image_path = os.path.join(protected_media_url,gloss_image_path)
                gloss_image_path

[2021-03-18 11:30] susanodd commented on #492
Check!

[2021-03-18 11:31] susanodd commented on #660
Yes.

[2021-03-18 14:33] susanodd commented on #440
I've added some extra functionality for displaying the list of OtherMedia.
When loading the Gloss Detail View, if an OtherMedia has a bad pathname, the Download is greyed out and disabled.
Also, if the OtherMedia is accidently in the othermedia (parent) folder, instead of the gloss's folder (othermedia/gloss_id), it is also disabled. Such a location is legacy code.
I decided to display the links b

[2021-03-19 13:46] Woseseltops commented on #708
Reviewed this. Nice touch add a scroll bar as well!

[2021-03-19 14:01] Woseseltops commented on #720
Reviewed this. Solution / code style looks okay to me, but this might clash with #661 as said before.

[2021-03-19 14:08] Woseseltops commented on #721
Hey, @susanodd , you now have:

[code]

Would this also work?

[code]

While normally creating variables for intermediary steps creates more clarity (you 'name' things), in the template language this creates so much extra fluff that it actually becomes less readable in my personal opinion, so that's why I ask.

[2021-03-19 14:26] susanodd commented on #721
I'll try it out. It looks much better that way.

Sometimes Django seems to evaluate things lazily that are in the context data.
That's happened a lot with queries that have not been evaluated yet.
So I end up writing the code that way to force it to evaluate things. It didn't work to sort them in the python part.

[2021-03-19 14:31] Woseseltops commented on #729
I noticed that in ``dictionary/admin.py``, you are using ``form.__dict__['base_fields']`` a number of times... Perhaps a ``base_fields = form.__dict__['base_fields']`` somewhere near the beginning would make things more readable?

[2021-03-22 10:51] susanodd commented on #720
Yes, this needs revision after #661 has been completed.

[2021-03-23 10:24] susanodd commented on #674
@vanlummelhuizen are you working on this issue?

Is this issue finished?

I have been working on other media file paths (#440 )
That issue has evolved into fixing problems with the paths stored inside OtherMedia objects, because some were referencing the static folder and others didn't have a folder, and still others have weird characters in the path. The code was creating new files with exactly t

[2021-03-23 10:33] susanodd commented on #659
@vanlummelhuizen are you working on this issue? If not, I will work on it.

This one is also related to #440. That has evolved into Other media paths and filenames.

[2021-03-23 10:36] susanodd commented on #116
This is similar to #699, regarding output.

[2021-03-23 11:08] susanodd commented on #440
@Woseseltops @vanlummelhuizen can I get some feedback before pushing the solution I'm working on?

I have modified functionality as follows:

1. update.py -> add_othermedia

- this now has a reverse_url to return to either the GlossDetail or MorphemeDetail view
- the code now checks the content_type of the file during upload to change the file extensin "m4v" to "mp4" (if this applies). That file e

[2021-03-23 11:12] susanodd commented on #440
Question 1: what is the best place for (2) ? I put it in the model because there are similar methods for getting video and image file paths.

Question 2: I would like to add an existence check on the file in writable inside the get_othermedia_path and make media_okay be false if the file does not exist. Then these could also be disabled in the Detail views.

Question 3: What to do about deletion?

[2021-03-23 11:26] susanodd commented on #440
@ocrasborn:

Question 4: What types of Other Media should there be?

I modified the input to accept: video/* and image/*
(In the current database, users have also uploaded txt, pdf, csv, and py.)

[2021-03-24 14:32] vanlummelhuizen commented on #440
Seems like the best place to me.

I think that is a good idea. Please do that.

I think deleting an OtherMedia object should also delete the file on disk or at least move it to a 'deleted' folder of some sort. @ocrasborn what do you want to happen to deleted OtherMedia files?

[2021-03-24 14:39] vanlummelhuizen commented on #674
@susanodd I am not working on this issue at the moment. I answered some of you question in #440

[2021-03-24 14:44] vanlummelhuizen commented on #659
@susanodd I am not working on this issue so please do. I think the main thing is that idgloss and annotation_idgloss have a many-to-one relationship with Gloss while the code above only takes a default one.

[2021-03-24 15:26] vanlummelhuizen commented on #697
@susanodd I  am OK with you deleting duplicates on global/live. We always have a backup. @ocrasborn agreed?

[2021-03-25 08:55] Woseseltops commented on #440
Hi @susanodd , some responses from my side:

From your description these all seem good fixes, making the whole OtherMedia functionality a lot more robust.

Perhaps this was something you were already working on before we decided to change our workflow, but just as a quick reminder of our new workflow :)
* You push whatever you think is good to a separate feature specific branch
* You request feedb

[2021-03-25 09:09] Woseseltops commented on #727
You are now overriding the select 2 dependency instead of changing it, right @susanodd ?

Furthermore, I noticed there are still a number of `` `` in the commits, I guess it's cleaner to remove these?

[2021-03-25 09:41] susanodd commented on #440
@Woseseltops, yes, I understand the new workflow.
Although I am still working from theoddbranch because it's much newer code. Some changes on theoddbranch that are not yet on the master are from the end of january.
I will create a new branch for the other media after theoddbranch has been merged into the master.
Although I'm quite fond of theoddbranch name.

[2021-03-25 09:48] susanodd commented on #727
I originally modified the select2 javascript source code.
The "solution" is now is one of the parameters that are given when the select2 is created.
(It doesn't override anything, it's an optional parameter.)

It's basically the same solution, except it had to be coded in a different way.
I left the commented out console logs in the code, because @vanlummelhuizen didn't like the original solution.

[2021-03-25 11:19] Woseseltops commented on #693
Hey @susanodd , great work in this issue. I reviewed the code. My questions:
* I noticed that you edited external dependency `jquery.jeditable.mini_colors.js` a bit... do you think it would also be possible to achieve what we want without editing external stuff? (not a rhetoric question)
* In forms.py there still are quite a number of commented print statement... do we still need them?
* Same for

[2021-03-25 11:39] Woseseltops opened #733 "Create a view to list and review unused lemmas"
I reviewed the code but could not find this functionality already. I suggest a list with a 'delete' button behind each item.

Requested by Hannah Lutzenberger

[2021-03-25 12:07] susanodd commented on #693
The jeditable is a bit different. It's been using a signbank javascript for quite a while, not the external one.
The code had to be different because of ajax calls.
Also, the way the colors work with that needed to be modified as well.
The new _colors file is only used in the new pages that use colors, to keep the rest of the site the same.

[2021-03-25 12:12] susanodd commented on #693
I'll see about the console statements.

[2021-03-25 12:22] susanodd commented on #693
Probably I need to (better) document what the js.jeditable.mini_colors.js is doing.
I added a few extra parameters inside the various cases, as well as filling in the parameters in the gloss_edit_color.js
Oh yes, the jeditable code also has parts to deal with the shortcut keys that bring the user inside the pulldown list.
I agree, it's fairly cryptic for all the things going on.

[2021-03-25 14:05] ocrasborn commented on #733
Would it be an idea to integrate this in #529, that is, to add a column to an import file that does not match a field in the database but that could be used to mark Lemma ID Glosses for deletion?
In the CSV export of Lemma ID Glosses, it would be helpful then to add a column that lists (comma-separated) the Annotation ID Glosses that *are* linked to a lemma; with that, users could easily search fo

[2021-03-26 10:29] susanodd commented on #733
If you are on the Lemma List view, you see a column with Number of glosses.
If there are no glosses, there is a trash bin in the Update column

[2021-03-26 14:01] susanodd commented on #696
@ocrasborn what is the best way to introduce new "feedback messages" that will need to be translated?

I'm using the Python/Django syntax: _("Some text that will be translated")

E.g., _("Upload other media failed: The file has an unknown type.")

[2021-03-26 15:23] ocrasborn opened #734 "Creating gloss images is broken"
Both the automatic generation of gloss images, and the button for "Create Citation Form Image from Current Video" (in the edit mode) seem to be broken.
(For the new dataset IS_WFD2007, I saw that on the server, there was not yet a folder under glossimage/. Creating that folder didn't solve the issue. However, it doesn't work for dataset ISL either, and for that dataset the folder had already been

[2021-03-27 09:40] ocrasborn commented on #696
Hi @susanodd , @Woseseltops and @vanlummelhuizen can best advise here, but as long as you're consistent with how it's been done elsewhere, it should be OK, I'd say. (Note that the actual translations can take many months up to over a year, we don't review new to-translate-strings all that often.)

[2021-03-27 13:30] ocrasborn commented on #697
Agreed @vanlummelhuizen @susanodd

[2021-03-29 08:06] susanodd commented on #734
On my local server this has never worked. It's something to do with the video resizing routines.

[2021-03-29 08:35] susanodd commented on #697
I'm working on this now. In the admin. I am getting intermittent Cannot operate on a closed database errors quite often.
I can do about 3 deletes, then this message appears. Then I wait a while, read issues in github, go back to Dictionary then Field Choices, then start deleting again.

Of the (initially 50) extra handshape field choice objects for A > T, are these fetched by queries that they are

[2021-03-29 11:06] susanodd commented on #697
Here is the error message. #441
It says something about sqlite3
@vanlummelhuizen @Woseseltops

I can leave the browser open to the error message if you want additional information out of it.

![closed-database-top](https://user-images.githubusercontent.com/24272544/112827723-05fb2400-908f-11eb-97ab-f9ca4f913b81.png)

[2021-03-29 11:11] vanlummelhuizen commented on #697
@susanodd These errors seem to come up when there are many things happening in the database more or less at once. @Woseseltops is trying to tackle this issue by moving to MySQL. Is it possible at all to delete a list of selected FieldChoices in the admin?

[2021-03-29 11:47] susanodd commented on #697
Yes, I will finish deleting them. I left a few in case you wanted to generate the error message.

[2021-03-29 12:10] susanodd commented on #697
Okay, they're deleted.

[2021-03-30 08:02] susanodd opened #735 "Other Media files and admin"
Improvements to the interface to make management of other media easier for the user.
Followup to #440

- Gloss/Morpheme Display checks existence of Other Media files on server, user feedback
- Gloss/Morpheme Edit checks filename and file type during Upload, user feedback

[2021-03-30 09:35] susanodd commented on #734
There might be something wrong with the file system permissions.
There is an error from extractMiddleFrame -> MiddleFrameExtracter.
The two folders it makes, filename-frames/all and filename-frames/middle, are empty. It doesn't find the expected image file in folder middle.
@vanlummelhuizen ?

[2021-03-30 11:14] susanodd commented on #734
I found the line of code that is causing the problem:

`"-filter:v", scale_formula,`

This is inside the **extract_frames** function inside of **extractMiddleFrame.py** : **MiddleFrameExtracter**

I did this on my local copy of the code (**CGNT_scripts**).
Aside from lots of print statements, that's the only code I acrually changed. (I merely commented it out.)

To debug, I switched the ffmpeg com

[2021-03-31 09:38] susanodd commented on #440
@Woseseltops, the other media currently in the database is predominantly .mp4, .mov, .png, .jjpg
The .txt, .csv, .pdf, .py are in test signs.
One of the uploaded images is a screenshot of an error message.

[2021-03-31 11:22] susanodd commented on #697
I revised the tests for field choices. Since the duplicates have been deleted, it revealed a poorly coded test.

[2021-03-31 12:18] susanodd commented on #659
Hmmm. What is the intention of the DeletedGlossOrMedia history?
It would seem the Dataset would also be useful?
The code that creates objects of this model is:
https://github.com/Signbank/Global-signbank/blob/d218da656e6a7d02dd547a227efc6f4c90c637aa/signbank/dictionary/views.py#L2145
https://github.com/Signbank/Global-signbank/blob/d218da656e6a7d02dd547a227efc6f4c90c637aa/signbank/dictionary/model

[2021-03-31 13:12] vanlummelhuizen commented on #659
@susanodd Yes, I believe changing the choices argument in a model field entails making a new migration. @Woseseltops and I decide to hold of new migrations until the whole FieldChoice revision is merged with master. So, if possible, do not make any migrations.

I believe that DeletedGlossOrMedia is not meant for undoing deletion, but just for having some info about what was deleted. Perhaps @ocras

[2021-04-01 08:25] vanlummelhuizen commented on #697
Thanks @susanodd It is already live. See also https://github.com/Signbank/Global-signbank/pull/736#issuecomment-811075242

[2021-04-01 08:38] vanlummelhuizen commented on #660
@susanodd The changes you  made are live. However, in your code I see two things fixed:

1. An error is now raised instead of just stated. Good, that is probably the reason the problem existed.
2. Now only  FieldChoices for existing field categories can be made. That means that no new field categories can be made. Am I correct?

In the end I think a database unique constraint is what we want. This

[2021-04-01 09:12] susanodd commented on #660
2. Yes, that is correct, only existing categories can be used.
Because these are hard coded in the models. If the user created new categories, these would not be used for anything.

[2021-04-01 09:16] susanodd commented on #660
I suppose (but probably not okay) we could instead dynamically fetch all field_choice_category attributes from the models, instead of querying the database.
But again, that doesn't seem like something wise. I guess it could catch errors if people modified the models but forgot to do anything else. Maybe while setting up a new signbank.

[2021-04-01 09:17] susanodd commented on #660
I could make a test to check whether the categories in the database are the same as those in the models?

[2021-04-01 09:40] vanlummelhuizen commented on #660
@susanodd Good point. So, as it is now, when a model gets a new FieldChoice field, we need to make at least one initial FieldChoice.

My revision of FieldChoice implementation covers this. So for now, let's leave it as it is.

[2021-04-01 10:20] susanodd commented on #660
Okay, great!

[2021-04-01 10:23] susanodd commented on #440
Changes to fix the problems related to this issue are on an issue branch other_media_branch for #735.
This has been pushed to github.

[2021-04-01 10:25] #660 closed

[2021-04-01 10:31] susanodd commented on #735
This has been pushed to github.

[2021-04-01 10:36] susanodd commented on #726
TO SELF: This issue involves making colours visible in the normal Gloss Edit page, not just in the Settings Preview.

[2021-04-01 10:39] susanodd commented on #732
@vanlummelhuizen do you need me to do anything with this?
As described in the two comments right above this comment, It's specific usages of the two extra urls.

[2021-04-01 10:50] susanodd opened #739 "Display refinement to Admin Gloss"
There are some large text areas inside of the Gloss Edit of Admin.
I noticed this when checking the Other Media display there to see what paths are shown.
This issue is meant to refine the display there. Some of the code is legacy.

[2021-04-08 08:05] hannahlutzenberger commented on #733
susanodd, this is what I have been using, but it is quite time-consuming to delete unused Lemmas in this dataset (1636 lemmas on 33 pages). What I was interested in is whether there is a more efficient way to this, i.e. bunch deleting the lemmas with trash bin symbol (or even better, an automatically deleting unused lemmas).

[2021-04-08 09:01] susanodd commented on #733
Okay, thanks for the feedback. That is way too many to delete by hand.
Originally, the lemma's were created by default because the field idgloss used to be in the Gloss model. So those got turned into  lemma's behind the scenes. The lemma's also are where the (pointer to the) Dataset resides.
I will look to see what is going on. It looks like things got made obsolete in some way.

[2021-04-08 09:03] hannahlutzenberger commented on #733
yes, initially they were created automatically but I am using them to further group sign variants together in the Kata Kolok dataset. This means that I may create new ones and edit existing ones to collect a few variants. It may not be an issue in the NGT dataset  but for me it would be quite helpful! thank you!

[2021-04-08 09:06] hannahlutzenberger commented on #692
picking up on a short conversation Onno and I had on Tuesday, could someone spell out for me what exactly the minimal pair function does (i.e. what fields are taken into account etc.)? thank you!

[2021-04-08 09:22] ocrasborn commented on #692
@hannahlutzenberger , I'm currently including this in the manual v. 2.1, will send you an intermediate update by tomorrow.

[2021-04-08 11:49] susanodd commented on #682
I'm working on this issue now.
I've made it so there's a button to request access if the user is anonymous.
One glitch, the current registration form only offers the choice of is_public datasets.
So this means that if the user has requested access to a dataset that is not public, it won't be offered.
At the moment, there are only 4 public datasets.
Easy solution is to only show this button for pub

[2021-04-08 11:52] susanodd commented on #682
![dataset-detail-ngt-anonymous](https://user-images.githubusercontent.com/24272544/114021950-8da41800-9871-11eb-9288-0bdd0349ba93.png)

![registration-preselect-ngt](https://user-images.githubusercontent.com/24272544/114021974-9399f900-9871-11eb-8b94-1e5cefd7d5f3.png)

[2021-04-08 11:52] ocrasborn commented on #682
Hi @susanodd , what happens if users click that button? They should be required to create an account first, is that what happens?
In response to the second point: indeed, only show the button for public datasets!!

[2021-04-08 11:55] susanodd commented on #682
Yes, that's the second screenshot, that's what's shown. (Here for NGT.)
I'll add code to check whether the user already exists if they start filling it in and already have an account.
Then it will just be a request access if needed.

[2021-04-08 11:56] susanodd commented on #682
The second screenshot is the normal page for creating an account, but the dataset has been pre-selected to what they were just looking at when they clicked the button.

[2021-04-08 12:00] ocrasborn commented on #682
That's very elegant from the user's perspective, the pre-selection! Great, @susanodd !

[2021-04-09 12:43] susanodd commented on #739
Okay, this is not exactly related to this issue, but it is something weird with a test gloss (on the live server).

Here, the url has a circular path. (@Woseseltops @vanlummelhuizen ):

![weird-url](https://user-images.githubusercontent.com/24272544/114181321-a8de5880-9941-11eb-9f8b-db06a89719cf.png)

[2021-04-09 12:46] susanodd commented on #739
I removed all the duplicate stuff at the end of the path and reloaded it. Now it's disappeared from the url.

https://signbank.cls.ru.nl/dictionary/gloss/8822/dictionary/gloss/dictionary/gloss/dictionary/gloss/dictionary/gloss/37052

https://signbank.cls.ru.nl/dictionary/gloss/8822/

[2021-04-09 12:52] susanodd commented on #739
THIS ISSUE

Here is a screenshot of the Glosses section of Admin on the live server.
Observe that it looks empty.

![admin-glosses-top-signbank](https://user-images.githubusercontent.com/24272544/114182691-34a4b480-9943-11eb-8c48-e9ccf7aa8ce1.png)

[2021-04-09 12:55] susanodd commented on #739
THIS ISSUE STEP TWO

The above prompted me to investigate this on my local server. I modified the display of glosses to also show the ID, the Lemma (the same as above), followed by the is_public toggle.

Here is the same "top" rows, followed by the rows where Lemma's start to be shown.

![admin-glosses-top-local](https://user-images.githubusercontent.com/24272544/114182872-759cc900-9943-11eb-944e-

[2021-04-09 13:00] susanodd commented on #739
In the database, there's a rather large number of totally empty glosses. They don't have a Lemma so they're not in a dataset. The database is all but empty for those rows. It's not possible to access them except for in the Admin.

I'm working on making the Glosses Admin less cumbersome. I revised it to show the ID because all of those empty glosses cause problems trying to search for anything.

[2021-04-09 13:51] ocrasborn commented on #739
Ah, that'll be very helpful @susanodd ! thanks

[2021-04-09 14:02] susanodd commented on #730
To my surprise this happened on my local server!!!

I have been working with the Admin Glosses and I tried to edit one of the glosses.
Up to now, I have only been scrolling. Which is absurdly slow and keeps choking.
Just now, trying to edit, my entire system froze up and the database became locked. I needed to reboot multiple times to get rid of this.

I have the impression that something is wrong

[2021-04-12 09:48] susanodd commented on #512
I'm working on #739 and I noticed there are collapse categories inside the Gloss Admin (fieldsets).
https://github.com/Signbank/Global-signbank/blob/f84d99d8b1730f5037e2ba62549627228a761f33/signbank/dictionary/admin.py#L94-L100
So I'm checking to see what's in the different categories.

I stumbled across settings inside base.py
as well as inside default.py

Specifically, what is the significance o

[2021-04-12 12:41] susanodd commented on #739
Update. The cause of the extremely slow Gloss Admin was the Lemma field. I changed it to be read only. Now it's much faster.

What it was doing before was "getting ready" a big pull-down of ALL the existing Lemma objects with all the translations.
I noticed that if I tried to click on the Lemma to see what it was, my browser and indeed my computer would freeze up.
Then a very very long time later,

[2021-04-12 12:46] susanodd commented on #730
See #739 for improvements to speed of Admin Gloss.

[2021-04-13 14:28] ocrasborn opened #740 "Small interface improvement on Select Datasets page"
There are three buttons now on the Select Datasets page, two at the top, one at the bottom. There's a natural order, the 'save selection' at the bottom follows after having put checkmarks in the list. Now that the list is getting longer, it'd be helpful to have all three buttons both at the top and at the bottom, so that I'll have to scroll less often.

[2021-04-13 14:30] #729 closed

[2021-04-13 14:37] ocrasborn commented on #727
It works like a charm, but now we still have the odd situation that to see the colours you need to go to the Settings menu instead of to the Signs menu, where users normally select Search. Can't we just discard the Preview Gloss Colors Search page, and instead use the colours in the regular search page, @susanodd ? Or is there another function of the Preview page that I'm missing, and do we simply

[2021-04-13 14:38] #722 closed

[2021-04-13 14:41] #721 closed

[2021-04-13 14:42] #720 closed

[2021-04-13 14:54] ocrasborn opened #741 "Replace h by H in the name of the tab "Revision history""
cf. capitalisation of the tabs Frequency View and Relations View, e.g.
(Yes, how small can an issue be!)

And while your at it, it might pay off to go through the English interface for 15 minutes to spot other inconsistencies (Menu item names?)

[2021-04-13 14:56] #716 closed

[2021-04-13 15:01] #708 closed

[2021-04-13 15:07] #699 closed

[2021-04-13 15:07] #705 closed

[2021-04-13 15:08] #693 closed

[2021-04-14 11:05] susanodd commented on #739
Here are a couple of screenshots of a gloss that shows up "empty" looking area of the Glosses list (see above).
It looks empty because there was no lemma fields filled in when it was created.
But as you can see, there are fields filled in.

![admin-gloss-38188-blank-lemmas](https://user-images.githubusercontent.com/24272544/114700446-cdf81000-9d21-11eb-9746-023ba5b02d32.png)

![admin-gloss-38188-d

[2021-04-14 11:17] susanodd commented on #739
So it would seem that for creating new glosses, some additional "interface" is needed so that "empty" glosses aren't "invisible".
I can see this gloss inside of Admin.

But an "error message" is generated when trying to view the above gloss on Signbank.

An error message is shown (to prevent crashing) when a requested Gloss does not have a Lemma.
This is because the Dataset is stored inside of Lem

[2021-04-14 11:26] susanodd commented on #739
I can revise the new "read-only" Gloss Admin to allow adding a Lemma if this is not defined.
Possibly together with choosing a Dataset (that the user has access to), and restricting Lemma's to that.
I guess if the user is a Dataset Manager that the user ought to be able to edit a gloss even if it hasn't got a Lemma (instead of showing the error message) ?
@ocrasborn what do you suggest?

It seems

[2021-04-14 11:40] susanodd commented on #739
Here are some additional screenshots for a test sign.
It shows the new compact read-only tabular inline display.
Note that for these sections where other "objects" are shown, the ID of that object is shown in the left column.
I did that to facilitate debugging so that we can locate an object in the database table if necessary.

Qua formatting, I added a box outline on the "Delete row" column. (Del

[2021-04-14 11:49] susanodd commented on #727
I'll check what @vanlummelhuizen is doing with FieldChoice translations. That keeps being almost ready.
This issue was intentionally kept on separate pages to avoid side effects on the rest of the site.
If it's okay with @vanlummelhuizen and @Woseseltops and doesn't interfere with their work, then it's good.

You're right, it's basically the same page, so it should be easy to modify. Perhaps just

[2021-04-14 15:00] ocrasborn commented on #739
Hi @susanodd , I think being able to search allows admins sufficient means of digging into individual glosses. We shouldn't need to do large-scale maintenance in the admin, but rather let dataset managers do that through CSV export/import in the interface. So please don't invest too much time in making the admin very 'useful' here.

[2021-04-15 11:35] susanodd commented on #739
Hi @ocrasborn, I am adding some minimal functionality to help repair things.
Mostly, I've removed editing functionality. (Admin Glosses)

That fields are read-only now forces users to update things on the site, rather than in the admin. I was concerned that because it was so slow it would be possible to inadvertently modify something just by clicking around wondering why nothing was happening.

Th

[2021-04-15 12:44] ocrasborn commented on #739
OK @susanodd !

[2021-04-15 12:47] #687 closed

[2021-04-15 13:06] #689 closed

[2021-04-15 13:09] ocrasborn commented on #665
@susanodd This is a great improvement to the interface, thanks!

[2021-04-15 13:10] #665 closed

[2021-04-15 13:34] #440 closed

[2021-04-15 18:46] #701 closed

[2021-04-16 08:05] Woseseltops commented on #717
Found this while going over high prio issues on my name! I had a look at the code and indeed it is not possible to have overwritten videos; unlike images, it looks like a video is just added to the list of videos instead. For the end users, though, this the same as overwriting a video, so I guess that instead of this

https://github.com/Signbank/Global-signbank/blob/affb3fa53a43b3adc8f0c1a53052423

[2021-04-16 08:29] Woseseltops commented on #740
Duplicated them, so you have three buttons above and below! Gave them a similar appearance as well.

Also, because this is so small, did it on the master branch directly instead of creating a seperate branch and pull request for this!

[2021-04-18 10:45] ocrasborn commented on #740
Such small things that make me happy :-)

[2021-04-18 10:45] #740 closed

[2021-04-19 19:14] ocrasborn opened #743 "'Internal Server Error' upon downloading minimal pair CSV"
When I generate a list of minimal pairs from menu Analysis > Minimal Pairs, this takes some time. Downloading a CSV then takes so long for NGT that I get an 'internal server error'; for Kata Kolok it does download after... 15-30 seconds perhaps. Is there some time-out setting that can easily be changed?

[2021-04-20 13:39] ocrasborn commented on #735
Hey @susanodd , I just noticed that for the CSL_Shanghai dataset, all 'main' movies have disappeared, but that these very movies are now available under Other Media. Is this related to this issue? Or something else you guys are working on?

[2021-04-21 07:41] susanodd commented on #735
I'm not sure. @vanlummelhuizen has just merged the branch. I don't know if it was live when you posted that or not?

The other media is stored under the gloss id (folder) under (protected_media) othermedia.
The videos are stored under (protected_media) glossvideo under the dataset acronym (folder).
Nothing was moved.

It could be that broken paths are now working. There may have been a path prefix

[2021-04-21 07:47] vanlummelhuizen commented on #735
@susanodd I merged your work and put it live after @ocrasborn 's comment.

[2021-04-21 08:44] ocrasborn commented on #735
@susanodd @vanlummelhuizen : I looked on the server under glossvideo/, and see that in the "old" (?) CSL_Shanghai/, there's only empty subdirectories, while there's a new folder CSL_Shangh/ that contains all the videos. I could simply clean things up there manually, but I'd best leave that to you, and more importantly: how could this have come about?!

[2021-04-21 09:48] susanodd commented on #735
Yes, it's best to check whether there are paths to the old locations inside glosses.
Was the dataset renamed?

[2021-04-21 10:03] susanodd commented on #735
I'm looking at the GlossVideo objects (on my local server) to see what the paths look like.
All of the paths with "CSL" in them refer to folder glossvideo/CSL_Shanghai/ ....
I tried looking at one of these glosses (6675), but there are no "Other Media" files for it (nor on the live server).
Have you got a gloss ID for where this happens?

[2021-04-21 10:23] susanodd commented on #735
Would it fix it to just rename CSL_Shangh ? It should be CSL_Shanghai

Maybe #717 did something?

https://github.com/Signbank/Global-signbank/blob/511bc02da4e670ade6f932bd95b3aa08e8a0cdd2/signbank/dictionary/views.py#L503

https://github.com/Signbank/Global-signbank/blob/511bc02da4e670ade6f932bd95b3aa08e8a0cdd2/signbank/dictionary/views.py#L522-L525

There was a similar import routine for other me

[2021-04-21 11:55] ocrasborn commented on #735
I'm happy just renaming the folder, but I'd also want to find out how it came about. If you know enough to understand what might have gone on, could you rename the folder (and remove the other one) for me, @susanodd ?

[2021-04-22 09:52] susanodd commented on #735
Okay, I downloaded the most recent database to check there. My previous local database was from 31 march. The new one is from yesterday. The GlossVideo path names are all with CSL_Shanhai.

I'm logged onto the server now.
There are indeed two folders under glossvideo.
The one CSL_Shanghai is from 2019 created by @vanlummelhuizen the other CSL_Shangh is from 2020 created by @Woseseltops .
@ocrasbor

[2021-04-22 10:10] susanodd commented on #735
I'm okay with just renaming. I added the lengthy discussion above in case @vanlummelhuizen and @Woseseltops want to comment, or indeed remember doing something.

[2021-04-22 10:32] ocrasborn commented on #735
OK! Go ahead then, @susanodd

[2021-04-22 10:35] susanodd commented on #735
I found one directory in CSL_Shanghai that actually has a video. LAUNDRY-MACHINE-A
(Added in January.)
I suspect I need to do it all by hand and remove the old empty ones, and move this one and any others, etc.
Check.

[2021-04-22 10:38] ocrasborn commented on #735
I found two yesterday, but they seem to be linked to glosses we deleted, feel free to ignore and thus delete those

[2021-04-22 11:21] susanodd commented on #735
Okay, I found a total of 7 videos and moved these to the "other" folders.
Now it's all repaired.

I noticed that the videos don't show up in the gloss search page column, but they are all there if you look at the glosses.
E.g., searching for ^LA
there are quite a few, 17 glosses. but only a preview video of LAUNDRY-MACHINE-A shows up in the gloss list.

[2021-04-22 11:34] vanlummelhuizen commented on #735
I tested which video files in the list of GlossVideos of CSL_Shanghai did not exist:

[code]
The last one seems to have an easy fix: append .mp4 to the end of the file name in the database. The others, I don't know.

[2021-04-22 11:46] susanodd commented on #735
I already appended the last one with mp4 !

[2021-04-22 11:48] susanodd commented on #735
I just removed by hand a bunch of two-letter empty folders in the glossvideo folder. (i.e., not inside a dataset)

[2021-04-22 11:53] vanlummelhuizen commented on #735
On the live server? I don't that (yet?).

[2021-04-22 11:54] susanodd commented on #735
These are the ones I moved by hand:
`./WH:
total 10236
-rw-rw----+ 1 mhulsbosch wwwsignbank 10478609 jun 27  2018 WHO-A-5391.mp4

./TR:
total 620
-rw-rw----+ 1 wstoop wwwsignbank 632638 mei 24  2018 TRANSLATE-B-5166.mp4

./SO:
total 1084
-rw-rw----+ 1 wstoop wwwsignbank 1107338 mei 24  2018 SOCCER-B-5008.mp4

./PE:
total 568
-rw-rw----+ 1 wstoop wwwsignbank 579568 mei 24  2018 PERSON-B-5265.mp4

.

[2021-04-22 11:58] susanodd commented on #735
They're mixed in with the other files now, CSL_Shangh moved / renamed to CSL_Shanghai
With the last one now has .mp4

[2021-04-22 12:00] susanodd commented on #735
There is something weird with the search results on the Gloss Detail page.
When you keep selecting another gloss from the search results bar, it keeps getting concatenated with a duplicate url.
`https://signbank.cls.ru.nl/dictionary/gloss/6284/dictionary/gloss/dictionary/gloss/dictionary/gloss/6195`

[2021-04-22 12:02] susanodd commented on #735
That is actually a problem. It keeps showing the "first" gloss rather than the "next" gloss which has been concatenated at the end.

[2021-04-22 12:04] susanodd commented on #735
https://signbank.cls.ru.nl/dictionary/gloss/5860/

https://signbank.cls.ru.nl/dictionary/gloss/5919

(That's what they should be. If you search on ^LA there are lots of glosses with videos.)

[2021-04-22 12:12] susanodd commented on #735
Oh dear, same thing for glossimage!

[2021-04-22 12:18] susanodd commented on #735
Okay, I also moved images!

[2021-04-22 12:28] susanodd commented on #735
All of the spurious 2-char empty folders have been removed from glossvideo and glossimage.

One thing about the Dataset folders, Kata Kolok has a space in the filename. That seems wrong. Shouldn't it be an underscore?

[2021-04-22 14:14] vanlummelhuizen commented on #735
This could be solved with the following patch:

[code]

[2021-04-23 14:41] Woseseltops commented on #743
If @susanodd didn't look into by then, I will look into this Thursday 29.

My first steps would be:
* Figure out where in the code this export is created.
* Figure out what is taking so long.

[2021-04-28 14:08] susanodd commented on #739
This has been pushed to github branch admin_issues_739_682.

[2021-04-28 14:09] susanodd commented on #682
This has been pushed to github branch admin_issues_739_682.

[2021-04-29 09:12] susanodd commented on #739
LemmaIdgloss Admin, can filter on Dataset

![admin-lemmaidgloss-1](https://user-images.githubusercontent.com/24272544/116527682-3f67bf00-a8db-11eb-946f-2fd405e8cace.png)

Example LemmaIdgloss with unknown Dataset, it shows the ID in the header

![lemma-idgloss-unknown-dataset](https://user-images.githubusercontent.com/24272544/116527704-47276380-a8db-11eb-936c-fe285d4f395e.png)

LemmaIdgloss ASL s

[2021-04-29 09:15] susanodd commented on #739
LemmaIdgloss Filter Kata Kolok

![admin-lemmaidgloss-filter-katakolok](https://user-images.githubusercontent.com/24272544/116528241-e3516a80-a8db-11eb-8050-017aa2d30650.png)

LemmaIdgloss Kata Kolok example with only one translation, additional translations can be added in the appropriate languages

![admin-lemmaidgloss-katakolok-translations](https://user-images.githubusercontent.com/24272544/116

[2021-04-29 09:15] susanodd commented on #739
LemmaIdgloss filter on Hebrew

![admin-lemmaidglosstranslation-filter-hebrew](https://user-images.githubusercontent.com/24272544/116528532-3aefd600-a8dc-11eb-96a2-9c5eec399938.png)

[2021-04-29 09:30] susanodd commented on #739
I'm of the opinion that a most useful usage of Admin LemmaIdgloss would be to tackle type errors in translations. One can now filter on translation languages at the LemmaIdglossTranslation level, and on dataset at the LemmaIdgloss level.

[2021-04-29 09:36] susanodd commented on #743
@Woseseltops, I finished the improvements to Admin and have pushed them to branch admin_issues_739_682

I can look at this issue too now. But you are welcome to work on it!
I recall we had some similar issue a while back, but with importing big files.

[2021-04-29 09:48] susanodd commented on #733
I added numerous improvements to Admin LemmaIdgloss and LemmaIdglossTranslation in #739. Those aren't online yet. There are a couple of screenshot examples of Kata Kolok. Although those are focussing on administration of the Lemma objects, not on whether they are used.

I'm working on this issue now.

[2021-04-29 11:03] Woseseltops commented on #743
Thanks @susanodd I indeed already started this morning!

What I figured out is that the problem is in function minimalpairs_focusgloss, in tools.py. This function takes 0.25-0.5 seconds or so, and is called thousands of times in the situation @ocrasborn describes. It takes so long because it takes a gloss and then compares to a (potentially) large collection of other glosses.

I see two approaches

[2021-04-29 13:52] susanodd commented on #743
The first approach seems more straightforward.

I know the current computation sums up for each other gloss how many fields differ from the focus gloss. It also takes into account whether a field is empty.
The computation is done by a database query constructed in this method:
https://github.com/Signbank/Global-signbank/blob/b0e434d35621b5cdad018f92b5ddb17cd386693f/signbank/dictionary/models.py#L1

[2021-04-29 14:00] ocrasborn commented on #743
Hi @susanodd @Woseseltops : It's vital for the user that all glosses are compared to all glosses. But the speed is not vital: it's perfectly fine to have this generated offline (say, overnight), and then made available for download by the CSV button. Or, alternatively, to have it generated and then presented as a download-link, while in the meantime the user can continue working. (Is it the server

[2021-04-29 14:03] ocrasborn commented on #743
(Incidentally, I just enjoyed the minimal pair functions there are now for NGT quite a bit for looking up a set of signs, both through the Analysis menu and through the Related Signs tab -- just to let you know that we're actually using this regularly in the interface. :-) The CSV download I don't often use, that's why I only encountered this issue now.)

[2021-04-30 08:20] Woseseltops commented on #743
I understand, @ocrasborn ! Sorry if I'm being unclear; any optimization should not lead to different results. When I say 'decrease the number of glosses to compare to' I mean to exclude them in an earlier stage because they can never be a minimal pair.

It's the interaction between the two: it's the server that takes so long, because there is so much work to do, and as a result the browser at some

[2021-04-30 08:29] Woseseltops commented on #743
In any case, you both seem to like UI improvement approach, so let's go for that in this issue. Proposal:

Phase 1:
* Add an ExportTask model.
* When the user clicks export:
  * Use an Ajax call that creates such a model, and sends back the pk.
  * Use another Ajax call to start the generation of minimal pairs, and writes the result to a CSV file named after the ExportTask pk on the server somewhe

[2021-04-30 08:39] Woseseltops commented on #733
Curious what you are building @susanodd . To give you some inspiration, maybe
* an overview of all unused lemmas with checkboxes before them that are checked by default
* a button 'delete all selected'

[2021-04-30 08:51] ocrasborn commented on #743
Thanks for clarifying @Woseseltops !

[2021-04-30 10:40] susanodd commented on #733
So far, I'm adding an additional "form your query" parameter, No Glosses.
Then all the results will have no glosses.
Okay, a column would work.

[2021-04-30 10:50] susanodd commented on #743
I'll look at see what happens "with" the found minimal pairs objects. The method that finds them does a query for the focus gloss.
The analysis display generates ajax minimal pairs queries for the objects shown on the page. So objects that do not have minimal pairs are also displayed (but without any).
It could be that the generation of all the ajax calls somehow interferes/impedes (or slows down)

[2021-04-30 12:48] susanodd commented on #733
Here's what it looks like so far. It's kind of terrifying. There are 723 lemma's without glosses. There are 15 pages of results.
Does a select column seem wise? In Dutch: het is niet overzichtelijk.

![lemma-query-only-no-glosses](https://user-images.githubusercontent.com/24272544/116696850-b5932100-a9c2-11eb-8533-3d00ec7e9250.png)

[2021-04-30 12:50] susanodd commented on #733
What's the most user-friendly, least pannicky way to delete lots of objects?

[2021-04-30 13:08] susanodd commented on #733
I'll see what I can come up with. It makes me a bit nervous if a user wants to delete so many objects at once.
I see above you suggested adding a column in the CSV export for marking. Although that would also be the same, except it wouldn't be executed right away.
Maybe there is a way to "schedule for delete" and not physically delete them for a while?
I guess if the user first wants to export eve

[2021-05-03 11:20] susanodd commented on #743
I may have fixed this. I changed the evaluation order or writing the csv file. The computation is per row inside the csv writer.
I made a separate loop to store the result rows in a list, before creating the csv. Then the csv is generated by iterating over those rows.
On my local server, it took 15 minutes to generate the NGT minimal pairs. That's when the prompt to save the file appeared.

[2021-05-03 12:27] susanodd commented on #733
I added the opposite toggle, to only show lemmas that have glosses.

![lemmas-katakolok-has-glosses](https://user-images.githubusercontent.com/24272544/116875748-b377cf00-ac1b-11eb-8388-c88ed003f192.png)

[2021-05-03 12:33] susanodd commented on #733
I can add the "num_gloss" column to the CSV export.

Above, @ocrasborn asks https://github.com/Signbank/Global-signbank/issues/733#issuecomment-806814815

One glitch, in which language should the gloss's Annotation appear in the CSV?

[2021-05-03 12:39] susanodd commented on #733
@ocrasborn would you like an additional filter on whether translations are missing, or complete?
It's not currently possible to search on an empty translation.

[2021-05-03 19:37] ocrasborn commented on #733
It's not currently possible to search on an empty translation.

Let's not for now, there are enough other high priority issues to deal with first. Missing translations can be easily detected in a CSV export.

[2021-05-04 16:18] ocrasborn commented on #735
The present version that's live presents me with an error when clicking the upload button that I haven't seen before:

No module named 'magic'

[2021-05-05 09:48] susanodd commented on #735
That would be the Python library magic.
sorry I hadn't realised that wasn't part of the system modules.
It needs to be installed on the server Python.
It checks filename extensions.

[2021-05-06 09:27] susanodd commented on #735
@Woseseltops or @vanlummelhuizen can you install this module on the server?

python-magic==0.4.22

[2021-05-06 09:40] susanodd commented on #733
I added a Number of glosses column to the CSV output.

[2021-05-06 10:00] susanodd commented on #733
Does this look okay?

![deletelemmaswithnoglossesbutton](https://user-images.githubusercontent.com/24272544/117280195-a4369280-ae62-11eb-8ecd-9a4e0d895101.png)

[2021-05-06 10:03] susanodd commented on #733
I prefer to do it with a button because when there are numerous pages of lemma's with no glosses, toggling a select for deletion column would be excessive.
Incidentally, I can't find a non-Latin spelling of lemma (plural).

[2021-05-06 10:05] ocrasborn commented on #733
Yes @susanodd , looks OK to me. I do notice that we're very unsystematic with the capitalisation of words, here even within a single button! Perhaps just revise the glosses into Glosses in the button on the right for now, but I'll create an issue for us to look at this more systematically at some point.

[2021-05-06 10:07] ocrasborn opened #746 "Make capitalisation of interface words more systematic"
Sometimes we use initial caps for content words in English, sometimes not. It'd be good to make this systematic at some point. Possibly there are guidelines for this (W3 consortium? accessibility guidelines?).

[2021-05-11 12:17] susanodd commented on #735
Bug fixes pushed to branch `lemmas_minimalpairs_733_743`

[2021-05-12 08:23] vanlummelhuizen commented on #735
@susanodd @ocrasborn I just installed python-magic and restarted the Signbank.

[2021-05-12 08:52] susanodd commented on #735
Great!

[2021-05-12 09:27] susanodd commented on #733
@vanlummelhuizen @Woseseltops @ocrasborn Q:

For deleting lemmas, at the moment, the permission:

is checked, as well as that the user is logged in.
Is this sufficient?

[2021-05-12 09:55] susanodd commented on #733
The tests all run fine.

[2021-05-12 10:02] susanodd commented on #733
Here are some screenshots showing the deletion with confirm, on a restricted query.

![lemma-list-kata-kolok-chop](https://user-images.githubusercontent.com/24272544/117956917-ce33fd00-b319-11eb-94c7-89a31ed7f618.png)

![lemma-list-kata-kolok-confirm](https://user-images.githubusercontent.com/24272544/117956936-d3914780-b319-11eb-9ceb-0a6607815b07.png)

![lemma-list-search-chop-after-delete](https

[2021-05-12 10:30] susanodd commented on #733
Revised the lemma search so it works with a regular expression, like "^CH".

[2021-05-17 14:35] susanodd commented on #733
Okay, I've added the change_dataset permission check

There are already permission checks on the query that fetches the lemma objects.
The deletes are done inside a post method.
I added the (extra) permission checks there.

I suspect that the only way I can test the permissions is by creating a test that can do this. It seems like an artificial case scenario.

As a user, I don't see how I can obta

[2021-05-17 14:39] susanodd commented on #733
I have the first test done. It creates a lemma with a gloss and a lemma without a gloss. Then it systematically tries out not having the required permissions.
The next test will create more lemmas to insure that a lemma (without glosses) not matching a query is not deleted.

[2021-05-18 09:07] susanodd commented on #733
Permission checks vamped up. Implemented necessary tests.
This has been pushed to branch `lemmas_minimalpairs_733_74`
Awaiting code review.

[2021-05-18 10:01] vanlummelhuizen commented on #733
If a user can guess object IDs outside the list (s)he retrieves, (s)he could construct and send a POST request using guessed IDs. Since Signbank uses consecutive integers as IDs, those IDs are easily guessed.

So, good that you also implemented the change_dataset permission!

[2021-05-18 10:08] susanodd commented on #727
@ocrasborn I got this done. Fairly straightforward. I only needed to change the Gloss List template.

I'll do it for the Morpheme List search too since it shares the multiple select fields.

Will you need this functionality for Handshapes?
At the moment, the Handshape Search is not multiple select, so it's just normal pulldowns. (There are five such fields, after the finger selection panels.)
It w

[2021-05-18 10:10] susanodd commented on #733
Gee, I certainly hope we don't have users doing that! Yykes!

[2021-05-18 10:14] susanodd commented on #733
I tried out adding a logged in check, but that didn't do much because Django won't go to the url anyway, if the user is not logged in. It's protected in the urls.py file. (The attempt to test didn't succeed because it can't go to the url.)

[2021-05-19 10:56] susanodd commented on #727
Okay, the Gloss Search and Morpheme Search both have colours now.

I'm waiting until branch  `lemmas_minimalpairs_733_743` has been reviewed merged so I can spawn a new branch for this issue.

[2021-05-19 10:59] #688 closed

[2021-05-19 11:01] susanodd commented on #735
@Woseseltops @ocrasborn @vanlummelhuizen everybody okay with this issue?

[2021-05-19 11:06] susanodd commented on #739
I know I'm the one who opened this issue.
Has anybody got any feedback on the new Admin, or is it all right? @ocrasborn ?

[2021-05-19 12:31] susanodd commented on #726
I modified the Gloss Edit with colours so that if a field is empty, it shows up as ------ instead of None in the select button.

[2021-05-25 08:53] susanodd commented on #726
This is working. I revised the Weak Prop and Weak Drop menu's so their width is more condensed in the layout.

[2021-05-25 08:58] susanodd commented on #726
Here's the colors in the normal Gloss Edit

![gloss-edit-orientation-colors](https://user-images.githubusercontent.com/24272544/119470003-2d493700-bd48-11eb-9805-a810f51e1f4b.png)

[2021-05-25 09:01] susanodd commented on #726
Here is what the steps of editing WD look like. I fixed the preview and width display. (That's in the javascript so it works in both the preview page and the Gloss Edit.)

![gloss-edit-wd-dashed](https://user-images.githubusercontent.com/24272544/119470236-6e414b80-bd48-11eb-91af-92f94c939631.png)

![gloss-edit-wd-neutral](https://user-images.githubusercontent.com/24272544/119470280-7a2d0d80-bd48-

[2021-05-25 09:06] susanodd commented on #726
The previews of the (dynamically generated dropdown with colours) were showing up as None before being clicked upon.
That's been refined as shown above.

[2021-05-25 09:08] susanodd commented on #727
![gloss-search-with-colours](https://user-images.githubusercontent.com/24272544/119471355-806fb980-bd49-11eb-9d6e-388da068a4d4.png)

[2021-05-25 11:52] susanodd commented on #726
I revised Morpheme Detail Edit View to use colours as well.

[2021-05-26 11:39] susanodd commented on #741
This is done. It's in a queue of updates now.

[2021-05-26 12:41] susanodd commented on #726
While working on setting up colours in the pull-downs in the Morpheme Edit View.....
I came across some bugs with Tags on Morphemes, both in the Edit View and in the Morpheme List Search View.
Basically, it was not possible to add tags, and once that was repaired, it wasn't possible to search on them.
I have fixed both of these!
.
Question: @vanlummelhuizen @Woseseltops @ocrasborn
Do I need to mak

[2021-05-26 13:11] susanodd opened #748 "Morpheme tags functionality is broken"
It's not possible to add tags to morphemes. This code is present in the template, but not connected properly.
It's also not possible to search on tags in the Search Morpheme view.
Here are some screenshots to illuminate.

![morpheme-labels](https://user-images.githubusercontent.com/24272544/119665340-94dcb080-be34-11eb-888a-fcd9b4604925.png)

![search-morpheme-by-tag](https://user-images.githubuse

[2021-05-26 13:14] susanodd commented on #748
This functionality has been repaired.

![morpheme-add-tag](https://user-images.githubusercontent.com/24272544/119665864-18969d00-be35-11eb-9158-7014036f6f44.png)

[2021-05-26 13:15] susanodd commented on #748
![morphemes-with-tags](https://user-images.githubusercontent.com/24272544/119665910-251af580-be35-11eb-8f96-ff1af56697f5.png)

[2021-05-26 13:15] susanodd commented on #748
![search-morpheme-reconsider-gloss](https://user-images.githubusercontent.com/24272544/119665941-2d733080-be35-11eb-8c07-dc1fac83c8b4.png)

![search-morpheme-search-results](https://user-images.githubusercontent.com/24272544/119665962-33691180-be35-11eb-959f-28616954c066.png)

[2021-05-26 13:18] susanodd commented on #748
This has been repaired and is awaiting pushing to gitting hubbing.

[2021-05-26 13:30] susanodd commented on #724
Step 7 will fail at the moment.
There is an error in the test_Settings test, to do with the SWITCH_TO_MYSQL setting.
This test is still broken. I couldn't figure out how to fix it. If you comment it out, all the tests work.

[2021-05-28 07:58] Woseseltops commented on #733
Hey @susanodd , sorry for the late response from my side. I really like how you solved this. I think it's good there is an extra alert before you remove lemmas!

Two things:
* I'd make the initial button red, to convey danger (and other destroy buttons in Signbank are red as well), and make the cancel button in the dialogue a neutral color (really interesting: https://ux.stackexchange.com/question

[2021-05-28 08:42] Woseseltops commented on #735
I am reviewing this code, and if I understand correctly, Python magic is used to verify that for example an uploaded .mp4 file really is a video. Out of curiosity, @susanodd , was there some kind of problem or use case where file types did not match their extensions?

[2021-05-28 09:33] susanodd commented on #735
It's used to determine the extension. There is an additional check when starting to copy the temp file, that the first block is checked also that it conforms and matches what magic determined.

I have a bunch of stuff on my computer that I kept testing it out on. So that's also why it checks the extension 'm4v' and changes it to 'mp4'. I have a couple of files I once downloaded (saved) from Signba

[2021-05-28 10:33] susanodd commented on #733
Okay, I've made the initial button red.
On the dialog buttons, they are the same as the dialog for deleting an individual row (green Cancel red Confirm Delete).

Okay, I finished and added the number of lemma's to be deleted.
Then I accidentally hit Confirm so my test lemma's disappeared from tstMH.

I checked all combinations of input using Kata Kolok. I made it so if there are no lemmas without

[2021-05-28 10:34] Woseseltops commented on #743
Ah great you found another place for optimization, @susanodd ! I still think that a response time of 15 minutes might confuse users, and would require some user experience improvements to ease the pain, what do you think @ocrasborn ?

[2021-05-28 10:36] ocrasborn commented on #743
Yes, indeed @Woseseltops / @susanodd . Some sites nowadays work with generated download-links, that might be an idea. Do you know what I mean? Users first get a message to say 'download is being prepared, you will find it under X [page, panel, wherever]', so the user can continue working on the site, and at some point there's a download link on a certain page for them to click. Is that an option?

[2021-05-28 11:05] ocrasborn commented on #743
@susanodd , would you be able to generate the file for NGT for us and send it to me by email? One of our colleagues needs it to progress with her work.

[2021-05-28 11:18] susanodd commented on #743
Okay, I need to download the newest database first. Although I don't have a way to get the file onto my telephone.

[2021-05-28 11:45] susanodd commented on #743
Okay, I sent you an email with the file location.

[2021-05-28 11:57] Woseseltops commented on #735
Ah okay so that's our use case then.

[2021-05-28 11:57] #735 closed

[2021-05-28 12:05] #733 closed

[2021-05-28 12:08] Woseseltops opened #749 "Dialog button UI: make the 'nevermind' option a neutral color instead of green"
Encountered in #733, following this discussion: https://ux.stackexchange.com/questions/49991/should-yes-delete-it-be-red-or-green

We have in at least two locations:
* Lemma view: delete row
* Lemma view: delete all

Perhaps more?

[2021-05-31 10:44] susanodd commented on #727
This has been pushed to branch colours_726_727

[2021-05-31 10:49] susanodd commented on #726
This has been pushed to branch colours_726_727

[2021-05-31 10:49] susanodd commented on #749
This has been pushed.

[2021-05-31 10:50] susanodd commented on #748
This has been pushed

[2021-05-31 10:51] susanodd commented on #741
This has been pushed to master branch.

[2021-05-31 11:31] susanodd commented on #743
I'm not entirely sure if by way of a link  it would necessarily improve speed.
It would probably need to be done during the night rather than just offering a link. The computation itself would need to be delayed, not just done in the background while the user continues working. On my local machine, it bogs down the machine. I go and drink coffee.

This example is exporting the entire NGT database

[2021-05-31 12:37] ocrasborn commented on #743
@susanodd : for me, it would be perfectly acceptable if users can download a file that has been generated overnight -- but that would mean that this needs to be done for all datasets every night.

[2021-06-01 08:29] vanlummelhuizen commented on #743
@susanodd  Can you think of a way  that calculating minimal pairs and similar things would only do things that have changed, and storing things that have not changed? This would make recalculating stuff much quicker, right?

[2021-06-02 09:55] susanodd commented on #743
Where would this be stored? Something like the generate_choice_list_table? (I'm not sure whether we are using this anymore. This was before Ajax calls were introduced to dynamically put frequencies in the pull-down lists. The code below is not using the field_choice_category either. But this idea? And then update it as required?)

https://github.com/Signbank/Global-signbank/blob/c419f836e32ee3c5d8

[2021-06-02 10:00] susanodd commented on #743
We also have methods to compute identical phonology. Maybe something partitioning glosses that way.

[2021-06-02 10:28] susanodd commented on #743
Ouch! There's a second one!

https://github.com/Signbank/Global-signbank/blob/c419f836e32ee3c5d84901346ad5dd4f5e121a25/signbank/dictionary/models.py#L1908

https://github.com/Signbank/Global-signbank/blob/c419f836e32ee3c5d84901346ad5dd4f5e121a25/signbank/dictionary/models.py#L1981

[2021-06-02 13:01] susanodd commented on #743
@vanlummelhuizen once I have such a data structure, where is the best place to initialize it?

At the moment, I've put initialization inside of the MinimalPairsListView, with a check whether it's been initialized.
That indeed keeps it from being done more than once, but it's not the best place.

I've made the initial creation much faster by only storing the gloss ids of minimal pairs, rather than

[2021-06-02 14:07] susanodd commented on #743
What about inside reload_signbank ?

[2021-06-03 08:43] vanlummelhuizen commented on #743
@susanodd The things you  mention, generate_translated_choice_list_table and generate_translated_choice_list_table are called when Signbank is (re)started, either from the command line of via reload_signbank. This is not what a meant. What I meant was that  the calculated minimal pairs are stored persistently a database, possibly but not necessarily the same database as the rest of the Signbank da

[2021-06-03 08:57] susanodd commented on #743
Yes, I realise that. I'll add one of those urls for generating it the first time, that only we can use.
I'm first getting the structure of minimal-pairs-related objects to gauge what minimal effort is needed.
What is a bit worrying about "updating" the structure is that it's not just the objects that a changed object is a minimal pair with; those objects minimal pairs also need to be recalculated,

[2021-06-03 08:59] susanodd commented on #743
We may have considered bit strings at one point. Except we also have the field choices, which can also be changing.

[2021-06-03 09:03] susanodd commented on #743
We could put buttons on the Datasets page, next to the ECV buttons and just generate them the same way.

The CSV button on the Minimal Pairs page is primarily useful if you've done a query you're interested in.

[2021-06-03 09:21] susanodd commented on #743
I can make a separate database for this. That might assist computations since the whole thing is non-linear.

[2021-06-03 09:27] susanodd commented on #743
I was just thinking about getting the time stamps of gloss edits out of the GlossRevision table. Say, to check whether the minimal pairs structure needs to be updated.
Since everything is dynamic with field choices, too, conceivably, we'd also need such information to see whether any field choices have been modified.

[2021-06-03 12:19] vanlummelhuizen commented on #743
OK. Let's do an experiment:
If gloss A has a feature list 1,0,0,0 and B has 1,1,0,0, C has 1,0,1,0 and D has 0,1,0,0. In this situation there are 3 minimal pairs: AB, AC and BD.
Let's say A changes to 0,1,0,1. We then remove AB and AC. Recalculating everything for A results in AD. No need to recalculate anything else. BD stays as it was.
Do you think I am overlooking something?

Why do you think a

[2021-06-03 14:25] susanodd commented on #743
I'm using external json files now, one per dataset, to store the minimal pairs data (focus gloss id paired with a list of other object ids).
This will assist the methods by being already computed.

It's not as simple as your example. The mps are from the perspective of the focus gloss, and over 14 fields.

I'm not convinced it's easy to determine when to regenerate the info.
In the worst case some

[2021-06-04 09:11] susanodd commented on #743
Using just the ids in the data structure makes my comment about field choices not matter.
But if we were to store CSV files, then this would matter, because the focus gloss is shown with the minimal pairs gloss and the human-readable field name that differs and field values of both glosses.

[2021-06-04 10:33] susanodd commented on #743
Hmmm. This external data structure thing isn't such a wise idea. It's okay for the smaller datasets with not so many minimal pairs. But for the NGT this is even worse than it was.

What I did so far is to save the MP data to an external json file. I tried pickle first, but there was too much data.
This is just computed once to create the files.
Then the files are just read in if they exist, (at th

[2021-06-04 10:41] susanodd commented on #743
Make that three reboots.

[2021-06-07 10:33] susanodd commented on #743
Q @vanlummelhuizen asks:

- Why do you think a separate database is best (I am not saying it is or it is not)? What do you mean by stub?

I'm using an external json file now. Basically an externally stored giant dict mapping object ids to a list of object ids of its minimal pairs. This does not seem to be very efficient because its replaced the computation with accessing (potentially rather large)

[2021-06-07 11:12] susanodd commented on #743
First test is done.
Using the loaded in tables described above, the export of the CSV for dataset NGT now takes circa 10 minutes.
It previously took (takes) 15 minutes without the tables.
So a speed up of 1/3.

I'll try to find other improvements since it's still not that efficient.

[2021-06-09 07:58] ocrasborn opened #751 "Change colour of ASL SB header"
Julie: I'd love to use the colour code of teal  (#008080 rgb(0, 128, 128)).

[2021-06-10 09:57] vanlummelhuizen commented on #743
I said "possibly but not necessarily the same database as the rest of the Signbank data". In other words you could use the existing database or something else, whatever fits best.

Anyway, I think there are two problems here we would like to solve:

1. Store/cache Minimal Pairs data for quick retrieval.
2. Efficient calculation of Minimal Pairs. I say do it once for all glosses and then only for o

[2021-06-10 11:01] susanodd commented on #743
I'm adding signs to tstMH (locally) that are related to Pumpkin of Kata Kolok.
(I'll upload them to the tstMH dataset later so it only needs to be done once.)
I think it's useful as a test case, since it's real signs with more fields filled in. We don't have many useful test glosses, esp. for minimal pairs.

As described above, I made the data structure that uses gloss ids. Now I'm looking at what

[2021-06-10 19:18] ocrasborn opened #752 "Change order of columns on Manage Datasets page"
The new column to download a CSV file with the links was put between the two upload columns for the frequency functionality; please put those two back together again. I have no preference for where to put the download CSV column.

[2021-06-11 12:18] susanodd commented on #743
I've made a significant improvement to the code!!!

I rewrote one of the functions that compares the minimal pairs objects and generates the table that gets shown in the displays.
I modified it so it makes flat tuples for the glosses rather than dictionaries.

Now it only took less than four minutes to generate the NGT CSV file!!

I ran the stopwatch on my Watch, so that's only approximately, sinc

[2021-06-11 13:15] Woseseltops commented on #751
Done in commit 1c7f3c

[2021-06-11 14:28] Woseseltops opened #754 "Escape translations that will be sent to Javascript"
When Catalan Signbank is set to Catalan, we get a Javascript crash:

![image](https://user-images.githubusercontent.com/1909317/121702325-0faef800-cad2-11eb-9a9d-4e8b25757c7d.png)

[2021-06-14 09:07] susanodd commented on #754
I did a search of "turn_off_edit_mode_str" and I find it with:

`var turn_off_edit_mode_str =  '{% trans "Turn off edit mode" %}'`

Is there a reason not to let Django do this in `trans`?

[2021-06-14 10:41] vanlummelhuizen commented on #754
@susanodd I think the problem here is that there is a quotation mark in the translation: "... d' ...". that ends the Javascript string prematurely.

[2021-06-14 10:44] ocrasborn opened #755 "User registration is broken"
Got message from two (prospective) users; could replicate it myself. Here's the error message:
![Bildschirmfoto 2021-06-09 um 18 25 54](https://user-images.githubusercontent.com/10242207/121880344-30639180-cd0e-11eb-8cb3-ca528ff4f444.png)

[2021-06-15 10:26] susanodd commented on #743
After more improvements to the code. . .
Now without using any external storage it takes circa 3 minutes to export the NGT minimal pairs!!
Plus I got rid of several auxiliary methods that were being called.

One part I'm not sure about, I'm zipping three tuples together inside a loop over objects.
High on code readability and elegance, but perhaps not wise.
@Woseseltops @vanlummelhuizen  ?

[2021-06-15 10:31] susanodd commented on #743
By the way, committing this is awaiting merging of the previous pull request, since I'm still working on my previous branch before creating a new branch.

[2021-06-15 10:54] susanodd commented on #743
Here is the relevant snippet:
[code]

Either this is quite elegant, or an efficiency headache.

[2021-06-15 10:57] susanodd commented on #743
I think the 3 minutes is acceptable. But could it be faster?

[2021-06-15 11:50] susanodd commented on #755
Did you perhaps copy paste the first password?
I'm attempting to replicate on my local computer, although to avoid actually executing it, I keep leaving fields empty.
I copied the password to the other field using copy paste. I noticed that it's got longer in the second field.
(There is a password2 showing up in your screenshot, but this should not be visible. Perhaps because of the error.)

It sh

[2021-06-15 12:06] susanodd commented on #754
@vanlummelhuizen yes, I can see that. But why is the code in this form? Have we not been getting rid of hard-coded languages?

What are the implications of this issue? Do the independent javascript routines need to escape the variables they receive?
Or is this a syntax error? How did this variable get filled in (the right half)? Did Django generate that?

[2021-06-15 12:30] susanodd commented on #752
Okay, this has been done. It's awaiting other changes to be merged.

[2021-06-15 13:50] ocrasborn commented on #755
I normally do just that, @susanodd , copy-paste passwords, but this time as I made up a temporary password for the test, I think I did not. Either way, we didn't get this error before until recently, plus: users should get friendly feedback if the passwords wouldn't match, before the form is submitted.

[2021-06-16 08:36] susanodd opened #756 "Frequency functionality for datasets"
At the moment, frequency is only available for the NGT dataset. Expand this functionality to other datasets.

This extends #354, which focused on display of frequency data, once the data is already available. That issue was opened in 2017, before datasets existed. It had a slightly different understanding of datasets, for example gender, regions, and ages.

[2021-06-16 08:57] susanodd commented on #755
Okay, thanks. I see what the problem is now. I tried it on Global.

[2021-06-16 09:53] susanodd commented on #755
There is something not working with selecting datasets. The code in the form is conditional on whether SHOW_DATASET_INTERFACE_OPTIONS is set. So it only shows the dataset and motivation fields if that is set.
I repaired the error message, but now it's showing Error processing your request instead.
Although it's not crashing, that is not helpful either.

Any idea when this was last working?

[2021-06-16 10:04] ocrasborn commented on #755
No, don't know when it was last working. The setting you mention is probably there for the ASL signbank / other mono-dataset uses.

[2021-06-16 10:25] susanodd commented on #755
So far, I have no idea how to fix it.
The form is not valid. In spite of the validation checks, it is somehow still not valid even after passing the checks.
It then fails in a later step and gets kicked back to the form again.
This is very strange.

[2021-06-16 12:38] susanodd commented on #755
Okay, I got it working again. I need to test it a bit more.

Since the last time this was worked on, the select2 library requires the parameter 'placeholder' on initialisation. (That was needed in some other issues, but I hadn't realised it's also used here for chosing datasets.)

I also had to remove some 'form.errors' lines in the template loginform.html (That syntax seems to be really old.)

Th

[2021-06-17 08:31] vanlummelhuizen commented on #754
@susanodd This is not a hard-coded language as far as I can see. The code `{% trans "Turn off edit mode" %}` replaces itself with a translation for "Turn off edit mode" in the current language. The current language is variable, not hard-coded (see also https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#trans-template-tag).

The replacement is done inside two single quotes denoting a J

[2021-06-17 08:54] susanodd commented on #755
@vanlummelhuizen @Woseseltops
I'm working on this issue and looking at the browser console.
It's about a new user wanting to register.
In the console, I'm getting a warning about SameSite cookies changing.
(Cookie 'csrftoken' wordt binnenkort afgewezen omdat het attribuut 'SameSite' is ingesteld op 'None' of een ongeldige waarde, zonder het attribuut 'secure'.)
This seems to also relate to Django

[2021-06-17 14:01] Woseseltops commented on #751
Julie is happy

[2021-06-18 09:56] susanodd commented on #755
I'm having a lot of trouble getting this to work.
I had it working for a while yesterday, for Registration of a new user.
But to my dismay, whatever I had done to repair it broke the normal login and I was not able to login myself anymore.
After fixing it so I could login, the Registration was broken again.

[2021-06-18 10:16] susanodd commented on #755
@Woseseltops @vanlummelhuizen

Is there any reason why this "next" needs to be included in the url?

https://github.com/Signbank/Global-signbank/blob/c419f836e32ee3c5d84901346ad5dd4f5e121a25/templates/global-templates/loginform.html#L9

[2021-06-18 10:20] susanodd commented on #755
This line looks misplaced, since it's surrounding the entire code. the Sign In as well as the Register link.

https://github.com/Signbank/Global-signbank/blob/c419f836e32ee3c5d84901346ad5dd4f5e121a25/templates/global-templates/loginform.html#L5

[2021-06-18 10:32] susanodd commented on #755
Debugging does not work for the Registration form because it's not generating any errors for the form, but it is not valid.

I removed the "session" variable code that it was (probably) complaining about in the screenshot (but that did not fix it).
https://github.com/Signbank/Global-signbank/blob/c419f836e32ee3c5d84901346ad5dd4f5e121a25/signbank/registration/forms.py#L153-L156
That code is actuall

[2021-06-18 11:28] susanodd commented on #755
This is still broken.

[2021-06-22 12:51] susanodd commented on #726
This has been revised to hide an already open pull-down list when the user opens a different list; it is assumed the user has forgotten to select Cancel on the previous list.

[2021-06-23 11:17] susanodd commented on #755
Okay, I fixed it!

[2021-06-23 12:17] susanodd commented on #755
This has been pushed to branch `user_registration_755`.

[2021-06-23 12:36] susanodd commented on #743
This has been pushed to branch `minimal_pairs_743`.

[2021-06-24 09:39] susanodd commented on #756
@ocrasborn, what shall the naming convention be for corpora vs datasets?
At the moment, there is exactly one Corpus object:
### id,       name,        description,        speakers_are_cross_referenced
`1,        'NGT',          'Corpus NGT',      True`

The EAF files are Document objects that link to this Corpus via a corpus_id field.

On the Dataset Manager page, the user can upload EAF files for

[2021-06-24 12:07] susanodd commented on #756
Here is a first go at a Dataset Corpus Frequency Overview.
This shows that of NGT.
I put the meta file and the EAF files (scroll panel) there that are uploaded on the Manage page.

Then the Corpus (it's just the name; all the other objects associated with it are linked to it).

Then the Speakers (in a scroll panel). These have been retrieved from the GlossFrequency objects that are stored for the

[2021-06-24 13:24] ocrasborn commented on #756
@susanodd , yes, using the Dataset acronym for corpus name is fine.

Note that for Signbank's purposes, we don't really care whether the uploaded EAF files constitute a specific corpus with a specific identifier; it could be they combine EAF files from multiple datasets, or adult and child data, or whatever. It's up to them to spell that out in the description of their dataset in Signbank. We leav

[2021-06-24 14:19] susanodd commented on #756
Okay, I'll add that functionality. The Document objects refer to a Corpus object.
I just checked, and that does not preclude that a particular EAF file may be uploaded to more than one dataset.

[2021-06-25 08:31] susanodd commented on #756
Would you like separate functionality for documents?
This to avoid uploading them multiple times.

[2021-06-25 09:10] susanodd commented on #756
@ocrasborn, here is what I'm not sure about.
Suppose you have some EAF files for a particular sign language or project.
To what extent / can these be used by multiple datasets that are for the same sign language?

As the upload of a metadata and eafs is currently implemented, they are uploaded for a dataset by a dataset manager.
The metadata file gets the filename e.g., Acronym_metadata.csv and is

[2021-06-25 09:38] Woseseltops commented on #743
Hey @susanodd , if there is an optimization that makes the code 5 times as fast AND allows you to delete like 75% of the lines that's indeed a great discovery. From your code snippet, however, I'm not sure if I understand it.

Say these are our glosses:
[code]

And we want to compare the first one to the other ones, comparing all fields:
[code]

We run the raw, unoptimized comparison like this:
[c

[2021-06-25 09:53] ocrasborn commented on #756
Hi @susanodd , we want to keep this functionality and the associated files strictly linked to single datasets. If there would ever be multiple datasets for one and the same language, they would have their own set of EAF files and their own metadata file. So there is no need for cross-referencing or selecting files, the user posts the files in the upload function (and if there's new annotations the

[2021-06-25 10:10] susanodd commented on #756
Okay, thanks for the description!

[2021-06-25 10:36] susanodd commented on #756
I've made it so that if there is no corpus, it gives information about creating one.
Otherwise it shows the (retrieved from the database) speakers and documents for the corpus, in scroll panels.
(Both to be made more elegant, with buttons for creating the corpus.)

![corpus-overv0ew-katakolok](https://user-images.githubusercontent.com/24272544/123412181-9a532500-d5b1-11eb-9fda-9cee24611f38.png)

!

[2021-06-25 10:48] susanodd commented on #743
No, there has already been done the majority of the work in the Query part that determines which objects can be minimal pairs.
This part is specific to the already reduced sets of objects. It is known that they differ by one field.
The old code tediously went through and looked for this. The new code uses tuples instead.
Prior to the loop, it only needs to figure out which field is different.
Prev

[2021-06-25 10:51] susanodd commented on #743
The example fields you show, it's finding minimal pairs of the focus gloss. Not minimal pairs of each other.
It's only comparing the focus gloss to the candidate other glosses, which it's already known (via the query to find the contenders) that they differ by one field.

[2021-06-25 10:56] susanodd commented on #743
Comparing {'field1': 0, 'field2': 1, 'field3': 1} to {'field1': 1, 'field2': 1, 'field3': 1} on field1
Comparing {'field1': 0, 'field2': 1, 'field3': 1} to {'field1': 1, 'field2': 1, 'field3': 1} on field2
Comparing {'field1': 0, 'field2': 1, 'field3': 1} to {'field1': 1, 'field2': 1, 'field3': 1} on field3

Huh? the first tuple is being compared to the second tuple three times.

[2021-06-25 10:59] susanodd commented on #743
Oh, I see. The code is taking the tuple as a value: (0,1,1).
Then there are 3 other tuples that differ in one field, and it determines which field is different.

[2021-06-25 11:03] susanodd commented on #743
Change the example to be compare focus gloss (0,1,1)
to minimal pair candidates: (1,1,1) and (0,0,1) and (0,1,0)
to figure out which field they differ on.
Then the "minimal pairs" are that (0,1,1) is a minimal pair to (1,1,1) on field 1
etc.

[2021-06-25 11:06] susanodd commented on #743
It knows they are minimal pairs, and it's double checking because the display only has to know which field is the one they differ on.

The big query only calculates "other glosses that differ on exactly one of the minimal pairs fields". So the big query doesn't know which field is different.

[2021-06-25 11:43] Woseseltops commented on #754
This could be a solution: https://stackoverflow.com/questions/22469235/complicated-quote-escaping-in-django-template-translations

[2021-06-25 12:12] susanodd commented on #743
I forgot to say. The new code basically normalizes the focus gloss and the candidate minimal pairs glosses by making them tuples in the order of the minimal pairs fields constant, only for those fields. The zip with the same list of fields is needed to retrieve the actual name of the field that differs.

[2021-06-25 12:48] ocrasborn commented on #756
That looks great @susanodd ! Esp. the implicit help that the first screen delivers on what can be in the metadata. (This yet needs to be described properly in the manual, but it never hurts to remind people in the interface.)
Since most corpora will be large, can you make both scrolling panels a bit larger? Say, 10 lines instead of 4?
One question: what is the role of the 'Corpus' field, which is

[2021-06-25 13:34] susanodd commented on #756
Okay, yes, the Corpus field is a bit silly looking. But it is handy for showing there isn't one.

I will make the scroll panels larger. I'm going to format them to look more like tables.

[2021-07-09 14:19] Woseseltops commented on #743
Hey @susanodd sorry for making you wait another 2 weeks for my reply; became a father for the second time in the mean time ;).

So what you are saying is that the approach with the zipping is not actually finding the minimal pairs, but tries to figure out what exactly makes a minimal pair a minimal pair? So my simplified example should be more like this:

[code]

Is this better? And the real searc

[2021-07-09 14:37] Woseseltops opened #759 "Code hygiene: make a Django model about the database again"
I think the Django philosophy (and the 'model view template' philosohpy in general) is that:
* Templates are for the appearance of the web application
* Models are for describing the database structure
* Views are for the 'calculations' and logic in between

While it is totally okay to have a few lines of code inside a model, for example to construct some more information about that 1 object on th

[2021-07-09 14:37] Woseseltops commented on #759
Also, to be sure, not blaming anyone here, I think we all forgot to keep this in mind :)

[2021-07-09 14:38] Woseseltops commented on #743
As a sidenote, reading the code for this inspired me to create this issue: #759

[2021-07-12 08:21] susanodd commented on #759
@Woseseltops I understand what you're saying. I think one glitch is that there are a lot of relations in the models.
As you introduced this via the minimal pairs, that is kind of an example of something that is kind of a relation, but it's also computed. This is partly because there are plenty of glosses for which the phonology has not been filled in completely. And users perhaps also may be unawa

[2021-07-12 08:44] susanodd commented on #743
The minimal pairs code evolved over a long period of time. In the beginning they were only displayed in the panel of a single gloss. That was the focus gloss.
The big query compares that focus gloss to all of the other glosses. It uses the values of the fields of the focus gloss as constants in the query to compare other glosses to, and count how many are different or the same.
That can execute fa

[2021-07-12 09:30] susanodd commented on #759
One part that ended up in the model is stuff with path names locating images and videos for a gloss. And added to that are paths related to datasets. Those aren't part of the database per se, (and|but) they are stored in the file system.

Some of the stuff in the database aka models, are keywords and translations. That's not really a database table or model in the same way a Gloss is.

[2021-07-13 12:02] susanodd commented on #756
Here are the improved scroll panels.

![corpus-ngt-overview](https://user-images.githubusercontent.com/24272544/125448190-195633d6-7162-4ff4-8d21-beb99dbb1cbb.png)

[2021-07-13 12:13] susanodd commented on #743
@Woseseltops the code that you include above is the "search query" on minimal pairs. It restricts the objects that will be shown in the list. It does not compute the minimal pairs.
On the minimal pairs analysis page, all objects are shown, and for each, if it has minimal pairs, those are shown in rows.
The code in adminviews get_queryset hasn't computed any minimal pairs. On the minimal pairs anal

[2021-07-13 12:23] susanodd commented on #743
On the MP page, the query part is called a filter (on the focus gloss).
Here is a (local) search on strong hand B on dataset tstMH.
Followed by a MP filter on strong hand B. So only minimal pairs are computed (by Ajax calls) for the glosses with strong hand B.

![tstMH-stronghand-B](https://user-images.githubusercontent.com/24272544/125450786-bfcad761-f9bd-45cc-9dee-d75b7a460579.png)

![tstMH-mini

[2021-07-13 12:26] susanodd commented on #743
Those are example glosses borrowed from Kata Kolok to use as examples in tstMH. I also put them on Global. We previously has zero minimal pairs in tstMH.

[2021-07-13 13:12] ocrasborn commented on #756
Looks good @susanodd ! (This is my last response before a long summer break)

[2021-07-15 10:10] Woseseltops commented on #759
Good examples @susanodd . Let's organize this situation!

|  | Is about one object | Is about database structure | Does not include (complex) logic |
| --- | --- | --- | --- |
| Path naming | Yes | No | Yes |
| Minimal pairs | No | No | No |

Based on this, I would say the minimal pairs functionality would be a good candidate to move elsewhere, perhaps a separate .py file? By the way, when I say m

[2021-07-15 10:14] ocrasborn opened #760 "Add 'tags' to Revision History"
Tag editing/adding/removing is not yet listed in the revision history, but this would be helpful to us at times. (See #115 )

[2021-07-15 10:20] Woseseltops commented on #743
Okay @susanodd , if I understand your response correctly, you are saying that I picked the incorrect code snippet, but other than that I understand things correctly. In that case, what I said earlier...

... is indeed true. Congratulations on this breakthrough! I'll accept and merge the pull request!

[2021-07-15 10:34] Woseseltops commented on #755
This is live, just verified that you can requests accounts again!

[2021-07-15 11:03] susanodd commented on #759
Okay, that helps. I thought of another example that I ended up moving code to tools.py.
The code that creates the scroll search results at the tops of the detail views.
https://github.com/Signbank/Global-signbank/blob/9d0bddac2ed6ce631fc75f97de7821fa98ea9d3d/signbank/tools.py#L2259

The code is parametric (in a sense) on the type of things in the scroll bar. Creating that function removed a lot of

[2021-07-15 11:24] susanodd commented on #759
I guess what sometimes confuses me is the old-fashioned idea of "abstraction" that you ought not to reveal the insides of the model outside of the model, and only use the methods of the model outside of the model.
That's how some code has ended up "inside" the Gloss class as methods. So it would be an "abstract method". Although such intention is defeated when other parts of the code looks inside

[2021-07-15 11:28] susanodd commented on #759
Those count methods shown above are used in the Relations View to determine whether different sections of the display will be empty,

[2021-07-15 11:30] susanodd commented on #759
Maybe we need a list showing "problems" where the code is examples of inappropriate coding style.
TO DO stuff.

[2021-07-15 12:09] Woseseltops opened #761 "Make the CSV import more user friendly"
The CSV import already contains some functionality to detect any problems the user may have accidentally introduced, but there are still many other things that could be 'caught' by Signbank. I just tried to import a Catalan file, and these things would have helped me:

* Verify that the filename ends in .csv. If not, suggest that the user uploads a CSV. Current behavior: encoding error.
* If there

[2021-07-15 12:58] ocrasborn commented on #761
Re: bullet 2: on Mac I always use LibreOffice for this, Excel/Mac's CSV output is not accepted; I'm assuming that's also a file encoding issue. So if that's indeed the case, please add this suggestion for Mac users in the feedback.

[2021-07-16 12:14] susanodd commented on #761
This is also relevant for the metadata file of Issue #756.

@Woseseltops what is the naming convention for a CSV file that uses tabs?

[2021-07-19 10:18] susanodd commented on #756
@Woseseltops @vanlummelhuizen Do you guys recall when the Corpus data for NGT was first created?
(The Speaker, Document, GlossFrequency objects.)
There is functionality for doing this, currently only for NGT (CNGT).

I am adding this for other datasets. (This issue.)
But I can't tell whether the current (NGT specific) code is actually being invoked? Is there a cron job doing this?
If so, I will cr

[2021-07-20 09:15] susanodd commented on #761
I've revised the CSV import routine for issue #756 to use the Python Sniffer to determine the separation character. I'll do that for this one, too.

One caveat for skipping empty rows, I once had a LibreOffice file problem where LibreOffice was not able to detect the end of the file. It got into an infinite loop when trying to open the file. You could scroll down in the window of LibreOffice and t

[2021-07-20 09:59] susanodd commented on #354
I'm working on #756 now. Each Dataset Corpus will have speakers.
From the models, as they are,  the Speakers are not linked to a specific corpus.
https://github.com/Signbank/Global-signbank/issues/354#issuecomment-539999856

This has become a slight glitch because the Speaker Identifiers in the Dataset Metadata file may end up being the same.
Where to fix this in the model, @Woseseltops @vanlummel

[2021-07-21 13:18] susanodd commented on #756
I've got some functionality implemented now for other datasets. (i.e., not NGT or corpus CNGT)

I've been checking the code via the "tests". I'm using dataset tstMH as a testing. I've uploaded a metadata file with two speakers, and one eaf file as a test file. It uses those two speakers.

The problem in doing so, the "eaf file" as actually an eaf file for CNGT and the glosses that appear in it are

[2021-07-22 02:27] ocrasborn commented on #756
@susanodd , I'm now on vacation (....) but can work with you creating some more realistic test data in the week of August 2

[2021-07-22 10:19] Woseseltops commented on #479
Julie asked about this again (and rightfully so). I don't want to upgrade the ASL Signbank without @vanlummelhuizen , so temporarily fixed this by hardcoding that the first dataset is preselected.

[2021-07-22 11:54] Woseseltops opened #762 "Make two more fields multiselect"
Currently you can select more than 1 value for the field *Regional Dialect*, Julie and @ocrasborn are thinking about also wanting this for the fields:
* Semantic field
* Derivation history (ASL only)

[2021-07-22 12:01] Woseseltops commented on #394
Report from Julie:

And because Julie only does high quality bug reports, there is a video of the problem as well: https://www.dropbox.com/s/alw0her9c4t70nb/FileMissingAfterChangingLemma.mov?dl=0__;!!HJOPV4FYYWzcc1jazlU!ozRBLNZUDAz2udQnCMAEwAL-emYDrSAnwIQ4Q3163pBv3qzRtt7I3vnZq9Lpu8pT5Q$

[2021-07-22 12:14] Woseseltops opened #763 "ASL Signbank upload problems"
This issue needs more investigation, but I'm putting it here already so we don't forget.

Julie reports video upload problems for the ASL Signbank for really specific glosses:
* JIGSAW
* FORTY-FIVE
* TWENTY-ONE
* ARMS

Also some images have a similar problem.

[2021-07-22 12:16] Woseseltops opened #764 "Add another relation between signs"
Requested by Julie:

Should be a small task.

@ocrasborn , do we want this for the Global Signbank as well?

[2021-07-22 12:27] Woseseltops opened #765 "ASL: no automated email when people request access"

[2021-07-22 13:35] Woseseltops commented on #754
Turned out to be a relatively simple fix, could all be done inside the template. Did not do an exhaustive search for all translations that end up in Javascript strings, so we might need to reopen this issue if more is discovered.

[2021-07-22 13:35] #754 closed

[2021-07-26 08:43] susanodd commented on #764
The relation choices are defined by a constant in models.py

https://github.com/Signbank/Global-signbank/blob/94dbe93ee7552b7d9cd19416ee29b86d5d18dd61/signbank/dictionary/models.py#L1723-L1730

[2021-07-26 08:48] susanodd commented on #763
See #734

[2021-07-26 09:19] susanodd commented on #763
I have no idea whether this is related, but I'll mention it anyway just in case.
I'm working on the frequency stuff for EAF files. I'm needing to do trial runs using the test database (which starts out empty), because otherwise I can't make "data" since it creates a bunch of stuff in the database. So in my tests, I need to fill the test database with test Glosses to match the input EAF file gloss

[2021-07-26 09:32] susanodd commented on #749
This is in the commits:
https://github.com/Signbank/Global-signbank/commit/c419f836e32ee3c5d84901346ad5dd4f5e121a25

[2021-07-27 10:07] susanodd commented on #394
The video helps a lot.
Related to this I think: #763. I added a comment about a setting in the video/models.py file.
In the video, it looks like the small "d" typo at the start could be causing the implementation to look for or create or move files to a new folder with the first two characters.
The video shows the initial characters Annotation as "~D".

[2021-07-27 10:33] susanodd commented on #394
I tried doing this on my local server.
I have two glosses matching DINO for ASL (on Global there is also a dataset ASL, so I'm trying it there with the Global code.)
One is as shown above (gloss id 26714 on Global) with the Annotation "DINOSAURd".
Because I have no videos, I first uploaded a video for this sign. (Apologies, it's a video for #A.)
I tried changing this to be "DINOSAUR" and I got a d

[2021-07-27 10:50] susanodd commented on #394
The code in the video is an older version than on Global. The update options for a Lemma are different now.
I don't know if that has anything to do with the error shown, if the newer code resolves that error.
With the example error above, that shouldn't happen either. So the code for updating the Annotation field needs to be user friendly if it's not possible.

[2021-07-27 10:52] susanodd commented on #394
Here is the current version on Global.
![update-lemma-dinosaur](https://user-images.githubusercontent.com/24272544/127142244-86d01417-5b24-412f-b6bc-373b71a6c968.png)

[2021-07-27 11:05] susanodd commented on #394
Here is how the Global works. (This is an old ASL, but it has the DINOSAUR gloss above.)
First, here is a search on Lemma's starting with "^DIN" (using the carrot).

![lemma-asl-carrot-DIN](https://user-images.githubusercontent.com/24272544/127143355-1e622fed-b0ea-4b8f-9df4-75cc7da4924e.png)

Then in Gloss Edit, using the "Choose other" Lemma button, and typing in DIN to get the list:

![ASL-DINO-

[2021-07-27 11:11] susanodd commented on #394
I realise I haven't got to the part of making the image disappear. I noticed the code doesn't correspond to Global, and from the video, it wasn't entirely sure what the analogous operation would be? Setting a different Lemma? Or editing the (existing) Lemma to end up with a different Lemma (i.e., Editing the current lemma)?
It's correct that changing the Lemma should not cause any change to the im

[2021-07-30 10:13] susanodd commented on #756
So far I've been modifying a test EAF file. I modified some gloss ids in this file to match glosses in dataset tstMH.
(The test file is nonsense of course. But it parses and I can use it to write the implementation code.)

What I've come to realise is that the "Number of occurrences" data in the Gloss Detail View is hard coded to CNGT.
The regions are also hard coded.

In my fake Metadata CSV file

[2021-07-30 10:46] susanodd commented on #762
Currently the Semantic Field is a choice field, and the Dialect field is a ManyToMany field with the model Dialect.
https://github.com/Signbank/Global-signbank/blob/94dbe93ee7552b7d9cd19416ee29b86d5d18dd61/signbank/dictionary/models.py#L662
https://github.com/Signbank/Global-signbank/blob/94dbe93ee7552b7d9cd19416ee29b86d5d18dd61/signbank/dictionary/models.py#L493
So this issue entails creating a n

[2021-08-02 21:31] rosestamp opened #766 "I can't access GlobalSignBank at all"
I can't access GlobalSignBank at all. Is it down?
The following error appears:
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

[2021-08-03 08:18] ocrasborn commented on #756
Hi @susanodd , the hard-coded fields you see in the Detail View can be hidden/removed by now, since we now have the Frequency View showing the graphic display. Not sure about the fields in the database though, whether the data in the Frequency View tab still come from those. I gather they don't, that something was already changed in terms of the data model when the Frequency View was created -- yo

[2021-08-03 09:40] susanodd commented on #766
Still not working.

[2021-08-03 09:50] susanodd commented on #756
Thanks @ocrasborn. In the Frequency view, there is only shown attributes of the speakers. Not the number of occurrences of the gloss. It's true, the Frequency View uses the new model classes for frequency.
But the Detail view uses the old fields in Gloss. That's how I noticed there was a problem. I started actually making a real corpus with my fake test data. I'm working on a "Update Corpus" butto

[2021-08-03 12:28] susanodd commented on #756
@ocrasborn on the Gloss Frequency View, the first panel is Gloss Region.
This data comes from the Gloss fields specific to NGT.
However, the design of the settings sets a setting:
https://github.com/Signbank/Global-signbank/blob/94dbe93ee7552b7d9cd19416ee29b86d5d18dd61/signbank/settings/server_specific/global_sb_new_aj.py#L62
You can see those are the things we have so far.
At the moment, these ar

[2021-08-04 08:46] ocrasborn commented on #766
@Woseseltops , it might be useful to enable the reload URL again for me, so I can at least run that when no system admin is available to look into the matter -- although of course I don't know whether that would solve the issue in this particular case.

[2021-08-04 09:58] susanodd commented on #766
I tried the science url too. I get a security warning message in the browser.

[2021-08-04 10:47] susanodd commented on #759
@Woseseltops I've encountered code that needs to be implemented to support the Frequency data of datasets. (#756)

Using the GlossFrequency objects model, and the idea that Regions (saved as meta data for speakers) need to be dynamic rather than hard-coded as they are now for CNGT in the Gloss model, there is actually quite a lot of computation needed in order to "calculate" the "number of occurre

[2021-08-04 12:22] susanodd commented on #756
Okay, the code has been adapted so the Gloss Regions section of Frequency View computes these based on the GlossFrequency model objects. The regions are retrieved via the referenced signers, for the gloss being viewed.

[2021-08-05 10:23] Woseseltops commented on #766
Hi everyone, I sent Onno an email about this earlier, but I guess he missed it because of his vacation. The Signbank installation on Applejack is down, already for quite a few days, and after many hours I have given up trying to get it back online. Instead, I have installed it inside a container on Lightning (another server) successfully this morning. I'm currently moving the writable files (video

[2021-08-05 11:47] susanodd commented on #766
Best wishes @Woseseltops

[2021-08-06 11:44] Woseseltops commented on #766
Thanks Susan!

Took yet a few more hours than I thought, but Signbank is up again, now running on another server! I sometimes get the impression that the performance is not as good here, but we'll see.

Related practical thing: the next 5 weeks I will be unavailable due to parental leave. If there are more severe problems, @ocrasborn has my phone number (and otherwise Henk has).

[2021-08-10 13:41] rosestamp commented on #766
Hi, I don't know if it's only me but I still can't access the website for the following reason:
Your connection is not private
Attackers might be trying to steal your information from signbank.science.ru.nl (for example, passwords, messages or credit cards). Learn more
NET::ERR_CERT_COMMON_NAME_INVALID

But I don't have problems on other websites. I tried with Chrome and Safari, same issue.

[2021-08-11 08:33] susanodd commented on #766
Did you try the signbank.cls.ru.nl  ?

[2021-08-17 13:49] ocrasborn opened #767 "ASL Signbank is down"

[2021-08-20 10:56] susanodd commented on #354
I've revised the formatting of the Frequency View to be more compact. It's also computed from the GlossFrequency objects for the dataset. It used to be hard-coded using the frequency fields (for CNGT). Now it's obtained from the corpus of the dataset.
This has been done as part of #756.

[2021-08-20 11:09] susanodd commented on #756
Here's the frequency view again. This is for Gloss PAKKEN-A of NGT. (1206). I added some gloss information at the start because it's otherwise not clear what you're looking at.

![gloss-frequency-view-1206](https://user-images.githubusercontent.com/24272544/130223845-b1039331-46cb-410c-ad82-0add0f511edc.png)

In revising the code to get the relevant data out of the GlossFrequency objects to displa

[2021-09-01 13:47] rosestamp opened #768 "I can't upload a video for a new sign"
When I try to upload a video, I receive the following message
<img width="1792" alt="Screenshot 2021-09-01 at 14 45 01" src="https://user-images.githubusercontent.com/63103864/131682956-913663cf-8ed9-4527-98b6-29f3fcbc3e31.png">

[2021-09-02 10:09] susanodd commented on #768
This might be related to #766 ? Perhaps the python files are not on the repaired server.

[2021-09-02 10:11] rosestamp commented on #768
Hi, thanks for your message but I really don't understand what this means. Who can I ask about the python files? When will the issue be resolved? I have 1000 files to upload and I can't progress if I can't upload the videos

[2021-09-02 12:48] susanodd commented on #768
Okay, that is a problem!

The python code files need to be on the server for it to be able to execute the required command. The code that resizes the video is in a different code repository. It looks like that code isn't on the new server. It basically needs to be copied.

We can see if @vanlummelhuizen can put the code on the new server (he authored the code)? Otherwise @ocrasborn needs to ask @W

[2021-09-06 11:50] susanodd commented on #602
@Woseseltops is this cron job still being run?

I ask because the code in question is (being) extended to also work for other datasets with their own EAF files. (#756).
(There is separate python code for the new functionality, but now there are new urls that mirror the functionality of this issue,but for other datasets.)
I noticed the extra file index argument mentioned above is in the url.
That's

[2021-09-06 12:10] susanodd commented on #283
This issue is still open. It looks like the errors were reported regarding the original hard-coded frequency CNGT fields in the Gloss model, which used to be used in the first generation Frequency View.

I've recently modified the code to use the GlossFrequency objects in the FrequencyView. (This is on my local server.)
The original code of the FrequencyView was actually still using the hard-coded

[2021-09-07 10:18] susanodd commented on #283
Here is the gloss Bird-A / Vogel-A (1590). There are 22 signers total, of which 16 male and 6 female.
These are using the GlossFrequency objects.
Thanks to reopening this issue and comparing the examples above to the new code, I fixed a bug with the Gender!
The live version on Signbank still has that bug.
The screenshot below is from my local server with the repaired code.
I'm wondering if we need