[2018-10-29 15:33] susanodd commented on #480
For which dataset does it do this? It's okay on my machine (for NGT).

[2018-10-29 15:35] susanodd commented on #480
I'm up to date with github. Perhaps @Woseseltops modified the menu bar on the live server and didn't put it on github yet.

[2018-10-31 08:34] vanlummelhuizen commented on #480
Solved. `dataset_edit.js` needed a variable `language_choices` which wasn't passed from the context into the template.

[2018-10-31 12:55] Woseseltops commented on #498
Okay I think we're pretty close to the mockup. Happy @ocrasborn ?

[2018-10-31 13:19] vanlummelhuizen commented on #452
I found a problem for the glosses that had their lemma changed (e.g. CHAIRMEN to CHAIRMAN) and I solved it in the code. Next step would be to change the video files by hand.

For the second bit (e.g. ANGRY-B) I haven't found what the problem is. For all I know, someone just deleted the video. For these videos it is also not possible to put them back since they are really gone from the server.

[2018-10-31 13:54] Woseseltops commented on #511
Okay after looking through the ASL database for a looooooong time, I'm growing more and more confident that the theory above is wrong and the fact that the Language table wants a Dutch and Chinese column is itself not stored in the database somewhere.

But then, how can the ASL Signbank possibly know about the existence of Dutch and Chinese interface languages on another server? Two new theories:

[2018-10-31 14:30] vanlummelhuizen commented on #452
Ok, I searched for videos of all Shanghainese glosses with tag 'video:_missing'. Apparently only the CHAIRMEN/CHAIRMAN video is still there. Some of the rest have a _small video (e.g. ANGRY-B) and others do not have a video at all (e.g. AFRICA-B).

Another thing that I found out: The tag 'video:_mising' was given to the ANGRY-B between september 12 and october 5. Perhaps it is relevant. @ocrasborn

[2018-10-31 15:57] Woseseltops commented on #512
Had some time left so quickly tried ( this will break your local setups, @vanlummelhuizen and @susanodd ). Seems to work!

[2018-10-31 15:59] Woseseltops commented on #499
This issue was still open because I still needed to check this. I just did, it works.

[2018-10-31 15:59] #499 closed

[2018-10-31 16:52] ocrasborn commented on #498
Yes, pretty close! Two things:
- The search results bar (Mac, Safari and Firefox) is partly hidden now. Removing the text (and its line) "Search results:" would make space again. We don't actually need that text, it's self-evident.
- The text Global Signbank is now very... I wouldn't use the word 'bold', but rather 'obese'. Could you find a way to make it more stylish again, like it was before?

[2018-11-01 13:17] ocrasborn commented on #501
Yes, @susanodd , two-character signs starting with # can be omitted from the minimal pair list.

[2018-11-09 08:50] Woseseltops commented on #498
Not really sure what you mean here, for me it looks okay in all browsers. Can you make a screenshot (or ask me to come to your office so you can show)?

I don't think that text changed (boldness is still 700), but perhaps now it has less bold things next to it the boldness grabs your attention.

This is what it looks like with boldness 400:

![image](https://user-images.githubusercontent.com/19093

[2018-11-09 08:54] Woseseltops commented on #506
Also in other datasets, and in the ASL Signbank?

[2018-11-09 08:56] Woseseltops commented on #509
Happy @ocrasborn ?

[2018-11-09 08:57] Woseseltops commented on #508
Happy @ocrasborn ?

[2018-11-09 09:38] ocrasborn commented on #498
Hi @Woseseltops : hm. Perhaps you're right. The version live now is good enough for me. Today :-)
The screenshot from Safari:
<img width="1027" alt="screenshot 2018-11-09 10 34 47" src="https://user-images.githubusercontent.com/10242207/48254918-8dd32b80-e40b-11e8-8fa9-98f401a310f8.png">

[2018-11-09 09:42] ocrasborn commented on #506
In other datasets: yes.
In ASL: no. There, they indicate in the field Derivation History whether there is a connection to fingerspelling, and (thus far) they haven't entered letters as lemmas like we have with #A #B etc.

[2018-11-09 09:42] #509 closed

[2018-11-09 09:42] #508 closed

[2018-11-09 10:38] Woseseltops commented on #511
Okay I've investigated some more by temporarily removing the Dutch and Chinese columns again, and I've discovered that my assumption that nothing would work without these columns is wrong. In fact, everything worked and all unit tests except the ones mentioned in #510 were green! I think the problem only pops when migrating, and then it kind of makes sense that Django goes over previous migrations

[2018-11-09 10:43] Woseseltops commented on #506
I see. The problem we're trying to solve is finding an easy way for @susanodd to quickly exclude any fingerspelling glosses, and if I understand everything correctly using the hashtag would suffice: in ASL apparently they don't use Signbank is this way, so we don't have this problem.

[2018-11-09 10:45] Woseseltops commented on #498
Hmm yeah weird I cannot reproduce on Ubuntu. Perhaps together with Micha next week.

[2018-11-09 10:48] vanlummelhuizen commented on #506
Perhaps also use a setting to turn it on or off (off by default). If someone else installs Global Signbank, and they  use a hashtag for something other than finger spelling, this won't be a problem.

[2018-11-09 14:30] Woseseltops commented on #452
Okay to help with this issue a bit I wrote a script that checks:
1. Whether a normal video is present
2. Whether a small video is present
3. Whether there is a video that has the same pk in its name
4. Whether an image is present

These are the cases where 1 and/or 4 is/are false, but one of the others is true:

|Gloss|Normal video present|Small video present|Video with same PK|Image present|
|-|-

[2018-11-09 14:40] Woseseltops commented on #491
I guess this is done, right @vanlummelhuizen ?

[2018-11-09 14:40] Woseseltops commented on #489
What's the status of this issue, @susanodd ?

[2018-11-09 14:41] Woseseltops commented on #484
Okay, does that mean this issue is done, @susanodd ?

[2018-11-09 14:43] Woseseltops commented on #387
Is this question for @ocrasborn still open?

[2018-11-09 14:44] Woseseltops commented on #369
Can this now be closed again, @susanodd ?

[2018-11-09 14:49] ocrasborn commented on #387
yes, I have yet to test this.

[2018-11-09 14:52] Woseseltops commented on #283
This was because in the uwsgi config, we only had 1 process and 1 thread. Set both to 4 now.

Status of the overall issue: this works, but we need to fix that error message we still get... which is hard because it takes 10 minutes or so before the page shows up.

[2018-11-09 14:58] Woseseltops commented on #455
Sounds done... right @susanodd ?

[2018-11-09 14:58] Woseseltops commented on #405
Is this done now we merged your branch, @vanlummelhuizen ?

[2018-11-09 15:04] #369 closed

[2018-11-09 15:36] ocrasborn opened #514 "Allow for CSV import of Notes"

[2018-11-12 08:09] vanlummelhuizen commented on #491
Yes.

[2018-11-12 08:09] #491 closed

[2018-11-12 08:12] vanlummelhuizen commented on #405
Yes

[2018-11-12 08:12] #405 closed

[2018-11-12 14:29] susanodd opened #515 "Gloss Detail View: Add Relations to Other Sign, gloss typeahead broken"

[2018-11-14 13:29] ocrasborn opened #516 "Create a new field under semantics"
* Please add a text field "Concepticon Concept Set" under Semantics, and add it to the detail view and search form.
* In the detail view, add a help pop up with the text "Concepticon website", linking to http://www.concepticon.clid.org
* (I made this 'blocking' as we're going to be using it shortly for a study with a deadline that is near)

[2018-11-16 08:36] Woseseltops commented on #512
You happy about this, @vanlummelhuizen and @susanodd ?

[2018-11-16 09:29] Woseseltops commented on #516
Done. I've named it 'concConcSet' :) .

Question for @ocrasborn :
* I've added the tooltip, but it goes away once you try to click the link. Why not make the whole fieldname a link?

Questions for @vanlummelhuizen and @susanodd :
* There's a new migration file. That's no problem for you guys, right?
* I've solved the special instructions for this field like this: 8adc75718d9dc4d83f6d5169a8a528ffcd

[2018-11-16 09:49] ocrasborn commented on #516
@Woseseltops : good idea, let's put the link on the fieldname (and have it open in a new tab).

[2018-11-16 10:02] susanodd opened #517 "Field choice translations, also in MESSAGES ?"
In the new efficient code for Homonyms and Minimal Pairs, the code makes use of Ajax calls to reduce the number of database queries during generation.
In the Minimal Pairs code, it now generates minimal pairs for each particular gloss and adds the rows to the table, using an Ajax call.
Because of this, the field choices need to be translated in the python code rather than inside the template.
The

[2018-11-16 12:33] vanlummelhuizen commented on #512
I am.

[2018-11-16 13:44] vanlummelhuizen commented on #517
I believe this is possible in one way or another, but I don't know how though. Be aware that the mechanism for making translations first finds all things in the code that need translation and than determines which translation are new and which translations are deleted. More about this on https://docs.djangoproject.com/en/2.1/topics/i18n/translation/#message-files.

Another (better?) possibility is

[2018-11-18 11:30] ocrasborn opened #518 "Two cron jobs give errors"
* backup-ngt-signbank.sh: not sure what the issue is here
* corpusEcvUpdater.sh: refers to path as it was on old applejack?

[2018-11-19 09:40] vanlummelhuizen commented on #504
I identified two pieces of code that take about 4 of 5 seconds:

The first is in the Gloss list view (search page). It evaluates the queryset and puts annotationidglosstranslations in a list that is used in the gloss detail view at the top:
https://github.com/Signbank/Global-signbank/blob/272a62abb8ba08ee946be272de974023029c6fce/signbank/dictionary/adminviews.py#L844-L864

The second is in the Glo

[2018-11-19 09:55] Woseseltops commented on #516
Done. Happy @ocrasborn ?

[2018-11-19 10:04] vanlummelhuizen commented on #516
@Woseseltops No problem processing the migration.

About the special instructions, I am OK with your solution.

[2018-11-19 10:41] ocrasborn opened #519 "Make Global SB more findable as a set of datasets"
* Occasion:
https://www.searchenginejournal.com/google-introduces-new-search-engine-for-finding-datasets/268337/
https://toolbox.google.com/datasetsearch
https://developers.google.com/search/docs/data-types/dataset
* How are we generally in terms of SEO, not just for the site but also for the individual datasets? Are the descriptions we currently have for datasets sensible? Can we add unique ident

[2018-11-19 10:48] Woseseltops commented on #504
Oh so that's the choice list counts are recalculated each time we load a fresh page? That's (of course in retrospect) a likely cause, and I think something that can easily be cached in some form. I see two solutions:
* Update the numbers each time a gloss is edited (so if you set a choice from option a to option b, option a goes `-= 1` and option b goes `+= 1`). Con: if we make a small mistake som

[2018-11-19 10:54] vanlummelhuizen commented on #504
Another possibility is to do it after page load using ajax calls.

[2018-11-19 11:05] Woseseltops commented on #518
Hmm I think we confused you here by turning on the old Applejack again for a few days. I also got a daily error in my mailbox, but this was about a missing `/vol/customopt/config/scripts/admin/cron/backup-ngt-signbank.sh` which is only missing on the old Applejack. I no longer got this error after the old Applejack was turned off again.

By the way, I also used this as an opportunity to check the

[2018-11-19 11:21] Woseseltops commented on #506
@susanodd , I think your question is answered, right? If so, please close this issue :)

[2018-11-19 11:50] vanlummelhuizen commented on #504
I have investigated whether it is possible to reduce the number of queries in the frequency_lists_phonology_fields code using annotate/subquery etc. This seems very hard or even impossible, so perhaps we could make a start on overhauling the FieldChoice setup (https://github.com/Signbank/Global-signbank/issues/340#issuecomment-369260007).

[2018-11-19 16:18] susanodd commented on #504
My changes have finally been pushed to github.
There are big improvements to Homonyms and Minimal Pairs.

[2018-11-20 09:55] susanodd commented on #512
This isn't working correctly for me.

[2018-11-20 10:18] susanodd commented on #512
Kindly put instructions on the Wiki. My server is broken now.

[2018-11-20 10:19] susanodd commented on #512
`File "/home/susan/signbank/src/NGT-signbank/signbank/settings/base.py", line 3, in <module>
[Tue Nov 20 11:16:09.498145 2018] [wsgi:error] [pid 23416:tid 140212420208384] [client 131.174.210.188:56622]     from signbank.settings.server_specific import *
[Tue Nov 20 11:16:09.498150 2018] [wsgi:error] [pid 23416:tid 140212420208384] [client 131.174.210.188:56622]   File "/home/susan/signbank/src/NG

[2018-11-20 10:43] susanodd commented on #498
The Search Results label ended up underneath the stuff above it in the most recent version.

[2018-11-20 10:44] susanodd commented on #498
Oh, it's visible in the screenshot above. The sign bar is hidden by the Search Results label.

[2018-11-20 11:04] susanodd commented on #517
Yes, I forgot I was already doing that in a big table. But it's not yet done in all the views.

[2018-11-20 11:22] susanodd commented on #515
This seems to be working again. Perhaps it had something to do with the settings, which have been revised.

[2018-11-20 12:47] susanodd commented on #498
The horizontal scroll bar under the search results was hidden.
I revised this so it shows again. If you do a search that yields many glosses (such as "ge" for NGT), then the scroll bar needs to be visible.
One problem that I don't know how to solve, if you Edit the Gloss, and then scroll down, the space around the search results is transparent and the Edit screen can be seen behind it, between the

[2018-11-20 13:06] susanodd commented on #506
Yes!

[2018-11-20 13:06] #506 closed

[2018-11-20 13:51] susanodd commented on #514
I"m working on this now. It seems the code hasn't been revised for some time. It's a bit broken.

[2018-11-21 08:17] vanlummelhuizen commented on #512
@susanodd The only thing you need to do is make a symbolic link with the name server_specific.py to the actual server specific setting file, e.g. ngt_local.py. So:

`cd signbank/settings/server_specific`
`ln -s ngt_local.py server_specific.py`

and use the new __init__.py.

[2018-11-21 12:05] ocrasborn commented on #516
Happy, @Woseseltops !
@susanodd , could you also add this to the CSV import/export routines?

[2018-11-21 12:11] #500 closed

[2018-11-22 10:09] Woseseltops commented on #511
Better idea by @vanlummelhuizen : make the hardcoded migration file https://github.com/Signbank/Global-signbank/blob/master/signbank/dictionary/migrations/0009_auto_20170802_1541.py dynamic .

[2018-11-22 10:48] Woseseltops commented on #504
Okay I spend some time trying to understand what already has been done to the detail view, and I think it's this:
* During page generation, some information about the field choices is preloaded and stored in memory, so we're not continuously making queries to the database.
* Both the finding of homonyms and minimal pairs has been sped up.
* We no longer wait with showing the page until all minimal

[2018-11-22 11:05] Woseseltops commented on #512
I don't think Susan likes this yet, but I'm closing the issue anyway :)

[2018-11-22 11:41] susanodd commented on #514
@ocrasborn, a few questions.
There are four fields displayed for Notes in Gloss Detail View. (At the moment, these are not exported either.)
For CSV import, do you need all of the fields? Or can the default be used for Published (default=True in the Definition model) or can it inherit this? Is this related to the publication status?
And what about the Count (Index) field? This seems to be arbitrar

[2018-11-22 11:48] susanodd commented on #504
The homonyms in Detail View isn't an ajax call. The Homonyms section is just the stored homonyms. The duplicate phonology homonyms could be an ajax call.

[2018-11-22 11:53] susanodd commented on #504
Yes, the frequency can probably be an ajax call. The counts are for the machine value, not the translation, so the counts could be concatenated to the choices in javascript. But there are lots of fields and choices....
Or perhaps something analogous to the pre-computed field choice translations table. And figure out how often this needs to be regenerated.

[2018-11-22 11:55] susanodd commented on #516
Yes. It got added automatically because it's in the FIELDS settings. Need to check if extra processing is needed on the values.

[2018-11-22 12:33] Woseseltops commented on #452
Okay, seems like there are two types of glosses with the `video: missing` tag:
* Glosses where there are signs that indeed something went wrong. This is the table above... I guess best fixed manually?
* Glosses where there are no such signs; for all we know, these glosses never had a video.

Now we know this, is there anything you'd like us to do, @ocrasborn ?

[2018-11-22 14:02] susanodd commented on #514
I've added Notes to the Export CSV functionality.
Now it's possible to search for glosses that have Notes, and then export these to csv.
(This has not been pushed yet, since I have some questions.....)
If you look at the gloss 1164, you will see it has 3 identical notes.
@ocrasborn ? Should duplicates be automatically removed? Or flagged in red? They are three separate database records, but there

[2018-11-22 14:03] susanodd commented on #514
In order to import Notes, there needs to be a comparison with the already existing Notes to detect changes.

[2018-11-22 14:18] susanodd commented on #514
I made it so the export ignores the duplicates. But they probably need to be flagged in the Detail View.

[2018-11-22 14:59] susanodd commented on #514
Export CSV Notes has been pushed to github.

[2018-11-23 08:45] Woseseltops opened #520 "Searching and viewing glosses in the Django admin is broken"

[2018-11-23 08:58] Woseseltops commented on #519
About Google dataset search: I looked at a number of datasets that are available, and noticed they are all zip or csv files you can download. To link Signbank to this search engine, I think there should be an (automatically generated) publicly available page for each dataset where you can download a recent csv export. Perhaps this csv export only contains the glosses that were marked 'in web dicti

[2018-11-23 09:37] Woseseltops commented on #340
Okay this has been a high priority issue for almost a year now, but I think nobody (incl myself) picks it up because there are no concrete actions. Let's write down some concrete actions:
1. Add a ManyToMany field 'exclude_choices' to the Dataset model. Initially, you can fill these field from the admin with field choices.
2. During the generation of choice lists on the detail view, it takes into

[2018-11-23 09:41] susanodd commented on #519
Don't you just want to know that Datasets are available in Signbank? Not actually be able to just grab them? (i.e., without bothering to make an account)

[2018-11-23 09:49] susanodd commented on #504
I'm working on CSV at the moment. You're welcome to take it up.

I'm looking at a Gloss Detail to see what the Debug stuff looks like now. (After all the revisions.)
It looks like "next gloss" navigation stuff uses a lot of database computation. These same calls are doing a join with Morphemes.
That's one thing I wasn't able to reduce. It seems like extra SQL stuff is added to ignore Morphemes.
(A

[2018-11-23 11:34] vanlummelhuizen commented on #518
I changed corpusEcvUpdater.sh last monday and planned to test it the same day. I didn't so the change went on to be used last few nigths. Fortunately, it now does give errors. @ocrasborn do you know of a recent gloss change in Signbank that is reflected in one or more EAFs, so we can test whether it works correctly now?

[2018-11-23 11:34] Woseseltops commented on #504
Okay, I created a new page that gives as a JSON all choice lists: https://signbank.science.ru.nl/dictionary/ajax/choice_lists/include_frequencies . Although I cleaned up the code that generates the choice lists (removed a few unneccessary loops etc), it still takes a few seconds to load. You can also request the version without the frequencies (just https://signbank.science.ru.nl/dictionary/ajax/c

[2018-11-26 10:35] susanodd opened #521 "Error in LemmaIdglossTranslation database table"
I'm working on Issue #514 and encountered wrong data in the database table LemmaIdglossTranslation.
Tuple (id, text, language_id, lemma_id) value:
(7545, CHAIRMAN, 1, 7544)

The lemma_id (4th column) value should be identical to the id (1st column).
This is causing this line of code to crash:
`                        lemma_translation = LemmaIdglossTranslation.objects.get(lemma__dataset=dataset, l

[2018-11-26 10:46] susanodd commented on #521
The problem is that I can't figure out why Gloss Detail View is showing a Lemma where the same Gloss results in a run-time error when trying to retrieve this Lemma during CSV import. (It can't compare the existing Lemmas to the new Lemmas, although nothing has changed.)

[2018-11-27 10:53] #517 closed

[2018-11-27 11:34] susanodd commented on #521
I need to delete all the Lemma ID Gloss and Annotation ID Gloss columns from the CSV in order to update glosses. Then it works.
Whatever the data is in those columns is not the same as the data that is retrieved from the gloss with that ID. The gloss ID is the first column for CSV updates.

[2018-11-27 14:07] susanodd commented on #521
In the Gloss, model, the __str__ method is still defined as self.idgloss
The idgloss attribute is defined as a property, but the code results in "" if it falls through.
This has been causing problems for comparing Lemmas. The CSV code makes use of dictionaries. Somehow the code was saving empty strings for the lemmas. But these didn't match any lemma ids.

[2018-11-27 21:48] ocrasborn commented on #452
Thanks for creating the table @Woseseltops , we'll fix them manually. I think that concludes this issue. Correct, @susanodd ?

[2018-11-28 15:55] Woseseltops commented on #340
Step 1 is done: you can no exclude field choices from a dataset in the admin; requires a migration @susanodd and @vanlummelhuizen ! By the way, @susanodd , I uncommented some code you had commented out in bb7f2770 ; I hope I didn't break anything but all tests are still green.

Next step is actually hiding the excluded field choices in the detail view. I will only do this in the seperate field cho

[2018-11-29 09:15] susanodd commented on #455
yes

[2018-11-29 09:33] #455 closed

[2018-11-29 11:53] susanodd commented on #521
Okay, I added the ability to update Lemma ID Gloss fields to the import CSV facility.
This allowed me to repair the problem in Gloss 1164.
I also made it so that instead of an empty string, the idgloss property returns the gloss's id if no Lemma ID Gloss is found.

[2018-11-29 11:54] #521 closed

[2018-11-29 13:06] ocrasborn commented on #340
Thanks @Woseseltops for taking this up. A proposal for an additional action:
4. Create an interface for Dataset Managers to show/hide field values in the interface, without needing access to the admin. (Proposal: a table view with values in rows and datasets in columns, so that people can "manage" this for all the datasets they are manager for.)

[2018-11-29 13:49] Woseseltops commented on #504
The original choice list code is now replaced by code loading in the ajax page. The detail view is much much faster now! It takes quite a few seconds before the field choice info is also there, but this doesn't matter because clicking the edit button and navigating to the field also takes a while.

[2018-11-29 13:50] Woseseltops commented on #340
By the way, step 2 is now also done: field choices set to hidden for a dataset no longer show up for glosses in that dataset.

[2018-11-30 08:29] Woseseltops commented on #504
Addition: and if you also think so, we can maybe also close #252 ?

[2018-11-30 11:05] susanodd commented on #514
CSV import of Notes has been pushed to github.
There is user feedback in the Changes summary for formatting the new Notes.

[2018-11-30 11:44] susanodd commented on #483
Probably I should work on this. I finished adding import of Notes to the functionality and noticed most the code is very unreadable. This is partly due to the "stages" of processing the data, which are communicated to the template.
An idea would be to separate the functionalities "create new glosses via csv import" from the "update existing glosses via csv import" as two menu items.
With the intro

[2018-11-30 11:46] susanodd commented on #520
Ouch!!!!

[2018-12-02 17:12] ocrasborn commented on #518
Nope, @vanlummelhuizen , we'll have to create a test item in an EAF. Can you do that?

[2018-12-03 11:56] susanodd opened #522 "Unify video management systems"
There are two video management systems in Signbank: one on the file system, and one in the database.
When a new video is uploaded, Django creates a new record in the GlossVideo table as well as adds data to the GlossVideoHistory table. Unfortunately, these entries all have the same filename. Whereas on the filesystem, the old versions get version numbers.
There used to be functionality to revert b

[2018-12-03 12:04] susanodd commented on #452
When a video gets uploaded, it replaces the previous video as far as the user can see.
The Gloss Detail View shows a "video count" it gets from the database. But this is not accurate.
There is either no video or one video per gloss.
@ocrasborn - is it okay to remove the "We have N videos for this sign."text from the Edit Gloss View?
(See Issue #522.)

[2018-12-06 10:35] susanodd opened #523 "Import CSV, create glosses crashes on Lemma translations and duplicate rows with new lemmas."
I'm working on this.

[2018-12-06 11:12] Woseseltops commented on #516
Did you do this, @susanodd , and if yes: can this be closed?

[2018-12-06 11:29] susanodd commented on #489
Oops, the newly created concConcSet isn't found in the morpheme search form.

[2018-12-06 11:30] Woseseltops commented on #472
I just tried this to see if this is still an issue, and I discovered that I can no longer reproduce this: when I'm not logged in, I get no compound information. Does that mean this issue can be closed @ocrasborn ?

[2018-12-06 11:31] #516 closed

[2018-12-06 11:39] susanodd commented on #484
Yes

[2018-12-06 12:50] #484 closed

[2018-12-07 12:55] Woseseltops commented on #283
Okay I've moved around some code and crafted the oneliner:

[code]

I've added it as cronjob... let's see if it works :)

[2018-12-08 14:12] ocrasborn commented on #483
Yes, good idea to separate the two functions, @susanodd

[2018-12-08 14:17] ocrasborn commented on #452
@susanodd : yes, it's OK to remove that text

[2018-12-12 14:13] Woseseltops commented on #340
https://signbank.science.ru.nl/datasets/field_choices/ I've made quite some progress with step 3-4 . The table already represents what's actually in the database... it's just that nothing happens when you click 'save' :)

[2018-12-12 15:33] Woseseltops commented on #340
Okay now the save button really does something.

Next up:
* make the code more safe in case something does NOT go as planned
* check: only your own datasets?
* Put the link on a logical place in the interface.

[2018-12-13 11:54] Woseseltops commented on #283
Okay the logs look okay. Is there any way we can verify this works correclty, @ocrasborn ?

[2018-12-13 11:55] Woseseltops commented on #520
Indeed fixed, thanks.

[2018-12-13 11:55] #520 closed

[2018-12-13 15:57] Woseseltops commented on #340
Check check check... done?

Two things I'm hesitating about, curious for your opinion @ocrasborn :
* I've added this page as a button to the dataset manager page... is this the best place?
* Because there are so many field choices, this table approach is not convenient. Some kind of filtering functionality would help... but would this functionality be used enough to justify these efforts (which ar

[2018-12-14 15:04] susanodd commented on #523
This is working now.
There were a lot of errors in creating glosses and in updating glosses regarding the lemma translations.
New lemmas were being created instead of updating the translations. But this caused the translations to be regarded as separate lemmas rather than translations of the same lemma.
This has been repaired.
As requested by @ocrasborn : One can now create new glosses by putting

[2018-12-20 11:39] Woseseltops commented on #312
I was thinking about this a bit, and realized that the Finnish hover would not really make sense because we already have the pictures visible. Instead, I thought it would be could if the pictures started to move as soon as you hovered them. Would look like this (temporary view): https://signbank.science.ru.nl/dictionary/try/

[2018-12-20 12:39] ocrasborn commented on #312
Yes @Woseseltops , play-when-mouse-over would be just what we need.

[2018-12-20 12:49] susanodd commented on #523
This has been fixed and pushed to github.

[2018-12-20 13:46] vanlummelhuizen commented on #312
FYI: In Firefox on Ubuntu 14.04 the videos are quite large. Chrome on Ubuntu 14.04 is working correctly as well as Safari on Mac OSX 10.11.6.

[2018-12-20 13:56] ocrasborn commented on #312
Way cool! Safari/Mac: window pops up to large size. Hefty effect, but possibly users will appreciate it. Because, Chrome/Mac: the in situ size of the list view images that start to play is rather small. Let's wait and get some feedback from people in January first, I suggest, before making it the same in all browsers/platforms.

[2018-12-20 14:13] susanodd commented on #523
@ocrasborn, this fixes the problem when importing the International Sign IS lemmas.csv.

[2018-12-20 14:40] susanodd commented on #489
This has been fixed and pushed to github. Sorry for the long delay.
Once it's live, the issue can be closed.

[2018-12-20 14:58] #489 closed

[2018-12-20 15:03] susanodd commented on #495
This is working okay.
The only thing is, the dataset isn't actually displayed anywhere in the table.
Although only homonyms for that dataset are shown.

[2018-12-20 15:07] susanodd commented on #502
This appears to be fixed.

[2018-12-20 15:08] #502 closed

[2018-12-20 15:17] susanodd commented on #503
Not directly.
There are some places in the code that still make use of field name lists rather than using the settings.
These are gradually being worked away.
Issue #340 may offer alternatives for the field choice specifications.

[2018-12-20 15:21] susanodd commented on #501
Everything in the analysis menu is considerably faster now!

[2018-12-20 15:22] #501 closed

[2018-12-20 15:31] susanodd commented on #488
Maybe somebody can confirm that the email is still being sent to the intended dataset manager?
DEFAULT_FROM_EMAIL
EMAIL_HOST
I thought that these settings had gone missing when the lemma translations were added.
The settings have since been modified to make use of links so local settings can be different.

[2018-12-20 15:31] Woseseltops commented on #312
I'm guessing your video size problems are due to cached stylesheets

[2018-12-20 15:38] susanodd commented on #452
This has been pushed to github.
This issue can be closed when live.

[2018-12-20 15:40] susanodd commented on #497
@ocrasborn are you happy with this?

[2018-12-20 15:43] susanodd commented on #479
Yes.

[2018-12-20 15:45] susanodd commented on #459
This seems to be finished.

[2018-12-20 15:45] #459 closed

[2018-12-20 15:46] susanodd commented on #338
This can probably be closed.

[2018-12-20 15:49] Woseseltops commented on #312
Just discovered that this functionality breaks the list view when there are lots of glosses, as all the videos are preloaded by the browser: it first downloads the html, shows it, and then spends a very long time also loading all the videos, sometimes crashing the browser tab. On top of this, if you hover an image while the browser is still loading the video, and then leaving again, you pause a vi

[2018-12-20 15:50] #452 closed

[2018-12-20 15:56] Woseseltops commented on #488
![image](https://user-images.githubusercontent.com/1909317/50295381-35fefa00-0478-11e9-9c98-bba310c1eeea.png)

[2018-12-21 08:09] vanlummelhuizen commented on #312
@Woseseltops, or perhaps load the video when it is needed, i.e. when hovering over the image?

[2018-12-21 11:01] susanodd commented on #488
I removed the first and last name fields from the email text template, in case they are empty as above.

[2018-12-21 11:54] ocrasborn commented on #488
@susanodd , I think we should prevent them from being empty in the first place: if they are not obligatory yet, please make them so (create separate issue?).
A different request on this access: add a field where the requesting user can motivate the request, with the guidelines as follows: "Please explain why you would like to get access to this dataset. What are the purposes for which you wish to

[2018-12-21 12:30] ocrasborn commented on #312
@Woseseltops : perhaps set a max to the first 200, then? And then make sure that the pagination menu has '200' as an option (not sure whether it does now). I'm not sure how quick they would load (also in another part of the world) if we follow @vanlummelhuizen 's suggestion, I think users often compare multiple forms one after the other, so the way it is now is great for the user.

[2019-01-03 15:24] Woseseltops commented on #482
I've been looking into this. I've written a simple script that works with Selenium (browser automation), but as noted on many places on the internet this is not optimal because for each test a whole browser has to be opened and closed. As an alternative, I'm looking into Apache JMeter.

[2019-01-04 14:01] Woseseltops commented on #482
Maybe it's also good to write down the technical details of how I got this working. I'll write it down like it's all simple and straightforward, but it actually took me many hours to figure this out.

What you need to log into a Django application:
1. Make a GET request to the page with the login form.
2. Parse the response, and take the CSRF token from the header.
2. Make a POST request to the lo

[2019-01-06 15:00] #497 closed

[2019-01-06 15:01] #523 closed

[2019-01-06 15:01] #252 closed

[2019-01-06 15:10] ocrasborn commented on #340
Hi @Woseseltops : thanks! This is another step forward in making the Signbank more Global. In response to your questions:
* Yes, excellent location
* Hm, yes, I agree that this is a dilemma. For now, let's try to do something simple (I think): freeze the header (of Signbank in general, incl. the menu bar, and of the table), and let the table scroll under it. That will help for people with more tha

[2019-01-06 15:11] #338 closed

[2019-01-09 12:37] susanodd commented on #488
This has been pushed to github.

[2019-01-09 12:50] ocrasborn commented on #488
Oh, what I forgot, @susanodd : if you didn't already, please also make the motivation field obligatory (adding a star to the field names for obligatory fields)

[2019-01-09 12:57] ocrasborn opened #524 "Count of signs is incorrect"
In Global Signbank (not ASL), the number of total signs in the search results is one higher than what I get with "Show all signs". First noticed for International, also see it for Shanghainese now.

[2019-01-10 14:55] susanodd commented on #483
Okay, I split the functions. At the moment, the new code co-exists with the existing code.
Once the new code has been put on the live server, I can revise the menu links to link to the new code, with separate choices for import csv create glosses and import csv update glosses. It has to be done in two steps to avoid breaking the existing menu choices.

[2019-01-10 14:56] susanodd commented on #483
Additionally, there needs to be export and import csv functions for lemmas. I still need to write this.

[2019-01-10 15:03] susanodd commented on #524
It used to be counting morphemes as well as signs.
It also seems to check whether the signs are visible / published. Both of those affect the count.
There was some problem with the efficiency of counts when morphemes had to be glossed over.
Some time ago, I tried to revise the code regarding morphemes. That is probably what is wrong.
(Because of the fact that the Dataset is now inside of Lemma rat

[2019-01-10 15:15] susanodd commented on #488
It's now the case that all fields are obligatory.
With the except of selecting the requested datasets, which defaults to the default dataset if nothing is selected.
Do you want a star on every field?

[2019-01-10 15:22] susanodd commented on #488
One thing that's still missing is the Gebruikersvoorwaarden that one supposedly approves.
Do these exist somewhere?

[2019-01-10 15:37] susanodd commented on #488
I should clarify. The Motivation is on the New User Registration page.
It's not yet on the Available Datasets page. (One needs to be logged in to view that list.)
I'm working on this part now.

[2019-01-10 15:41] susanodd commented on #483
Also needed for this, upon activating the new menu choices, the tests need to be revised to refer to the new code instead. (Reminder to self.)

[2019-01-10 18:07] ocrasborn opened #525 "Change layout of page Select Datasets"
It's now a bit too hard to quickly select and deselect, as the checkboxes are so far away from the dataset names (even with the lines). Suggested solution: change order of the columns, making sure the checkbox column is only as wide as the word Selected in the header.

[2019-01-10 19:41] ocrasborn commented on #519
@Woseseltops @susanodd : Indeed we don't want people to be able download the datasets from Google, we want people to find them, so to have them end up at the dataset metadata page (from which they can request access et cetera). Once people do have access, they can (sometimes, depending on permissions) export a CSV themselves.

[2019-01-11 08:42] Woseseltops commented on #519
_Google dataset search_ only links to external webpages that contain metadata about the dataset, as well as dataset downloads. So this is not about actually handing over your dataset to Google.

As I understand it (the FAQ is not superclear about this), to be indexed by _Google dataset search_ you have to actually provide a download on the dataset metadata page, not behind authentication, and Goog

[2019-01-11 08:55] Woseseltops opened #526 "Add filters to exclude field choice page"
So the page /datasets/field_choices/ . Because there are so many field choices, it's hard to get to the one you want. The proposal from #340 is some kind of filter/search functionality.

However, @ocrasborn indeed we won't do this until some kind of 'ship with money' comes in.

<img src="https://user-images.githubusercontent.com/1909317/51023198-a20be400-1586-11e9-8bda-846949355042.png" data-canon

[2019-01-11 09:43] Woseseltops commented on #340
Wow, freezing that header was a lot harder than I imagined, but I've found a good and simple solution now. Issue is also created. Happy @ocrasborn ?

[2019-01-11 10:47] Woseseltops commented on #525
Good solution, done. Happy @ocrasborn ?

[2019-01-11 12:45] Woseseltops commented on #524
Not 100% sure what you mean, @ocrasborn . Are you referring to the weird: '2247 out of 2246' line on the gloss list view you get for Shanghainese? A similar off by 1 error happens for NGT, but not for any of the other datasets.

[2019-01-11 14:15] ocrasborn commented on #525
Thanks for the quick action @Woseseltops . Happy. But then to top it off in terms of usability (not so much aesthetics), let's align the confirm button to the left instead of the right.

[2019-01-11 14:39] susanodd commented on #488
The Motivation has been added to the Access request on the Available Datasets page.
(This only shows for users who do not currently have permission, such as user-dataset.)

[2019-01-11 14:39] ocrasborn commented on #340
Almost happy, @Woseseltops:
* The scrolling pane occupies half the page on my large screen, with the site footer correctly appearing at the bottom. Is it possible to make the height of the scrolling pane dynamic?
* Could you block the page for anonymous users? It now displays (if you know the url) the list of values without any columns with checkmarks, as anonymous users cannot have a dataset sele

[2019-01-11 15:01] ocrasborn commented on #519
Oh I see. I think I agree with you, @Woseseltops , if it is public anyway, then why not make it more findable and usable. However, let's discuss what should be in such a CSV export. Only very few fields (gloss, translation equivalent; plus the video) are currently presented to anonymous users. Perhaps it would make sense to extend this a bit, also in the public interface. I'll assign this issue fo

[2019-01-11 15:20] susanodd commented on #524
It looks like something might be messed up with the Gloss table versus the LemmaIdgloss table.
If you do a count on the raw database table LemmaIdgloss, where Dataset ID is that of Shanghainese,
you get a different count than when you do a Join query on Gloss x LemmaIdgloss where Lemma.Dataset is Shanghainese. (There is one fewer in the Join than in the LemmaIdgloss table.)

[2019-01-14 10:23] susanodd commented on #524
I found the line of code that is causing the discrepancy.
In the DatasetListView, the count of the number of glosses is done by an annotation:

`qs = qs.annotate(Count('lemmaidgloss__gloss')).order_by('name')
`
Whereas in GlossListView, either of these is done, depending on whether signs are included:

`context['glosscount'] = Gloss.none_morpheme_objects().filter(lemma__dataset__in=selected_datase

[2019-01-14 12:15] susanodd commented on #524
I found something else that may be causing this.
When pagination is used, it looks like the (Django) count retrieved via the paginator does not match.

[2019-01-14 13:40] susanodd commented on #524
Thanks to @vanlummelhuizen this has been partly repaired. The count of NGT is now the same. The count of the results for Shanghainese still differs by one.

[2019-01-16 14:19] susanodd commented on #524
I found the problem!!!!
This is related to Issue #297, the sort order.
Try this simple exercise with only Shanghainese selected.
Do a Search on Gloss (English) "Chair".
You get a list of FIVE results. (see screenshots below)
It shows up with the default sort of Lemma ID Gloss.
Then if you click on the Annotation ID Gloss (English) column to sort it by that instead, the results are displayed again,

[2019-01-17 13:48] susanodd opened #527 "Gloss LIst Lemma View does not show all the glosses of the Lemma"
The NGT Lemma OPEN has four glosses, but only two of them show up in Gloss List Lemma View.

![lemma_list_open](https://user-images.githubusercontent.com/24272544/51322850-e1df3980-1a66-11e9-8f55-424bcb208d62.png)

![gloss_list_lemma_view_open](https://user-images.githubusercontent.com/24272544/51322858-e73c8400-1a66-11e9-8c4e-905967036036.png)

[2019-01-18 09:42] Woseseltops commented on #482
I did a not-logged in test for ASL Signbank:
* Go to home page
* Go to search page
* Search for 'all'
* View public view of gloss 'all-day'

Surprisingly, this shows a really different pattern:

![image](https://user-images.githubusercontent.com/1909317/51376231-1d7e1000-1b08-11e9-8b8c-a057258ceccf.png)

This created two more questions for which I collected more data:
* Will the home, search and p

[2019-01-18 10:42] Woseseltops commented on #525
Done.

[2019-01-18 10:42] #525 closed

[2019-01-18 10:49] Woseseltops commented on #524
Good find @susanodd . Rephrasing of the problem: gloss 5547 'chairman' shows up twice in the search results, but you can make it go away by sorting.

[2019-01-18 13:18] Woseseltops commented on #524
Spent some time together with @susanodd trying to figure out what's happening here. Turns out right at the end of filtering the search results based on all kinds of criteria, the remaining glosses are being sorted. During sorting the groups of remaining glosses is split into two subgroups:

[code]

It's split by a regex, based on whether the field that's being sorted on starts with a special char

[2019-01-18 13:36] Woseseltops commented on #524
Haha no not really. The question is: what do we do if we want to sort on lemma, but for a gloss there are actually lemmas (like one for English and one for Chinese)... do we sort on the English or the Chinese one?

This was the case for 'Chairman', like you can see in Susan's screenshots above.

[2019-01-18 13:39] ocrasborn commented on #524
Err... but then if the default sort would be on annotation ID gloss, and if a user decides to change that to lemma gloss, then they have to choose which column header to click on to initiate the re-sort, no? They either click on Lemma (English) or on Lemma (Chinese). In the last screenshot above, I only see a single Lemma ID Gloss column, but we should have as many as we have translation languages

[2019-01-18 14:17] Woseseltops opened #528 "Separate columns for separate lemma translations in the list view"
Suggested by @ocrasborn face to face and here #524 . This should also fix the problem in that same issue.

[2019-01-21 09:05] vanlummelhuizen commented on #482
@Woseseltops Do you have a idea as to where to (stress) test an almost empty database? Do you want to do it in a separate instance on the same server of somewhere else?

[2019-01-21 10:49] susanodd opened #529 "CSV Export / Import of Lemmas"

[2019-01-21 11:25] vanlummelhuizen opened #530 "Error when removing a sort order from search results"
Clicking the x in the sort by row gives an error.

[2019-01-21 11:40] vanlummelhuizen commented on #530
Solved. @ocrasborn Please confirm and close.

[2019-01-21 12:40] vanlummelhuizen commented on #510
@susanodd Is this something you can look at, since you are working on Import CSV quite a lot lately?

[2019-01-21 12:52] vanlummelhuizen commented on #480
I believe this issue is done. Agreed, @ocrasborn, @susanodd ?

[2019-01-21 13:20] vanlummelhuizen commented on #396
Autoplay in now working, also in Safari. Happy @ocrasborn ?

[2019-01-21 13:21] vanlummelhuizen commented on #524
I made multiple LemmaIdgloss columns in #528. This also solves the last count problem as far as I can see. Happy, @ocrasborn ?

[2019-01-21 13:46] vanlummelhuizen commented on #440
For a HTTP requests for a video with Chinese symbols in it, those symbols are encoded using [percent encoding](https://en.wikipedia.org/wiki/Percent-encoding). I will try what happens if we decode the url back to the reail chinese symbols.

[2019-01-24 14:48] Woseseltops opened #531 "Error when emptying phonetic variation field"
![image](https://user-images.githubusercontent.com/1909317/51685807-6c87e180-1fef-11e9-8d39-55192f986c68.png)

[2019-01-28 10:45] susanodd commented on #529
Export Lemmas as CSV has been added to the Lemma List View.
There is currently no navigation the Lemma List View in the menus.
Where should this be @ocrasborn ?

[2019-01-28 11:36] susanodd commented on #531
I found the error and I can fix this.
It was sluiced through to be set to None rather than the empty string.

I'm looking for other "fall through" cases that could cause problems.
Seeing as we want to avoid explicit lists of field names in the code,
In addition to 'phonetVar' the same code also happens with 'mouthG', 'mouthing', and 'phonOth'.

But of these, 'phonOth" doesn't give an error because

[2019-01-28 13:23] susanodd commented on #488
A hyperlink has been added for Terms of Service. (Pushed to github.)

[2019-01-28 13:33] susanodd commented on #483
Links to the separate Import CSV Create and Import CSV Update pages have been put in the pull-down menu.
(Appologies for the cryptic names!)

[2019-01-28 13:58] susanodd commented on #524
This seems to still be broken.
If you have NGT selected and then Select All Signs, it now shows even more signs found.

Number of matches: 4069 out of 4058. Datasets: NGT.

[2019-01-29 13:36] ocrasborn opened #532 "CSV export broken for ASL Signbank"

[2019-01-29 13:48] ocrasborn opened #533 "Make ASL search result scroll bar cf. the Global SB one"
For Global Signbank, we have changed what's in the horizontal 'search result scroll bar': no longer the Lemma ID Gloss, but the Annotation ID Gloss. For ASL, we still have to do this.

[2019-01-29 13:50] ocrasborn opened #534 "Remove language prefix from the display of Lemma ID Glosses"
Both in the detail view and in the list view, the Lemma ID Gloss value is preceded by the content language of that field. Please remove the language: it's already embedded in the field label/column label.

[2019-01-30 13:42] susanodd commented on #534
I made the change on my computer as you request, but...
It seems the lemma translations in the detail view aren't actually columns. They are separated by a comma.
If the language tag is removed, then you just have a list of translations.
Do you want each lemma language on a separate line in the detail view, or as a table?
They could be separate rows that are invisible if there is no translation ye

[2019-01-30 14:27] Woseseltops opened #535 "Unit test Import_csv_update_gloss_for_lemma fails"
You probably know most about this @susanodd

[2019-01-30 14:51] susanodd commented on #524
Okay, the above change done by @vanlummelhuizen looks like the default sort was still left as lemmaidglosstranslation, so the error did not get resolved.
If you look at the Dataset Detail view, it looks like the languages mentioned (Dutch for NGT and Chinese for Shanghainese) are the "first" language in the Languages field, although Chinese is not specified as a Default language for the Shanghaine

[2019-01-31 09:42] Woseseltops commented on #535
Might be related to #532

[2019-01-31 09:44] Woseseltops commented on #532
Might be related to #535 , which is about the fact that the unit test about importing CSVs fails. Interestingly, this unit test has an extra error message for the ASL Signbank:

[code]

[2019-01-31 09:52] Woseseltops commented on #535
Error message is

[code]

[2019-01-31 09:54] Woseseltops commented on #532
To do list for this issue:
* Fix the CSV export for ASL Sigbank
* Fix all unit tests related to the CSV for the ASL Signbank
  * Possibly, it might be needed to do #535 first.

[2019-01-31 10:45] Woseseltops opened #536 "Hardcoded list of fields in GlossSearchForm not complete for ASL"
If I see things correctly, the required fields for ASL were removed by @susanodd  in this commit 546fa1817  . She must have had a good reason for it :)

Temporary fix in production right now: manually readd them.
Best fix: fill this field dynamically from the settings

[2019-01-31 10:51] Woseseltops opened #537 "Hardcoded reference to English language in tools.py"
It's about this piece of code, which occurs outside of a function in `tools.py`

[code]

It was added by @susanodd in 99a76532d .

Current solution: put the problematic line inside a try
Best solution: make the used language dynamic

[2019-01-31 11:36] ocrasborn commented on #532
From Julie's mail: "For now, there is a bit of an urgency for this one request. We do need a fix of the CSV link that you can click on when you see "all signs". I get this error when I try clicking on the CSV link."

<img width="1332" alt="screen shot 2019-01-28 at 4 16 22 pm" src="https://user-images.githubusercontent.com/10242207/52051796-df93d980-2554-11e9-9d1b-37f4947dff93.png">

[2019-01-31 11:39] Woseseltops commented on #532
For completeness, the ASL Signbank has been upgraded since Julie's message. We no longer get an error; instead, we only get 2-3 signs instead of everything.

[2019-01-31 12:05] Woseseltops opened #538 "Javascript fails on ASL list view"
This piece of code

[code]

fails because target_pulldown is null. Not sure for how long this has been the case; I only noticed it because some newly introduced Javascript didn't work.

[2019-01-31 12:36] susanodd commented on #537
This is also confusing to me.
I "replaced" the big import functions with two separate functions to separate the functionality of update and create.
I that that export / import always use the English names for things.
But now I see somebody added this to adminviews.py:
`lang_attr_name = 'name_' + DEFAULT_KEYWORDS_LANGUAGE['language_code_2char']`
It looks like a new settings didn't get added everywh

[2019-01-31 12:41] susanodd commented on #537
In this function of adminview.py
`render_to_csv_response` of GlossListView
there is a (in English) hardcoded list of fields:
`for extra_column in ['SignLanguages','Dialects','Keywords','Sequential Morphology', 'Simultaneous Morphology', 'Blend Morphology',
                             'Relations to other signs','Relations to foreign signs', 'Tags', 'Notes']:`

This code has always been this way.
B

[2019-01-31 12:49] susanodd commented on #536
Yes, I was making the code rely on settings rather than be explicit.
I didn't know it was there for ASL. I thought it was from Steve.
This is the opposite to the problem before, that there were extra things not used by ASL.

Can such code be surrounded by settings checks as for SHOW_DATASET_INTERFACE_OPTIONS as for ASL versus Global?

[2019-01-31 12:50] susanodd commented on #535
Yes, I didn't revise the tests yet!

[2019-01-31 14:04] susanodd commented on #537
I see something in the database that is maybe related to the wish to code orthogonally.
In the dictionary_languages table, there are fields for: name, name_en, name_nl, name_zh_hans, language_code_2char
But if you work backwards from the language_code_2char, there aren't columns for every combination "name_" plus language_code_2char.

The code above that's causing the problem can probably be chang

[2019-01-31 15:29] Woseseltops opened #539 "Define search result default sort order"
Right now, it's pk, but the ASL guys would prefer alphabetically by annotation . Maybe this could be a setting?

[2019-01-31 16:06] susanodd commented on #524
@vanlummelhuizen and @susanodd spent lots of time on resolving this issue. The default sort order is now Annotation ID Gloss of the default keywords language setting. The special characters are after the alphabetic characters. That had been causing the count to go wrong before, because when translations for more than one language overlapped, the gloss was being counted twice. That has been solved

[2019-01-31 16:10] Woseseltops commented on #533
It's related to the code directly above this line https://github.com/Signbank/Global-signbank/blob/master/signbank/dictionary/adminviews.py#L880

[2019-01-31 16:12] susanodd commented on #536
@Woseseltops and @susanodd solved this issue. The field names in the Gloss and Morpheme Search Forms are now via the settings.

[2019-01-31 16:14] susanodd commented on #539
See Issue #524. Default sorting is now alphabetically by Annotation ID Gloss plus the Default Keywords Language setting.

[2019-01-31 16:15] susanodd commented on #539
(The previous default sorting was causing the count to be wrong for Global.)

[2019-01-31 16:59] #387 closed

[2019-01-31 17:01] ocrasborn opened #540 "Add a field 'Reference' to the metadata page for a dataset"
See e.g. the NGT one: https://signbank.science.ru.nl/datasets/detail/5
In the last field, I've now added the information for the reference that people should use, but it'd be clearer to both dataset managers and users if that were a separate field, at the bottom of the list.

[2019-01-31 17:06] ocrasborn opened #541 "Display acronym instead of name for datasets"
We added the field 'acronym' to the metadata for each dataset (like on https://signbank.science.ru.nl/datasets/detail/5), but we still display the full name everywhere. Please change that:
* In the menu bar where the list of datasets appears
* In the list view of search results
* In the detail view
* Any other location that I forget now?
I've changed the name of NGT to Nederlandse Gebarentaal (Acr

[2019-02-01 13:34] susanodd commented on #483
I added functionality for the user to specify the csv column delimiter. This was based on a file problem reported by @ocrasborn. The functionality is commented out. It can be uncommented to activate it.

[2019-02-01 14:02] ocrasborn commented on #483
Thanks @susanodd ! Let's leave that in by default, I suggest, it will be of use to anyone.

[2019-02-01 16:23] Woseseltops commented on #541
Some things that came out of a conversation with @susanodd
* Often there is no acronym, so we need some kind of function that checks if the acronym is there and display the normal name if not. I already have a function to create a short name (for the menu bar), so we just have to revise and rename that and then start using it at other places as well.
* We noticed you renamed the NGT dataset @ocras

[2019-02-02 15:37] ocrasborn commented on #541
Ah, I see. The background to this wish: for many SLs like NGT, everyone is familiar with the acronym and uses that as the name. For others, this is less the case, so we decided to label the field 'Name' initially. Now in second instance, it seems to be a good idea to separate the acronym/short name from the full name for some sign languages. So I'd like to shift to using the acronym throughout, an

[2019-02-02 15:39] ocrasborn commented on #325
Issue applies again, unfortunately, this time with the following error message:

"FieldError at /dictionary/import_videos/
Cannot resolve keyword 'dataset' into field. Choices are: StemSN, absOriFing, ..."

[2019-02-04 09:05] vanlummelhuizen commented on #537
@susanodd A short explanation of the name, name_en, name_nl, name_zh_hans vs language_code_2char stuff:

The database columns name_en, name_nl, name_zh_hans were generated by the Django module [modeltranslation](https://django-modeltranslation.readthedocs.io/en/latest/). It used LANGUAGES from the settings. These languages are the interface languages. So users can view the interface in English, Du

[2019-02-04 09:47] vanlummelhuizen commented on #541
@ocrasborn Another issue when naming a Dataset is that Dataset names are used when generating an ECV, for both the file name (which is included in the url) and the CV name, which is inside the ECV. Since an ECV might be used in EAFs, changing the Dataset name also involves changing stuff in EAFs.

A separate ECV name field might be a solution, but that may also clutter the Dataset naming functiona

[2019-02-04 11:31] susanodd commented on #537
This issue is related to CSV import. The places where field "name_en" is hardcoded are all in code related to CSV import.

[2019-02-04 11:45] susanodd commented on #537
All of the hardcoded references to name_en have been revised to make use of to setting.

[2019-02-04 12:56] susanodd commented on #541
Using acronyms also affects the tests. They are all failing now because they look for the Dataset named NGT. I'm working on the tests file because of CSV, so I'm fixing this too.

[2019-02-04 13:43] ocrasborn commented on #541
Feel free to rename the dataset back to NGT for the moment if that makes your work easier, @susanodd and @vanlummelhuizen !

[2019-02-04 13:48] vanlummelhuizen commented on #541
@ocrasborn @susanodd Please do not do that! I have changed all references in the CNGT EAFs to deal with the new name and changing it back will break it again!

[2019-02-04 13:49] ocrasborn commented on #541
:-)

[2019-02-04 13:55] vanlummelhuizen commented on #534
@ocrasborn By list view, do you mean Recently added signs? In All signs or the search results the lemma is already split into a column for each dataset language.
And for the detail view: the lemma is now a single row because gloss-lemma is one entitiy. Also, changing it involves selecting a new lemma or creating a new one, i.e. changing the reference to the lemma, not changing part of a lemma, i.e

[2019-02-04 17:19] ocrasborn commented on #541
@susanodd : better base the tests on the acronym, right, rather than altering the name.

[2019-02-05 10:44] ocrasborn commented on #534
@vanlummelhuizen :
* with list view, I meant the display of the search results. I see that it's no longer there for ASL. However, the column labels still add "(American English)" to the glosses. that's good for Global Signbank, but weird for ASL SignBank. In the list of Proposed New Signs and Recently Added Signs (from menu Signs), the language label is already removed from the column headers, so

[2019-02-05 13:35] susanodd commented on #535
It looks like Annotation ID Gloss is not being set for the Gloss that's created for this test.

[2019-02-05 13:38] susanodd commented on #535
This is not the only test that fails.
The test for `testSearchForGlosses` also fails.
The test `test_DatasetListView_ECV_export_permission_change_dataset` also fails.
The test `VideoTests` also fails.
I've commented out these other test that are broken so I can work on the test of this issue.

[2019-02-05 13:40] susanodd commented on #535
@Woseseltops : Can you specify a commit in the history for when the tests were all working last?

[2019-02-05 13:46] susanodd commented on #541
It's not as easy as that. That's what I tried first. But the tests also call "forms" which then in turn also use the name field. So these forms also need to be revised.
In order to solve #535 , I have commented out some of the other tests that also seem to be broken and just focus on the test mentioned in that issue.

[2019-02-06 08:21] Woseseltops opened #542 "No phonology info in list view on ASL Signbank"
![image](https://user-images.githubusercontent.com/1909317/52328617-84e4fc80-29f0-11e9-9c4d-a9afe009f117.png)

While the phonology info is definitely there:

![image](https://user-images.githubusercontent.com/1909317/52328628-8d3d3780-29f0-11e9-9022-f28114431816.png)

[2019-02-06 11:25] ocrasborn commented on #326
Hi @susanodd , just got a new type of error, never seen before. I was updating records with both lemma gloss columns (English, French) for dataset LSFB. Can you provide an instruction for this one as well?
<img width="1057" alt="screenshot 2019-02-06 12 22 53" src="https://user-images.githubusercontent.com/10242207/52338273-3cd2d380-2a0a-11e9-91de-4517b23eb5dd.png">

[2019-02-06 14:29] susanodd commented on #326
@ocrasborn, the Keywords are also known as Translation equivalents, which in turn have an associated language in the Gloss Detail View.
The import csv update Keywords is actually looking for a language code suffix for each keyword (phrase) between comma's.

This is quite tedious to add to the data by hand....

![import-csv-update-keywords-suffix](https://user-images.githubusercontent.com/24272544/

[2019-02-06 14:51] susanodd commented on #326
We probably need separate columns for the Keywords for each language.
The text of the keywords is all stored in the Keyword table.
There is a Translation table which tuples keyword ids with gloss ids and language ids.
So for example, Keyword verantwoordelijkheid is tupled with gloss id 3 and language id 2 (Dutch).
If you export NGT, it gets the language code nl as a suffix: verantwoordelijkheid:nl

[2019-02-06 14:53] susanodd commented on #326
@Woseseltops made the suggestion that instead of columns, we could allow the user to specify which language to use for the keywords upon import.

[2019-02-07 10:41] ocrasborn commented on #326
@susanodd, @Woseseltops : we could do that, yes, but for Glosses we now do it in columns, let's just do that for keywords as well, have column headers that spell out 'keywords (French)' and 'keywords (English)', for example. On both export and import, of course. The language suffixes are not convenient for the user.

[2019-02-07 10:55] vanlummelhuizen commented on #534
The language in the column header in the search results and the like is now dependent on SHOW_DATASET_INTERFACE_OPTIONS.

[2019-02-07 11:08] vanlummelhuizen commented on #534
The languages for the lemma idgloss translation as displayed in Gloss detail view are now dependent on SHOW_DATASET_INTERFACE_OPTIONS.

[2019-02-07 11:09] vanlummelhuizen commented on #534
@ocrasborn This will be available on ASL Signbank after the next update.

[2019-02-07 14:09] ocrasborn opened #543 "Add column on page Select Datasets"
Please add a column for the Acronym of the dataset between the present two columns.
(From the user perspective, related to #541 )

[2019-02-07 14:10] #396 closed

[2019-02-07 14:15] ocrasborn opened #544 "Changing sort order in list view undoes the search"
If I click on the arrow in the search results to change the sort order, Signbank forgets about the search and shows all signs (taking endlessly with NGT and LSFB selected, 7,000+ records).

[2019-02-07 14:15] ocrasborn commented on #530
Yes, I can confirm: the X can now be clicked without leading to an error. In checking, I did come across a possibly related bug, though. See new issue #544.

[2019-02-07 14:16] #530 closed

[2019-02-07 14:17] ocrasborn commented on #528
yes! but see #544 which now raised its head...

[2019-02-07 14:17] #528 closed

[2019-02-07 14:44] susanodd commented on #326
Keywords per language columns have been added for both CSV export and import (update).

[2019-02-07 14:51] susanodd commented on #543
This has been done.

[2019-02-08 11:56] Woseseltops commented on #542
Okay this works now. The problem was in the gloss object method 'generate_translated_choice_list_table' , which generated translations for the language code 'en_US', while the expected language code was 'en-us'. I've now added a simple online that translated from the one language code format to the other... not sure if this is the prettiest solution though.

(cc @susanodd if you're interested)

[2019-02-08 13:13] Woseseltops commented on #533
Actually, we did do it, but it failed because of mismatch in language code format (en-us vs en_US); coincidentally, this is the exact same problem as the one that caused #542, just showing up in another mechanism in another part of the application. I solved it by changing the fallback to use the first language code from the settings, which has the correct format.

Happy @ocrasborn ?

[2019-02-08 13:22] Woseseltops commented on #535
Unfortunately, no. The test must have worked in November when we last used them for the ASL upgrade.

[2019-02-08 13:42] Woseseltops commented on #531
Ah okay so this is about the difference between a value with no content and no value (once explained to me as: the difference between an empty bus and no bus :) ). In the case of a field like phonetVar, this would mean the difference between 'no info on phonetic variation for this gloss' and 'no phonetic variation for this gloss'. In the Signbank interface, however, we don't make this distinction.

[2019-02-08 14:41] susanodd commented on #531
I encountered something with these fields in the CSV import/export routinges. The four "text" fields under phonology, the CSV update has to compare a potentially new value to the existing value and it was not recognising that it was the same.

[2019-02-08 14:50] susanodd commented on #524
@Woseseltops and @susanodd debugged one of the tests that was failing.
There were empty annotationidgloss translations for the testing glosses and that caused the test glosses to disappear from the search results.
This has been fixed in the code. This may or may not solve any other issues.

[2019-02-08 15:30] Woseseltops commented on #541
There's a bit of confusion about this issue (at least on my side).

*What I still understand*: @susanodd changed the code on various places so it uses dataset.acronym instead of dataset.name to identify datasets. As a result of this, it doesn't matter that the DEFAULT_DATASET setting is still NGT (instead of Nederlandse Gebarentaal).

*What confuses me*: to get the code running on Susan's local ma

[2019-02-08 15:32] Woseseltops opened #545 "Clean up ASL repository"
Right now, there still are a lot of manual quick uncommitted fixes on the ASL server. This issue is to make sure the pretty solutions that are being created here find their way back to the ASL server so the quick uncommited fixes can be removed.

[2019-02-08 15:43] susanodd commented on #531
This bug has been fixed in the previous commit. I just wanted to double check with @Woseseltops.

The default fall-through code had set fields to None if the user had erased something or chosen nothing.
The revised code avoids setting the fields to None and instead sets them to empty string.

I changed the code to do this so that a migration is not needed.
(e.g. An alternative solution would be to

[2019-02-08 18:27] ocrasborn commented on #544
I think it's a broader problem: CSV export also does not 'listen' to the search results any more, but instead exports all signs from the selected datasets.

[2019-02-10 14:19] #533 closed

[2019-02-10 14:19] ocrasborn commented on #544
(Applies both to Global and ASL SB)

[2019-02-13 17:20] ocrasborn opened #546 "Dataset menu: 2 items not showing"
User lori alerted me, same for user-editor I tested: the menu items Dataset > Select and Dataset > Manager are no longer showing. For me (superuser) they are. We get access to them by typing in the url, and in Django the two pages are 'published'. What might be going on?

[2019-02-13 17:41] ocrasborn opened #547 "Impossible to edit page content in Admin"
Had forgotten about this earlier, but now having created a new page I run into the same problem: I can no longer edit page content in the Django Admin.

[2019-02-14 09:00] vanlummelhuizen commented on #547
@ocrasborn I fixed it by copying the static folder of django_summernote in the virtualenv to the static folder of Signbank, which is called 'media'. @Woseseltops can you think of a better and more sustainable solution? A symbolic link gave permission denied.

[2019-02-14 09:20] vanlummelhuizen commented on #546
@ocrasborn When editing a page near the end of the form there is a section called Advanced options and in there you will find Group required. Does changing the selection in that list make the menu items show up? If not, can you tell which pages this is about?

[2019-02-14 09:31] vanlummelhuizen commented on #544
@ocrasborn I cannot reproduce this problem. Perhaps I do not understand it correctly. Otherwise someone secretly or unintentionally solved it.

[2019-02-14 09:43] vanlummelhuizen commented on #518
I search the corpusEcvUpdate logs of this month for 'error' and found nothing. This seems all solved to me. Agreed, @ocrasborn ?

[2019-02-14 10:00] vanlummelhuizen commented on #325
This was caused by the new gloss -> lemma -> dataset hierarchy that was not used yet in the import_videos. This should be solved now. @ocrasborn can you confirm?

[2019-02-14 10:09] ocrasborn commented on #544
I still have the problem. Step by step:
* I select datasets NGT and LSFB
* I search for gloss 'mother'; getting: Number of matches: 8 out of 7582.
* I click on any of the up/down sort arrows above the list of hits, and (after many seconds) I get:  Number of matches: 7582 out of 7582. Datasets: NGT, LSFB. (But sorted like I had asked for.)

[2019-02-14 11:09] vanlummelhuizen opened #548 "Let the search query from the menu bar be reflected in the search query form in the results page"
When you search using the fields in the menu bar, the search form in the resulting page does not reflect the search query used. The consequence is that when the results are sorted, the original search query is not used and all glosses are shown. See also #544.

[2019-02-14 13:05] susanodd commented on #546
Permissions for the pages are controlled before Django will show them in the menu.

[2019-02-14 13:10] susanodd commented on #546
Try it now? It's difficult to do a multiselect in the Group permissions of the page.
(On Firefox it is the control key, not the shift key.)
I just changed it to be permissions for groups Researcher, Editor, Dataset_Manager, and Publisher.

[2019-02-14 13:15] susanodd commented on #546
That's in the admin btw. It doesn't work to sequentially select permissions and keep saving. They all have to be selected at the same time before saving. Hence the multiselect. You can see if the control key works to choose groups that are not adjacent in the list. The pages should be visible now.

[2019-02-14 14:38] vanlummelhuizen commented on #548
@ocrasborn This is done. Please confirm.

[2019-02-14 15:10] ocrasborn commented on #534
Great!

[2019-02-14 15:10] #534 closed

[2019-02-14 15:11] ocrasborn commented on #518
I'm afraid not, @vanlummelhuizen . Here's the log mail I got this morning:
Updating '.':
svn: E170013: Unable to connect to a repository at URL 'svn+ssh://ocrasborn@applejack.science.ru.nl/scratch2/svnrepos/signlang/corpus-ngt/corpus-ngt'
svn: E210005: No repository found in 'svn+ssh://ocrasborn@applejack.science.ru.nl/scratch2/svnrepos/signlang/corpus-ngt/corpus-ngt'

[2019-02-14 15:12] ocrasborn commented on #518
Has the path changed?

[2019-02-14 15:33] ocrasborn commented on #548
Confirm! However, the issue from which this originated, #544 , raises its ugly head: when I now click sort, search results turn to zero. For a different reason, I think: it looks like the query is interpreted as X AND Y AND Z, instead of X OR WHY OR Z. Am I right? Should we want to change this? I'm not sure.

[2019-02-14 17:13] ocrasborn commented on #547
Thanks @vanlummelhuizen, works for me

[2019-02-14 17:23] #524 closed

[2019-02-14 17:23] #514 closed

[2019-02-14 17:24] #472 closed

[2019-02-14 17:24] ocrasborn commented on #325
Yes! Thanks, @vanlummelhuizen !

[2019-02-14 17:24] #325 closed

[2019-02-15 15:17] Woseseltops commented on #547
Nope, that's how I've been doing it in the past as well. Weird that the folder was moved. I believe the official recommended way of doing this also works this way (but automatically instead of having to manually copy folders).

[2019-02-15 15:18] Woseseltops commented on #547
Onno seems happy this can be closed.

[2019-02-15 15:18] #547 closed

[2019-02-15 15:34] Woseseltops opened #549 "Copy ASL videos to Ponyland"
Currently on hold until access to the American server is restored. Request by @ocrasborn

[2019-02-15 15:38] Woseseltops commented on #531
Sound good @susanodd ! In which commits did you change this? I had a look but I can't find them.

[2019-02-15 16:02] Woseseltops commented on #540
I was thinking this would be something I could do quickly. I was wrong. During `makemigrations` it complains that it's missing the reference column, while creating it is of course the only reason I'm running `makemigrations`. The problem seems to be that apparently the Dataset object is imported in `urls.py` before the migrations are done, and thus is expected to have a correct database.

[2019-02-18 14:11] susanodd commented on #531
This is the new test update.py (line 365):
[code]
If the field is one of phonetVar...phonOth. that code (which sets the field to None) is not executed.
Instead the else clause goes (line 372), whereby the first part is skipped (since field is not idgloss).
So the code here is executed (line 383-384):
[code]
Here, the value can be the empty string for the phonetVar, mouthG, mouthing, phonOth.

What

[2019-02-19 13:10] susanodd commented on #546
This has been fixed.

[2019-02-19 13:12] susanodd commented on #535
This has been fixed. Additional human feedback was added to the refractored CSV import so that the tests have something to test for.

[2019-02-19 13:13] susanodd commented on #541
The tests also make use of acronyms.

[2019-02-19 13:13] susanodd commented on #541
A setting for acronym has been added and the code modified to reflect this.

[2019-02-19 14:08] susanodd opened #550 "Lemma lookahead in Gloss Detail View Edit shows duplicates"
The lemmas shown for selection show duplicated if more than one lemma translation exists.

[2019-02-19 14:16] ocrasborn opened #551 "Display of handshape images has changed"
See https://signbank.science.ru.nl/signs/search_handshape/: the images have different aspect ratios (intentionally), and are now cropped and/or resized so that most images are not fully visible.

[2019-02-19 14:33] susanodd commented on #551
Can you make a screenshot? They look okay on the live server on my computer. At least they are different sizes and shapes.

[2019-02-19 15:00] susanodd commented on #510
@Woseseltops is this still broken? It could be that the solution to #537 fixed this?
The hard-coded uses of name_en make use of a setting instead.

[2019-02-19 15:01] susanodd commented on #527
Changes to fix the count and sorting seem to have resolved this issue.

[2019-02-19 15:01] #527 closed

[2019-02-19 15:03] susanodd commented on #488
Are you happy with this @ocrasborn ?

[2019-02-19 16:01] susanodd commented on #550
This has been pushed to github

[2019-02-19 17:15] ocrasborn commented on #551
<img width="147" alt="screenshot 2019-02-19 18 15 15" src="https://user-images.githubusercontent.com/10242207/53033869-59432700-3472-11e9-94d7-6ed503ead816.png">
<img width="159" alt="screenshot 2019-02-19 18 15 08" src="https://user-images.githubusercontent.com/10242207/53033871-59432700-3472-11e9-818a-8d795e4c518e.png">
<img width="152" alt="screenshot 2019-02-19 18 14 58" src="https://user-imag

[2019-02-19 17:18] ocrasborn commented on #488
yes, @susanodd !

[2019-02-19 17:18] #488 closed

[2019-02-20 12:00] susanodd commented on #551
This has been fixed. Pushed to github.

[2019-02-20 12:09] susanodd commented on #537
@Woseseltops can you see if you are happy with the solution? It makes use of settings now, so it's not hard coded.

[2019-02-20 12:13] ocrasborn opened #552 "All ECVs except for dataset NGT are empty"
The log messages have been telling me the ECVs are correctly regenerated overnight, but now we're starting to use a few other than NGT, we find that they are all empty. In particular, Shanghainese and LSFB are the ones I checked.

[2019-02-20 14:35] susanodd commented on #552
Are you looking at the names or the acronyms?

[2019-02-20 15:12] Woseseltops commented on #552
Did some good old bughunting together with @susanodd today. Turns out glosses got lost in the sorting mechanism (not the first time this happened, so the two of us are experts at exactly this problem B) ). This was because it was sorting by dataset default language, which for a lot of datasets is empty.

Quick fix: setting a default language for each dataset.
Also needed: give an error if it's sor

[2019-02-20 17:30] ocrasborn opened #553 "CSV import-create broken again"
AttributeError at /signs/import_csv_create/
'Settings' object has no attribute 'DEFAULT_DATASET_ACRONYM'

[2019-02-21 09:20] vanlummelhuizen commented on #553
I cannot reproduce this problem. Does it still exist?

[2019-02-21 09:42] vanlummelhuizen commented on #518
@ocrasborn I sent you an email with some instruction for you to solve this.

[2019-02-21 09:48] vanlummelhuizen commented on #548
@ocrasborn One way to solve this is to use a hidden search field that is the same as the search field in the menu bar. That way the sorting uses the same search constraints. Downside: when the user fill in the search form, the hidden search field should be emptied. Perhaps this could be done when the search form is submitted.

[2019-02-21 11:10] ocrasborn commented on #553
Ah! No! It doesn't! A temporary hiccup yesterday, apparently. Same file works fine now.

[2019-02-21 11:10] #553 closed

[2019-02-21 11:14] ocrasborn commented on #552
Hm. Now the Shanghainese version is available, but LSFB is still empty (http://signbank.science.ru.nl/static/ecv/lsfb.ecv)

[2019-02-21 11:34] susanodd commented on #552
There was an error in how the setting was used in the code to select the language. This has been fixed and pushed to github.

[2019-02-21 11:40] susanodd opened #554 "Error "logging out" from old session after restarting signbank"
Maybe on restart, all users can be automatically logged out?

[2019-02-21 13:08] susanodd commented on #548
Can you provide an example of X and Y and Z that is causing this problem.

Based on #544, I tried English mother and Dutch oma and it finds four glosses for the selected datasets.

[2019-02-21 14:04] ocrasborn commented on #548
Hm. It no longer occurs now, and I can see why: unlike when I tested, the query 'moeder' is now only copied to the Dutch gloss field. Before, it was copied to the gloss field for all languages. Then sorting resulted in zero hits, as 'moeder' was not found in the English gloss field. (In fact, I tried with NGT + LSFB selected, and then 'moeder' was in three gloss fields, not resulting in any hits f

[2019-02-21 14:32] susanodd opened #555 "Lookahead thinks science is a different server than cls"
The lookahead form fields for showing e.g., lemma choices in Gloss Detail View does not show any choices if the url has cls in it instead of science.

[2019-02-21 14:35] susanodd commented on #551
Are you happy with this @ocrasborn ?

[2019-02-21 14:36] susanodd commented on #551
(Remember to reload the page.)

[2019-02-21 14:40] susanodd commented on #550
Related to #555. Use science until that issue is resolved. And #554.

[2019-02-21 14:41] susanodd commented on #554
Database gets locked. What is causing this?

[2019-02-21 14:42] susanodd opened #556 "Database gets locked"
Any ideas what is causing this? Import/export?

[2019-02-22 09:31] Woseseltops commented on #549
Okay the videos are copied to `/var/www/signbank/live/writable/asl-videos/glossvideo` , a total of 3.2G . Strangely, I also found a directory called `glossvideo_save`, of 14G, created in january 2018, so I am copying that as well. I can't remember what this directory is, or why it is so much larger than the current video directory.

What's the next step, @ocrasborn ? I can't just merge them with o

[2019-02-22 10:01] Woseseltops commented on #532
Just realized I completed missed the urgency :( .

Anyway, I just did a deep dive into this problem, and discovered that:
* We're back to the error again.
* If you search via the topbar, this information is lost when you create the CSV.
* As a result, ALL glosses are included in the CSV
* Putting all glosses in a CSV takes too long; the internal server error is probably a time-out.
* You can avoid

[2019-02-22 10:53] Woseseltops commented on #532
Found the setting (simply called Timeout in the Apache config). Made it longer, now it works.

[2019-02-22 11:09] Woseseltops commented on #531
Okay thanks @susanodd , looks good.

Now we're improving things, maybe this part `['phonetVar', 'mouthG', 'mouthing', 'phonOth']` can also be made dynamic? Maybe replace it with something along the lines of `[f.name for f in Gloss._meta.get_fields() if not f.null]` ?

[2019-02-22 14:54] susanodd commented on #532
Related to the timeout, do we need to be doing calls to google-analytics.com ?

[2019-02-22 15:08] susanodd opened #557 "Google Analytics causes massive delays in displaying view"
Importing @ocrasborn's mega CSV file for VGT (ca. 17,000 glosses to create).
The CSV import shows feedback to the user in the form of a giant table of glosses to create.
This is causing massive delays because of all the "gegevens overbrengen van www.google-analytics.com".
Can we remove these calls to google? They are bogging down the website.

[2019-02-22 15:25] susanodd commented on #557
From the google analytics instructions:

The table is being generated and it's extremely long.

[2019-02-22 15:27] susanodd opened #558 "CSV supersize me"
Regarding the Big CSV file of @ocrasborn:
So all glosses to create are displayed in a giant glosses to create table.
But upon pressing the button to make changes:

`Request body exceeded settings.DATA_UPLOAD_MAX_MEMORY_SIZE.`

[2019-02-22 16:02] Woseseltops commented on #557
Just an idea: if >500 signs are imported, maybe we can create a log file you can download instead of generating a table on the fly?

[2019-02-22 16:08] susanodd commented on #557
Hmm. The table that is generated has id's in the elements that are used by the python code to actually create the glosses. (e.g, lemma_id_gloss_en ...)

[2019-02-22 16:15] susanodd commented on #531
Okay, that looks much cleaner.

[2019-02-22 16:36] Woseseltops commented on #538
What I figured out so far:
* This function is called multiple times, iterating over the Javascript variable `multiple_select_fields`.
* The problem is that for the ASL Signbank, this variable is filled with `['handedness', 'domhndsh', 'subhndsh', 'locprim', 'relatArtic', 'relOriMov', 'relOriLoc', 'oriCh', 'handCh', 'movSh', 'movDir', 'contType', 'namEnt', 'semField', 'wordClass']`, containing vari

[2019-02-22 16:38] Woseseltops commented on #538
Hint to self: check the ASL branch.

[2019-02-22 16:40] Woseseltops commented on #558
Idea for last resort: create a local offline tool to split up CSVs into smaller ones.

[2019-02-25 07:58] vanlummelhuizen commented on #532
@Woseseltops I don't see any obstacles for merging the auto fill functionality with the ASL branch. Note that it is not a complete solution because searching with auto filled form fields could give different results that searching with the top bar search field (AND vs OR). I am working on a better solution, but I am not there yet.

[2019-02-25 12:12] susanodd commented on #558
On my local machine, the supersized csv file was successfully imported, and 16,928 glosses were created. Based on my activities app (the time I started walking home) and the time on the signbank.db file, it took circa 20 minutes to create the glosses. Since I was waiting a bit to see if it would crash, say it took 30 minutes.

[2019-02-25 12:14] susanodd commented on #558
So we know the import code works, but it neglected to report two errors in @ocrasborn's csv file.
And I modified the base.py setting with:
`DATA_UPLOAD_MAX_MEMORY_SIZE = None`

[2019-02-25 12:22] susanodd commented on #557
I'll see if it improves if the import code stores the rows in a table, instead of processing all the data as read. Maybe it can be processed column-wise to check all the data is okay.
One reason for doing all the signs at once is so that we don't have to keep checking whether the lemma translations, annotation translations, already exist in the dataset. As soon as some glosses have been created, i

[2019-02-25 14:23] susanodd commented on #558
I pushed some changes to github that should solve the problem.

To locate the problems, I put the two erroneous rows of @ocrasborn's supersized csv into a separate file and was able to get the system to hang with just those two rows of data. I'll use that data as a new test.

I rewrote some of the code to move things outside of the loops, added an extra break in case errors are found.
(The intenti

[2019-02-26 11:39] susanodd commented on #538
I've revised the references to the settings MULTIPLE_SELECT_GLOSS_FIELDS and MULTIPLE_SELECT_MORPHEME_FIELDS to be computed from the Gloss._meta and Morpheme._meta field information for those fields with choices that are in the settings for FIELDS['phonology'] etc.
This should solve the problem for ASL.

[2019-02-26 11:57] susanodd commented on #538
It's not quite as generic as you'd expect. Using the above generated settings, the morphology search fields on Gloss List View do not end up Multiple Select because they are relations, not fields in the Gloss or Morpheme model.

[2019-02-26 12:06] susanodd commented on #538
This has been pushed to github.

[2019-02-26 13:11] susanodd commented on #531
The code has been revised as you suggested, @Woseseltops. Testing based on model fields has the side-effect of catching other errors that people hadn't noticed yet. Namely trying to empty the same fields in Morpheme Detail Viiew, and the fields useInstr and iconImg.

[2019-02-26 13:47] susanodd commented on #558
Okay, I noticed that @vanlummelhuizen put the revised code on the server yesterday.
Because the mega file worked on my server, I tried to import the huge file on the live server.
But it locked the database before any feedback was shown.
This is very strange because it works on my server.
The only difference is that I have DEBUG set to False, whereas it's True on the live server.

[2019-03-03 13:31] ocrasborn opened #559 "Cannot include pictures on page"
Created a new page About/Acknowledgments. When I try to include a picture, I get an error message (png or jpg both fail):

Got an error uploading an image: AttributeError at /summernote/upload_attachment/
This QueryDict instance is immutable
Request Method: POST
Request URL: https://signbank.cls.ru.nl/summernote/upload_attachment/
Django Version: 1.11
Python Executable: /usr/bin/uwsgi
Python Versi

[2019-03-03 13:32] ocrasborn opened #560 "New page won't show"
Created a new page in Admin, About / Acknowledgments. The menu item appears, but the page content from Django doesn't show. Instead: page not found.

[2019-03-03 13:33] ocrasborn commented on #552
All looks good now.

[2019-03-03 13:33] #552 closed

[2019-03-05 12:29] susanodd commented on #531
This has been fixed, @Woseseltops.

[2019-03-05 12:59] susanodd commented on #560
Can you remember when the last time was that you were able to add a new page?

The database seems to be locked right now.
But I am also not able to fix it on my local machine.

In the python code for pages urls (pages/urls.py), it uses a builtin feature "patterns".
But this seems to be an older version of python because PyCharm shows it underlined in red.
Perhaps this obsolete code is no longer su

[2019-03-05 13:02] susanodd commented on #560
Okay, I got it to work on my site.
I added a trailing "/" to the url of the page.

It didn't work to do this on the live server because it gave an error that the database is locked.
You can wait a while and try it again.
If you have a sqlite browser open, shut that. That seems to lock the database.

[2019-03-05 13:05] susanodd commented on #560
Need to wait until people stop using signbank apparently in order to get the database unlocked.

Then add a trailing "/" to the url of the page in admin.

[2019-03-05 14:08] ocrasborn commented on #560
Ah of course! Thanks @susanodd , solved

[2019-03-05 14:08] #560 closed

[2019-03-05 15:06] susanodd commented on #559
I'm not exactly sure how to use summernote.
I found some legacy code for uploading attachments and I modified that so it works now.
There is a directory "attachments" in the writable folder. That's where it puts them.
 But the links shown in the upload attachments page seem to be intended for use as references.
The plot thickens.

[2019-03-06 13:24] Woseseltops commented on #538
Wow, beautiful solution @susanodd ! So now the setting is not needed anymore at all, we just infer the multiple select fields automatically?

[2019-03-06 13:27] Woseseltops commented on #537
I didn't check in detail, but I see `_en` references removed and Signbank still works, so looks like our goal has been reached.

[2019-03-06 13:27] #537 closed

[2019-03-06 13:29] Woseseltops commented on #545
Pretty solutions:
* #536
* #537
* #538

[2019-03-06 13:33] susanodd commented on #538
Yes

[2019-03-07 13:56] Woseseltops commented on #559
A quick Google search showed we simply needed to upgrade Summernote: https://github.com/summernote/django-summernote/issues/187

Did that, gave some problems, fixed those, now it works. Happy @ocrasborn ?

[2019-03-07 14:21] ocrasborn commented on #559
Happy! Could I ask for a small favour (doesn't belong in this issue, too small to make a new one): the three logos I've added to /about/acknowledgments/, could you all bottom-align them and distribute them equally over the width of the frame? My css is a bit rusty... :-)

[2019-03-08 14:03] Woseseltops commented on #558
Progress together with @susanodd today. We logged every line as it was looping through Onno's huge CSV file. We noticed:
* It seems to work; we see every single line being processed.
* There are a lot of database queries during the importing process, and every now and then we see a database locked error (produced by us? produced by someone else) being logged. Not sure if this is a problem.
* After

[2019-03-08 14:23] ocrasborn opened #561 "Make field 'Exclude choices' (Datasets) non-obligatory"
I cannot create a new dataset without selecting at least one excluded field choice, but this is undesirable.

[2019-03-15 09:07] #538 closed

[2019-03-15 09:20] Woseseltops commented on #536
I think is solved. We'll reopen if problems appear.

[2019-03-15 09:20] #536 closed

[2019-03-15 09:59] Woseseltops commented on #545
Ported to the solutions in these three issues to the ASL branch, ran tests, everything seems okay.

[2019-03-15 09:59] #545 closed

[2019-03-15 10:40] FabricioRojas opened #562 "ProgrammingError: column dictionary_signlanguage.id does not exist"
We are trying to install GlobalSignbank for Spain, we took the [Finnish SignBank guide](https://github.com/Signbank/FinSL-signbank) as exemple for this installation.

We followed all the steps without problem until we found this error after executing the second command on the [Databse migration](https://finsl-signbank.readthedocs.io/en/latest/installation.html#database-migration) step  **python bi

[2019-03-15 10:47] Woseseltops commented on #531
Looks good.

[2019-03-15 10:47] #531 closed

[2019-03-15 11:00] Woseseltops commented on #559
You sure you want that, @ocrasborn ? Because that would mean the logos would end up at completely different places depending on the height and width of the monitor. As an alternative solution, I now made it so the logos are now (sort of) evenly spaced... how do you like that?

[2019-03-15 11:12] Woseseltops commented on #340
Done

Done

Happy @ocrasborn ?

[2019-03-15 11:33] Woseseltops commented on #340
We just saw on @ocrasborn's screen that the header doesn't 'stick' in Safari. Just verified that it does in both Chrome and Firefox. I'm leaning towards leaving it like this, because this page is barely used anyway. Agreed?

[2019-03-15 11:49] Woseseltops commented on #559
I now also edited the whitespace around the logos to be similar.

[2019-03-15 12:07] ocrasborn commented on #340
Agree @Woseseltops

[2019-03-15 12:07] #340 closed

[2019-03-15 12:07] ocrasborn commented on #559
Indeed! I noticed, thanks @Woseseltops

[2019-03-15 12:07] #559 closed

[2019-03-15 12:36] Woseseltops opened #563 "Create unit test to check if there are glosses in all ECVs"
ECVs that are empty for some mysterious reason are a recurring problem for the ASL Signbank. Clicking the button to generate the ECV fixes it. This test should fail if the button should be clicked again.

[2019-03-18 15:43] vanlummelhuizen commented on #548
OK, I made a better solution: a hidden input field in the search form that shadows the search input field in the menu bar. It is emptied when you change another field in the form, so that it does not interfere. There is not really anything to see unless you know how to test it, but nevertheless: happy @ocrasborn ?

[2019-03-18 15:46] vanlummelhuizen commented on #532
@Woseseltops I made a new solution for #548: https://github.com/Signbank/Global-signbank/commit/d639e7023caa59560a4c6a9ef349f254e6cf64de. Please review and if ok, use it for ASL Signbank.

[2019-03-20 08:32] vanlummelhuizen opened #564 "Migrating fails for a new install of Global Signbank"
For new installs of Global Signbank the initial migration fails because it tries to find things in the database.

We now think there are unnecessary imports in the migration process that end up in places where the code tries to get stuff from the database.

[2019-03-20 08:37] vanlummelhuizen commented on #562
Apparently, this is not easily fixable. We will look into this (#564).

We are also looking into a work around by providing an SQLite database that has all tables but no data. I hope to come back on this soon.

[2019-03-20 09:13] ocrasborn opened #565 "Problem with referring to lemma in new gloss"
From Julie:
"I've instructed people who have editor access to ASL Signbank to use ~NEED-ID-GLOSS as the Lemma ID whenever suggesting new ID glosses. I use the Lemma ID to group together all proposed ID glosses. And the suggesters put their actual proposed ID gloss in the "Annotation ID Gloss" field. They reported issues with being able to do this. Specifically, they got an error message saying tha

[2019-03-20 10:01] Woseseltops commented on #540
To be more precise: the problem is during `makemigrations` it tries to initiate all classes in the Signbank code. One of these classes is `RegistrationForm`, which is a form used for requesting accounts. This form has the option to request access to particular datasets, and to be able to populate this option the `Dataset` model has to be correct.

My solution was to allow this process of populatin

[2019-03-20 10:58] ocrasborn commented on #548
yes, @vanlummelhuizen

[2019-03-20 10:58] #548 closed

[2019-03-20 11:07] Woseseltops commented on #540
Okay it's now available in the interface! Happy @ocrasborn ?

[2019-03-20 11:15] ocrasborn commented on #540
:-)

[2019-03-20 11:15] #540 closed

[2019-03-20 11:28] vanlummelhuizen commented on #562
Because this is not a easy thing to fix, I made a **_workaround_** so that you can at least use SQLite:

Download and unpack [schema.sql.gz](https://github.com/Signbank/Global-signbank/files/2987805/schema.sql.gz).

Assuming you are on Linux, changing paths for you situation, do the following:
1. Apply the SQL schema. Run `sqlite3 writable/database/signbank.db < schema.sql`
2. Make Django think al

[2019-03-20 11:43] vanlummelhuizen commented on #565
I already solved this for Global Signbank: a6a6d2acfbfa7f1bd4621cb9957a2c3166d42668. I asked @Woseseltops to put this solution on the ASL instance.

[2019-03-20 11:52] Woseseltops commented on #561
A yes good one. I needed two migrations for it but null values are now allowed for this field :) .

[2019-03-20 11:56] #561 closed

[2019-03-20 15:18] Woseseltops commented on #558
Set the timeout to 600 .

[2019-03-21 12:45] susanodd commented on #535
@Woseseltops can you check if this works for you now?
All of the tests work on my local machine, with the most recent database and the most recent code.
No errors.

One warning is generated:
`WARNINGS:
dictionary.Dataset.exclude_choices: (fields.W340) null has no effect on ManyToManyField.`

(It was generating that warning yesterday when I tried to do migrations. Today I have a copy of the real da

[2019-03-21 14:08] susanodd commented on #558
Increasing the timeout solved the problem.

[2019-03-21 14:08] #558 closed

[2019-03-21 14:08] ocrasborn opened #566 "Double-check working of ASL registration process"
Julie: "By the way, I just got an email from someone who tried to register for the ASL Signbank and still hadn't gotten access. That was one of my questions before too. I see that feature is up but I am not getting any alerts anywhere about this. How do I see and process those requests?"

[2019-03-21 14:11] susanodd commented on #556
This issue was related to the timeout.
Also when running a local signbank, if you have an Sqlite browser open at the same time, this also can cause a locked error, depending on what else you are doing.

[2019-03-21 14:11] #556 closed

[2019-03-21 14:13] susanodd commented on #554
The Apache timeout has been increased.

[2019-03-21 14:13] #554 closed

[2019-03-21 14:14] susanodd commented on #550
This works on science but not on cls.

[2019-03-21 14:14] #550 closed

[2019-03-21 14:40] ocrasborn opened #567 "Enable Homonym List for ASL"
Menu items is there, but not linked to function it seems: "all I see is this - "<generate overviews to be put here>" meaning this is still under construction? (I recently wanted to be able to see all of our homonyms at the same time in a list somehow and remembered you and I talking about that possibility and wondered if this was it)" (Julie)

[2019-03-25 14:45] susanodd commented on #563
I've implemented a test for this.
One thing that comes up, because we use a test database, which is empty, it's not possible to test whether empty ecv's for a dataset are rightly so, because for the test database all datasets are empty.
Whereas on the server a dataset may be empty, and hence correctly have an empty ecv.

[2019-03-25 15:02] susanodd commented on #563
Other than run such a test on the real database, a coded solution would be to output an ecv only if there are actually glosses in the dataset.
Another possibility is to modify the create_test_db code to put a token gloss in each non-empty dataset.

[2019-03-25 17:09] FabricioRojas commented on #562
Thanks for the fast replying.

We started over with a fresh installation and following these steps. At least we could finish the installation, but we found with another error when we tried to start the service.

After executing the command `python bin/develop.py runserver localhost:8000` and opening the url we get this on the browser.

![OnPaste 20190325-170108](https://user-images.githubuserconte

[2019-03-27 08:15] vanlummelhuizen commented on #562
I think there are some migrations you need to apply:

1. activate the virtual environment for your Signbank instance
2. run `python bin/develop.py migrate`

Otherwise use this schema:
[signbank_schema_2019-03-27.sql.gz](https://github.com/Signbank/Global-signbank/files/3012152/signbank_schema_2019-03-27.sql.gz)

[2019-03-27 08:42] vanlummelhuizen commented on #532
@Woseseltops any news on this front?

[2019-03-27 08:56] vanlummelhuizen commented on #480
@susanodd  Lemma (Idgloss) translations should use the Dataset languages and also the Dataset default language. Does that answer this old question?

[2019-03-27 08:58] vanlummelhuizen commented on #332
@susanodd @ocrasborn Is this one done?

[2019-03-27 09:00] vanlummelhuizen commented on #328
This issue does not seem relevant anymore.

[2019-03-27 09:00] #328 closed

[2019-03-27 09:14] ocrasborn commented on #332
Yes I think so; thanks for spotting this open issue. Time to close.

[2019-03-27 09:14] #332 closed

[2019-03-27 09:26] vanlummelhuizen commented on #546
@ocrasborn close this issue?

[2019-03-27 09:30] vanlummelhuizen commented on #518
@ocrasborn when reviewing our email conversation of 21 feb I think this issue can be closed. Agreed?

[2019-03-27 09:31] vanlummelhuizen commented on #460
@ocrasborn close this issue?

[2019-03-27 09:38] vanlummelhuizen commented on #541
Is this all done @susanodd and @Woseseltops ?

[2019-03-27 09:53] vanlummelhuizen commented on #426
@ocrasborn What do you want to have as sub-folder name: dataset ID, name or acronym? What is the reason for this request by the way?

[2019-03-27 09:59] #546 closed

[2019-03-27 10:02] vanlummelhuizen commented on #423
@ocrasborn Is this still relevant?

[2019-03-27 10:03] ocrasborn commented on #426
The reason for the request is that different datasets (and their media, it also holds for all images) have diferent owners and different permissions for sharing. It is good to keep the media organised according to dataset for that reason, and moreover it is sometimes convenient when we want to get the media from the server for a specific dataset.
Let's use Acronym for the folder names.

[2019-03-27 10:05] ocrasborn commented on #423
Don't think so @vanlummelhuizen , as all related to #422 seems to work according to plan.

[2019-03-27 10:05] #423 closed

[2019-03-27 10:42] vanlummelhuizen commented on #426
Note that managing media by Signbank will become a bit more complicated, possibly resulting in a few errors here and there.

Just an alternative idea: create a view that lists download urls for all media files of a specified dataset, either in html (with links), json or txt for use with tools such as wget.

[2019-03-27 11:05] vanlummelhuizen commented on #381
Today is someday ;) I cannot reproduce the behavior described by @Woseseltops. So, deleting field choices within admin is done without a fail-safe. @ocrasborn change priority?

[2019-03-27 11:11] vanlummelhuizen commented on #370
@susanodd Is this done?

[2019-03-27 11:24] FabricioRojas commented on #562
After executing this command `python bin/develop.py migrate` we got this message

[code]

So we executed this one `python bin/develop.py makemigrations` and then we tried again with the previous one.  Unfortunately we got the [same error](https://github.com/Signbank/Global-signbank/issues/562#issuecomment-476292796) when trying to start the service.

We tried with the other schema, when executing

[2019-03-27 11:59] susanodd commented on #370
Yes, a long time ago.

[2019-03-27 12:05] susanodd commented on #381
This may be influenced by #340.

[2019-03-27 12:13] susanodd commented on #426
I wouldn't mind coding this issue. I recently dug into the image and video naming in filenames and paths in order to get rid of numerous errors in the server error.log involving special characters.

[2019-03-27 12:18] susanodd commented on #426
What Micha said, using a view seems like a good idea to me too.
There is no correlation between users of signbank and users of the file system underneath.

[2019-03-27 12:26] susanodd commented on #541
Yes. There's one spot I noticed when looking at the ECV files. It's not clear whether the acronym should be used or the dataset name. The problem is "going in reverse". The acronyms don't have spaces in them. But the dataset name, the space is converted to "_". So the names need to be mapped between "what the user defined" (e.g., with mix of small and cap letters), and whatever filename is in the

[2019-03-27 12:35] susanodd commented on #563
Design: The new test fails if any of the ecv files does not contain glosses.
Observation: The test is run against the test database, so the datasets have no glosses unless created by the test.
Q: What to do about (real) empty datasets? The test fails for these. It's not possible to determine which datasets are empty on the test database, so it's not possible to determine if an ecv is correctly emp

[2019-03-27 12:46] vanlummelhuizen commented on #562
For now remove or comment out the following line in signbank/settings/base.py:

`STATICFILES_STORAGE = ( os.path.join(PROJECT_DIR, "static"), )`

[2019-03-27 12:46] #370 closed

[2019-03-27 15:03] FabricioRojas commented on #562
We get the same error after removing that line.

[2019-03-27 15:23] ocrasborn commented on #426
Well, if it's a lot of work, we shouldn't do it (now). How about another alternative, would that be less impactful? That is, to prefix all the videos and images with the dataset acronym (followed by underscore)?

[2019-03-27 15:43] vanlummelhuizen commented on #562
Did you do points 2 - 5 of the workaround above again after you made a (new) database with the sqlite3 command?

[2019-03-29 12:52] susanodd commented on #381
I'm working on this.

[2019-03-29 17:45] susanodd commented on #381
This is nearly done. I discovered that something is missing from the migrations for the class Definition.
That class relies on a choice list for NoteType.
In the class definition code, everything is as you'd expect.
But in the (dynamic) _meta information (which we are using to avoid hard coding), Django does not recognize that there is a choice list for Notes.

I inspected the migrations and it lo

[2019-04-04 15:55] susanodd commented on #381
This issue has been completed. It has been pushed to github.

The has_delete_permission method of FieldChoice of the Django admin now checks whether the field choice is in use. If so, this method returns False and Django does not let you delete it.

 To avoid hard coding, this is implemented generically based on meta info from the models for Gloss and Handshape.

There are also field choices used

[2019-04-05 10:36] susanodd commented on #563
To assist in this issue, I revised the Dataset List View.

The interface (template) and the code no longer offer exporting an empty dataset to ecv. This is to prevent empty ecv files from purposefully being created.
The ECV button is no longer shown for empty datasets. And the url action for exporting an ecv returns an information message to the user that the dataset is empty and nothing was done.

[2019-04-08 13:08] susanodd commented on #381
@Woseseltops, I've implemented your generic choice list comparison based on the _meta information. (Remember? To compare the actual choice lists to see which field has that choice list, based on _meta information.)

For model Handshape, I come across something strange. The meta information choice lists (field choices) are different than the choice lists built from FieldChoice data. E.g., the field

[2019-04-08 13:11] susanodd commented on #381
I kind of suspect some migrations aren't complete. But I don't know how to go about confirming and/or solving this.

[2019-04-09 09:56] ocrasborn commented on #563
:-)

[2019-04-10 13:45] susanodd commented on #381
I generated a migration and didn't delete the rows specifying choices, so the field choice lists are up to date. The new migration solves the above problems.

[2019-04-10 15:32] ocrasborn commented on #290
It appears that NoteType does not yet appear in the ASL Signbank's admin for Field Choices, although it does for Global SB. Please make it (re)appear.

[2019-04-10 15:56] ocrasborn opened #568 "Revise the Public View"
* Please move the field 'Translation equivalents' which is now below the movie to appear below the gloss(es), and make the translations appear there as well (if any).
* The Notes in SB have a property 'published' (a checkmark in the edit mode). We were never bothered about this, but now would like to use this feature to make notes appear to anonymous users. Please add them to the 'public view' bel

[2019-04-11 14:48] Woseseltops commented on #381
Note to myself: I want to verify that the migration by @susanodd won't be a problem for the ASL Signbank

[2019-04-12 13:32] susanodd commented on #381
I finished the unit tests on FieldChoiceAdmin has_delete_permission for all the categories of field choices. This has been pushed to github.

[2019-04-12 14:27] Woseseltops commented on #567
I see that this URL works: https://aslsignbank.haskins.yale.edu/analysis/homonyms/ , so I made a menu item pointing this sign. Happy @ocrasborn ?

[2019-04-12 14:35] Woseseltops commented on #566
Looks like this is not working correctly. I tried and did get an activation email, but it linked to the Global Signbank. When I manually fixed the URL, the account got created, but of course with no permissions so far. Can you refresh my memory on what is supposed to happen next, @ocrasborn ?

[2019-04-12 18:34] FabricioRojas commented on #562
Doing again points 2-5 finally worked. Thanks!

[2019-04-12 18:34] #562 closed

[2019-04-15 07:42] vanlummelhuizen commented on #426
It would involve changes in

(adding video)
* https://github.com/Signbank/Global-signbank/blob/6b294a8458f29a192d198a9ee5b2ceebe432ef24/signbank/video/views.py#L40
* https://github.com/Signbank/Global-signbank/blob/6b294a8458f29a192d198a9ee5b2ceebe432ef24/signbank/video/views.py#L50
* https://github.com/Signbank/Global-signbank/blob/6b294a8458f29a192d198a9ee5b2ceebe432ef24/signbank/video/views.py#

[2019-04-15 11:59] #567 closed

[2019-04-15 12:13] ocrasborn commented on #566
Julie requested a kind of 'digest mail' to her as admin, say once a week to start with, where she would see all new registrations and could act upon those. Background: possibly many new registrations for the ASL Signbank in the future.
As the ASL SB doesn't use the dataset feature, giving access to the one active dataset should be done automatically, so that all that happens is activating new acco

[2019-04-15 14:52] susanodd commented on #568
This has been done and pushed to github.

[2019-04-17 08:52] vanlummelhuizen commented on #522
I will try to make things work in a more Django like way. In process I hope to fulfill @ocrasborn 's wished from #426 .

[2019-04-18 10:34] Woseseltops commented on #381
Problem encountered by @susanodd :
* A field choice belongs to a particular field choice category. Gloss fields can have choices only from one category. For example, the field 'domhndsh' has glosses only from the field choice category 'Handshape'.
* When deleting a field choice, we should (1) check the category of this field choice, then (2) check which fields use choices from this category, then

[2019-04-18 10:39] Woseseltops commented on #565
Which I have done indeed, a month ago already. Happy @ocrasborn ?

[2019-04-18 12:20] Woseseltops commented on #532
Hey @vanlummelhuizen , I finally investigated this. It does not work yet for ASL, because this code

[code]

keeps getting called. I'm not sure why this is (in the Global Signbank it's only called when change your search query, but my best guess is that is something related to the fact that the code on the ASL Signbank is a bit older. Perhaps just a general upgrade would fix it?

[2019-04-18 12:41] Woseseltops commented on #381
The solution above is a dynamic solution to know which fields are using a particular field choice category (so you can go from field choice category to a list of fields). An extra advantage of this solution is that you can easily go the other way around (so from a field to which field choice category it is using):

[code]

[2019-04-18 12:51] Woseseltops commented on #535
I just tried testing this, but the unit tests are giving me all kinds of unrelated errors. Will come back to this (even) later.

[2019-04-18 13:06] ocrasborn commented on #532
@woseseltops, are you sure it isn't yet working for ASL? I managed to export something just 2-3 weeks ago

[2019-04-18 13:20] susanodd commented on #529
Added functionality for Import CSV Lemmas, for updating lemmas.
This has been pushed to github.

[2019-04-18 13:22] susanodd commented on #535
I fixed that in one of the migrations.
There should not be a null setting.

[2019-04-18 13:30] susanodd commented on #381
Okay, I'll rewrite the code again to use this solution. Thanks, @Woseseltops.

[2019-04-18 13:34] susanodd commented on #535
Remember to comment out the FieldChoiceTests for making sure field choices that are in use can't be deleted. Those rely on Issue #381 and the migration for choice lists that were missing in _meta.

[2019-04-24 07:48] vanlummelhuizen commented on #532
@Woseseltops I think a general upgrade would fix this: the element with class 'menu_bar_search_mirror' is not in the html so the piece of code you posted is not working properly. Although I think it also shouldn't give any problems.

[2019-04-24 13:49] susanodd commented on #381
Implemented Solution 2.
Pushed to github.
Unit tests to guard against deletion of in use Field Choices are implemented and successful.

[2019-04-24 13:59] susanodd commented on #381
@Woseseltops I removed the questionable parts of the migration you reminded yourself to look at.
I only left the OtherMedia choices because the old values in its domain were weird.
You might have a look at some of the choices actually in the Django meta data.

[2019-04-24 14:11] susanodd commented on #557
Not sure if this is relevant anymore.

[2019-04-24 14:11] #557 closed

[2019-04-24 16:38] susanodd commented on #563
I'm working on this issue again.
One of the tests is broken:
`test_DatasetListView_ECV_export_permission_change_dataset`
The test database is actually empty, and ECV export is not offered for empty datasets.
A gloss needs to be created so there is something to export.

[2019-04-25 11:35] susanodd commented on #563
Revised the tests to cover empty datasets. Added an additional test and more feedback for the tester.

[2019-04-25 11:38] susanodd commented on #535
The implementation of preventing field choice deletion when in use has been totally rewritten (#381).
The tests related to this have also been rewritten.
All tests run successfully for Global on the most recent github version.

[2019-04-25 14:27] susanodd commented on #498
I made similar revisions to Morpheme Detail view, including display tabs to switch between Detail and Public view.

[2019-04-25 14:38] ocrasborn commented on #498
ah great!

[2019-04-26 08:21] Woseseltops commented on #563
Just checked this, and looks perfect. It didn't work on the live server initially, but that turned out to be because of old ECV files still lying around. The test passed after I removed those.

This issue can be closed as far as I am concerned, @susanodd

[2019-04-26 08:23] Woseseltops commented on #535
Okay I figured this out: the test database I was still using on the live server was way too old. Now it just crashes on the FieldChoiceTests like you mention @susanodd . Since that's another issue, this one can be closed as far as I'm concerned.

[2019-04-26 10:15] Woseseltops commented on #290
The functionality is working @ocrasborn , but what the American users understandably did not know is that they should add field choices in the category 'NoteType'. Also, I just noted that the field choices for notes are a little different from the 'normal' gloss field choices in that the require a restart of the server to be visible on the site. I would say: ask them to add the field choices they

[2019-04-26 10:32] #563 closed

[2019-04-26 10:33] #535 closed

[2019-04-26 10:35] ocrasborn commented on #290
Will do!

[2019-04-26 12:09] susanodd commented on #381
@Woseseltops, I figured out why tests on my server were working whereas on the live database they did not.
I had modified create_test_db.py, but forgot to put it on github.
It now clears additional tables that are dependent on glosses, because the glosses are removed.

[2019-04-26 13:00] Woseseltops commented on #566
Current working in Global Signbank:
* During account registration, users can request access to datasets
* After confirming their email, users can log in, but cannot see any datasets yet
* The managers of the requested datasets get an email when access to a dataset is requested
* In the dataset manager page, users can search for the users they want to give access

What I propose is to keep this fun

[2019-04-27 14:54] #543 closed

[2019-04-27 14:56] ocrasborn commented on #551
Yes, thanks @susanodd

[2019-04-27 14:56] #551 closed

[2019-04-27 14:59] ocrasborn commented on #549
Thanks @Woseseltops

[2019-04-27 16:01] ocrasborn commented on #549
Ah, small issue: some files are not readable to me because of permissions. Not all, but still a few hundred it seems. E.g. /CO/COLORADO-3181.mp4. could you fix that for me, @Woseseltops ?

[2019-05-01 09:35] Woseseltops commented on #566
Before I start, do you you agree with this @ocrasborn ?

[2019-05-01 10:16] Woseseltops commented on #555
It now works for both cls.ru.nl and science.ru.nl . There was still a Javascript `url` variable that was filled with the `URL` setting from Django, which is set to science.ru.nl, and apparently this variable was used by the typeahead functionality. Browsers do not like two separate websites making internal requests to each other from Javascript, which explains why typeahead did not work from cls.r

[2019-05-01 13:44] Woseseltops commented on #549
Done!

[2019-05-02 09:01] Woseseltops opened #569 "Error message when changing note type"
Both in Global and ASL Signbank

[2019-05-02 11:23] Woseseltops commented on #569
Done. Turns out the update mechanism for note roles was still using an outdated way to retrieve the human value (which it sends back).

[2019-05-02 12:00] Woseseltops commented on #519
I looked into this a bit and discovered that the dataset pages are already there, and are visible without logging. That means the only things that need to be done are:
* Add the total number and the number of public signs to this page.
* Add a download button (what this should do exactly is what @ocrasborn should think about)
* Make sure the page matches what is described here: https://developers.

[2019-05-04 12:59] ocrasborn commented on #518
I still see error messages in the log of the backup script:

rsync: chgrp "/vol/archive/backups/ngt-signbank/current/." failed: Operation not permitted (1)
rsync: chgrp "/vol/archive/backups/ngt-signbank/current/manual_backups" failed: Operation not permitted (1)

and:

rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1183) [sender=3.1.1]

Action needed?

[2019-05-04 13:02] ocrasborn commented on #519
@Woseseltops : In terms of the first bullet: this need not be a live count, right? Can well be generated and stored overnight. (The current counts are wrong, but you probably know that, and the total number is for to the whole database count, not the individual dataset.)
I will look into the other two issues.

[2019-05-06 14:26] vanlummelhuizen commented on #518
First of all, the backups themselves look as they should. The only thing that is not completely right, is the owner/group of the files and directories.

I believe the problem is that on the original directories there is a [sticky bit](https://en.wikipedia.org/wiki/Sticky_bit) on the group. That makes it impossible for the user that runs the backup-cronjob (you, @ocrasborn) to change the group of t

[2019-05-08 09:46] susanodd commented on #568
This has been fixed. Published notes are displayed on the Public View.
Additionally, there was a subtle error in adding new notes in Gloss Detail View.
The name of the selection field for Note Type had also been used elsewhere in the template for a different field and new notes were being ignored. That has been fixed.

[2019-05-08 09:51] susanodd commented on #381
@Woseseltops, can you check if this works for you now with the new create_test_db?

[2019-05-08 09:55] susanodd commented on #541
This has all been fixed.

[2019-05-09 08:41] Woseseltops opened #570 "Unit test: all settings files have all settings"
A problem I've had multiple times is errors because the ASL settings file is not up to date. Ideally, when creating a new setting, we should add it to (1) the global settings file, (2) the ASL settings file and (3) the empty template. This new unit test should check whether that has been done indeed.

This issue might also be a nice opportunity to remove unused settings files.

[2019-05-09 08:42] Woseseltops opened #571 "ASL search unit test fails while search works"
In the search unit test, three glosses are created: two with handedness 4, and one with handedness 5. When searching for glosses with handedness 4, indeed two glosses are found... but when searching for handedness 5 nothing is returned. Huh? Even weirder is that we do not have this problem when running tests on the Global Signbank server.

[2019-05-09 10:41] susanodd commented on #571
Does ASL have the same version of (normal) code now?

[2019-05-09 10:47] susanodd commented on #571
Did you use the new version of create_test_db ? I modified this yesterday because it was not clearing the lemmaidgloss and lemmaidglosstranslation tables. That was causing some problems with the import csv tests.

[2019-05-09 10:50] susanodd commented on #571
It looks like there aren't any annotation translations created in that test.

[2019-05-09 10:59] #510 closed

[2019-05-09 12:54] susanodd commented on #571
I revised the other testSearchForGlosses test as well.
I also revised code to remove hard-coded "_nl" from other tests. (See #510.)

[2019-05-09 15:22] ocrasborn opened #572 "Don't show tags to anonymous users in list view"
When a user that is not logged in searches for signs, getting hits from what has checkmark 'Publish in dictionary' under Publication Status, they also see the workflow tags of the editors. Please hide tags altogether from the list view when a user is not logged in.

[2019-05-09 15:23] ocrasborn commented on #572
Oh, for both ASL and Global, please. Nice 'n simple ;-)

[2019-05-09 15:29] ocrasborn commented on #566
Hi @Woseseltops : all sounds perfectly sensible to me. One request and one question:
* The request (maybe you already had this in mind): in the email to Julie, please add first name - last name - email address to the user name, to help her decide whether or not immediate action is needed
* The question: where does the email address for the destination go? It would be handy if this is something use

[2019-05-09 15:30] #565 closed

[2019-05-09 15:30] ocrasborn commented on #549
thanks @Woseseltops !

[2019-05-09 15:30] #549 closed

[2019-05-09 15:47] ocrasborn commented on #539
I'm afraid this is not yet working. I'm logged in (ASL), search for glosses ^f, to find (random pick) FLIRT - FRIDAY - FORGET - FOOTBALL-BALL - FASHION-MODEL (Annotation ID Glosses)

[2019-05-09 15:49] ocrasborn commented on #539
For Global, please also sort by _Annotation ID Gloss (English)_ as the default (for all datasets).

[2019-05-09 15:50] ocrasborn commented on #532
@Woseseltops , just checked again after your ASL update of this morning, still works for me.

[2019-05-09 16:06] ocrasborn commented on #354
We talked about this in our demo today:
* We would also need to provide a way for users to upload EAF files (and upload updates)
* We would need a standard format for metadata that links the file name of the EAF file to a region (CSV file; column 1 EAF file name minus extension; column 2 Region of Signer 1; column 2 Region of Signer 2; etc. if there are more signers). Signer identities can then be

[2019-05-09 16:08] #333 closed

[2019-05-09 16:10] #303 closed

[2019-05-09 16:11] #290 closed

[2019-05-09 16:13] ocrasborn commented on #266
If there's time left before Sept 1 2019, let's take this over from FinSL Signbank; end of the thread there was that it was stable enough.

[2019-05-09 16:15] ocrasborn commented on #189
@vanlummelhuizen , can this issue be closed?

[2019-05-09 16:17] ocrasborn commented on #182
Any reason to keep this open, @vanlummelhuizen and @Woseseltops ? I think no one is complaining about how it is currently implemented.

[2019-05-09 16:18] ocrasborn commented on #124
@vanlummelhuizen , is this still relevant to the work on the video naming that you are doing? Can it simply be closed?

[2019-05-09 16:23] ocrasborn opened #573 "Datasets not shown in header for all pages"
For the home page and the pages in the About menu, the available and selected datasets are not shown in the site header. I didn't check all the analysis pages yet, as they take a long time to load, please do check.

[2019-05-09 16:32] #460 closed

[2019-05-09 16:40] ocrasborn opened #574 "Problem uploading some particular videos/pics"
@Woseseltops , see earlier emails from Julie. Now looking at https://aslsignbank.haskins.yale.edu/dictionary/gloss/2877/, the video doesn't display. Julie didn't compress this video any differently than other ones. Can you check what might be wrong?
Another example was https://aslsignbank.haskins.yale.edu/dictionary/gloss/2893/, but i understand there are more. As ASL SB indicates that they are up

[2019-05-09 16:41] ocrasborn commented on #574
The gist of my last email response to julie from Aug 2018: when I uploaded the these videos in Global SB, everything went well.

[2019-05-09 16:49] ocrasborn commented on #542
Ah, I closed this before testing. My test item ZERO has a Location - Major specified (namely Neutral), but this does not appear in the list view.

[2019-05-09 17:00] ocrasborn commented on #354
Addition to what we discussed: let's not be specific about what the metadata categories are (using just region), but let us extract the relevant feature from the metadata. If users find age groups more important than regions, let them add a feature for that. Instead of having a column "Region" and letting the values in that column determine the field names, use any text from a column Category to d

[2019-05-10 08:15] Woseseltops opened #575 "Investigate: ECV unit tests seem to overwrite ECVs?"
It now already happened several times that the ASL ECV needed to regenerated, even when I didn't touch anything ECV-related, and I didn't understand why. An email by Lee Prunier yesterday suggests that the problem is caused by running the unit tests:

Please investigate if running the unittests can overwrite the ECV, and if yes: fix.

Related to #563

[2019-05-10 12:17] susanodd commented on #575
The test that checks that they are not empty does not erase anything.
I exported all datasets on my local machine, did a listing, ran the test, did a listing.
The sizes of all the files remain the same before and after the test. (I included date timestamps.)

![ecv-directory-listing-before-and-after-test](https://user-images.githubusercontent.com/24272544/57526088-b4c3d900-732c-11e9-9d7a-222c86eaa

[2019-05-10 12:28] susanodd commented on #575
Okay, there are more ecv tests....
This test actually exports the test dataset:
        tests.ImportExportTests.test_DatasetListView_ECV_export_permission_change_dataset
Yes, it overwrites the real ecv file!
The tests will need to modify the dataset acronym first or it will never work to test the real code.

[2019-05-10 12:57] susanodd commented on #575
Okay, it's been solved.
Here are the same screenshots, listings before and after, and the output of the test.

![second-ecv-test-listing-before-and-after](https://user-images.githubusercontent.com/24272544/57528871-bba21a00-7333-11e9-8897-e01a901db1d1.png)

![second-ecv-test-output](https://user-images.githubusercontent.com/24272544/57528877-c0ff6480-7333-11e9-9aa4-195a1fa15e96.png)

[2019-05-10 13:01] susanodd commented on #575
The revised tests have been pushed to github.

[2019-05-10 15:53] susanodd commented on #570
Okay, this has been done. I made a simple test that reads in the server specific settings for global and asl and compares what's been set. It gives feedback.
Based on that, I modified a couple of names for Global, removed an unused setting, and added (empty) settings that were missing for ASL.

[2019-05-13 14:17] ocrasborn opened #576 "ASL video upload problem"
From mail by Julie, May 11 2019: Just got on ASL Signbank myself today to add some new signs (SIM-COM, COOKING). When I add a video, I get this error message. When I close the page and go back to the ASL Signbank entry in a new webpage, the video is there so it looks like the "error" doesn't disrupt the video upload process. But I wanted to report it anyway because the error message keeps popping

[2019-05-13 14:54] vanlummelhuizen commented on #189
Yup.

[2019-05-13 14:54] #189 closed

[2019-05-13 14:56] vanlummelhuizen commented on #182
Ok, let's close it.

[2019-05-13 14:56] #182 closed

[2019-05-13 15:00] vanlummelhuizen commented on #124
The Delete button is now reverting to the previously uploaded video. If it is the first uploaded video, it will be deleted. If you want this reversion system, this could be closed. If not, we should discuss.

[2019-05-15 07:29] Woseseltops commented on #575
So indeed some unit test was overwriting production ECVs?

[2019-05-15 07:57] Woseseltops commented on #576
Looks like uwsgi had to be restarted. Did that, now the error message is gone as well.

[2019-05-15 08:00] Woseseltops commented on #574
Ah yes, I looked at this problem before and couldn't solve it then. I'll give it another try right now.

[2019-05-15 08:16] susanodd commented on #575
@Woseseltops, this has already been solved and pushed to github. That's why I assigned it back to you.

[2019-05-15 08:20] Woseseltops commented on #574
Okay, I already figured it out! All videos are organized in subfolders based on their first two characters, so the videos for the two glosses above, EUROPE and ZILCH, are in EU and ZI respectively. I noticed that unlike most other videos, EU and ZI had no execute permissions for the 'other' users (like the webserver user), along with the folders AH, CZ, EC, MC, OI, PS, QT and ZA. I made permission

[2019-05-15 08:20] susanodd commented on #570
@Woseseltops this has been fixed. The settings for ASL are on the Global branch.

[2019-05-15 08:27] susanodd commented on #503
I recently looked at the (server specific) settings file again to get one of the tests done (#570).
The lists of field names for minimal pairs and homonyms computations are hard coded in a few places in the models. [Note to self.]

[2019-05-15 10:50] Woseseltops commented on #566
Already did this:

And I also created a Signbank function under tools to do this:

[2019-05-15 12:11] susanodd commented on #29
There is actually some recent feedback!
https://signbank.cls.ru.nl/feedback/overview/

[2019-05-15 12:37] ocrasborn opened #577 "Change pagination on Lemma list view"
The view on https://signbank.science.ru.nl/dictionary/lemma/ now lists ten lemmas at a time. Please change this to something more workable, like 100.

[2019-05-15 12:53] susanodd commented on #573
This has been fixed and pushed to github. For logged in users, datasets are now shown on the Home page and in the About pages.

(Recall, if a user is not logged in, datasets are not shown in the headers.)

[2019-05-15 13:08] susanodd commented on #577
This has been fixed. Pushed to github.

[2019-05-15 13:08] #573 closed

[2019-05-15 13:09] #577 closed

[2019-05-15 13:12] #574 closed

[2019-05-15 13:15] Woseseltops commented on #542
Okay it took me some time, but I think I know what is going on here. In general, on the ASL Signbank you see different fields for two reasons:

1. From the total set of available fields, they use another subset. So where the Global Signbank might use fields [a,b,c,d], the ASL Signbank might use [c,d,e,f] . An example of a (only used by global) is `locPrim`, an example of b (used by both) is `hande

[2019-05-15 13:22] ocrasborn commented on #542
Agree, @Woseseltops . But then other fields do need to appear; and wouldn't that come down to the Harder solution?

[2019-05-15 13:24] susanodd commented on #529
Import CSV Lemmas has been added to the pull-down menu for Signs after the other CSV import routines.

[2019-05-15 13:25] #529 closed

[2019-05-15 13:26] #124 closed

[2019-05-15 13:49] susanodd commented on #572
Tags have been hidden for anonymous users. Pushed to github.

[2019-05-15 14:21] susanodd commented on #542
The harder solution might be better, adaptable to different kinds of information.

For issue #572, to hide Tags for anonymous users,  I had to add a check for whether a user is anonymous many times in code. (In the Search parameters, in the Header above results, in the Sort order buttons underneath the header, and in the actual row display. Each part of information is displayed separately. The che

[2019-05-15 16:16] susanodd opened #578 "Display of Repeated Movement in Minimal Pairs"
The Boolean values are not being displayed correctly in the html returned by the Ajax call.

[2019-05-15 16:45] susanodd commented on #578
This has been fixed for Boolean fields.

What was wrong? The minimal pairs dict method in the model returns a Boolean value for checked fields Repeated Movement and Alternating Movement. These were being treated as a string 'True' in the Ajax function instead of as Booleans. True was being displayed as No instead of Yes.

The error is to see in the glosses STATION-B and TURKEY-A, with Repeated mov

[2019-05-21 11:53] FabricioRojas opened #579 "Url /datasets/manager does not exist"
We have several mistakes like this, first of all we found that the user needs to have access to this page, so we tried to set the user as the dataset manager, but there weren't any group or role that fit this request. Anyway we created the group "Database Manager" but we couldn't assign it any permission, the list were empty.

![OnPaste 20190521-125259](https://user-images.githubusercontent.com/66

[2019-05-21 13:32] ocrasborn commented on #579
Correct me if I'm wrong, @Woseseltops / @vanlummelhuizen , but access rights to the dataset are also specified at the level of that dataset; just adding a user to this group does not do the trick, if you don't also specify write access for that user for the dataset. This can be done in the Django admin (button at top right of a dataset's page, forgot the name).

[2019-05-22 11:19] susanodd commented on #579
The user needs to be in the group Dataset_Manager (with an underscore) (not Database Manager).

[2019-05-22 12:03] susanodd commented on #579
I tried what I just suggested on my machine. (To see if the group not existing can cause the bug you show.) But the code prints a message that the group Dataset_Manager isn't found. (It fails gracefully and reports this to the user.)

Can you put some print statements in the get_queryset method of class DatasetManager in signbank/dictionary/models.py.
See if you can get down to the line with Objec

[2019-05-22 13:28] susanodd commented on #542
I can work on this. It's also unfortunate coding for Global.

There are iterations per row (gloss) as well as iterations per header column and per gloss field value.
Plus additional checks on how to display each cell of the table, whether it's visible for the user (is the user anonymous, does the field apply to the dataset or language.

It makes more sense to put the fields to display in a setting

[2019-05-22 15:40] FabricioRojas commented on #579
After trying all points  suggested by @susanodd, I'm back with some new information. First of all this is absolutely true, but as we didn't get any message we couldn't figure out before (Thanks @susanodd):

We tried to put the prints but we didn't get any message back, so maybe that is the problem.

We checked if django-guardian was installed on the system and so it was, after that we checked if t

[2019-05-23 07:54] Woseseltops commented on #542
Seems like both @ocrasborn and @susanodd prefer the harder but more flexible solution, so let's go for that!

[2019-05-23 07:55] Woseseltops commented on #576
Julie was happy.

[2019-05-23 07:55] #576 closed

[2019-05-23 09:59] Woseseltops commented on #539
It was indeed not yet working. Took me quite some time to figure out why, but the reason was simple: we were putting our ordered search results in a set, which removes duplicates, but apparently sets forget about order (fyi @susanodd ). I've solved it now by simply skipping the 'set' step, but this might mean I have reintroduced duplicate search results.

[2019-05-23 11:59] Woseseltops commented on #555
Strange, this https://signbank.cls.ru.nl/dictionary/ajax/gloss/ge does not work yet.

[2019-05-23 12:06] susanodd commented on #579
@FabricioRojas can you do a "pip freeze" inside of your virtual environment and compare that to the required python packages? Just to make sure everything is installed for python.

Another thing to check is the Ajax calls. You can find these in the dictionary/urls.py file.
Try some of these in the browser to confirm whether they are generating output.
Many of the pages rely on calls to the databas

[2019-05-23 13:02] susanodd commented on #542
@Woseseltops, regarding the field locprimLH

Suppose there is a new setting (for Global) like this:
`GLOSS_LIST_DISPLAY_FIELDS = ['handedness', 'domhndsh', 'subhndsh', 'locprim']`
Then for ASL, locprim would be changed to locprimLH (read on)
So we know what fields we are displaying.

I checked the implementation to find out where the table header in the gloss list view comes from (first image in t

[2019-05-23 13:06] susanodd commented on #542
Okay, it seems there's also a translation for `"Placement Active Articulator LH"`

Which is also quite strange because the code is currently translating "Location".

Problem solved!

[2019-05-23 14:17] Woseseltops commented on #532
It works!

[2019-05-23 14:17] #532 closed

[2019-05-23 14:24] Woseseltops commented on #570
Looks good, thanks @susanodd !

One extra request: right now, it is hardcoded to only check the global and ASL settings files, but I would also like (1) to check the empty template and (2) this to work in the use case that if people add new settings files (for example, a new installation of Signbank somewhere), these are also automatically checked... so maybe dynamically compare ALL settings files

[2019-05-23 14:29] Woseseltops commented on #571
Issue solved!

[2019-05-23 14:29] #571 closed

[2019-05-28 11:32] susanodd commented on #539
I'm working on the GlossListView at the moment in conjunction with #542.
Regarding the sorting, the `list(set` constructors you mention are in the fall-through case for sorting.
The only fields using this case are Translations.

I can't tell what sorting is (supposed to be) doing for translation equivalents.

In the GlossList view, all translations are shown intermingled in the same column display

[2019-05-28 13:59] susanodd opened #580 "Put the translations in separate columns per language in Gloss List View"
Make templates more orthogonal w.r.t. dataset languages.
This supplements making column headers not be hard coded in #542.
It also supplements glitches in sorting #539.

[2019-05-28 14:28] susanodd commented on #580
Here is a screenshot of the separate columns, with generated column headers and ajax gloss rows.
To support redesign of #542 to remove hard coding. The sorting and sorting headers are also generated.

![go-sort-dynamic-header-gloss-list](https://user-images.githubusercontent.com/24272544/58485997-5ccb0600-8165-11e9-80a3-c18935f4a3a6.png)

[2019-05-28 14:34] susanodd commented on #542
I'm nearly there. (See the screenshot in #580).
The headers and gloss rows are now generated so the columns aren't hard coded; they now depend on a new setting (mentioned above) for header fields. (Solution harder above.)

The search panel is still hard coded. I'll see if that can be simplified.

[2019-06-03 14:41] vanlummelhuizen commented on #358
Are the management commands in

* signbank/dictionary/management/commands/ingest_csv.py
* signbank/dictionary/management/commands/permissions.py

used or useful? @Woseseltops @susanodd @ocrasborn

[2019-06-03 15:55] ocrasborn opened #581 "Uploaded video not shown"
This may be related to #426 or #522 , I imagine.
Lori is changing the videos for dataset IS, and finds that the videos don't display. In fact, I can't seem to find them in glossvideo/ either. But the image of the video is correctly processed, stored, and displayed. E.g. https://signbank.science.ru.nl/dictionary/gloss/8719

[2019-06-05 07:33] vanlummelhuizen commented on #581
The lemma for this gloss contains parentheses. The lemma is used for constructing the filenames of the video and image, but apparently is not done in the same way for the video and the image: EXPLAIN%28WFD%29-8719.mp4 and EXPLAIN(WFD)-8719.png. The %28 and %29 are the URL-encodings of ( and ). I quickly fixed it by renaming the video file. I will also look into a semi-permanent solution (until the

[2019-06-05 09:29] Woseseltops commented on #581
Lee is also reporting this problem for the ASL Signbank, it looks like it's no longer possible to upload videos to glosses starting with a ~ . This is the uwsgi error log:

[code]

[2019-06-05 09:32] vanlummelhuizen commented on #581
@Woseseltops I made a fix for Global-SB. Can you apply is on ASL-DB?

[2019-06-05 09:43] Woseseltops commented on #358
No, @vanlummelhuizen , these have been there seen the Steve era which means I was not aware of them until last month. You can also see this in the history ( https://github.com/Signbank/Global-signbank/commits/master/signbank/dictionary/management/commands/ingest_csv.py ) : although there are commits that touch these files, they are all automated replacements.

[2019-06-05 10:06] Woseseltops commented on #581
Ah sorry @vanlummelhuizen , missed the commit attached to this issue. I copied the fix and it works!

Two things:
* I see you commented out the original code... maybe it's good to add *why* the original code is commented out, in case we encounter it again in a few years and can't remember.
* I think this problem was introduced recently by accident. Maybe 'uploading videos with weird chars' should

[2019-06-05 10:11] vanlummelhuizen commented on #581
Perhaps it was better to remove the old code. With `git log -L` someone could see in what commit the changes were made, and also find this discussion.

Agreed. I will make something in my #522 work.

[2019-06-05 13:23] #575 closed

[2019-06-06 13:41] Woseseltops commented on #518
I tried removing the sticky bit, but cannot do it because I am not the owner of the folder above which also has a sticky bit :).

Done.

[2019-06-11 09:44] logic-byte commented on #579
@susanodd After compare pip freeze with the requirements, everything looks fine. The ajax call seems to work too. But in some cases, like when generate_translated_choice_list_table fails to get data in /signbank/dictionary/templates/dictionary/admin_gloss_list.html, the TypeError appears. It's like we are missing some content on the DB.

Is this normal? Should we create everything that is missing

[2019-06-11 11:08] susanodd commented on #579
How many languages are you working with? (Just to check if there are more than one, or just one. The code normally assumes that English is always there. In some places, English is used as the default.
You can compare the signbank/settings/server_specific for asl_yale.py to those for global_sb_new_aj.py) ASL only uses one language. There are some settings that also have mappings for translation lan

[2019-06-11 12:03] susanodd commented on #542
Solution 2 has been implemented and pushed to github.
There is a new setting for the display of phonology fields. The ASL settings file (master branch) has been ujpdated to reflect this.
The solution relies on ajax calls to generate the gloss list table header (and sorting buttons) as well as for each gloss row. The javascript / jquery has been revised to support this so that only the glosses visi

[2019-06-11 12:10] susanodd commented on #580
This has been fixed as displayed above as part of Issue #542, for generating based on settings. Because the table header is generated dynamically, it was cleaner to iterate over the keyword language columns.
Iteration and separation of translation languages was also needed for the sorting of columns.
Sorting was broken for keywords. This has been repaired and pushed to github.

[2019-06-11 12:11] susanodd commented on #580
@ocrasborn can check off on this once live.

[2019-06-11 12:15] susanodd commented on #581
Although it's sometimes good to have comments as @Woseseltops suggests so you can still see that something used to be there. Otherwise, it's possible that the wheel gets reinvented if nobody first does a git log -L to see if something used to exist.

[2019-06-11 12:19] susanodd commented on #579
The changes to admin_gloss_list I mentioned above have been pushed to github.
(They're not on the global live server yet.)

[2019-06-11 13:10] susanodd commented on #570
Okay, @Woseseltops, what should actually be in the other settings files?
Should they all be identical? What is the relation between the empty_template and the others?
You want something like a Venn diagram?

I'm now iterating over all settings files that are in server_specific and constructing a dict of the settings.
But what should be tested for the other files?
(Yes, this is very relevant to #57

[2019-06-12 13:10] susanodd commented on #570
I made the test just do printouts after each comparison.
This has been pushed to github.

[2019-06-12 14:00] vanlummelhuizen commented on #581
@susanodd, where to draw the line between commenting and removing? If there is a lot of commented out code, it becomes unreadable. And who is to say any commented out code will end up being used again in the future. Some commented out code may sit there forever.

[2019-06-12 14:04] vanlummelhuizen commented on #570
Perhaps we should think about default settings that may or may not be overridden, and comments to guide the developer.

[2019-06-13 07:22] vanlummelhuizen commented on #358
Thanks @Woseseltops

Next: Do you see any use for

* https://github.com/Signbank/Global-signbank/blob/master/signbank/dictionary/templates/dictionary/update_video.html
* https://github.com/Signbank/Global-signbank/blob/master/signbank/dictionary/templates/dictionary/update_result.html

? If not, I suggest we delete these files. @susanodd

[2019-06-13 12:00] susanodd commented on #358
No, I can't find any links to these files. The second one looks like a draft / development version of something given the way the feedback is shown for an invalid form.

[2019-06-13 12:06] susanodd commented on #570
That's a good idea. Is that what empty_template is supposed to be?
I made some comments in Issue #579 related to the settings for languages. (Waiting to see if that is causing a problem.)
Yes, there needs to be a guide for this.

[2019-06-13 15:01] susanodd commented on #578
A unit test has been added to check the display of the repeat phonology field in the minimal pairs list view.

[2019-06-13 15:10] susanodd commented on #542
@Woseseltops, this has been pushed to github. See the description above for what has been implemented.

[2019-06-14 14:21] susanodd commented on #580
Some of the issues are finished and awaiting to be put live.

[2019-06-14 14:39] susanodd commented on #503
@Woseseltops, I have one test for Minimal Pairs now. It's focused on the 'repeat' phonology field, since there had been a bug displaying that field (Issue #578).
There is a list of Minimal Pairs Fields in the settings.
Ideally, the test should cover all of these fields in some modular way.
(Question follows.)

Regarding Settings for field names, there are tests for field choices (to make sure they

[2019-06-14 14:45] susanodd commented on #503
Example. If you look at the setting for Minimal Pairs Fields, then a test should probably construct glosses that differ on at least one, possible more fields and confirm whether they show up as minimal pairs.

The bug mentioned in Issue #578 didn't show up until glosses existed that differed in only the repeat field. So it's possible some bugs can show up as more data gets filled in for the glosse

[2019-06-21 05:37] ocrasborn opened #582 "Error in creating a new lemma while creating a new sign"
I created a new dataset, with the first gloss. First created one lemma, all good. Then wanted to change that lemma, and then I get an error that refers to the presumed video, but this video hadn't been uploaded yet!!

Request Method: | POST
-- | --
https://signbank.science.ru.nl/dictionary/lemma/add/36457
1.11
FileNotFoundError
[Errno 2] No such file or directory: '/var/www/signbank/live/writable/

[2019-06-21 06:10] ocrasborn opened #583 "Gloss translation popping up incorrectly"
Now this was funny: I've just created three new datasets (KSL, JSL, TSL). The description language Japanese was added for all three, as the researcher is Japanese. Then I selected these three datasets plus NGT, search for a gloss that only exists in NGT (search string ^PT), and now for the various ^PT glosses, the NGT dataset suddenly appears to have Japanese as a translation language in the list

[2019-06-21 07:24] ocrasborn opened #584 "Upon registering a new user, an empty feedback form is displayed"

[2019-06-21 07:30] ocrasborn opened #585 "Show a few extra menu items to group Editor and up"
In the Signs menu, the following items should be visible to the group editor and up (Publisher):
- Show all lemmas
- Import CSV Create
- Import CSV Update

[2019-06-21 08:15] Woseseltops commented on #358
Same story. Things from the Steve era that we don't use, can be removed.

[2019-06-21 08:28] Woseseltops commented on #585
In the admin for these pages, I opened 'advanced option' I added 'Editor' and 'Publisher' to the list of allowed groups (was only 'Researcher' until now). I then checked with a test account, seems to work! Happy @ocrasborn ?

[2019-06-21 08:43] Woseseltops commented on #582
Hey @ocrasborn , I'm trying to reproduce this problem, but I'm not sure how exactly you were changing the lemma you created? From which page, which button?

[2019-06-21 09:01] ocrasborn commented on #582
Oops... If I remember wellco weren't too menu Signs > show all lemmas, selected it there

[2019-06-21 09:03] Woseseltops commented on #583
Let me see if I understand this correctly. I did the following things:
1. Selected the datasets NGT (description language: Dutch), BISINDO (description language: Indonesian), LSFB (description language: French) and JSL (description language: Japanese).
2. I searched for the coolest and best gloss in Signbank, which is part of the NGT dataset. This is what I see:

![image](https://user-images.githu

[2019-06-21 10:18] Woseseltops opened #586 "Change setting mechanism: default with overrides, comments"
Idea by @vanlummelhuizen:

That is, instead of an empty template file that nobody uses, there is a 'default' file that everybody uses and the individual server specific files will be much smaller.

Maybe this would also be a good moment to rethink what settings belong in this default server specific file (= things that might be different for each SB installation) and what settings belong to the ba

[2019-06-21 10:23] Woseseltops commented on #570
![](https://media.giphy.com/media/xT0xem7ZlZ2DOYqpG0/giphy.gif)

#586

[2019-06-21 10:29] Woseseltops commented on #570
Right now, the test should fail if one settings file has settings that are not in all other settings files. After #586 is implemented, the test should only file if a settings file uses a setting which is not in the default settings file.

[2019-06-21 10:43] Woseseltops commented on #542
Wow @susanodd this must have been a lot of work. I just checked and noticed:
* The phonology fields are still there, so this looks good.
* The whole search functionality (for example, the 'all signs' page) feels a lot faster now.

[2019-06-21 10:43] #542 closed

[2019-06-21 11:52] Woseseltops commented on #503
Hey @susanodd , let me try to summarize what you just asked:
1. There is a setting `MINIMAL_PAIRS_FIELDS` that lists all the fields that are compared to discover minimal pairs.
2. In the unit test for minimal pairs, do we compare all fields in this list or just a few?

My answer is: why not all fields in the list, dynamically? So the test would, for each field in the gloss, create two glosses that

[2019-06-24 14:04] susanodd commented on #583
I tried this too.
Showing all of the columns for all of the languages of the selected datasets is what's supposed to happen, isn't it?
From Observation 2, that would be the default language showing up. It's often coded so that the default language is used if there isn't a value.

[2019-06-24 14:50] susanodd commented on #582
When you go to Gloss List View, you have the bar under the List View/ Lemma View/ Number of Hits row where you can add a new gloss.

(see images that step through creation)

I couldn't generate an error either. I created a new lemma during creation of a gloss as follows from the Gloss List view (filled in both language fields), then created annotations (filled in both fields), then did Create and

[2019-06-24 14:55] susanodd commented on #582
Here's another go, using the Add new gloss from the pull-down menu.

![create-gloss-with-new-lemma](https://user-images.githubusercontent.com/24272544/60029048-ae9d7800-96a0-11e9-8a4a-649a566eea2a.png)
![create-gloss-with-new-lemma-detail](https://user-images.githubusercontent.com/24272544/60029059-b3622c00-96a0-11e9-839b-aa563ced3c7d.png)

[2019-06-24 14:55] susanodd commented on #582
I didn't try it yet on an empty dataset.

[2019-06-25 09:38] ocrasborn commented on #583
Oh yes, the column should indeed be there if one of the selected datasets has that language (here, Japanese) as one of the description languages. But the field should not appear as if it is used for other datasets (here, NGT) that do not have that language as one of the description languages.

[2019-06-25 09:40] ocrasborn commented on #583
In relation to the four observations by @Woseseltops : indeed the second one I don't want to see. Users should never get the impression that a field is filled if in reality it is not.

[2019-06-25 14:18] Delianpy commented on #579
Hi, I'll answer some questions that @susanodd asked.

**In the database there are three languages**: Catalan (ID=1), Spanish (ID=2) and English (ID=3), and in **any datasets or the file  global_sb_new_aj.py you can see that English is never used**.

![](https://s3-eu-west-1.amazonaws.com/tw-eu-inline/390401/0/0/633561a20eb84c559c7b4c360a692cd1.png)

In the file **/signbank/settings/server_specific

[2019-06-26 11:02] vanlummelhuizen commented on #582
What I found/know so far:

The url https://signbank.science.ru.nl/dictionary/lemma/add/36457 suggests @ocrasborn was the Gloss detail view of gloss 36457 when the error occurred.

I tested the following on my local instance:

1. Create a new dataset in the admin
2. Created a new gloss via /signs/add/, including a new lemma
3. On the gloss detail view page of the new gloss, I created another new le

[2019-06-26 11:52] vanlummelhuizen commented on #582
I just added a check whether the file exists. This fixed it. @ocrasborn If you can confirm, please close this issue.

[2019-06-26 12:24] vanlummelhuizen commented on #581
I believe this issue can be closed.

[2019-06-26 12:24] #581 closed

[2019-06-26 12:32] vanlummelhuizen commented on #584
@ocrasborn Are you registering a user via https://signbank.science.ru.nl//accounts/register/? I have tried it and I cannot reproduce the problem.

[2019-06-26 12:36] vanlummelhuizen commented on #580
Changes for this issue are live (for some time already). @susanodd close this?

[2019-06-26 12:40] vanlummelhuizen commented on #572
@ocrasborn, this is live. Happy?

[2019-06-26 12:42] vanlummelhuizen commented on #568
@ocrasborn this is live. Happy?

[2019-06-26 12:45] vanlummelhuizen commented on #541
@ocrasborn, happy?

[2019-06-26 16:15] Delianpy commented on #579
[/signs/show_all/](http://51.83.45.165:8000/signs/show_all/) displayed errors because the view tries to access a value called **handedness** that didn't existes in the dictionary **generate_translated_choice_list_table**. When added the **Field Choice** called **Handedness* in de admin panel the error is solved, but now there are other similar problem.

The value to have problems now is called *lo

[2019-06-27 08:59] Woseseltops commented on #583
Okay @susanodd completely rewrote how the list view works (with Ajax and everything, it's now much faster), so this was a nice opportunity to get used to this new approach.

[2019-06-27 08:59] Woseseltops commented on #583
Happy @ocrasborn?

[2019-06-27 10:13] Woseseltops commented on #539
Hey @susanodd , I just verified that sorting based on annotations works correctly, even after all changes which introduce Ajax etc; if you have other questions related to sorting, please open a new issue for it :) .

The open point for this issue is a DEFAULT sort order, which I think is still not there: if I search on the global Signbank right now, everything is still ordered by pk.

[2019-06-27 11:47] susanodd commented on #579
Which version of Signbank did you originally install? Global?
The Handedness field is in the Gloss model. It should have been put in the database tables in the correct place (automatically).
You are mentioning Field Choices. Where did your original content come from?

Did you migrate your database after changing models if you made changes?
Also, the server needs to be restarted after adding new Fi

[2019-06-27 12:00] susanodd opened #587 "Remove raw query from minimal pairs computation method"
A RAW query is used in exactly one place, in minimal pairs.
This seems to be causing some strange behaviour with Null values and conversions to strings for use in the raw query (which is a string).

The new test for minimal pairs works correctly. But the Signbank code isn't correct.
This is very strange. It seems to have something to do with Null values in the database. And "Falsy" stuff.

The act

[2019-06-27 14:55] Woseseltops commented on #586
Implemented this already and is in use for the Global Signbank. Next up: clean up the rest of the settings file.

[2019-06-27 14:58] Woseseltops opened #588 "Remove 'American English' as a name for the ASL Signbank"
This problem keeps popping up, so let's give it a separate issue.

Latest sighting: the public view.

[2019-06-27 15:11] susanodd commented on #539
Okay, I'll see why that is.

[2019-06-28 07:46] ocrasborn commented on #115
Op https://django-reversion.readthedocs.io/en/release-1.8.1/how-it-works.html vond ik dit:

@vanlummelhuizen wrote to me: Whenever you save changes to a model, it is serialized using the Django serialization framework into a JSON string. This is saved to the database as a reversion.models.Version model. Each Version model is linked to a model instance using a GenericForeignKey.
Als ik in de Signba

[2019-06-28 13:07] Delianpy commented on #579
We migrate the database after changing the models and yes, effectively, the Field Choices "Handedness" and "Locprim" were not in the database @susanodd, they weren't been put in the database automatically.

[2019-06-28 15:05] Woseseltops commented on #586
Forgot to label commit 14c41417bda7ec40bf1f9046d181542e69d4aa79

[2019-06-28 15:11] Woseseltops commented on #586
One change I had to make that slightly complicates things: some settings are made of other settings, like:

[code]

But what if you want to override the first setting in a separate file? Do you copy over all other settings that include this setting as well? To avoid this I opted for a system that makes including other settings in `default.py` impossible. Instead, combinations like the ones above a

[2019-06-28 15:39] Delianpy commented on #579
After reading carefully the code of the function **generate_translated_choice_list_table()** in /signbank/dictionary/models.py, we realized that "locprim" is the key of the array that returns that function, while the field choice must be called Location. Added the field choice with that name and is already shown in the complete table in [/signs/show_all/](http://51.83.45.165:8000/signs/show_all/).

[2019-07-01 09:54] susanodd commented on #580
At the demo, @ocrasborn showed that the column values for translations were not appearing under the correct column. He showed this with Japanese.
Indeed, on-line it shows them under the wrong header.
But on my local version, with the newest database, they are correct.
(See screenshots below.)
How is this possible?

Online:
![sort-order-glosses-global](https://user-images.githubusercontent.com/2427

[2019-07-01 10:00] susanodd commented on #586
@Woseseltops: Is it possible that the changes for this issue are causing the column order problem shown at the demo? (See #580.)
I have the most recent database on my machine, but I have not pulled the code of this issue.

[2019-07-01 10:31] susanodd commented on #579
@Delianpy, thank for identifying the problem.
It seems that your initial database did not have any, or insufficient data in FieldChoice.
Because Signbank has evolved, it did not occur before that this table might not have basic data in it. We had issues when Handshapes were added. There is code for creating the initial data if it's not there. It would seem something similar is needed if FieldChoic

[2019-07-01 11:09] susanodd commented on #583
I found the code that is causing this. It's hard-coded for display purposes, if there is no annotation translation to show, it shows English.
This would seem to have been introduced to avoid displaying nothing. (Context sensitive.)
I'll add a parameter so that the caller can dictate whether to show English or nothing.

[2019-07-01 11:35] susanodd commented on #583
I fixed this. I'll push it as soon as I finish the other issue I'm working on, since I don't want to pull or merge yet.

[2019-07-01 11:46] susanodd commented on #583
Oh, I see now that @Woseseltops also fixed this.
I solved it differently, I made a separate filter for the case when nothing should be displayed instead the default (it's hard-coded as 'eng' at the moment, that's what @Woseseltops commented out).
There are some places in the code where something has to be displayed, so the default language is needed.
However, we should use the default language fro

[2019-07-03 10:18] vanlummelhuizen commented on #504
A problem that arose at the VGT Signbank guys: when loading the choice_lists is rather slow, clicking on a red field to edit it, the user will only see the field disappearing. On the console there is a error.

I think the solution is to include choice_lists without counts in the context/template and load choice_lists with counts using Ajax. What do you think, @Woseseltops ?

[2019-07-04 08:27] Woseseltops commented on #115
I have fixed the gloss page for on the admin; it's super slow, but at least you can see something again. Indeed, in the admin I get a list of previous version of the gloss, along with the user and time. See for example: https://signbank.science.ru.nl/admin/dictionary/gloss/3117/history/ . I guess this is exactly what was needed, right @ocrasborn ?

[2019-07-04 10:37] Woseseltops commented on #580
I figured out what was going wrong here: the code that fills a single row (function `glosslist_ajax_complete`) puts the translations in a dictionary:

[code]

Problem is that dictionaries have no order (unless you would use OrderedDicts), so the order that is actually displayed on the page is not the order in which the languages were provided. I made it a list of tuples, and now the problem is gon

[2019-07-04 11:12] ocrasborn commented on #115
- Thanks @Woseseltops , this is indeed part of the puzzle. It looks like every 'edit' button click is logged, even if no changes are made. Could you test if this is indeed the case? Or why else would so many rows be empty in the last column?
- Then, if I click on one, it leads me back to https://signbank.science.ru.nl/admin/dictionary/gloss/. Is that a bug, and should more detail on the actual val

[2019-07-04 14:38] Woseseltops commented on #115
No only real edits are logged. The last column is almost always empty or some text written somehow by a human (I can see in the database it's sometimes also in Dutch). I have no idea where this option to add text to your change has existed and how that would have worked.

Are you sure? Because I'm led back to the detail interface of the gloss as it was during that revision.

[2019-07-04 14:40] Woseseltops commented on #570
(#586 is implemented)

[2019-07-04 14:41] Woseseltops commented on #586
Nope @susanodd , see my response in #580 .

[2019-07-04 14:41] #586 closed

[2019-07-04 19:13] ocrasborn commented on #115
Yes, I'm sure. But: I see i missed the error message that comes with it: "Could not load wesseltest31 version - incompatible version data"

[2019-07-05 10:44] susanodd commented on #587
The raw query has been removed from minimal pairs. Minimal pairs no longer looks at weak drop, weak prop, domhndsh_letter, domhndsh_number, subhnd_letter, subhndsh_number.
Changes were made to the support functions (namely minimalpairs_objects, and phonology_matrix) and to homonyms analysis, which was sharing the same helper functions. Homonyms still looks at the fields mentioned above.

The codin

[2019-07-05 15:11] susanodd commented on #580
Great @Woseseltops!

[2019-07-05 15:11] #580 closed

[2019-07-06 10:05] henrinie commented on #115
The `incompatible version data` could possibly happen if you have done data migrations after the version was saved.

[2019-07-08 07:10] vanlummelhuizen commented on #115
Note that [django-simple-history](https://django-simple-history.readthedocs.io/en/stable/) does not suffer from this problem as it keeps track of versions using a shadow model for each model, and this shadow model gets the changes made to the model it shadows when migrating.

Moving to another versioning system has it's downsides of course.

[2019-07-10 07:27] Woseseltops commented on #115
Another solution could be to create a simple model GlossChange, which is created each time an edit is done, and stores which gloss, which field, previous value, new value, user and time. This is easy to build, avoids the complicated migrations all together, but you give up the option to (easily) go back to an older version.

Solution so far:
* Keep reversion. Downside: every time we make a change

[2019-07-10 07:51] ocrasborn commented on #115
If a new model is simple to make, and creating a page accessible to Dataset Managers alone is also easy to make, then let's just do that, @Woseseltops .

[2019-07-10 08:14] Woseseltops commented on #115
So an overview of changes to glosses only in a single dataset? No problem for the third solution, and probably also not for the second solution (based on a a quick scan of the manual of django-simple-history).

So not being able to go back to previous versions wouldn't be a problem?

Also, curious for your opinion @vanlummelhuizen .

[2019-07-10 09:25] henrinie commented on #115
I think django-revision already does what you want, it stores the objects
in json. The problem is to load them to the models in django admin. If you
dont always need the ability to revert changes, it works well for the
recent ones in which the model had no migrations.

I think I made a poor mans version history for glosses based on the json,
it shows what changed in the json compared to the previo

[2019-07-10 09:32] susanodd commented on #587
The inline hard coded conditionals have been removed!
Now the code only relies on the settings.

[2019-07-10 09:48] Woseseltops commented on #566
Got the view working where you get an overview of all users without a dataset, and you can give them access.

![image](https://user-images.githubusercontent.com/1909317/60959451-805aa200-a308-11e9-87de-f71e794083c8.png)

[2019-07-10 10:27] vanlummelhuizen commented on #115
So far my experience with django-simple-history are good. The project seems alive and well maintained. It does not need extra maintenance, as building something our selves would need.

One of the downsides of starting to use django-simple-history would be the same for something we build: starting a new (versioning) history while we already have one.

What to do with the old one? Keep using, stop o

[2019-07-10 10:40] Woseseltops commented on #566
I've now also made the registration email more dynamic, so it says the name of the correct Signbank at the correct places etc.

Current flow:
1. User registers. If the Signbank installation uses datasets, the user can request access to one or more datasets automatically.
2a. If the user requested a dataset, the dataset owner will get an email, and can go to the manage dataset page.
2b. If not, s/h

[2019-07-10 10:44] susanodd commented on #570
This has been done.
Incidentally, the `default.py` filename is now hard-coded in the test.

[2019-07-10 10:52] susanodd commented on #115
Can they live next to each other?

[2019-07-10 10:56] susanodd commented on #115
There could also arise peculiar things since dataset managers can hide phonology fields.
Glosses are updated by ajax calls, so only the fields being updated are affected.
Theoretically, you could have different users updating different fields of a gloss at the same time, as long as they can be serialized. (Is this how the transactions work? Or is the entire gloss locked?)

[2019-07-10 12:26] susanodd commented on #579
@FabricioRojas I was able to reproduce your initial error description. It's exactly as @Delianpy described above. If there are no field choices for Handedness, then no data is put in the table.
I added an else clause to make sure the first two choices ('-', and 'N/A') are put in the table. Indeed, if no Field Choices were found, these choices were not put in the table. Leading to a 'NoneType' erro

[2019-07-10 12:30] Woseseltops commented on #115
I discussed with @vanlummelhuizen , and we've decided that we cannot decide which downsides are more important if we do not have 100% clear what the users want. Most importantly, is the revision history so users can go back to an older version, or is it so users can see who did what when? @ocrasborn do you know this, or shall I contact Julie?

[2019-07-10 14:25] susanodd commented on #539
This was caused by a sloppy string comparison. It's been fixed. Pushed to github.

[2019-07-10 14:30] susanodd commented on #578
This issue has been resolved and is on the live server. Additionally, the minimal pairs analysis code has been rewritten in #587.

[2019-07-10 14:30] #578 closed

[2019-07-10 14:31] susanodd commented on #539
Happy @Woseseltops ?

[2019-07-12 13:05] susanodd commented on #587
A new test has been added for minimal pairs. It takes into account empty values as well as no longer existing field choices (legacy values).

An additional test has been added to the minimal pairs ajax call in adminviews.py to accommodate different types of None values. (None of class NoneType and None of class str.)

[2019-07-16 08:52] ocrasborn commented on #115
I'll remind Julie to respond to this, sent her a mail some time ago.

[2019-07-17 12:41] #570 closed

[2019-07-17 12:48] Woseseltops commented on #539
Confirmed it works.

[2019-07-17 12:54] Woseseltops commented on #518
Over a month later, but the sticky bit has been removed. Curious to know if the error goes away.

[2019-07-18 18:31] ocrasborn commented on #115
--> Here's Julie's response:
Whenever I think about how a revision history would be good for me, it's mainly in the sense of who did this edit and when? And I usually want to know so I can follow up on the change. Even if it's myself 😂🤷🏻‍♀️

I don't need the option to revert back. It's easy enough to do it manually if need be. "access this via each gloss, getting a full revision history per gloss"

[2019-07-22 13:38] susanodd commented on #238
I found a bug with filenames in Signbank packages. It was something to do with constructing the paths for filenames when special characters are in them. It was causing the package generation to crash (when such a filename with accents exists - on my local machine test data).
I've fixed this, it just needed the paths to be created using python os.path.join to make sure they are paths.

I also encou

[2019-07-23 09:26] FabricioRojas commented on #579
Thank you @susanodd , we'll merge that locally in order to have the updated code.

What we have until now is a several time patched project that it could work in the tested cases, but maybe it couldn't on others. We also continiue with an un-updated DB which has several missing changes

How should we continue now? Should we start from 0 all the process in order to get a completely functional proje

[2019-07-23 11:28] susanodd commented on #579
I would do something with your database to construct an initial state that contains all the necessary "starting point" data. Then start editing and adding glosses to that state.

The NGT signbank has evolved continuously. There are actually some initial migrations that contain things that have become obsolete. Django likes to apply a sequence of migrations to things.
This was causing problems with

[2019-07-25 10:01] FabricioRojas commented on #579
Thank you for the response.

If I we understood it correctly, we should backup our DB in order to clean it up and then leave the main structure that Django needs for the migration process. After all this procees we'll get a fully funcional DB isn't it?

If I'm not wrong we tried this method at first but it failed, then we wrote [this issue](https://github.com/Signbank/Global-signbank/issues/562) a

[2019-07-26 10:41] Woseseltops commented on #579
Hi @FabricioRojas, not sure if I fully understand what you mean, so let me explain this to make sure we are all on the same page:
* If you change a Django model (for example, add a field to the gloss model), the underlying database structure does not match this model anymore. Migrating means changing an exisiting non-empty database to match the Django model again.
* The initial migration is when D

[2019-07-26 10:50] Woseseltops commented on #115
Okay, sounds like we will go for a simple model GlossRevision then. Agreed @vanlummelhuizen ?

Steps to get there:
* Create simple model with foreign key for the gloss, foreign key for the user that made the change, the date, and strings for field name, old value and new value.
* Adjust the update function to create a new gloss revision every time a gloss field is edited.
* Add a new tab button to

[2019-07-26 12:48] Woseseltops commented on #588
tl;dr it's complicated but fixed (fyi @ocrasborn)

Okay I've figured out what is going on here. For clarity, I will use the terms T-language for the spoken languages into which the various signs are translated (like French for the French Sign Language), and I-language for the interface language which you can use to navigate Signbank.

T-language name translations are apparently being handled by th

[2019-07-26 12:48] #588 closed

[2019-07-26 14:45] Woseseltops commented on #140
Looks like the problem you're trying to solve here is that editing a (for example) phonology field takes these actions:
1. Go to the page
2. Click the edit button
3. Open the phonology panel
4. Scroll down
5. Click the field
6. Change it
7. Click okay to confirm

Proposal to make this shorter:
1. Go to the page
2. Hit 'P' to go to edit mode, open the phonology panel and scroll to it
3. Click the f

[2019-07-26 15:03] Woseseltops commented on #140
P, M and S already go to edit mode, and open the correct panels!

[2019-07-26 18:12] ocrasborn commented on #140
I love this proposal! Go ahead!

[2019-07-29 14:09] FabricioRojas commented on #579
Hi @Woseseltops , we were talking about the same.

What we want is an empty database just with the necessary data to run the app without errors. Later we'll fill it with the data.

We could wait until August 9 in order to get the initial migration working, but if you already have an DB schema that we could just import it and get the app working could be an quicker option.

[2019-07-30 07:34] Woseseltops commented on #579
Okay clear @FabricioRojas . Unfortunately, I probably also won't be able to get that database ready before August 9, but I'll try.

[2019-07-30 14:46] Woseseltops commented on #579
Hmm looks like I made a mistake checking my calendar, and I'm not working August 9. Sorry, everywhere I said 9 it should be 14 - so even later :( .

[2019-07-31 13:35] susanodd commented on #522
@vanlummelhuizen, can you give an indication of per when your branch for this issue was created?

As part of testing videos, the tests are built in such a way. The video tests were crashing on my machine. Also, the small video, nor the still image file for the video were being deleted with the video, because the paths were computed incorrectly. (The test was only checking the normal video file.)

[2019-08-01 14:43] susanodd commented on #522
The revised get image path functionality has been pushed to github master branch.

[2019-08-02 14:47] susanodd opened #589 "Make a test for Signbank packages functionality"

[2019-08-02 14:49] susanodd commented on #589
The test creates a gloss with the necessary fields and merely prints out the dictionary of fields for that gloss as generated by the supporting function for the package (Gloss->get_fields_dict).
The test exploits the setting API_FIELDS.

[2019-08-02 14:59] susanodd commented on #589
This has been pushed to github.
Made Gloss->get_fields_dict use the field_choice_category attributes instead of the hard coded function fieldname_to_category.
The output of the choices are now human readable. Although the API_FIELDS do not include phonology, it is covered in this function. Now if one of the Signbanks decides to include phonology fields in the packages, they will be human readable.

[2019-08-05 14:05] susanodd opened #590 "Make a test for Handshapes"

[2019-08-07 07:31] vanlummelhuizen commented on #522
@susanodd It seems this interfere with the unify_video_management_systems branch quite a lot, unfortunately. At best your efforts will proof to be obsolete when merging unify_video_management_systems into master.

I will first merge master into unify_video_management_systems and see what happens.

[2019-08-07 10:21] susanodd commented on #522
The unit tests were broken.

[2019-08-07 10:51] susanodd commented on #522
I've been going through code to (finish) removing hard-coded field choices (#503).

As part of this, I'm checking hard-coded things for which there are settings.
/glossvideo/ was hard-coded into the model functions. That was changed to the setting.

The image method was checking the file system using an os.path.exists call, which was supposed to be returning false (None) or a path. But file system

[2019-08-13 11:00] ocrasborn opened #591 "Cron job for ECV shows errors"
of the type: get_ecv_descripion_for_gloss error getting field_choice_category, set to empty list. Check models.py for choice list declarations.

[2019-08-14 08:58] Woseseltops commented on #564
Okay on several I places I added exceptions for OperationalErrors, the error you get when the code tries to to use a table that does not exist yet. This means that the code now no longer requires a particular database to be there.

Next up: changing the migrations so that some required initial data is already there.

[2019-08-14 13:16] Woseseltops commented on #564
Done... you think we can close this, @vanlummelhuizen ?

[2019-08-14 13:20] Woseseltops commented on #579
Okay @FabricioRojas , I did #564 . If you now run `develop.py migrate` a fresh database is created that works out of the box. It has some default things (language, sign language, dataset, pages), but all can be edited . I've attached an example of such a fresh database. Let us know if that solves your problem.

[signbank.db.zip](https://github.com/Signbank/Global-signbank/files/3501520/signbank.db

[2019-08-14 14:17] vanlummelhuizen commented on #564
Yes!

[2019-08-14 14:36] Woseseltops opened #592 "Order gloss typeahead results by length"
When creating a new gloss, Julie wants to search for and select the lemma 'WE'. However, it is not in the list of 5 suggestions, because longer words like 'jewelry' and 'next-week' apparently go first, and the actual thing she is looking does not 'make the list'.

A solution could be to simply sort the list of matches by length; for long words you can simply continue typing if your match is not in

[2019-08-15 12:31] susanodd commented on #591
Hmm. I recognise that's my type error print statement.
It looks like I didn't know where to put the ECV settings in the new "default" versus "server_specific" configuration.
This has been fixed and pushed to github.

[2019-08-15 13:00] vanlummelhuizen commented on #591
It is on the live server.

[2019-08-21 08:02] Woseseltops opened #593 "Backups have stopped working in July"
When run by hand, the backup script still works, so unclear why the script is not executed anymore.

[2019-08-22 12:31] vanlummelhuizen commented on #593
@Woseseltops Unless you ran the backup script a 5 this morning, it is working again.

[2019-08-22 12:31] #593 closed

[2019-08-22 14:14] vanlummelhuizen commented on #555
@Woseseltops My commit https://github.com/Signbank/Global-signbank/commit/793dada88fdf03bf73f5e7b7d32cff636e280cc5 solved a strange bug. On my local instance I had to select some target dataset(s) and log in and log out to make it work, but https://signbank.cls.ru.nl/dictionary/ajax/gloss/ge is working again. Agreed?

[2019-08-22 14:38] ocrasborn opened #594 "Tags not displayed in relation view"
There is a column header for 'Tags' in the relation view, but the actual tags don't show in the rows below

[2019-08-22 15:00] vanlummelhuizen commented on #594
@ocrasborn I added a method that seemed missing. How do you like it now?

[2019-08-22 15:20] ocrasborn commented on #594
I love it! I mean... it works! :-) Thanks for the quick action, I knew this would be an easy one for one of you

[2019-08-22 15:20] #594 closed

[2019-08-23 07:21] Woseseltops commented on #593
Weird, because I did not change anything. My best guess right now is that Onno's crontab file was ignored because he didn't log in for a long time, but I don't really believe it myself.

[2019-08-23 07:25] Woseseltops commented on #555
793dada is my favorite commit now :)

[2019-08-23 07:25] #555 closed

[2019-08-23 09:32] ocrasborn commented on #593
I hadn't logged in for min. 5 to possibly even 8 weeks

[2019-08-23 12:25] Woseseltops commented on #115
I did:

And made a start with:

But I would have to check whether it works for all types of fields.

[2019-08-23 12:27] Woseseltops commented on #504
Great idea @vanlummelhuizen

[2019-08-30 07:59] Woseseltops commented on #592
Still working on this @susanodd ?

[2019-08-30 08:17] susanodd commented on #592
Yes! It's 99 percent finished.
I'm working on the morpheme pages which also make use of the ajax calls. There is a weird CSS formatting glitch. It seems the pages haven't been updated for some time. They also make use of the updated javascript and ajax calls.

[2019-08-30 10:03] ocrasborn opened #595 "Problem creating a new dataset"
I try to create a new dataset in the admin, assigning the acronym ZEI, and get the following error:
[Errno 22] Invalid argument: '/var/www/signbank/live/writable/glossvideo/' -> '/var/www/signbank/live/writable/glossvideo/ZEI'

[2019-08-30 10:04] ocrasborn opened #596 "Display of images broken"
Also in ASL?
Images don't display anymore in neither the list view nor the detail view.

[2019-08-30 12:37] vanlummelhuizen commented on #596
This has probably to do with the unification of video systems. It is love now but not everything worked as I hoped. I am working on it but it takes quite some time.

[2019-08-30 14:19] susanodd commented on #592
This has been pushed to github.

[2019-08-30 15:36] Woseseltops commented on #354
A suggestion on how to do this.

Back end storage
-----------------------
We currently have a panel 'Frequency' on the gloss detail view, showing the values of 14 hardcoded fields (all starting with `tokNo` in the code). Instead of all of that, we add a new panel 'Usage data', which lists so-called `GlossFrequency` objects linked to the particular gloss.

A GlossFrequency object then contains thes

[2019-09-02 09:31] susanodd commented on #595
This has been fixed and pushed to github.

[2019-09-03 07:50] vanlummelhuizen commented on #596
I ironed out all things I could find. I also brought back the images + hover video on the gloss list view. Please verify and check @ocrasborn .

[2019-09-03 12:37] marcelobtz commented on #579
@Woseseltops We tested the database you sent us, we performed the migration and everything seemed to be working fine, but when creating a test page the following error is generated.

![2019-09-03 08_35_13-Window](https://user-images.githubusercontent.com/51427828/64173673-ceca7f80-ce25-11e9-9f62-91667d9eb656.png)

`Internal Server Error: /signs/show_all/`
`Traceback (most recent call last):`
`  Fi

[2019-09-04 07:20] Woseseltops commented on #579
Hi @marcelobtz , can you give us a bit more info on what exactly you were trying to do? Your screenshot and error message are a bit confusing to me:
* In the URL bar of the screenshot I see 'signs/show_all/', where I would expect a list view (overview of signs).
* The error message is about the template tag 'get_item', which is only used in the detail view (show all info on one particular sign).
*

[2019-09-04 09:02] Woseseltops commented on #354
Relations with other issues:
* This proposal would be helpful for #107, but #107 is more.
* This proposal would provide everything needed for #113
* This proposal would completely fix #228

[2019-09-04 10:25] Woseseltops commented on #354
The most basic case:

![pies](https://user-images.githubusercontent.com/1909317/64247296-d7e34b80-cf0e-11e9-853e-6118fdaedbe9.png)

When there are more glosses sharing a lemma:

![barsx](https://user-images.githubusercontent.com/1909317/64247318-e16cb380-cf0e-11e9-965d-088047a0c0a3.png)

When you click the swap axes button:

![barsy](https://user-images.githubusercontent.com/1909317/64247396-137e1

[2019-09-04 14:19] susanodd commented on #354
The title of the issue says to allow for frequencies from different data sets (datasets).
At the moment, data sets (datasets) are e.g., Shanghainese, NGT, ASL, etc. (Which also may or may not happen to be Sign languages.)
At the moment, the signs in one dataset are "different" from the signs in another dataset.
That's how they've been implemented, with the gloss id being unique (also across datase

[2019-09-04 14:56] Woseseltops commented on #354
Yeah in this issue data set/dataset does not mean 'Signbank Dataset' but 'external source of information', like a corpus. Let's call it 'corpus' for now.

[2019-09-10 19:32] ocrasborn commented on #591
Hi @vanlummelhuizen: Not sure whether this was solved for some time, but I noticed yesterday  I'm still getting the errors in the log email.

[2019-09-11 09:59] vanlummelhuizen commented on #591
Hi @ocrasborn this should be fixed according to a small test on the TestDatasetMicha. Please confirm tomorrow morning.

@susanodd please look at https://github.com/Signbank/Global-signbank/commit/1ecd165e601ccdde84c3a283595564c6384444a0 for it solves a problem in what I believe is your code.

[2019-09-11 10:04] vanlummelhuizen commented on #592
The solution from @susanodd is live. Please confirm, @ocrasborn .

[2019-09-11 10:12] vanlummelhuizen commented on #522
This is running on the live server for a week now. I have had no complaints so I believe it is working quite well.

@ocrasborn It also means that videos and images are now save on the server under a directory named by the dataset acronym. Also, it is possible to revert to an older video (discarding the current video completely).

@Woseseltops When applying https://github.com/Signbank/Global-signba

[2019-09-11 10:46] susanodd commented on #591
Yykes! That looks like sloppy copy paste on my part.

[2019-09-11 11:30] susanodd commented on #354
I made the frequencies panel in gloss detail view display as a barchart.
This is an alternative display of data we already have. (Original, followed by barchart.)
Original
![gloss-detail-frequencies-open-a](https://user-images.githubusercontent.com/24272544/64693668-12f9f780-d498-11e9-8344-669d30a537f9.png)

Horizontal barchart
![gloss-detail-frequencies-open-a-barchart](https://user-images.github

[2019-09-11 11:38] susanodd commented on #354
Here is an alternative Lemma View showing the frequency of the Occurrences of the different Glosses of the Lemma Open. (Showing real data.)

![lemma-frequency-view-open](https://user-images.githubusercontent.com/24272544/64694106-33768180-d499-11e9-8fd9-deb00a62d2fa.png)

[2019-09-13 09:17] Woseseltops opened #597 "Create a central crontab file for Signbank"
Right now, we are using the account of Onno on Applejack, but only Onno and Wessel can edit.

https://superuser.com/questions/1078301/how-to-allow-multiple-users-to-access-to-the-same-crontab-in-debian-linux-v8-4

Idea by @vanlummelhuizen

[2019-09-13 12:43] susanodd commented on #591
I modified a similar code construct (list comprehension inside of try except) in models.py.
The method generate_frequency_dict. We don't have an issue so I just tagged it to this issue.

(Issue is list comprehension inside of try except. We want to skip things rather than make an exception for the entire result. That's not really a Signbank issue, but a programming style.)

[2019-09-16 11:11] susanodd commented on #591
@vanlummelhuizen, just to point out, for fields of a Gloss, "field.choices" does not give an error, it just returns [] for non-existent choice lists. This can be confirmed in the tests for FieldChoiceTests and a simple print statement in the function fields_with_choices_glosses in tools.py, which iterates over all fields in Gloss._meta.fields.

[2019-09-16 11:14] susanodd commented on #591
The exceptions were intended to alert the administrator that fields with choices that don't have the field_choice_category field are missing this. This is still don't in the fields_with_choices_glosses function in tools.py. Because this function is used in the tests, it should expose such a situation during testing.

[2019-09-16 13:27] susanodd commented on #591
This should all be working now.

[2019-09-16 13:30] susanodd commented on #494
Hard-coded lists of fields for handedness and handshape etymology have been revised to use settings. (Same for #503.)

[2019-09-16 13:33] susanodd commented on #503
There are two additonal settings for field names:
HANDSHAPE_ETYMOLOGY_FIELDS
HANDEDNESS_ARTICULATION_FIELDS
These are used in places in the code that were previously hard-coded.

[2019-09-18 10:38] marcelobtz commented on #579
Hi @Woseseltops. I just create a simple page in admin with the path "signs/show_all/" asigned to "Signs" menu, nothing more, but this should generate an error?? considering that it is a simple page, or "Signs" menu have a special configuration or something like that??. I ask this question because for example I created a static page in "about/manual", "About" is the main menu and "Manual" is the su

[2019-09-18 12:18] susanodd commented on #579
@marcelobtz  Gee, that's scary! It really is empty.

I can see in the signbank.db file that there is indeed only that page.
Did you export the database you were working with in the beginning?
Can you open that old database and export SQL statements for the data?
INSERT INTO .... VALUES ....
Then put back your pages data (the navigation menus).
(Either just typing it over in the admin or using SQL.

[2019-09-18 12:42] susanodd commented on #579
I suppose I could try the same as @Woseseltops did and start with the empty database he made and start filling it tables with minimal information so much as is needed to get the unit tests to pass. They are built on a minimal database. Our test-database.db has pages in it, of course.

[2019-09-19 12:03] susanodd commented on #579
@marcelobtz, another thing to check, the signbank.db file should be group and owner e.g., www-data  on Ubuntu rather than a specific user. If it's set to e.g., yourself, the server can't open it.

[2019-09-19 12:18] susanodd commented on #579
@marcelobtz, I'm looking at sql statement exports of the schema and data from our test database, as well as from the initial database.
Are you planning to develop your own set of pages? Or do you want to start from Signbank Global?
The same for FieldChoice.
I can make an sql file with INSERT INTO ... VALUES ... statements, although there are quite a lot of them.
What interface languages are you us

[2019-09-19 12:46] susanodd commented on #579
With regards to getting the page to display, your display isn't showing datasets in the banner across the top.
Another source of data that gets displayed is from the headers. You can find these under signbank/templates/global-templates
     baselayout.html
     menu.html

These files assume data from the context.
viewable_datasets
If you look at the method:
       signbank/tools.py -> get_selected

[2019-09-19 17:55] marcelobtz commented on #579
@susanodd I did some tests and I will explain the process I did as detailed as posible.

First, I created a dataset and assign a owner and then I could see the dataset in the header.

I created a new sign via "Signs -> Add new gloss", but in a "ID Gloss" field I created new because I can't create new gloss via admin. Then I see a page that suppose would be a sign page.

But I still have the same e

[2019-09-20 10:05] susanodd commented on #579
@marcelobtz, thanks for all the screenshots!
I'm constructing an sql script with insert commands for the FieldChoice and Pages tables.

Do you already have proper values in the dictionary_language, dictionary_dataset, dictionary_signlanguage, dictionary_dataset_translation_languages ? You did these via the admin or by hand?

I'm using the empty database @Woseseltops created and adding things to it

[2019-09-20 10:50] susanodd commented on #579
@marcelobtz, your screenshot of the error from GlossAdmin, complaining about dataset...

This is caused by a more recent evolution of Signbank.
The dataset field is accessed indirectly via the Lemma that the gloss refers to.

Before creating a new Gloss, you will need to create a new Lemma for the Dataset.
Then your new Gloss will refer to that Lemma and obtain the dataset from there.

If you look

[2019-09-20 14:22] susanodd commented on #579
@marcelobtz, I've made an SQL file to put some essential things in the initial empty database.
I started with the database @Woseseltops created.
Here's the SQL file.

[essential-creation-signbank.sql.gz](https://github.com/Signbank/Global-signbank/files/3636243/essential-creation-signbank.sql.gz)

With that file run sqlite3 on the command line with your initial database:

sqlite3 signbank-initial.

[2019-09-25 09:28] susanodd commented on #115
I'll work on checking that all types of fields are being saved.

[2019-09-26 07:44] susanodd commented on #115
@Woseseltops, I made a new unit test RevisionHistoryTests -> test_field_types  that checks whether all the (non-foreign-keys) types of gloss fields are in the revision history. Yes.

[2019-09-30 10:43] susanodd commented on #539
This seems to be broken again.

[2019-09-30 12:05] susanodd commented on #539
Somehow this got totally messed up since it was working in July. The python sorting routines were messed up because the templates were  passing incorrect order_by parameters, which were being ignored.  To fix this, explicit order_by parameters are used in each of the sorting routines and passed to the order_by in the python code.

[2019-10-03 11:32] susanodd commented on #539
This has been fixed. Some other bugs with sorting via the arrow buttons have also been fixed
Textual columns: Annotations, Lemmas, Translations.
Non-textual columns (e.g., Handedness, Location). Rows with empty data in the column being sorted are put at the end by using a pair sort.

[2019-10-08 16:59] marcelobtz commented on #579
Hi @susanodd. I followed the steps you mentioned and now all views are working fine. But we noticed that there is a new section in the admin in the dictionary section called "Gloss revisions". That view generated the error of the image below. That table doesn't exist in the database.

![2019-10-08 11_37_27-Window - copia](https://user-images.githubusercontent.com/51427828/66415293-acea8c80-e9d1-11

[2019-10-09 13:05] susanodd commented on #579
@marcelobtz, can you apply the migrations to your database?
The code continues to be developed, so when you pull new versions, you also need to apply any corresponding migrations. The GlossRevision was added in the migration from 30 august.
You can see migrations in signbank/dictionary/migrations

[2019-10-09 13:26] Woseseltops commented on #354
I discussed the back-end storage I describe above with @vanlummelhuizen and he pushed me into the direction of a more complicated but full-featured solution instead of the relatively simple thing I proposed. @susanodd was waiting for my write-up of it for weeks, so here it finally is.

Corpus:
* name, string
* description, string
* speakers_are_cross_referenced, bool

Document:
* identifier, strin

[2019-10-09 13:55] susanodd commented on #539
This has also been fixed for Morpheme List View.
Because sorting functionality was changed elsewhere for glosses, the Morpheme keywords (abstract meaning column) are now shown per translation language. This corresponds to that of the sorting functions (the little triangles for sorting columns).

[2019-10-16 08:11] Woseseltops commented on #539
Hey @susanodd , since you are the one that reopened the issue, you can also be the one to verify it works again and close it :)